body {
    cursor: default;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    * {
        &:focus {
            outline: none !important;
        }

        @include selection($color_28, $color_2)
    }

    a {
        &:focus {
            text-decoration: none;
        }
    }

    .our-terms {
        @media (max-width: 480px) {
            padding-left: 15px;
        }
    }

    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-xs-5ths {
        width: 20%;
        float: left;
    }

    .no-padding-small-screens {
        @media (max-width: 767px) {
            padding: 0;
        }
    }

    .section-wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
        border-top: 1px solid $color_31;

        .head {
            text-align: center;
            font-size: 28px;
            color: $color_28;
            margin-top: 0;
            margin-bottom: 60px;
            @include roboto-font($thin-font, $thin-font-weight);
            @media (max-width: 1024px) {
                margin-bottom: 30px;
            }
        }

        .content-block {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            h6 {
                margin-top: 0;
                margin-bottom: 15px;
                font-size: 14px;
                @include roboto-font($bold-font, $bold-font-weight);
            }

            p {
                margin-bottom: 15px;
            }
        }

        .btn {
            margin-top: 60px;
            padding-right: 60px;
            padding-left: 60px;
            @include transition(.3s);
            @media (max-width: 1024px) {
                margin-top: 0;
            }
        }
    }

    #toast-container > div {
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        filter: alpha(opacity=100);
    }

    .forgotten-password-page {
        .content-wrapper {
            .content-body {
                .form-wrap {
                    .btn {
                        &.btn-custom {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .col-sm-5ths {
            width: 25%;
            float: left;
        }
    }

    @media (min-width: 992px) {
        .col-md-5ths {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 1200px) {
        .col-lg-5ths {
            width: 20%;
            float: left;
        }
    }
}
