<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>News Read</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="profile-page photo-album-page">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Албуми на Николай Алексиев</a></li>
                        <li class="active">Албум: Портрети</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="photo-album-header-image-wrapper"
                         style="background-image: url('../images/backgrounds/default_profile_cover.jpg');">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="photo-album-header">
                                        <h1 class="photo-album-title">Портрети</h1>
                                        <ul class="photo-album-info">
                                           <li class="album-info">16 снимки</li>
                                           <li class="album-info">133 разглеждания</li>
                                        </ul>
                                    </div>
                                    <div class="photo-album-footer">
                                        <div class="photo-album-author">
                                            <h2 class="album-author">От Николай Алексиев / nalexiev</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="photo-album">
                <div class="photo-album-photos">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <div class="edit-tools">
                                        <ul class="photo-edit-tools">
                                            <li class="delete-tool">
                                                <a href="#">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Изтрий</div>
                                                </div>
                                            </li>
                                            <li class="edit-tool">
                                                <a href="#">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Редактирай</div>
                                                </div>
                                            </li>
                                            <li class="upload-tool">
                                                <a href="#">
                                                    <i class="fa fa-upload"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Премести към Албум - Нови
                                                        предложения
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="badges-list">
                                        <ul class="won-badges">
                                            <li class="badge-item diamond">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Диамант</div>
                                                </div>
                                            </li>
                                            <li class="badge-item gold-cup">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Злато</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" data-toggle="modal" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                            Ivan ivanov
                                        </div>
                                    </a>
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">548</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <div class="edit-tools">
                                        <ul class="photo-edit-tools">
                                            <li class="delete-tool">
                                                <a href="#">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Изтрий</div>
                                                </div>
                                            </li>
                                            <li class="edit-tool">
                                                <a href="#">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Редактирай</div>
                                                </div>
                                            </li>
                                            <li class="upload-tool">
                                                <a href="#">
                                                    <i class="fa fa-upload"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Премести към Албум - Нови
                                                        предложения
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="badges-list">
                                        <ul class="won-badges">
                                            <li class="badge-item diamond">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Диамант</div>
                                                </div>
                                            </li>
                                            <li class="badge-item gold-cup">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Злато</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" data-toggle="modal" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                            Ivan ivanov
                                        </div>
                                    </a>
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">548</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <div class="edit-tools">
                                        <ul class="photo-edit-tools">
                                            <li class="delete-tool">
                                                <a href="#">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Изтрий</div>
                                                </div>
                                            </li>
                                            <li class="edit-tool">
                                                <a href="#">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Редактирай</div>
                                                </div>
                                            </li>
                                            <li class="upload-tool">
                                                <a href="#">
                                                    <i class="fa fa-upload"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Премести към Албум - Нови
                                                        предложения
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="badges-list">
                                        <ul class="won-badges">
                                            <li class="badge-item diamond">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Диамант</div>
                                                </div>
                                            </li>
                                            <li class="badge-item gold-cup">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Злато</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" data-toggle="modal" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                            Ivan ivanov
                                        </div>
                                    </a>
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">548</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <div class="edit-tools">
                                        <ul class="photo-edit-tools">
                                            <li class="delete-tool">
                                                <a href="#">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Изтрий</div>
                                                </div>
                                            </li>
                                            <li class="edit-tool">
                                                <a href="#">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Редактирай</div>
                                                </div>
                                            </li>
                                            <li class="upload-tool">
                                                <a href="#">
                                                    <i class="fa fa-upload"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Премести към Албум - Нови
                                                        предложения
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="badges-list">
                                        <ul class="won-badges">
                                            <li class="badge-item diamond">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Диамант</div>
                                                </div>
                                            </li>
                                            <li class="badge-item gold-cup">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Злато</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" data-toggle="modal" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                            Ivan ivanov
                                        </div>
                                    </a>
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">548</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="photo-album-photos">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <div class="edit-tools">
                                        <ul class="photo-edit-tools">
                                            <li class="delete-tool">
                                                <a href="#">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Изтрий</div>
                                                </div>
                                            </li>
                                            <li class="edit-tool">
                                                <a href="#">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Редактирай</div>
                                                </div>
                                            </li>
                                            <li class="upload-tool">
                                                <a href="#">
                                                    <i class="fa fa-upload"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Премести към Албум - Нови
                                                        предложения
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="badges-list">
                                        <ul class="won-badges">
                                            <li class="badge-item diamond">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Диамант</div>
                                                </div>
                                            </li>
                                            <li class="badge-item gold-cup">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Злато</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" data-toggle="modal" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                            Ivan ivanov
                                        </div>
                                    </a>
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">548</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <div class="edit-tools">
                                        <ul class="photo-edit-tools">
                                            <li class="delete-tool">
                                                <a href="#">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Изтрий</div>
                                                </div>
                                            </li>
                                            <li class="edit-tool">
                                                <a href="#">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Редактирай</div>
                                                </div>
                                            </li>
                                            <li class="upload-tool">
                                                <a href="#">
                                                    <i class="fa fa-upload"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Премести към Албум - Нови
                                                        предложения
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="badges-list">
                                        <ul class="won-badges">
                                            <li class="badge-item diamond">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Диамант</div>
                                                </div>
                                            </li>
                                            <li class="badge-item gold-cup">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Злато</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" data-toggle="modal" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                            Ivan ivanov
                                        </div>
                                    </a>
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">548</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <div class="edit-tools">
                                        <ul class="photo-edit-tools">
                                            <li class="delete-tool">
                                                <a href="#">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Изтрий</div>
                                                </div>
                                            </li>
                                            <li class="edit-tool">
                                                <a href="#">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Редактирай</div>
                                                </div>
                                            </li>
                                            <li class="upload-tool">
                                                <a href="#">
                                                    <i class="fa fa-upload"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Премести към Албум - Нови
                                                        предложения
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="badges-list">
                                        <ul class="won-badges">
                                            <li class="badge-item diamond">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Диамант</div>
                                                </div>
                                            </li>
                                            <li class="badge-item gold-cup">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Злато</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" data-toggle="modal" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                            Ivan ivanov
                                        </div>
                                    </a>
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">548</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <div class="edit-tools">
                                        <ul class="photo-edit-tools">
                                            <li class="delete-tool">
                                                <a href="#">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Изтрий</div>
                                                </div>
                                            </li>
                                            <li class="edit-tool">
                                                <a href="#">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Редактирай</div>
                                                </div>
                                            </li>
                                            <li class="upload-tool">
                                                <a href="#">
                                                    <i class="fa fa-upload"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Премести към Албум - Нови
                                                        предложения
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="badges-list">
                                        <ul class="won-badges">
                                            <li class="badge-item diamond">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Диамант</div>
                                                </div>
                                            </li>
                                            <li class="badge-item gold-cup">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Злато</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" data-toggle="modal" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                            Ivan ivanov
                                        </div>
                                    </a>
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">548</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="photo-album-photos">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <div class="edit-tools">
                                        <ul class="photo-edit-tools">
                                            <li class="delete-tool">
                                                <a href="#">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Изтрий</div>
                                                </div>
                                            </li>
                                            <li class="edit-tool">
                                                <a href="#">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Редактирай</div>
                                                </div>
                                            </li>
                                            <li class="upload-tool">
                                                <a href="#">
                                                    <i class="fa fa-upload"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Премести към Албум - Нови
                                                        предложения
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="badges-list">
                                        <ul class="won-badges">
                                            <li class="badge-item diamond">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Диамант</div>
                                                </div>
                                            </li>
                                            <li class="badge-item gold-cup">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Злато</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" data-toggle="modal" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                            Ivan ivanov
                                        </div>
                                    </a>
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">548</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <div class="edit-tools">
                                        <ul class="photo-edit-tools">
                                            <li class="delete-tool">
                                                <a href="#">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Изтрий</div>
                                                </div>
                                            </li>
                                            <li class="edit-tool">
                                                <a href="#">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Редактирай</div>
                                                </div>
                                            </li>
                                            <li class="upload-tool">
                                                <a href="#">
                                                    <i class="fa fa-upload"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Премести към Албум - Нови
                                                        предложения
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="badges-list">
                                        <ul class="won-badges">
                                            <li class="badge-item diamond">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Диамант</div>
                                                </div>
                                            </li>
                                            <li class="badge-item gold-cup">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Злато</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" data-toggle="modal" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                            Ivan ivanov
                                        </div>
                                    </a>
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">548</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <div class="edit-tools">
                                        <ul class="photo-edit-tools">
                                            <li class="delete-tool">
                                                <a href="#">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Изтрий</div>
                                                </div>
                                            </li>
                                            <li class="edit-tool">
                                                <a href="#">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Редактирай</div>
                                                </div>
                                            </li>
                                            <li class="upload-tool">
                                                <a href="#">
                                                    <i class="fa fa-upload"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Премести към Албум - Нови
                                                        предложения
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="badges-list">
                                        <ul class="won-badges">
                                            <li class="badge-item diamond">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Диамант</div>
                                                </div>
                                            </li>
                                            <li class="badge-item gold-cup">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Злато</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" data-toggle="modal" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                            Ivan ivanov
                                        </div>
                                    </a>
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">548</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <div class="edit-tools">
                                        <ul class="photo-edit-tools">
                                            <li class="delete-tool">
                                                <a href="#">
                                                    <i class="fa fa-trash"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Изтрий</div>
                                                </div>
                                            </li>
                                            <li class="edit-tool">
                                                <a href="#">
                                                    <i class="fa fa-pencil"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Редактирай</div>
                                                </div>
                                            </li>
                                            <li class="upload-tool">
                                                <a href="#">
                                                    <i class="fa fa-upload"
                                                       aria-hidden="true"></i>
                                                </a>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Премести към Албум - Нови
                                                        предложения
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="badges-list">
                                        <ul class="won-badges">
                                            <li class="badge-item diamond">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Диамант</div>
                                                </div>
                                            </li>
                                            <li class="badge-item gold-cup">
                                                <i class="icon"></i>
                                                <div class="tool-description-tooltip">
                                                    <i class="fa fa-sort-asc"
                                                       aria-hidden="true"></i>
                                                    <div class="text">Злато</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" data-toggle="modal" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                            Ivan ivanov
                                        </div>
                                    </a>
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">548</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-push-4 col-lg-4">
                    <button class="btn btn-md btn-primary btn-block btn-load-more-photos btn-action btn-loading text-uppercase">
                        <span class="btn-content-wrapper">
                            <span class="icon">
                                <i class="fa fa-spinner fa-spin spinner"></i>
                            </span>
                            <span class="text">Зареди още</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
