<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Profile Edit</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="profile-page edit-mode">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="content-wrapper">
        <header class="content-header">
            <h1>Редакция на профил</h1>
            <h2>Моля, попълнете Вашите данни</h2>
        </header>
        <div class="content">
            <div class="container">
                <div class="form-wrap">
                    <form role="form" action="javascript:;" method="post" id="registration-form" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="left-column">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group has-success">
                                                <label for="first-name" class="control-label">Име *</label>
                                                <input type="text" id="first-name" name="first-name"
                                                       class="form-control" required>
                                                <div class="notice success">
                                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group has-error">
                                                <label for="last-name" class="control-label">Фамилия *</label>
                                                <input type="text" id="last-name" name="last-name" class="form-control">
                                                <div class="notice error">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Не сте въвели име</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group has-error">
                                                <label for="email" class="control-label">Електронна поща *</label>
                                                <input type="email" id="email" name="email" class="form-control"
                                                       required>
                                                <div class="notice error">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Не сте въвели поща</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group has-error">
                                                <label class="control-label">Държава</label>
                                                <div class="filter-option">
                                                    <select data-live-search="true" multiple title="Държава">
                                                        <option data-tokens="България">България</option>
                                                        <option data-tokens="Испания">Испания</option>
                                                        <option data-tokens="Италия">Италия</option>
                                                        <option data-tokens="Холандия">Холандия</option>
                                                    </select>
                                                </div>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Не сте въвели поща</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group has-error">
                                                <label for="personal-web-page" class="control-label">Лична страница
                                                    *</label>
                                                <input type="text" id="personal-web-page" name="personal-web-page"
                                                       class="form-control" required>
                                                <div class="notice error">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Не сте въвели лична страница</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group has-error">
                                                <label for="facebook-page" class="control-label">facebook страница
                                                    *</label>
                                                <input type="text" id="facebook-page" name="facebook-page"
                                                       class="form-control">
                                                <div class="notice error">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Не сте въвели facebook страница</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group has-error">
                                                <label for="twitter-page" class="control-label">twitter страница
                                                    *</label>
                                                <input type="text" id="twitter-page" name="twitter-page"
                                                       class="form-control" required>
                                                <div class="notice error">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Не сте въвели twitter страница</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group has-error">
                                                <label for="pinterest-page" class="control-label">pinterest страница
                                                    *</label>
                                                <input type="text" id="pinterest-page" name="pinterest-page"
                                                       class="form-control">
                                                <div class="notice error">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Не сте въвели pinterest страница</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group has-error">
                                                <label for="phone" class="control-label">телефон *</label>
                                                <input type="text" id="phone" name="phone" class="form-control"
                                                       required>
                                                <div class="notice error">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Не сте въвели телефон</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group has-error">
                                                <label for="birthday" class="control-label">дата на раждане *</label>
                                                <input type="date" id="birthday" name="birthday" class="form-control">
                                                <div class="notice error">
                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Не сте въвели дата на раждане</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group has-error">
                                                <label for="about-the-author" class="control-label">за автора</label>
                                                <textarea class="message-content form-control"
                                                          id="about-the-author"></textarea>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Не сте въвели за автора</div>
                                                </div>
                                            </div>
                                            <div class="checkbox custom-checkbox form-group has-error">
                                                <div class="checkbox-field-wrapper">
                                                    <span class="character-checkbox"></span>
                                                    <span class="label">Искам да получавам новостите по email</span>
                                                </div>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Отбележете, че искате да получавате новостите по email</div>
                                                </div>
                                            </div>
                                            <div class="checkbox custom-checkbox form-group has-error">
                                                <div class="checkbox-field-wrapper">
                                                    <span class="character-checkbox"></span>
                                                    <span class="label">Искам да получавам известия за получено лично съобщение по email</span>
                                                </div>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Отбележете, че искате да получавате известия за получено лично съобщение по email</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-column">
                                    <div class="user-settings change-password">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h3>Смяна на парола</h3>
                                                <h5 class="notice">Паролата ви се запазва същата ако не попълните
                                                    полетата за смяна!</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="password" class="control-label">Парола *</label>
                                                    <input type="password" id="password" name="password"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="repeat-password" class="control-label">Повтори паролата
                                                        *</label>
                                                    <input type="password" id="repeat-password" name="repeat-password"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-settings equipment">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h3>Екипировка</h3>
                                                <h5 class="notice">добави информация за техниката, с която снимаш.</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="control-label">Вид</label>
                                                    <div class="filter-option">
                                                        <select data-live-search="true" title="Фотоапарат">
                                                            <option data-tokens="България">България</option>
                                                            <option data-tokens="Испания">Испания</option>
                                                            <option data-tokens="Италия">Италия</option>
                                                            <option data-tokens="Холандия">Холандия</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group input-field brand has-error">
                                                    <div class="form-group-header">
                                                        <label class="control-label">Марка</label>
                                                        <a href="#">Избери марка</a>
                                                    </div>
                                                    <div class="form-group-body">
                                                        <div class="filter-option">
                                                            <select data-live-search="true" title="-- Избери марка --">
                                                                <option data-tokens="България">България</option>
                                                                <option data-tokens="Испания">Испания</option>
                                                                <option data-tokens="Италия">Италия</option>
                                                                <option data-tokens="Холандия">Холандия</option>
                                                            </select>
                                                            <input type="text" name="suggest-new-brand-camera-name"
                                                                   class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group select-field model has-error">
                                                    <div class="form-group-header">
                                                        <label class="control-label">Модел</label>
                                                        <a href="#">Предложи модел</a>
                                                    </div>
                                                    <div class="form-group-body">
                                                        <div class="filter-option">
                                                            <select data-live-search="true" title="-- Избери модел --">
                                                                <option data-tokens="България">България</option>
                                                                <option data-tokens="Испания">Испания</option>
                                                                <option data-tokens="Италия">Италия</option>
                                                                <option data-tokens="Холандия">Холандия</option>
                                                            </select>
                                                            <input type="text" name="suggest-new-brand-camera-model-name"
                                                                   class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-offset-6 col-lg-6 text-right">
                                                <!--add class btn-loading on click-->
                                                <button
                                                    class="btn btn-bordered btn-action btn-loading btn-add-to-equipment">
                                                    <span class="btn-content-wrapper">
                                                        <span class="icon">
                                                            <i class="fa fa-spinner fa-spin spinner"></i>
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </span>
                                                        <span class="text">Добави към екипировката</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <table class="table table-striped choose-theme">
                                                    <thead>
                                                    <tr>
                                                        <td>Вид</td>
                                                        <td>Марка</td>
                                                        <td colspan="2">Модел</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>Фотоапарат</td>
                                                        <td>Nikon</td>
                                                        <td>D810</td>
                                                        <td class="text-right"><a href="#">изтрий</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Фотоапарат</td>
                                                        <td>Nikon</td>
                                                        <td>D810</td>
                                                        <td class="text-right"><a href="#">изтрий</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-offset-3 col-md-3 col-lg-offset-3 col-lg-3">
                                    <div class="left-column">
                                        <button class="btn btn-bordered btn-block btn-cancel">
                                            <span class="text">Отказ</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <div class="right-column">
                                        <!--add class btn-loading on click-->
                                        <button class="btn btn-primary btn-block btn-action btn-loading btn-save">
                                            <span class="btn-content-wrapper">
                                                <span class="icon">
                                                    <i class="fa fa-spinner fa-spin spinner"></i>
                                                </span>
                                                <span class="text">Запази</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
