<div class="comments-wrapper">
    <div class="comments-header">
        <h3 class="head">Коментари (4)</h3>
        <div class="follow-comments switch">
            <span class="text-right">Следи коментарите</span>
            <div class="switch-option">
                <input class="custom-switch-checkbox" type="checkbox">
            </div>
        </div>
    </div>
    <!--add class gust-user in order to hide comment writing field for non registered users-->
    <div class="write-comment gust-user">
        <div class="row">
            <div class="hidden-xs hidden-sm col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <div class="main-details">
                    <div class="photo-wrapper">
                        <a href="#" class="photo" style="background-image: url('../images/photos/photo_05.jpeg')">
                            <span class="text">Виктор Стоянов</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="comment-block">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Напиши коментар..."></textarea>
                    </div>
                    <button class="btn btn-md btn-primary btn-action btn-loading">
                        <span class="btn-content-wrapper">
                            <span class="icon">
                                <i class="fa fa-spinner fa-spin spinner"></i>
                            </span>
                            <span class="text">Изпрати</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="please-sign-in guest-user">
        <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Не може да коментирате снимката, защото не сте влезли в потребителския си профил.</p>
        <p><a href="#">Вход</a> или <a href="#">Регистрация</a></p>
    </div>
    <ul class="comments">
        <li class="comment">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                        <div class="main-details">
                            <div class="photo-wrapper">
                                <a href="#" class="photo" style="background-image: url('../images/photos/photo_05.jpeg')">
                                    <span class="text">Виктор Стоянов</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                        <div class="comment-header">
                            <a href="#" class="comment-author">Румен Русев</a>
                            <span class="separator">/</span>
                            <span class="comment-date">преди 2 дни</span>
                        </div>
                        <ul class="comment-options">
                            <li class="comment-option bookmark">
                                <!--on loading add class 'btn-loading' to button-->
                                <!--when selected, add class 'active'-->
                                <button class="btn btn-action">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </span>
                                </button>

                            </li>
                            <li class="comment-option like">
                                <!--on loading add class 'btn-loading' to button-->
                                <button class="btn btn-action">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </span>
                                </button>
                                <span class="option-counter">+786</span>
                            </li>
                            <li class="comment-option dislike">
                                <!--on loading add class 'btn-loading' to button-->
                                <button class="btn btn-action btn-loading">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </span>
                                </button>
                                <span class="option-counter">-112</span>
                            </li>
                            <li class="comment-option more-options">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                        <div class="comment-content hidden-xs hidden-sm">
                            <p>Силна личност, силен портрет!</p>
                            <p>Единственото, което дърпа погледа, са пръстите - единият показалец е по-светъл и стои някак
                                особено.</p>
                            <p>Браво за портрета!</p>
                        </div>
                    </div>
                </div>
                <div class="row hidden-md hidden-lg">
                    <div class="col-xs-12 col-sm-12">
                        <div class="comment-content">
                            <p>Силна личност, силен портрет!</p>
                            <p>Единственото, което дърпа погледа, са пръстите - единият показалец е по-светъл и стои някак
                                особено.</p>
                            <p>Браво за портрета!</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="comment">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                        <div class="main-details">
                            <div class="photo-wrapper">
                                <a href="#" class="photo" style="background-image: url('../images/photos/photo_05.jpeg')">
                                    <span class="text">Виктор Стоянов</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                        <div class="comment-header">
                            <a href="#" class="comment-author">Румен Русев</a>
                            <span class="separator">/</span>
                            <span class="comment-date">преди 2 дни</span>
                        </div>
                        <ul class="comment-options">
                            <li class="comment-option bookmark">
                                <!--on loading add class 'btn-loading' to button-->
                                <!--when selected, add class 'active'-->
                                <button class="btn btn-action">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </span>
                                </button>
                            </li>
                            <li class="comment-option like">
                                <!--on loading add class 'btn-loading' to button-->
                                <button class="btn btn-action active">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </span>
                                </button>
                                <span class="option-counter">+786</span>
                            </li>
                            <li class="comment-option dislike">
                                <!--on loading add class 'btn-loading' to button-->
                                <button class="btn btn-action">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </span>
                                </button>
                                <span class="option-counter">-112</span>
                            </li>
                            <li class="comment-option more-options">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="comment-content hidden-xs hidden-sm">
                            <p>Силна личност, силен портрет!</p>
                            <p>Единственото, което дърпа погледа, са пръстите - единият показалец е по-светъл и стои някак
                                особено.</p>
                            <p>Браво за портрета!</p>
                        </div>
                    </div>
                </div>
                <div class="row hidden-md hidden-lg">
                    <div class="col-xs-12 col-sm-12">
                        <div class="comment-content">
                            <p>Силна личност, силен портрет!</p>
                            <p>Единственото, което дърпа погледа, са пръстите - единият показалец е по-светъл и стои някак
                                особено.</p>
                            <p>Браво за портрета!</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="highlight comment">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                        <div class="main-details">
                            <div class="photo-wrapper">
                                <a href="#" class="photo" style="background-image: url('../images/photos/photo_05.jpeg')">
                                    <span class="text">Виктор Стоянов</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                        <div class="comment-header">
                            <a href="#" class="comment-author">Румен Русев</a>
                            <span class="separator">/</span>
                            <span class="comment-date">преди 2 дни</span>
                        </div>
                        <ul class="comment-options">
                            <li class="comment-option bookmark">
                                <!--on loading add class 'btn-loading' to button-->
                                <!--when selected, add class 'active'-->
                                <button class="btn btn-action">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </span>
                                </button>

                            </li>
                            <li class="comment-option like">
                                <!--on loading add class 'btn-loading' to button-->
                                <button class="btn btn-action">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </span>
                                </button>
                                <span class="option-counter">+786</span>
                            </li>
                            <li class="comment-option dislike">
                                <!--on loading add class 'btn-loading' to button-->
                                <button class="btn btn-action">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </span>
                                </button>
                                <span class="option-counter">-112</span>
                            </li>
                            <li class="comment-option more-options">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="comment-content hidden-xs hidden-sm">
                            <p>Силна личност, силен портрет!</p>
                            <p>Единственото, което дърпа погледа, са пръстите - единият показалец е по-светъл и стои някак
                                особено.</p>
                            <p>Браво за портрета!</p>
                        </div>
                    </div>
                </div>
                <div class="row hidden-md hidden-lg">
                    <div class="col-xs-12 col-sm-12">
                        <div class="comment-content">
                            <p>Силна личност, силен портрет!</p>
                            <p>Единственото, което дърпа погледа, са пръстите - единият показалец е по-светъл и стои някак
                                особено.</p>
                            <p>Браво за портрета!</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="restricted comment">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                        <div class="main-details">
                            <div class="photo-wrapper">
                                <a href="#" class="photo" style="background-image: url('../images/photos/photo_05.jpeg')">
                                    <span class="text">Виктор Стоянов</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                        <div class="comment-header">
                            <a href="#" class="comment-author">Румен Русев</a>
                            <span class="separator">/</span>
                            <span class="comment-date">преди 2 дни</span>
                        </div>
                        <ul class="comment-options">
                            <li class="comment-option bookmark">
                                <!--on loading add class 'btn-loading' to button-->
                                <!--when selected, add class 'active'-->
                                <button class="btn btn-action">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </span>
                                </button>

                            </li>
                            <li class="comment-option like">
                                <!--on loading add class 'btn-loading' to button-->
                                <button class="btn btn-action">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </span>
                                </button>
                                <span class="option-counter">+786</span>
                            </li>
                            <li class="comment-option dislike">
                                <!--on loading add class 'btn-loading' to button-->
                                <button class="btn btn-action">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                </span>
                                </button>
                                <span class="option-counter">-112</span>
                            </li>
                            <li class="comment-option more-options">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="comment-content hidden-xs hidden-sm">
                            <p>Силна личност, силен портрет!</p>
                            <p>Единственото, което дърпа погледа, са пръстите - единият показалец е по-светъл и стои някак
                                особено.</p>
                            <p>Браво за портрета!</p>
                        </div>
                    </div>
                </div>
                <div class="row hidden-md hidden-lg">
                    <div class="col-xs-12 col-sm-12">
                        <div class="comment-content">
                            <p>Силна личност, силен портрет!</p>
                            <p>Единственото, което дърпа погледа, са пръстите - единият показалец е по-светъл и стои някак
                                особено.</p>
                            <p>Браво за портрета!</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>
