<% include modal_upload_photo.ejs %>
<% include modal_add_edit_album.ejs %>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
    <div class="mobile-menu hidden-md hidden-lg">
        <i class="fa fa-bars mobile-menu-hamburger" aria-hidden="true"></i>
    </div>
    <a href="/" class="hidden-xs hidden-sm logo" title="photo-forum.net">photo-forum.net</a>
</div>

<div class="hidden-xs hidden-sm col-md-6 col-lg-6">
    <% include menu.ejs %>
</div>

<div class="col-xs-10 col-sm-10 col-md-4 col-lg-5">
    <div class="account-wrapper">
        <ul class="user-account-tools-wrapper logged clearfix">
            <li class="user-account-tool search">
                <a href="#">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </li>
            <li class="user-account-tool upload-photo">
                <a href="#" data-keyboard="true" data-toggle="modal" data-target="#modalUploadPhoto">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                </a>
            </li>
            <!--Само предложение!-->
            <!--Трий ги тези коментари когато качваш на прод. Виждат се при F12 :)-->
            <li class="user-account-tool messages">
                <a href="user-messages">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="counter">99</span>
                </a>
                <div class="user-notifications-list-wrapper">
                    <div class="user-notifications-list-tick"></div>
                    <header>
                        <span class="new-notifications-counter">Имате 1 ново съобщение</span>
                        <a href="#" class="view-all">Виж всички</a>
                    </header>
                    <!--Remove class hidden on loaded-->
                    <ul class="user-notifications-list">
                        <li class="user-notification unread">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text hidden">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        (<span class="notification-counter">3</span>)
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                    <span class="notification-content">Интересувам се с какъв обектив си снимал шаферките? Интересувам се с какъв обектив си снимал шаферките? се с какъв обектив си снимал Nikkor</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text hidden">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        (<span class="notification-counter">3</span>)
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                    <span class="notification-content">Интересувам се с какъв обектив си снимал шаферките? Интересувам се с какъв обектив си снимал шаферките? се с какъв обектив си снимал Nikkor</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text hidden">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        (<span class="notification-counter">3</span>)
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                    <span class="notification-content">Интересувам се с какъв обектив си снимал шаферките? Интересувам се с какъв обектив си снимал шаферките? се с какъв обектив си снимал Nikkor</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text hidden">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        (<span class="notification-counter">3</span>)
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                    <span class="notification-content">Интересувам се с какъв обектив си снимал шаферките? Интересувам се с какъв обектив си снимал шаферките? се с какъв обектив си снимал Nikkor</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text hidden">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        (<span class="notification-counter">3</span>)
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                    <span class="notification-content">Интересувам се с какъв обектив си снимал шаферките? Интересувам се с какъв обектив си снимал шаферките? се с какъв обектив си снимал Nikkor</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text hidden">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        (<span class="notification-counter">3</span>)
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                    <span class="notification-content">Интересувам се с какъв обектив си снимал шаферките? Интересувам се с какъв обектив си снимал шаферките? се с какъв обектив си снимал Nikkor</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <!--add class hidden on loaded-->
                    <div class="user-notifications-list hidden loading">
                        <span class="icon">
                            <i class="fa fa-spinner fa-spin spinner"></i>
                        </span>
                        <span class="text">Зарежда...</span>
                    </div>
                </div>
            </li>
            <li class="user-account-tool news">
                <a href="notifications">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <span class="counter">21</span>
                </a>
                <div class="user-notifications-list-wrapper">
                    <div class="user-notifications-list-tick"></div>
                    <header>
                        <a href="#" class="view-all">Маркитай всички като прочетени</a>
                    </header>
                    <ul class="user-notifications-list hidden">
                        <li class="user-notification unread">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text hidden">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Димитър Монев</span>-
                                        <span class="nickname">InfoSiS</span>
                                        <span>и 4 други</span>
                                        <span class="notification-action">коментираха твоя снимка</span>
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text hidden">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Петър Митрев</span>-
                                        <span class="nickname">petarm</span>
                                        <span>и 10 други</span>
                                        <span class="notification-action">коментираха твоя снимка</span>
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text hidden">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Петър Митрев</span>-
                                        <span class="nickname">petarm</span>
                                        <span>и 10 други</span>
                                        <span class="notification-action">коментираха твоя снимка</span>
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text hidden">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Петър Митрев</span>-
                                        <span class="nickname">petarm</span>
                                        <span>и 10 други</span>
                                        <span class="notification-action">коментираха твоя снимка</span>
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text hidden">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Петър Митрев</span>-
                                        <span class="nickname">petarm</span>
                                        <span>и 10 други</span>
                                        <span class="notification-action">коментираха твоя снимка</span>
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                </span>
                            </a>
                        </li>
                        <li class="user-notification">
                            <a href="#1" class="notification">
                                <span class="sender-photo">
                                    <span class="main-details">
                                        <span class="photo-wrapper">
                                            <span href="#" class="photo"
                                                  style="background-image: url('http://www.albiladpress.com/images/onlines/2017/10/thumbnails/main/f29012145.jpeg')">
                                                <span class="text hidden">Христофор Герасимов Господинов</span>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span class="notification-content-wrapper">
                                    <span class="sender-name">
                                        <span class="name">Петър Митрев</span>-
                                        <span class="nickname">petarm</span>
                                        <span>и 10 други</span>
                                        <span class="notification-action">коментираха твоя снимка</span>
                                    </span>
                                    <span class="notification-since">преди 9 месеца</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <!--add class hidden on loaded-->
                    <div class="user-notifications-list loading">
                        <span class="icon">
                            <i class="fa fa-spinner fa-spin spinner"></i>
                        </span>
                        <span class="text">Зарежда...</span>
                    </div>
                    <footer>
                        <a href="#" class="view-all">виж всички</a>
                    </footer>
                </div>
            </li>
        </ul>
        <div class="user-account logged">
            <ul class="top-menu">
                <li class="menu-item">
                    <div class="menu-element profile-name">
                        <div class="main-details profile-photo">
                            <div class="photo-wrapper">
                                <a href="#" class="photo"
                                   style="background-image: url('../images/backgrounds/profile_header_background.jpg')">
                                    <span class="text hidden">Христофор Герасимов Господинов</span>
                                </a>
                            </div>
                            <span class="text hidden-xs hidden-sm">Христофор Герасимов Господинов</span>
                        </div>
                    </div>
                </li>
            </ul>
            <% include menu_profile.ejs %>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
