<% include modal_upload_photo.ejs %>
<div class="col-xs-2 col-sm-4 col-md-2 col-lg-1">
    <div class="mobile-menu hidden-md hidden-lg">
        <i class="fa fa-bars mobile-menu-hamburger" aria-hidden="true"></i>
    </div>
    <a href="/" class="hidden-xs hidden-sm logo" title="photo-forum.net">photo-forum.net</a>
</div>

<div class="hidden-xs hidden-sm col-md-6 col-lg-6">
    <% include menu.ejs %>
</div>

<div class="col-xs-10 col-sm-8 col-md-5 col-lg-5">
    <div class="account-wrapper">
        <ul class="user-account-tools-wrapper not-logged clearfix">
            <li class="user-account-tool search">
                <a href="#">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </li>
            <li class="user-account-tool upload-photo">
                <a href="#" data-keyboard="true" data-toggle="modal" data-target="#modalUploadPhoto">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <div class="user-account not-logged">
            <ul class="top-menu">
                <li class="menu-item">
                    <a href="#" class="menu-element" data-keyboard="true" data-toggle="modal" data-target="#loginPopup">
                        <span class="text">Вход</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
