<!--add class active on click search icon-->
<div class="main-search-wrapper ">
    <!--add class active on click search icon-->
    <div class="form-wrap main-search ">
        <form role="form" action="javascript:;" method="post" id="main-search-form" autocomplete="off">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-main-search btn-action btn-loading">
                        <span class="btn-content-wrapper">
                            <span class="icon">
                                <i class="fa fa-spinner fa-spin spinner"></i>
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
