<div class="modal fade in" id="modalAddEditAlbum" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-9 col-sm-6 col-md-6 col-lg-6">
                            <h2 class="head">Редакция на албум</h2>
                        </div>
                        <div class="col-xs-3 col-sm-6 col-md-6 col-lg-6 text-right">
                            <button type="button" class="close-modal" data-dismiss="modal">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;width: 25px;fill:#aaaaaa;" xml:space="preserve">
<g>
    <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
		c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
		C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
		s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
</g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
</svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="upload-new-photo">
                                <!--add class hidden to step-1 to show step-2-->
                                <div class="step-1">
                                    <div class="form-wrap">
                                        <div class="form-group">
                                            <div class="select-new-photo text-center">
                                                <button class="btn btn-primary btn-upload-photo">
                                                    <input type="file" class="upload-new-photo" name="upload"/>
                                                    <span class="btn-content">
                                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                                    <span class="text">Избери снимка</span>
                                                </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="links">
                                        <li>
                                            <span class="text text-primary">... или довлачете и пуснете файла тук</span>
                                        </li>
                                    </ul>
                                </div>
                                <!--remove class hidden on upload completed-->
                                <div class="step-2 hidden">
                                    <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                    <div class="uploaded-photo-wrapper completed">
                                        <button type="button" class="delete-photo">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                        <div class="uploaded-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uploaded-photo-overlay" style="left: 100%;">
                                            <div class="photo-overlay"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-wrap">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="album-edit-title">Заглавие</label>
                                            <input type="text" id="album-edit-title" name="photo-title"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-push-9 col-lg-3">
                            <button class="btn btn-block btn-primary btn-upload-photo">
                                <span class="text text-uppercase">запази</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
