<div class="modal fade" id="copyrightLicense" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h2 class="head">Свалянето на файла ще започне веднага</h2>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
                            <button type="button" class="close-modal" data-dismiss="modal">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;width: 25px;fill:#aaaaaa;" xml:space="preserve">
<g>
    <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
		c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
		C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
		s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
</g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
</svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="widget photo-license">
                                <div class="widget-body">
                                    <div class="widget-item">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="widget-content">
                                                        <div class="license">
                                                            <div class="license-icons">
                                                                <div class="icon photo-license creative-commons-license">
                                                                    <?xml version="1.0" encoding="utf-8"?>
                                                                    <!-- Generator: Adobe Illustrator 13.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 14948)  -->
                                                                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.0//EN"
                                                                    "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
                                                                    <svg version="1.0" id="Layer_1"
                                                                         xmlns="http://www.w3.org/2000/svg"
                                                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                                                         y="0px"
                                                                         width="64px" height="64px" viewBox="5.5 -3.5 64 64"
                                                                         enable-background="new 5.5 -3.5 64 64"
                                                                         xml:space="preserve">
                                                                <g>
                                                                    <circle fill="#FFFFFF" cx="37.785" cy="28.501"
                                                                            r="28.836"/>
                                                                    <path d="M37.441-3.5c8.951,0,16.572,3.125,22.857,9.372c3.008,3.009,5.295,6.448,6.857,10.314
		c1.561,3.867,2.344,7.971,2.344,12.314c0,4.381-0.773,8.486-2.314,12.313c-1.543,3.828-3.82,7.21-6.828,10.143
		c-3.123,3.085-6.666,5.448-10.629,7.086c-3.961,1.638-8.057,2.457-12.285,2.457s-8.276-0.808-12.143-2.429
		c-3.866-1.618-7.333-3.961-10.4-7.027c-3.067-3.066-5.4-6.524-7-10.372S5.5,32.767,5.5,28.5c0-4.229,0.809-8.295,2.428-12.2
		c1.619-3.905,3.972-7.4,7.057-10.486C21.08-0.394,28.565-3.5,37.441-3.5z M37.557,2.272c-7.314,0-13.467,2.553-18.458,7.657
		c-2.515,2.553-4.448,5.419-5.8,8.6c-1.354,3.181-2.029,6.505-2.029,9.972c0,3.429,0.675,6.734,2.029,9.913
		c1.353,3.183,3.285,6.021,5.8,8.516c2.514,2.496,5.351,4.399,8.515,5.715c3.161,1.314,6.476,1.971,9.943,1.971
		c3.428,0,6.75-0.665,9.973-1.999c3.219-1.335,6.121-3.257,8.713-5.771c4.99-4.876,7.484-10.99,7.484-18.344
		c0-3.543-0.648-6.895-1.943-10.057c-1.293-3.162-3.18-5.98-5.654-8.458C50.984,4.844,44.795,2.272,37.557,2.272z M37.156,23.187
		l-4.287,2.229c-0.458-0.951-1.019-1.619-1.685-2c-0.667-0.38-1.286-0.571-1.858-0.571c-2.856,0-4.286,1.885-4.286,5.657
		c0,1.714,0.362,3.084,1.085,4.113c0.724,1.029,1.791,1.544,3.201,1.544c1.867,0,3.181-0.915,3.944-2.743l3.942,2
		c-0.838,1.563-2,2.791-3.486,3.686c-1.484,0.896-3.123,1.343-4.914,1.343c-2.857,0-5.163-0.875-6.915-2.629
		c-1.752-1.752-2.628-4.19-2.628-7.313c0-3.048,0.886-5.466,2.657-7.257c1.771-1.79,4.009-2.686,6.715-2.686
		C32.604,18.558,35.441,20.101,37.156,23.187z M55.613,23.187l-4.229,2.229c-0.457-0.951-1.02-1.619-1.686-2
		c-0.668-0.38-1.307-0.571-1.914-0.571c-2.857,0-4.287,1.885-4.287,5.657c0,1.714,0.363,3.084,1.086,4.113
		c0.723,1.029,1.789,1.544,3.201,1.544c1.865,0,3.18-0.915,3.941-2.743l4,2c-0.875,1.563-2.057,2.791-3.541,3.686
		c-1.486,0.896-3.105,1.343-4.857,1.343c-2.896,0-5.209-0.875-6.941-2.629c-1.736-1.752-2.602-4.19-2.602-7.313
		c0-3.048,0.885-5.466,2.658-7.257c1.77-1.79,4.008-2.686,6.713-2.686C51.117,18.558,53.938,20.101,55.613,23.187z"/>
                                                                </g>
                                                            </svg>
                                                                </div>
                                                                <div class="icon photo-license attribution-license">
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                         xmlns:xlink="http://www.w3.org/1999/xlink" width="24"
                                                                         height="24" viewBox="0 0 24 24">
                                                                        <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                                                                            <x:xmpmeta xmlns:x="adobe:ns:meta/"
                                                                                       x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                                                                                <rdf:RDF
                                                                                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                                                                    <rdf:Description rdf:about=""/>
                                                                                </rdf:RDF>
                                                                            </x:xmpmeta>
                                                                            <?xpacket end="w"?></metadata>
                                                                        <image id="Cc-by_new_white" width="24" height="24"
                                                                               xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAQIAFwouO08/AAABYUlEQVQ4y5WUPW7CQBCFP/kCQJmUIDlO5bukoKBAoiGpuEMcReQWXCEiB0CCQBVS0YNkgS0ZCUpHAr0U5meXn8iZrXbfex7PzpsFO+4J+GSFECsGBHhcjTve0YXVvSx65AchN3xLRppqqqHaiRsiRErzlP6CUCX63uokxttyhBCBSX9CqBFvdqSZHvSg2W63USNG6JjFI0WN+PjVqhCqGnkaMSLd1/KBKtHGgGtCqGacbFSOEN3sIoW+rH+fq6665ie1IIQHz8gNTaglf7dalsQNs9L76DUxgdKhAyVL0E4QA1ihkQUUDoKCdT4UYuVQhBvyxC1A0cnFNcJhDYtc1AXA2mEC/aUJrPEB8Flbgv4SmDj0oJPmydBJgR54CI2txvlCyL/SOOiismWNc4FpjQvmOxfY5oOmbe+qfPkHt57bGyBAqByNcw5QliXNRrSdDHOMaFZL9z+PwF4UMPjrmfkFZn4E1WkjYcoAAAAASUVORK5CYII="/>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <a href="#" class="license-name">Attribution 4.0 International (CC
                                                                BY 4.0)</a>
                                                        </div>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                   placeholder="http://creativecommons.org/​licenses/​by/​3.0/​">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-primary btn-md btn-copyright-license"
                                                                        type="button">Копирай</button>
                                                            </span>
                                                        </div>
                                                        <p>For more information about using these materials and the Creative Commons license, see our
                                                            <a href="#">CC info page</a>.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
