<div class="pagination-wrapper">
    <div class="row">
        <div class="pagination-tools">
            <div class="col-xs-12 col-lg-3 text-right">
                <div class="pagination-nav prev">
                    <div class="previous-page">
                        <span rel="prev" class="page-prev">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="text">Предишна</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6 text-center">
                <ul class="pagination-pages">
                    <li class="active">
                        <span>1</span>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">6</a>
                    </li>
                    <li>
                        <a href="#">7</a>
                    </li>
                    <li>
                        <a href="#">8</a>
                    </li>
                    <li>
                        <a href="#">9</a>
                    </li>
                    <li>
                        <a href="#">10</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-lg-3 text-left">
                <div class="pagination-nav next">
                    <div class="next-page">
                        <a href="#" rel="next" class="page-next">
                            <span class="text">Следваща</span>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
