<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rating History</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="rating-history-page">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="content-wrapper">
        <header class="content-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>Най-доброто за ноември 2017</h1>
                    </div>
                </div>
                <div class="best-of-the-month-gallery-photos">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="row-thumb-photos best-photo-of-the-month">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/photo_05.jpeg')">Ivan ivanov
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a href="#" class="btn btn-md btn-bordered btn-more-best-of-the-month-photos">
                                <span class="text">Виж още</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="container">
                <div class="best-photos-through-the-years">
                    <h2 class="head">Най-доброто през годините</h2>
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#2017" data-toggle="tab">
                                                <span>2017</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2016" data-toggle="tab">
                                                <span class="text">2016</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2015" data-toggle="tab">
                                                <span>2015</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2014" data-toggle="tab">
                                                <span>2014</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2013" data-toggle="tab">
                                                <span>2013</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2012" data-toggle="tab">
                                                <span>2012</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2011" data-toggle="tab">
                                                <span>2011</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2010" data-toggle="tab">
                                                <span>2010</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2009" data-toggle="tab">
                                                <span>2009</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2008" data-toggle="tab">
                                                <span>2008</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2007" data-toggle="tab">
                                                <span>2007</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2006" data-toggle="tab">
                                                <span>2006</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2005" data-toggle="tab">
                                                <span>2005</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2004" data-toggle="tab">
                                                <span>2004</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#2003" data-toggle="tab">
                                                <span>2003</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="all-topics">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="row-thumb-photos">
                                                            <div class="photo-wrapper">
                                                                <a href="#" data-toggle="modal" class="photo">
                                                                    <div class="thumb-photo"
                                                                         style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                        Ivan ivanov
                                                                    </div>
                                                                </a>
                                                                <div class="nickname-pad hidden-xs hidden-sm">
                                                                    <a href="/@chukov" class="nickname">
                                                                        <span>&copy;</span>
                                                                        <span>chukov</span>
                                                                    </a>
                                                                    <a href="rating-history-month"
                                                                       class="best-of-month">МАЙ</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row-thumb-photos">
                                                            <div class="photo-wrapper">
                                                                <a href="#" data-toggle="modal" class="photo">
                                                                    <div class="thumb-photo"
                                                                         style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                        Ivan ivanov
                                                                    </div>
                                                                </a>
                                                                <div class="nickname-pad hidden-xs hidden-sm">
                                                                    <a href="/@chukov" class="nickname">
                                                                        <span>&copy;</span>
                                                                        <span>chukov</span>
                                                                    </a>
                                                                    <a href="rating-history-month"
                                                                       class="best-of-month">МАЙ</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row-thumb-photos">
                                                            <div class="photo-wrapper">
                                                                <a href="#" data-toggle="modal" class="photo">
                                                                    <div class="thumb-photo"
                                                                         style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                        Ivan ivanov
                                                                    </div>
                                                                </a>
                                                                <div class="nickname-pad hidden-xs hidden-sm">
                                                                    <a href="/@chukov" class="nickname">
                                                                        <span>&copy;</span>
                                                                        <span>chukov</span>
                                                                    </a>
                                                                    <a href="rating-history-month"
                                                                       class="best-of-month">МАЙ</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="row-thumb-photos">
                                                            <div class="photo-wrapper">
                                                                <a href="#" data-toggle="modal" class="photo">
                                                                    <div class="thumb-photo"
                                                                         style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                        Ivan ivanov
                                                                    </div>
                                                                </a>
                                                                <div class="nickname-pad hidden-xs hidden-sm">
                                                                    <a href="/@chukov" class="nickname">
                                                                        <span>&copy;</span>
                                                                        <span>chukov</span>
                                                                    </a>
                                                                    <a href="rating-history-month"
                                                                       class="best-of-month">МАЙ</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row-thumb-photos">
                                                            <div class="photo-wrapper">
                                                                <a href="#" data-toggle="modal" class="photo">
                                                                    <div class="thumb-photo"
                                                                         style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                        Ivan ivanov
                                                                    </div>
                                                                </a>
                                                                <div class="nickname-pad hidden-xs hidden-sm">
                                                                    <a href="/@chukov" class="nickname">
                                                                        <span>&copy;</span>
                                                                        <span>chukov</span>
                                                                    </a>
                                                                    <a href="rating-history-month"
                                                                       class="best-of-month">МАЙ</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row-thumb-photos">
                                                            <div class="photo-wrapper">
                                                                <a href="#" data-toggle="modal" class="photo">
                                                                    <div class="thumb-photo"
                                                                         style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                        Ivan ivanov
                                                                    </div>
                                                                </a>
                                                                <div class="nickname-pad hidden-xs hidden-sm">
                                                                    <a href="/@chukov" class="nickname">
                                                                        <span>&copy;</span>
                                                                        <span>chukov</span>
                                                                    </a>
                                                                    <a href="rating-history-month"
                                                                       class="best-of-month">МАЙ</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="row-thumb-photos">
                                                            <div class="photo-wrapper">
                                                                <a href="#" data-toggle="modal" class="photo">
                                                                    <div class="thumb-photo"
                                                                         style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                        Ivan ivanov
                                                                    </div>
                                                                </a>
                                                                <div class="nickname-pad hidden-xs hidden-sm">
                                                                    <a href="/@chukov" class="nickname">
                                                                        <span>&copy;</span>
                                                                        <span>chukov</span>
                                                                    </a>
                                                                    <a href="rating-history-month"
                                                                       class="best-of-month">МАЙ</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row-thumb-photos">
                                                            <div class="photo-wrapper">
                                                                <a href="#" data-toggle="modal" class="photo">
                                                                    <div class="thumb-photo"
                                                                         style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                        Ivan ivanov
                                                                    </div>
                                                                </a>
                                                                <div class="nickname-pad hidden-xs hidden-sm">
                                                                    <a href="/@chukov" class="nickname">
                                                                        <span>&copy;</span>
                                                                        <span>chukov</span>
                                                                    </a>
                                                                    <a href="rating-history-month"
                                                                       class="best-of-month">МАЙ</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="row-thumb-photos">
                                                            <div class="photo-wrapper">
                                                                <a href="#" data-toggle="modal" class="photo">
                                                                    <div class="thumb-photo"
                                                                         style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                        Ivan ivanov
                                                                    </div>
                                                                </a>
                                                                <div class="nickname-pad hidden-xs hidden-sm">
                                                                    <a href="/@chukov" class="nickname">
                                                                        <span>&copy;</span>
                                                                        <span>chukov</span>
                                                                    </a>
                                                                    <a href="rating-history-month"
                                                                       class="best-of-month">МАЙ</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
