<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rating History Month</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="rating-history-month-page">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="rating-history">История на рейтинга</a></li>
                    <li class="active">Най-добрите снимки за септември 2018</li>
                </ol>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="best-photo-through-the-month">
                            <div class="photo-wrapper">
                                <img src="images/new_photos/1524648267_16_13.jpg" alt="" class="photo">
                                <div class="photo-info">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="photo-photographer">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo"
                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                            <span class="text">Петър Митев</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="photo-details">
                                                    <a href="#" class="photographer-name">Ивайло Димитров - flammen</a>
                                                    <ul class="details-info">
                                                        <li>
                                                            <span>галерия:</span>
                                                            <a href="#">Пейзаж</a>
                                                        </li>
                                                        <li>
                                                            <span>качена в Aлбум:</span>
                                                            <a href="#">25.12.2016</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="photo-stats-info-wrapper">
                                                <ul class="photo-stats-info">
                                                    <li class="views">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        <span class="text">1,359</span>
                                                    </li>
                                                    <li class="comments">
                                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                                        <span class="text">548</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="best-photo-through-the-month adult-photo">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" class="adult-photo">
                                        <div class="thumb-photo">
                                            <div class="adult-content-image">
                                                <?xml version="1.0" encoding="utf-8"?>
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 328.9 328.9" xml:space="preserve">
                                                    <g id="_x34_4-18Plus_movie">
                                                        <g>
                                                            <path class="st0"
                                                                  d="M104,220.4v-89.3H83.4v-22.9h49.1v112.2H104L104,220.4z"/>
                                                        </g>
                                                        <g>
                                                            <path class="st0" d="M239.6,137.2c0,9.8-5.3,18.4-14.1,23.2c12.3,5.1,20,15.8,20,28.3c0,20.2-17.9,33-45.9,33
			s-45.9-12.6-45.9-32.5c0-12.8,8.3-23.7,21.3-28.8c-9.4-5.3-15.5-14.2-15.5-24c0-17.9,15.7-29.3,40-29.3
			C224,107.2,239.6,118.8,239.6,137.2z M180.5,186.4c0,9.4,6.7,14.7,19,14.7s19.2-5.1,19.2-14.7c0-9.3-6.9-14.6-19.2-14.6
			C187.2,171.8,180.5,177.1,180.5,186.4z M183.4,138.8c0,8,5.8,12.5,16.2,12.5s16.2-4.5,16.2-12.5c0-8.3-5.8-13-16.2-13
			C189.1,125.9,183.4,130.5,183.4,138.8z"/>
                                                        </g>
                                                        <g>
                                                            <path class="st0" d="M292.9,120.9c4.7,14,7.1,28.6,7.1,43.5c0,74.8-60.8,135.6-135.6,135.6S28.9,239.2,28.9,164.4
			S89.7,28.8,164.5,28.8c14.9,0,29.5,2.4,43.5,7.1V5.8C193.8,2,179.2,0,164.4,0C73.8,0,0,73.8,0,164.4s73.8,164.4,164.4,164.4
			S328.8,255,328.8,164.4c0-14.8-2-29.4-5.8-43.5C323,120.9,292.9,120.9,292.9,120.9z"/>
                                                        </g>
                                                        <g>
                                                            <polygon class="st0" points="284.7,44.1 284.7,12.6 262,12.6 262,44.1 230.6,44.1 230.6,66.8 262,66.8 262,98.3 284.7,98.3
			284.7,66.8 316.2,66.8 316.2,44.1 		"/>
                                                        </g>
                                                    </g>
</svg>
                                            </div>
                                            <span class="text">Покажи снимката</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="best-photo-through-the-month">
                            <div class="photo-wrapper">
                                <img src="images/photos/photo_05.jpeg" alt="" class="photo">
                                <div class="photo-info">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="photo-photographer">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo"
                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                            <span class="text">Петър Митев</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="photo-details">
                                                    <a href="#" class="photographer-name">Ивайло Димитров - flammen</a>
                                                    <ul class="details-info">
                                                        <li>
                                                            <span>галерия:</span>
                                                            <a href="#">Пейзаж</a>
                                                        </li>
                                                        <li>
                                                            <span>качена в Aлбум:</span>
                                                            <a href="#">25.12.2016</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="photo-stats-info-wrapper">
                                                <ul class="photo-stats-info">
                                                    <li class="views">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        <span class="text">1,359</span>
                                                    </li>
                                                    <li class="comments">
                                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                                        <span class="text">548</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="best-photo-through-the-month">
                            <div class="photo-wrapper">
                                <img src="images/new_photos/1528361430_85_27.jpg" alt="" class="photo">
                                <div class="photo-info">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="photo-photographer">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo"
                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                            <span class="text">Петър Митев</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="photo-details">
                                                    <a href="#" class="photographer-name">Ивайло Димитров - flammen</a>
                                                    <ul class="details-info">
                                                        <li>
                                                            <span>галерия:</span>
                                                            <a href="#">Пейзаж</a>
                                                        </li>
                                                        <li>
                                                            <span>качена в Aлбум:</span>
                                                            <a href="#">25.12.2016</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="photo-stats-info-wrapper">
                                                <ul class="photo-stats-info">
                                                    <li class="views">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        <span class="text">1,359</span>
                                                    </li>
                                                    <li class="comments">
                                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                                        <span class="text">548</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="best-photo-through-the-month">
                            <div class="photo-wrapper">
                                <img src="images/new_photos/1524648267_16_13.jpg" alt="" class="photo">
                                <div class="photo-info">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="photo-photographer">
                                                <div class="main-details">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo"
                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                            <span class="text">Петър Митев</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="photo-details">
                                                    <a href="#" class="photographer-name">Ивайло Димитров - flammen</a>
                                                    <ul class="details-info">
                                                        <li>
                                                            <span>галерия:</span>
                                                            <a href="#">Пейзаж</a>
                                                        </li>
                                                        <li>
                                                            <span>качена в Aлбум:</span>
                                                            <a href="#">25.12.2016</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="photo-stats-info-wrapper">
                                                <ul class="photo-stats-info">
                                                    <li class="views">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        <span class="text">1,359</span>
                                                    </li>
                                                    <li class="comments">
                                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                                        <span class="text">548</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-md btn-primary btn-load-more btn-action btn-loading">
                            <span class="btn-content-wrapper">
                                <span class="icon">
                                    <i class="fa fa-spinner fa-spin spinner"></i>
                                </span>
                                <span class="text">Зареди още</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
