.photopis-page {
    .content-wrapper {
        .content-header {
            h1 {
                text-align: right;
                @media (max-width: 767px) {
                    text-align: left;
                    margin-top: 7px;
                }
            }

            .btn-new-photopis {
                text-transform: uppercase;
            }
        }
    }

    .photopis-menu {
        margin-bottom: 30px;

        .menu-item {
            &:first-child {
                a {
                    @include border-radius(3px 3px 0 0);
                }
            }

            &:last-child {
                a {
                    @include border-radius(0 0 3px 3px);
                }
            }

            a {
                color: $color_4;
                display: block;
                padding: 15px;
                background-color: $color_67;

                &:hover {
                    color: $color_2;
                    background-color: $color_6;
                }
            }

            &.selected, &.active {
                a {
                    color: $color_2;
                    background-color: $color_6;
                }
            }
        }
    }

    .pagination-wrapper {
        margin-bottom: 60px;
    }
}
