.photopis-page {
    &.edit {
        .breadcrumb {
            margin-bottom: 0;
        }

        .content-wrapper {
            .content {
                .photopis-short-description {
                    textarea {
                        height: 117px;
                    }
                }
            }
        }
    }
}
