.photopis-page {
    &.read {
        .content-wrapper {
            .content {
                .news {
                    .news-item {
                        .news-content {
                            .news-info {
                                .main-details {
                                    .photo-wrapper,
                                    .profile-name,
                                    span {
                                        float: left;
                                        color: $color_66;
                                    }

                                    .profile-name {
                                        @media (max-width: 767px) {
                                            margin-top: 2px;
                                            line-height: 1.2em;
                                        }
                                    }

                                    span {
                                        @media (max-width: 767px) {
                                            margin-top: 5px;
                                        }

                                        &:before {
                                            content: '\\';
                                            padding: 0 5px;
                                        }

                                        &.since-date {
                                            @media (max-width: 767px) {
                                                clear: left;
                                            }

                                            &:before {
                                                @media (max-width: 767px) {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }

                                    .photo-wrapper {
                                        width: 25px;
                                        height: 25px;
                                        margin-top: -5px;
                                        margin-right: 5px;
                                    }
                                }
                            }

                            .content {
                                margin-top: 15px;

                                .photopis-photo {
                                    margin-bottom: 30px;

                                    .thumb-photo {
                                        width: 100%;
                                        height: 600px;
                                        //background: no-repeat center center / cover;
                                        text-indent: -10000px;
                                        @media (max-width: 767px) {
                                            height: 300px;
                                        }
                                    }

                                    .photopis-photo-details {
                                        padding: 15px;
                                        margin-bottom: 0;
                                        background-color: $color_14;
                                        @include clearfix();

                                        .photo-detail {
                                            float: left;
                                            margin-right: 10px;
                                            padding-right: 10px;
                                            border-right: 1px solid $color_22;
                                            font-size: 12px;

                                            &:last-child {
                                                margin-right: 0;
                                                padding-right: 0;
                                                border-right: none;
                                            }

                                            a, span {
                                                color: $color_4;
                                            }

                                            span {
                                                margin-right: 5px;
                                                @include roboto-font($bold-font, $bold-font-weight);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
