<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bazar - all ads</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="photopis-page edit">
<% include ../includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="photopis">Моите теми</a></li>
                    <li class="active">Нова тема</li>
                </ol>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="photopis-heading">Заглавие</label>
                            <input type="text" id="search-item" name="search-item"
                                   class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="control-label">секция</label>
                                    <div class="filter-option">
                                        <select data-live-search="true" multiple title="Посл.промяна">
                                            <option data-tokens="България">България</option>
                                            <option data-tokens="Испания">Испания</option>
                                            <option data-tokens="Италия">Италия</option>
                                            <option data-tokens="Холандия">Холандия</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <label class="control-label">Категории</label>
                                    <div class="filter-option">
                                        <select data-live-search="true" multiple title="Посл.промяна">
                                            <option data-tokens="България">България</option>
                                            <option data-tokens="Испания">Испания</option>
                                            <option data-tokens="Италия">Италия</option>
                                            <option data-tokens="Холандия">Холандия</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group photopis-short-description">
                            <label for="description">Кратко описание</label>
                            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-editor">
                            <div class="form-group photopis-short-description">
                                <label for="description">Кратко описание</label>
                                <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="checkbox custom-checkbox">
                            <span class="character-checkbox"></span>
                            <span class="label">Активна</span>
                        </div>
                    </div>
                </div>
                <div class="form-bottom">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">

                            <button class="btn btn-md btn-primary btn-block btn-save btn-action btn-loading">
                                <span class="btn-content-wrapper">
                                    <span class="icon">
                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                    </span>
                                    <span class="text">Запази</span>
                                </span>
                            </button>

                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                            <button class="btn btn-bordered btn-block btn-cancel">
                                <span class="text">Отказ</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
