<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bazar - all ads</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="photopis-page">
<% include ../includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7">
                        <h1>Фотопис</h1>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
                        <div class="row">
                            <div class="col-md-offset-7 col-lg-offset-7 col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <a href="" class="btn btn-md btn-primary btn-block btn-new-photopis">
                                    <span class="text">нова тема</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <ul class="photopis-menu">
                        <li class="menu-item">
                            <a href="#" class="menu-element">Всички (245)</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-element">Моите теми (245)</a>
                        </li>
                        <li class="menu-item selected">
                            <a href="#" class="menu-element">Репортаж (245)</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-element">Разказ (245)</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-element">Излети (245)</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label for="search-item">търси</label>
                                    <input type="text" id="search-item" name="search-item"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">подреди по</label>
                                    <div class="filter-option">
                                        <select data-live-search="true" multiple title="Посл.промяна">
                                            <option data-tokens="България">България</option>
                                            <option data-tokens="Испания">Испания</option>
                                            <option data-tokens="Италия">Италия</option>
                                            <option data-tokens="Холандия">Холандия</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row all-photopis list-view">
                            <div class="item-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view-item">
                                <div class="item">
                                    <div class="row">
                                        <div class="item-image col-xs-12 col-sm-4 col-md-4 col-lg-4 list-view-image">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://www.imaging-resource.com/PRODS/canon-eos-m100/ZPR-CANON-EOS-M100-FLASH.JPG')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="item-caption list-view-caption col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <div class="caption">
                                                <div class="caption-header">
                                                    <h4 class="heading">
                                                        <a href="#">Сан Франциско - градът на контраста</a>
                                                    </h4>
                                                    <div class="item-author">
                                                        <div class="main-details">
                                                            <div class="photo-wrapper">
                                                                <a href="#" class="photo"
                                                                   style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                    <span class="text">Виктор Стоянов</span>
                                                                </a>
                                                            </div>
                                                            <a href="#" class="profile-name">Виктор Стоянов -
                                                                vstoyanov</a>
                                                            <span class="since-date">преди 23 дни</span>
                                                            <span class="city">Стара Загора</span>
                                                            <span class="seen">Видянa: 69</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption-body">
                                                    <div class="item-description">Състояние - нов.
                                                        Купуван от чужбина - няма валидна в страната
                                                        гаранция. Пълна окомплектовка - оригинални
                                                        капачки и сенник.
                                                        Състояние -
                                                        нов. Купуван от чужбина - няма валидна в
                                                        страната гаранция. Пълна окомплектовка -
                                                        оригинални капачки и сенник.
                                                    </div>
                                                </div>
                                                <div class="caption-footer">
                                                    <div class="row">
                                                        <div
                                                            class="item-caption-buttons col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view-buttons">
                                                            <div class="ad-buttons">
                                                                <button
                                                                    class="btn btn-md btn-bordered  hidden-xs hidden-md">
                                                                    <span class="text">Преглед</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view-item">
                                <div class="item">
                                    <div class="row">
                                        <div class="item-image col-xs-12 col-sm-4 col-md-4 col-lg-4 list-view-image">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://www.imaging-resource.com/PRODS/canon-eos-m100/ZPR-CANON-EOS-M100-FLASH.JPG')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="item-caption list-view-caption col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <div class="caption">
                                                <div class="caption-header">
                                                    <h4 class="heading">
                                                        <a href="#">Сан Франциско - градът на контраста</a>
                                                    </h4>
                                                    <div class="item-author">
                                                        <div class="main-details">
                                                            <div class="photo-wrapper">
                                                                <a href="#" class="photo"
                                                                   style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                    <span class="text">Виктор Стоянов</span>
                                                                </a>
                                                            </div>
                                                            <a href="#" class="profile-name">Виктор Стоянов -
                                                                vstoyanov</a>
                                                            <span class="since-date">преди 23 дни</span>
                                                            <span class="city">Стара Загора</span>
                                                            <span class="seen">Видянa: 69</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption-body">
                                                    <div class="item-description">Състояние - нов.
                                                        Купуван от чужбина - няма валидна в страната
                                                        гаранция. Пълна окомплектовка - оригинални
                                                        капачки и сенник.
                                                        Състояние -
                                                        нов. Купуван от чужбина - няма валидна в
                                                        страната гаранция. Пълна окомплектовка -
                                                        оригинални капачки и сенник.
                                                    </div>
                                                </div>
                                                <div class="caption-footer">
                                                    <div class="row">
                                                        <div
                                                            class="item-caption-buttons col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view-buttons">
                                                            <div class="ad-buttons">
                                                                <button
                                                                    class="btn btn-md btn-bordered  hidden-xs hidden-md">
                                                                    <span class="text">Преглед</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view-item">
                                <div class="item">
                                    <div class="row">
                                        <div class="item-image col-xs-12 col-sm-4 col-md-4 col-lg-4 list-view-image">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://www.imaging-resource.com/PRODS/canon-eos-m100/ZPR-CANON-EOS-M100-FLASH.JPG')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="item-caption list-view-caption col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <div class="caption">
                                                <div class="caption-header">
                                                    <h4 class="heading">
                                                        <a href="#">Сан Франциско - градът на контраста</a>
                                                    </h4>
                                                    <div class="item-author">
                                                        <div class="main-details">
                                                            <div class="photo-wrapper">
                                                                <a href="#" class="photo"
                                                                   style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                    <span class="text">Виктор Стоянов</span>
                                                                </a>
                                                            </div>
                                                            <a href="#" class="profile-name">Виктор Стоянов -
                                                                vstoyanov</a>
                                                            <span class="since-date">преди 23 дни</span>
                                                            <span class="city">Стара Загора</span>
                                                            <span class="seen">Видянa: 69</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="caption-body">
                                                    <div class="item-description">Състояние - нов.
                                                        Купуван от чужбина - няма валидна в страната
                                                        гаранция. Пълна окомплектовка - оригинални
                                                        капачки и сенник.
                                                        Състояние -
                                                        нов. Купуван от чужбина - няма валидна в
                                                        страната гаранция. Пълна окомплектовка -
                                                        оригинални капачки и сенник.
                                                    </div>
                                                </div>
                                                <div class="caption-footer">
                                                    <div class="row">
                                                        <div
                                                            class="item-caption-buttons col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view-buttons">
                                                            <div class="ad-buttons">
                                                                <button
                                                                    class="btn btn-md btn-bordered  hidden-xs hidden-md">
                                                                    <span class="text">Преглед</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <% include ../includes/pagination.ejs %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
