<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Store - Grid view</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="store-page">
<% include ../includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <% include ../includes/breadcrumbs.ejs %>
                    </div>
                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-3 col-lg-offset-3 col-lg-3">
                        <a href="#" class="shopping-cart-basket" data-keyboard="true" data-toggle="modal"
                           data-target="#shopItemMsg" >
                            <span class="icon">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </span>
                            <span class="basket-items">
                                <span class="item-count">(3)</span>
                                <span class="basket-text">Количката е празна</span>
                            </span>
                        </a>
                    </div>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="bazar-filters">
                            <ul class="filter-categories">
                                <li class="category">
                                    <a href="#">Цифрова (245)</a>
                                </li>
                                <li class="category selected">
                                    <a href="#">Аналогова (2)</a>
                                </li>
                                <li class="category">
                                    <a href="#">Аксесоари (24)</a>
                                </li>
                                <li class="category">
                                    <a href="#">Видео (3)</a>
                                </li>
                                <li class="category">
                                    <a href="#">Литература (6)</a>
                                </li>
                                <li class="category">
                                    <a href="#">GSM (21)</a>
                                </li>
                                <li class="category">
                                    <a href="#">Компютри (2)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="content">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label for="search-item">търси</label>
                                        <input type="text" id="search-item" name="search-item" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-offset-3 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label">подреди по</label>
                                        <div class="filter-option">
                                            <select data-live-search="true" multiple title="Посл.промяна">
                                                <option data-tokens="България">България</option>
                                                <option data-tokens="Испания">Испания</option>
                                                <option data-tokens="Италия">Италия</option>
                                                <option data-tokens="Холандия">Холандия</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row bazar-products grid-view">
                                <div class="item-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-4 grid-view-item">
                                    <div class="item">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="item-image col-xs-12 col-sm-12 col-md-12 col-lg-12 grid-view-image">
                                                    <div class="row-thumb-photos">
                                                        <div class="photo-wrapper">
                                                            <div class="default-photo-notice">
                                                                <span class="text">Служебна снимка</span>
                                                            </div>
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                                                    Ivan ivanov
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-caption col-xs-12 col-sm-12 col-md-12 col-lg-12 grid-view-caption">
                                                    <div class="caption">
                                                        <div class="caption-header">
                                                            <h4 class="heading">
                                                                <a href="#">Tokina AF 11-16mm f/2.8 PRO DX II за Nikon</a>
                                                            </h4>
                                                        </div>
                                                        <div class="caption-footer">
                                                            <div class="row">
                                                                <div
                                                                    class="item-caption-price col-xs-12 col-sm-12 col-md-12 col-lg-12 grid-view-price">
                                                                    <div class="item-price">3,123.00 лв.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-4 grid-view-item">
                                    <div class="item">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="item-image col-xs-12 col-sm-12 col-md-12 col-lg-12 grid-view-image">
                                                    <div class="row-thumb-photos">
                                                        <div class="photo-wrapper">
                                                            <div class="default-photo-notice">
                                                                <span class="text">Служебна снимка</span>
                                                            </div>
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                                                    Ivan ivanov
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-caption col-xs-12 col-sm-12 col-md-12 col-lg-12 grid-view-caption">
                                                    <div class="caption">
                                                        <div class="caption-header">
                                                            <h4 class="heading">
                                                                <a href="#">Tokina AF 11-16mm f/2.8 PRO DX II за Nikon</a>
                                                            </h4>
                                                        </div>
                                                        <div class="caption-footer">
                                                            <div class="row">
                                                                <div
                                                                    class="item-caption-price col-xs-12 col-sm-12 col-md-12 col-lg-12 grid-view-price">
                                                                    <div class="item-price">3,123.00 лв.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-4 grid-view-item">
                                    <div class="item">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="item-image col-xs-12 col-sm-12 col-md-12 col-lg-12 grid-view-image">
                                                    <div class="row-thumb-photos">
                                                        <div class="photo-wrapper">
                                                            <div class="default-photo-notice">
                                                                <span class="text">Служебна снимка</span>
                                                            </div>
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                                                    Ivan ivanov
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-caption col-xs-12 col-sm-12 col-md-12 col-lg-12 grid-view-caption">
                                                    <div class="caption">
                                                        <div class="caption-header">
                                                            <h4 class="heading">
                                                                <a href="#">Tokina AF 11-16mm f/2.8 PRO DX II за Nikon</a>
                                                            </h4>
                                                        </div>
                                                        <div class="caption-footer">
                                                            <div class="row">
                                                                <div
                                                                    class="item-caption-price col-xs-12 col-sm-12 col-md-12 col-lg-12 grid-view-price">
                                                                    <div class="item-price">3,123.00 лв.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-lg-12">
                                    <% include ../includes/pagination.ejs %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
