<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Store - Item</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="store-page store-item-page bazar-view-ad-page">
<% include ../includes/modal_login.ejs %>
<% include ./modal_shop_item_msg.ejs %>
<% include ./modal_shop_item_sizes.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="bazar-products">
        <div class="container">
            <div class="content-wrapper">
                <header class="content-header">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <% include ../includes/breadcrumbs.ejs %>
                        </div>
                        <div
                            class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-3 col-lg-offset-3 col-lg-3">
                            <a href="#" class="shopping-cart-basket">
                                <span class="icon">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span class="basket-items">
                                    <span class="item-count">(0)</span>
                                    <span class="basket-text">Количката е празна</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </header>
                <div class="content-body">
                    <div class="item-wrapper list-view-item">
                        <div class="item">
                            <div class="row">
                                <div class="item-image col-xs-12 col-sm-12 col-md-4 col-lg-4 list-view-image">
                                    <div class="main-photo-viewer">
                                        <div class="category-photo-slider flexslider">
                                            <ul class="slides">
                                                <li class="slide-item">
                                                    <div class="slide-photo">
                                                        <img src="../images/photos/photo_05.jpeg"/>
                                                    </div>
                                                </li>
                                                <li class="slide-item">
                                                    <div class="slide-photo">
                                                        <img src="../images/new_photos/1528009422__DIM9264-Edits.jpg"/>
                                                    </div>
                                                </li>
                                                <li class="slide-item">
                                                    <div class="slide-photo">
                                                        <img src="../images/new_photos/1527807920__OLI0992.jpg"/>
                                                    </div>
                                                </li>
                                                <li class="slide-item">
                                                    <div class="slide-photo">
                                                        <img src="../images/new_photos/1524648267_16_13.jpg"/>
                                                    </div>
                                                </li>
                                                <li class="slide-item">
                                                    <div class="slide-photo">
                                                        <img src="../images/photos/photo_03.jpg"/>
                                                    </div>
                                                </li>
                                                <li class="slide-item">
                                                    <div class="slide-photo">
                                                        <img src="../images/new_photos/1528361430_85_27.jpg"/>
                                                    </div>
                                                </li>
                                                <li class="slide-item">
                                                    <div class="slide-photo">
                                                        <img
                                                            src="../images/new_photos/1526986425_Found_17230509_23827996-Edit.JPG"/>
                                                    </div>
                                                </li>
                                                <li class="slide-item">
                                                    <div class="slide-photo">
                                                        <img src="../images/new_photos/1526534674_Sevi7619.jpg"/>
                                                    </div>
                                                </li>
                                                <li class="slide-item">
                                                    <div class="slide-photo">
                                                        <img src="../images/photos/photo_04.jpg"/>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="category-photo-carousel flexslider">
                                            <ul class="slides">
                                                <li>
                                                    <div class="slide-photo-carousel"
                                                         style="background-image: url('../images/photos/photo_05.jpeg')"></div>
                                                </li>
                                                <li>
                                                    <div class="slide-photo-carousel"
                                                         style="background-image: url('../images/new_photos/1528009422__DIM9264-Edits.jpg')"></div>
                                                </li>
                                                <li>
                                                    <div class="slide-photo-carousel"
                                                         style="background-image: url('../images/new_photos/1527807920__OLI0992.jpg')"></div>
                                                </li>
                                                <li>
                                                    <div class="slide-photo-carousel"
                                                         style="background-image: url('../images/new_photos/1524648267_16_13.jpg')"></div>
                                                </li>
                                                <li>
                                                    <div class="slide-photo-carousel"
                                                         style="background-image: url('../images/photos/photo_03.jpg')"></div>
                                                </li>
                                                <li>
                                                    <div class="slide-photo-carousel"
                                                         style="background-image: url('../images/new_photos/1528361430_85_27.jpg')"></div>
                                                </li>
                                                <li>
                                                    <div class="slide-photo-carousel"
                                                         style="background-image: url('../images/new_photos/1526986425_Found_17230509_23827996-Edit.JPG')"></div>
                                                </li>
                                                <li>
                                                    <div class="slide-photo-carousel"
                                                         style="background-image: url('../images/new_photos/1526534674_Sevi7619.jpg')"></div>
                                                </li>
                                                <li>
                                                    <div class="slide-photo-carousel"
                                                         style="background-image: url('../images/photos/photo_04.jpg')"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-caption col-xs-12 col-sm-12 col-md-8 col-lg-8 list-view-caption">
                                    <div class="caption">
                                        <div class="caption-header">
                                            <h4 class="heading">
                                                <a href="#">Тениска - бяла - брандирана с логото на ФОТО-ФОРУМ</a>
                                            </h4>
                                        </div>
                                        <div class="caption-body">
                                            <div class="item-price">
                                                <span>148.00 лв</span>
                                            </div>
                                            <div class="ad-buttons">
                                                <div class="form-group">
                                                    <div class="filter-option">
                                                        <select data-live-search="true" multiple title="избери размер">
                                                            <option data-tokens="s">S</option>
                                                            <option data-tokens="m">M</option>
                                                            <option data-tokens="l">L</option>
                                                            <option data-tokens="xl">XL</option>
                                                        </select>
                                                    </div>
                                                    <a href="#" class="item-table-size" data-keyboard="true"
                                                       data-toggle="modal"
                                                       data-target="#shopItemSizes">> Виж таблицата с размери</a>
                                                </div>
                                                <div class="form-group">
                                                    <div class="filter-option">
                                                        <select data-live-search="true" multiple title="бройка">
                                                            <option data-tokens="1">1</option>
                                                            <option data-tokens="2">2</option>
                                                            <option data-tokens="3">3</option>
                                                            <option data-tokens="4">4</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <button
                                                    class="btn btn-md btn-primary btn-add-to-basket btn-action btn-loading"
                                                    data-keyboard="true" data-toggle="modal"
                                                    data-target="#shopItemMsg">
                                                    <span class="btn-content-wrapper">
                                                        <span class="icon">
                                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                            <i class="fa fa-spinner fa-spin spinner"></i>
                                                        </span>
                                                        <span class="text">Добави в кошницата</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="caption-footer">
                                            <div class="item-description">
                                                <p><b>Памучна тениска с къс ръкав Stedman ST2000</b></p>
                                                <p>Класическа мъжка памучна тениска с къс ръкав,обло деколте без
                                                    странични
                                                    шевове от меко и издържливо гладко трико (обикновено жарсе).
                                                </p>
                                                <p><b>Материал:</b>100% пениран памук</p>
                                                <p><b>Грамаж:</b>155 g/m2</p>
                                                <p><b>Да се пере на 40°C!</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <% include ../includes/add_comment.ejs %>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
