<div class="modal fade" id="shopItemMsg" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h2 class="head">Продуктът е добавен в кошницата</h2>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
                            <button type="button" class="close-modal" data-dismiss="modal">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;width: 25px;fill:#aaaaaa;" xml:space="preserve">
<g>
    <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
		c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
		C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
		s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
</g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
</svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="order-items-container">
                        <div class="order-items-body">
                            <div class="order-item">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <a href="#" class="item-name">Тениска - бяла - брандирана с логото на ФОТО-ФОРУМ </a>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right">
                                        <span class="item-size">Размер: M</span>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right">
                                        <span class="item-qty">Брой: 1</span>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right">
                                        <span class="item-price"><b>35,60 лв</b></span>
                                    </div>
                                </div>
                            </div>
                            <div class="order-item">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <a href="#" class="item-name">Тениска - бяла - брандирана с логото на ФОТО-ФОРУМ </a>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right">
                                        <span class="item-size">Размер: M</span>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right">
                                        <span class="item-qty">Брой: 1</span>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right">
                                        <span class="item-price"><b>35,60 лв</b></span>
                                    </div>
                                </div>
                            </div>
                            <div class="order-item">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <a href="#" class="item-name">Тениска - бяла - брандирана с логото на ФОТО-ФОРУМ </a>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right">
                                        <span class="item-size">Размер: M</span>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right">
                                        <span class="item-qty">Брой: 1</span>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 text-right">
                                        <span class="item-price"><b>35,60 лв</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-offset-5 col-lg-7">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button class="btn btn-sm btn-block btn-bordered btn-action">
                                        <span class="btn-content-wrapper">
                                            <span class="icon">
                                                <i class="fa fa-spinner fa-spin spinner"></i>
                                            </span>
                                            <span class="text">Виж количката</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-sm btn-block btn-primary btn-action">
                                        <span class="btn-content-wrapper">
                                            <span class="icon">
                                                <i class="fa fa-spinner fa-spin spinner"></i>
                                            </span>
                                            <span class="text">Продължи с пазаруването</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
