<div class="modal fade" id="shopItemSizes" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h2 class="head">Таблица с размери</h2>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
                            <button type="button" class="close-modal" data-dismiss="modal">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;width: 25px;fill:#aaaaaa;" xml:space="preserve">
<g>
    <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
		c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
		C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
		s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
</g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
</svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Размер</th>
                                <th>Височина (cm)</th>
                                <th>Гръдна обиколка(cm)</th>
                                <th>Талия (cm)</th>
                                <th>Ханш (cm)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span>XS</span>
                                </td>
                                <td>
                                    <span>159-164</span>
                                </td>
                                <td>
                                    <span>78-85</span>
                                </td>
                                <td>
                                    <span>66-73</span>
                                </td>
                                <td>
                                    <span>84-88</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>S</span>
                                </td>
                                <td>
                                    <span>166-173</span>
                                </td>
                                <td>
                                    <span>86-93</span>
                                </td>
                                <td>
                                    <span>74-81</span>
                                </td>
                                <td>
                                    <span>92-96</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>M</span>
                                </td>
                                <td>
                                    <span>171-179</span>
                                </td>
                                <td>
                                    <span>94-101</span>
                                </td>
                                <td>
                                    <span>82-89</span>
                                </td>
                                <td>
                                    <span>100-104</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>L</span>
                                </td>
                                <td>
                                    <span>177-184</span>
                                </td>
                                <td>
                                    <span>102-109</span>
                                </td>
                                <td>
                                    <span>90-99</span>
                                </td>
                                <td>
                                    <span>108-112</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>XL</span>
                                </td>
                                <td>
                                    <span>182-188</span>
                                </td>
                                <td>
                                    <span>110-117</span>
                                </td>
                                <td>
                                    <span>100-109</span>
                                </td>
                                <td>
                                    <span>116-120</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>2XL</span>
                                </td>
                                <td>
                                    <span>185-191</span>
                                </td>
                                <td>
                                    <span>118-125</span>
                                </td>
                                <td>
                                    <span>110-119</span>
                                </td>
                                <td>
                                    <span>124-128</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>3XL</span>
                                </td>
                                <td>
                                    <span>185-191</span>
                                </td>
                                <td>
                                    <span>126-133</span>
                                </td>
                                <td>
                                    <span>120-129</span>
                                </td>
                                <td>
                                    <span>132-136</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>4XL</span>
                                </td>
                                <td>
                                    <span>191-195</span>
                                </td>
                                <td>
                                    <span>134-141</span>
                                </td>
                                <td>
                                    <span>130-139</span>
                                </td>
                                <td>
                                    <span>137-141</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
