.advanced-search-wrapper {
    display: none;
    position: absolute;
    top: 135px;
    left: 15px;
    right: 15px;
    background-color: white;
    z-index: 4;
    @media (max-width: 767px) {
        top: 200px;
    }

    .advanced-search {
        padding: 40px 20px;
        border: 1px solid $color_13;
        @include border-radius(3px);
        position: relative;

        .head {
            margin-bottom: 25px;
        }

        .close-search {
            position: absolute;
            top: 15px;
            right: 15px;
            background: unset;
            border: none;
            padding: 0;
            line-height: 1em;
        }

        .search-field {
            position: relative;

            label {
                position: absolute;
                left: 15px;
                top: 12px;
            }

            .theme-name {
                padding-left: 35px;
                height: 40px;
            }

            .reset-search-field {
                position: absolute;
                right: 15px;
                top: 12px;
                background: unset;
                border: none;
                padding: 0;
                line-height: 1em;

                i.fa {
                    font-size: 14px;
                }
            }
        }

        .btn-submit-search {
            line-height: 1.5em;
            font-size: 12px;
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
        }

        .search-criteria-author-theme {
            margin-top: 10px;
            @include clearfix();

            .radio + .radio,
            .checkbox + .checkbox {
                margin-top: 0;
            }

            .author, .theme {
                float: left;
                margin-bottom: 0;

                .label {
                    width: auto;
                }
            }

            .author {
                margin-right: 10px;
            }
        }

        .search-advice-notice {
            .head {
                margin-bottom: 15px;
            }
        }

        .google-search {
            .form-group {
                .search-field {
                    position: relative;

                    .icon.google-search {
                        position: absolute;
                        left: 10px;
                        top: 12px;
                    }

                    .form-control {
                        padding-left: 65px;
                        height: 40px;
                    }

                    .reset-search-field {
                        position: absolute;
                        right: 15px;
                        top: 13px;

                        i.fa {
                            font-size: 14px;
                        }
                    }
                }
            }

            .btn-google-search {
                background-color: #666666;
                border: 1px solid #666666;
                margin-top: 27px;
            }
        }

        .notice-correct-search-example {
            margin-top: 20px;

            p {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
