.forum {
    .container-wrapper {
        .panel {
            margin-bottom: 0;

            .panel-heading {
                background-color: $color_2;

                .nav.nav-tabs {
                    li {
                        a {
                            font-size: 12px;
                            text-transform: uppercase;

                            i.fa {
                                display: block;
                                margin-bottom: 5px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            .panel-body {
                padding: 40px 0 0 0;

                .editor-of-the-month {
                    position: absolute;
                    top: 0;
                    left: 15px;
                    right: 15px;
                    background-color: white;
                    z-index: 5;
                    padding: 20px 25px;
                    border: 1px solid $color_13;
                    @include border-radius(3px);

                    .main-details {
                        @include clearfix();
                        @media (max-width: 1024px) {
                            margin-right: 15px;
                        }
                        @media (max-width: 767px) {
                            margin-right: 0;
                        }
                        .photo-wrapper {
                            float: left;
                            margin-right: 35px;
                            @media (max-width: 1024px) {
                                margin-right: 0;
                            }

                            .photo {
                                width: 70px;
                                height: 70px;
                                border: 3px solid $color_2;
                                @include border-radius(50%);

                                img {
                                    width: 100%;
                                }
                            }
                        }

                        .content {
                            width: 75%;
                            float: left;
                            padding-top: 10px;
                            @media (max-width: 1024px) {
                                width: 70%;
                            }

                            .editor {
                                margin-top: 0;
                                margin-bottom: 5px;
                                font-size: 16px;
                            }

                            .editor-bio {
                                position: relative;
                                height: 35px;
                                overflow: hidden;

                                .read-more-shadow {
                                    position: absolute;
                                    height: 35px;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    background-image: linear-gradient(to top, $color_2, rgba($color_2, 0));
                                    @include transition(.3s);
                                }

                                @include box-shadow(inset 0px 0px 0px 2px $color_2);
                            }
                        }

                        .read-more {
                            float: right;
                            display: block;
                            margin-top: 35px;
                            text-transform: uppercase;
                            @include roboto-font($regular-font, $regular-font-weight);
                        }
                    }
                }

                .forum-controls {
                    margin-top: 135px;
                    margin-bottom: 15px;
                    @include clearfix();
                    @media (max-width: 1024px) {
                        margin-top: 200px;
                    }

                    .btn {
                        line-height: 1em;
                        text-transform: uppercase;
                        font-size: 12px;

                        &.new-theme {
                            float: left;
                            padding-right: 50px;
                            padding-left: 50px;
                        }

                        &.open-main-search {
                            float: right;
                        }
                    }
                }

                .theme-category {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background-color: $color_58;
                    @include clearfix();

                    .theme-category-icon {
                        padding: 10px;
                        background-color: $color_59;
                        text-align: center;
                        line-height: 1em;
                        @include inline-block();
                        @include border-radius(3px);

                        i.fa {
                            color: $color_60;
                        }
                    }

                    .theme-label {
                        display: block;
                        margin-top: 7px;
                    }

                    .switch {
                        margin-right: 15px;
                        @include inline-block();

                        span.text-right {
                            margin-left: 0;
                            margin-right: 10px;

                            &:first-letter {
                                text-transform: uppercase;
                            }
                        }
                    }
                }

                .separator-line {
                    margin-top: 30px;
                    margin-bottom: 40px;
                }

                .post-new-theme {
                    .head {
                        margin-top: 0;
                        margin-bottom: 30px;
                        @include roboto-font($light-font, $light-font-weight);
                    }

                    .theme-name {
                        .form-group {
                            .form-control {
                                height: 42px;
                            }
                        }
                    }

                    .choose-theme-category {
                        margin-top: 28px;
                    }
                }

                .tab-content {
                    .tab-pane {
                        .content {
                            .forum-themes-wrapper {
                                header {
                                    background-color: $color_58;
                                    padding: 20px 0;
                                    text-transform: capitalize;
                                    border-bottom: 1px solid #dadada;
                                    @media (max-width: 767px) {
                                        font-size: 12px;
                                    }

                                    span {
                                        &.theme-label {
                                            margin-left: 20px;
                                            @media (max-width: 1024px) {
                                                display: block;
                                                margin-left: 15px;
                                            }
                                        }
                                    }
                                }

                                .content {
                                    .theme {
                                        padding-top: 25px;
                                        padding-bottom: 25px;
                                        border-bottom: 1px solid #dadada;
                                        @include transition(.3s);

                                        &:hover {
                                            cursor: pointer;
                                            border-bottom: 1px solid $color_6;
                                            background-color: lighten($color_6, 45%);
                                        }

                                        @media (max-width: 1024px) {
                                            padding-right: 15px;
                                            padding-left: 15px;
                                        }

                                        .theme-category {
                                            padding: 12px 10px;
                                            background-color: $color_59;
                                            text-align: center;
                                            line-height: 1em;
                                            margin-top: 5px;
                                            @include inline-block();
                                            @include border-radius(3px);

                                            i.fa {
                                                color: $color_60;
                                            }
                                        }

                                        .theme-title {
                                            @include clearfix();

                                            a {
                                                float: left;
                                                font-size: 16px;
                                                @include roboto-font($regular-font, $regular-font-weight);
                                                @media (max-width: 1024px) {
                                                    font-size: 14px;
                                                }
                                            }

                                            .notice {
                                                margin-top: 2px;
                                                margin-left: 10px;
                                                color: $color_20;
                                                float: left;
                                                @include inline-block();
                                                @media (max-width: 1024px) {
                                                    margin-left: 0;
                                                }
                                            }

                                            .new {
                                                float: left;
                                                color: $color_2;
                                                font-size: 12px;
                                                line-height: 1em;
                                                padding: 1px 3px 3px 4px;
                                                margin-top: 3px;
                                                margin-left: 10px;
                                                background-color: $color_27;
                                                @include border-radius(3px);
                                            }
                                        }

                                        .theme-info {
                                            .main-details {
                                                @include clearfix();

                                                .photo-wrapper {
                                                    float: left;
                                                    @include clearfix();
                                                    @media (max-width: 1024px) {
                                                        width: 100%;
                                                        height: auto;
                                                        margin-top: 5px;
                                                        margin-right: 0;
                                                        margin-bottom: 5px;
                                                    }

                                                    a.photo {
                                                        width: 25px;
                                                        height: 25px;
                                                        display: block;
                                                        float: left;
                                                        margin-right: 7px;
                                                    }

                                                    .author-nickname {
                                                        display: block;
                                                        float: left;
                                                        color: $color_20;
                                                        line-height: 1em;
                                                        margin-top: 7px;
                                                        @media (max-width: 767px) {
                                                            width: 80%;
                                                            margin-top: 0;
                                                        }
                                                    }
                                                }

                                                .forum-theme-label {
                                                    float: left;
                                                    margin-top: 5px;
                                                    margin-left: 10px;
                                                    @media (max-width: 1024px) {
                                                        margin-right: 10px;
                                                        margin-left: 0;
                                                    }
                                                }
                                            }
                                        }

                                        .posts-counter,
                                        .post-date {
                                            display: block;
                                            margin-top: 15px;
                                            color: $color_60;
                                            @media (max-width: 1024px) {
                                                text-align: right;
                                                font-size: 12px;

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .forum-side-photos {
                    margin-bottom: 0;

                    &.small-screen {
                        margin: 25px 15px 0;
                        border-bottom: 1px solid #dadada;
                        padding-bottom: 25px;
                        @include clearfix();

                        .row-thumb-photos {
                            margin-bottom: 0;
                            @media (max-width: 767px) {
                                margin-bottom: 30px;
                            }

                            .photo-wrapper {
                                height: auto;

                                .photo {
                                    .thumb-photo {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }

                    .row-thumb-photos {
                        margin-bottom: 30px;

                        .photo-wrapper {
                            @media (max-width: 767px) {
                                width: 300px;
                            }
                            .photo {
                                height: 165px;
                                @media (max-width: 767px) {
                                    height: 300px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
