.forum {
    &.new-topic {
        .container-wrapper {
            .content-wrapper {
                .panel {
                    .panel-body {
                        .theme-category {
                            @media (max-width: 767px) {
                                font-size: 12px;
                            }

                            .theme-label {
                                @media (max-width: 767px) {
                                    margin-top: 0;
                                    margin-left: 15px;
                                }
                            }

                            .switch {
                                @media (max-width: 767px) {
                                    display: block;
                                }

                                .text-right {
                                    @media (max-width: 767px) {
                                        float: none;
                                        display: block;
                                        text-align: right;
                                        margin-right: 0;
                                        margin-bottom: 5px;
                                        margin-left: 0;
                                        width: auto;
                                    }
                                }

                                .switch-option {
                                    @media (max-width: 767px) {
                                        float: none;
                                    }
                                }
                            }
                        }

                        .forum-side-photos {
                            &.small-screen {
                                margin-top: 0;
                                margin-bottom: 40px;
                                padding-bottom: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}
