.forum {
    &.topic {
        .container-wrapper {
            .panel {
                .panel-body {
                    .pagination-wrapper {
                        margin-top: 30px;
                    }

                    .theme-category {
                        @media (max-width: 767px) {
                            font-size: 12px;
                        }

                        .theme-label {
                            @media (max-width: 767px) {
                                margin-top: 0;
                                margin-left: 15px;
                            }
                        }

                        .switch {
                            @media (max-width: 767px) {
                                display: block;
                            }

                            .text-right {
                                @media (max-width: 767px) {
                                    float: none;
                                    display: block;
                                    text-align: right;
                                    margin-right: 0;
                                    margin-bottom: 5px;
                                    margin-left: 0;
                                    width: auto;
                                }
                            }

                            .switch-option {
                                @media (max-width: 767px) {
                                    float: none;
                                }
                            }
                        }
                    }

                    .forum-side-photos {
                        &.small-screen {
                            margin-top: 40px;
                            padding-top: 40px;
                            padding-bottom: 0;
                            border-top: 1px solid #dadada;
                            border-bottom: none;
                        }
                    }

                    .topic-comments-wrapper {
                        .topic-comment {
                            margin-top: 40px;
                            border-top: 1px solid $color_13;
                            padding-top: 40px;

                            &:last-child {
                                margin-bottom: 40px;
                                border-bottom: 1px solid $color_13;
                                padding-bottom: 40px;
                            }

                            .comment-author {
                                @media (max-width: 767px) {
                                    margin-bottom: 15px;
                                }

                                .main-details {
                                    @include clearfix();

                                    .photo-wrapper {
                                        width: 50px;
                                        height: 50px;
                                        @include inline-block();
                                        @media (max-width: 767px) {
                                            margin-right: 0;
                                        }
                                    }

                                    .nickname {
                                        margin-top: 15px;
                                        display: block;
                                        color: $color_55;
                                        line-height: 1.2em;
                                        @include roboto-font($regular-font, $regular-font-weight);
                                    }

                                    .author-rating,
                                    .member-since {
                                        color: $color_32;
                                        font-size: 12px;
                                        line-height: 1.2em;
                                        //@include roboto-font($condensed-font, $condensed-font-weight);
                                    }

                                    .author-rating {
                                        margin-bottom: 10px;

                                    }

                                    .member-since {
                                        span {
                                            display: block;
                                        }
                                    }
                                }
                            }

                            .comment {
                                &.reply {
                                    margin-top: 40px;
                                    border-top: 1px dashed $color_13;
                                    padding-top: 40px;
                                }

                                .comment-header {
                                    margin-bottom: 30px;
                                    @media (max-width: 767px) {
                                        margin-bottom: 15px;
                                    }

                                    .comment-title {
                                        margin-top: 0;
                                        margin-bottom: 5px;
                                        font-size: 16px;
                                    }

                                    .date-label-wrapper {
                                        @include clearfix();

                                        .comment-date, .forum-theme-label {
                                            float: left;
                                        }

                                        .comment-date {
                                            margin-right: 15px;
                                        }

                                        .forum-theme-label {
                                            margin-top: 2px;
                                            margin-left: 5px;

                                            &:first-child {
                                                margin-left: 0;
                                            }
                                        }
                                    }
                                }

                                .comment-body {
                                    margin-bottom: 40px;
                                    text-align: justify;

                                    p {
                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        img {
                                            max-width: 100%;
                                            @include inline-block();
                                        }
                                    }
                                }

                                .comment-footer {
                                    @include clearfix();

                                    .comment-actions {
                                        margin-bottom: 0;
                                        font-size: 12px;
                                        @include clearfix();
                                        @include inline-block();

                                        &.admin {
                                            margin-top: 10px;
                                        }

                                        .comment-action {
                                            float: left;
                                            margin-right: 20px;
                                            @media (max-width: 767px) {
                                                float: none;
                                                margin-right: 0;
                                                margin-bottom: 5px;
                                                margin-left: 20px;
                                                @include inline-block();
                                            }

                                            &:last-child {
                                                margin-right: 0;
                                            }

                                            a {
                                                @include transition(.3s);

                                                &:hover {
                                                    span {
                                                        color: $color_6;
                                                    }
                                                }

                                                span {
                                                    color: $color_55;
                                                    @include transition(.3s);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .last-comments-from-sections {
                            margin-top: 40px;
                            padding: 20px;
                            background-color: $color_59;

                            .comments {
                                h5 {
                                    margin-top: 0;
                                    margin-bottom: 25px;
                                }

                                ul {
                                    margin-bottom: 0;

                                    li {
                                        margin-bottom: 15px;
                                        display: block;
                                        @include clearfix();

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        @media (max-width: 767px) {
                                            line-height: 2em;
                                        }

                                        a, span {
                                            float: left;
                                            margin-right: 10px;
                                            @include inline-block();
                                        }

                                        .main-details {
                                            float: left;
                                            margin-right: 10px;
                                            @include clearfix();
                                            @include inline-block();

                                            .profile-name {
                                                color: $color_55;
                                            }

                                            .photo-wrapper {
                                                width: 25px;
                                                height: 25px;
                                                float: left;
                                                margin-top: -3px;
                                                @include inline-block();
                                                @media (max-width: 767px) {
                                                    margin-top: 0;
                                                    margin-right: 0;
                                                }
                                            }
                                        }

                                        .comments-counter {
                                            color: $color_55;
                                        }
                                    }
                                }
                            }

                            .btn-add-own-fotopis {
                                font-size: 12px;
                                text-transform: uppercase;
                                padding: 12px 15px;
                                color: $color_56;

                                &:hover {
                                    color: $color_2;
                                }

                                @media (max-width: 767px) {
                                    margin-top: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
