<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bazar - view ad</title>

    <link rel="icon" href="../favicon.ico">

    <% include ./env/production.ejs %>
</head>
<body class="camera-item-view-page">
<% include ./includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ./includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ./includes/menu_mobile.ejs %>
    </header>
    <div class="product-item section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="item-wrapper">
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                                    <div class="item-image">
                                        <div class="main-photo-viewer">
                                            <div class="item-photo-slider flexslider">
                                                <ul class="slides">
                                                    <li class="slide-item">
                                                        <div class="slide-photo">
                                                            <div class="row-thumb-photos">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo">
                                                                        <div class="thumb-photo"
                                                                             style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                                                            Ivan ivanov
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="slide-item">
                                                        <div class="slide-photo">
                                                            <div class="row-thumb-photos">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo">
                                                                        <div class="thumb-photo"
                                                                             style="background-image: url('http://www.legalstaffsd.com/wp-content/uploads/2017/12/Nikon-3400D-review.jpg')">
                                                                            Ivan ivanov
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="slide-item">
                                                        <div class="slide-photo">
                                                            <div class="row-thumb-photos">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo">
                                                                        <div class="thumb-photo"
                                                                             style="background-image: url('https://assets.catawiki.nl/assets/2018/1/30/0/0/0/000dd5de-fa77-40e7-bd70-00ff1b2777c5.jpg')">
                                                                            Ivan ivanov
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="slide-item">
                                                        <div class="slide-photo">
                                                            <div class="row-thumb-photos">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo">
                                                                        <div class="thumb-photo"
                                                                             style="background-image: url('https://media.the-digital-picture.com/Images/Other/Tokina-11-16mm-f-2.8-AT-X-Pro-DX-II-Lens/Tokina-11-16mm-f-2.8-AT-X-Pro-DX-II-Lens-Angle-View.jpg')">
                                                                            Ivan ivanov
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="slide-item">
                                                        <div class="slide-photo">
                                                            <div class="row-thumb-photos">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo">
                                                                        <div class="thumb-photo"
                                                                             style="background-image: url('https://www.imaging-resource.com/PRODS/canon-eos-m100/ZPR-CANON-EOS-M100-FLASH.JPG')">
                                                                            Ivan ivanov
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
                                    <div class="item-caption">
                                        <div class="caption">
                                            <div class="caption-header">
                                                <h4 class="heading">
                                                    <a href="#">Nikon D850</a>
                                                </h4>
                                                <ul class="item-details">
                                                    <li class="item-detail">
                                                        <span>Резолюция:</span>
                                                        <a href="#">12 Megapixels</a>
                                                    </li>
                                                    <li class="item-detail">
                                                        <span>Тип:</span>
                                                        <a href="#">DSLR</a>
                                                    </li>
                                                    <li class="item-detail">
                                                        <span>Сензор:</span>
                                                        <a href="#">Full frame</a>
                                                    </li>
                                                    <li class="item-detail">
                                                        <span>Размер на сензора:</span>
                                                        <a href="#">35.9 mm x 23.9 mm</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="caption-footer">
                                                <div class="ad-buttons">
                                                    <a href="/" class="btn btn-md btn-block btn-primary btn-item-price">
                                                        <span class="text">Виж цената във photocamera.bg</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="bazar-related-products">
                        <h4 class="block-title">Свързани обяви в базар</h4>
                        <ul class="related-products">
                            <li class="bazar-products">
                                <a href="#" class="product-title">Продавам Nikon D600 Nikon 85mm f1.8G Nikon 50mm f1.8G
                                    Tamron 28-75 f2.8</a>
                                <p class="product-description">Апаратът е в много добро техническо състояние, с някои
                                    следи от употреба по повърхността.</p>
                            </li>
                            <li class="bazar-products">
                                <a href="#" class="product-title">Nikon D5200 + AF-S 18-55 DX VR</a>
                                <p class="product-description">Продавам обектив Nikon AF-S Nikkor 24-120mm f/4 G ED VR,
                                    закупен от Англия, със сенник, предна и задна капачка, без кутия и без гаранция.</p>
                            </li>
                            <li class="bazar-products">
                                <a href="#" class="product-title">Nikon D7000 + Обектив AF-S DX Nikkor 16-85mm
                                    f/3.5-5.6G ED VR</a>
                                <p class="product-description">Обектива е в не добър външен вид,доста използван,изтрити
                                    са част от надписите,с удар на резбата за филтри,петно отвътре на предната
                                    леща</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="full-with-advertise">
                        <span>Реклама<br/>1140x135 px</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="related-products-wrapper section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="head">Свързани продукти</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="related-product">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                        Ivan ivanov
                                    </div>
                                </a>
                            </div>
                        </div>
                        <a href="#" class="related-product-name">Nikon AF-S Nikkor 85mm f/1.8G</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="related-product">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                        Ivan ivanov
                                    </div>
                                </a>
                            </div>
                        </div>
                        <a href="#" class="related-product-name">Nikon AF-S Nikkor 85mm f/1.8G</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="related-product">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                        Ivan ivanov
                                    </div>
                                </a>
                            </div>
                        </div>
                        <a href="#" class="related-product-name">Nikon AF-S Nikkor 85mm f/1.8G</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="related-product">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                        Ivan ivanov
                                    </div>
                                </a>
                            </div>
                        </div>
                        <a href="#" class="related-product-name">Nikon AF-S Nikkor 85mm f/1.8G</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="authors-shooting-with-this section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="head">Автори снимащи с тази техника</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="author-with-this">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/photo_05.jpeg')">Ivan ivanov
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="profile-details">
                            <div class="main-details">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo"
                                       style="background-image: url('../images/backgrounds/profile_header_background.jpg')">
                                        <span class="text">Христофор Герасимов Господинов</span>
                                    </a>
                                </div>
                                <div class="user-details">
                                    <div class="profile-name-and-status">
                                        <a href="#" class="profile-name">Христофор Господинов</a>
                                        <a href="#" class="nickname">hrisgos</a>
                                    </div>
                                    <a href="#" class="more-from">Виж още от автора</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="author-with-this">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/photo_05.jpeg')">Ivan ivanov
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="profile-details">
                            <div class="main-details">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo"
                                       style="background-image: url('../images/backgrounds/profile_header_background.jpg')">
                                        <span class="text">Христофор Герасимов Господинов</span>
                                    </a>
                                </div>
                                <div class="user-details">
                                    <div class="profile-name-and-status">
                                        <a href="#" class="profile-name">Христофор Господинов</a>
                                        <a href="#" class="nickname">hrisgos</a>
                                    </div>
                                    <a href="#" class="more-from">Виж още от автора</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="author-with-this">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/photo_05.jpeg')">Ivan ivanov
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="profile-details">
                            <div class="main-details">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo"
                                       style="background-image: url('../images/backgrounds/profile_header_background.jpg')">
                                        <span class="text">Христофор Герасимов Господинов</span>
                                    </a>
                                </div>
                                <div class="user-details">
                                    <div class="profile-name-and-status">
                                        <a href="#" class="profile-name">Христофор Господинов</a>
                                        <a href="#" class="nickname">hrisgos</a>
                                    </div>
                                    <a href="#" class="more-from">Виж още от автора</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="author-with-this">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/photo_05.jpeg')">Ivan ivanov
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="profile-details">
                            <div class="main-details">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo"
                                       style="background-image: url('../images/backgrounds/profile_header_background.jpg')">
                                        <span class="text">Христофор Герасимов Господинов</span>
                                    </a>
                                </div>
                                <div class="user-details">
                                    <div class="profile-name-and-status">
                                        <a href="#" class="profile-name">Христофор Господинов</a>
                                        <a href="#" class="nickname">hrisgos</a>
                                    </div>
                                    <a href="#" class="more-from">Виж още от автора</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="photos-shooting-with-this section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="head">Снимки направени с тази техника</h2>
                </div>
            </div>
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#latest-photos" data-toggle="tab">Последни</a>
                                </li>
                                <li>
                                    <a href="#editors-choice" data-toggle="tab">Избор на редактора</a>
                                </li>
                                <li>
                                    <a href="#top-100" data-toggle="tab">ТОП 100</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="latest-photos">
                                    <div class="photos">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <ul class="badges-list">
                                                            <li class="badge-item new">
                                                                <span class="text">ново</span>
                                                            </li>
                                                        </ul>
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="nickname-pad hidden-xs hidden-sm">
                                                            <a href="/@chukov" class="nickname">
                                                                <span>&copy;</span>
                                                                <span>chukov</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="nickname-pad hidden-xs hidden-sm">
                                                            <a href="/@chukov" class="nickname">
                                                                <span>&copy;</span>
                                                                <span>chukov</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="nickname-pad hidden-xs hidden-sm">
                                                            <a href="/@chukov" class="nickname">
                                                                <span>&copy;</span>
                                                                <span>chukov</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="nickname-pad hidden-xs hidden-sm">
                                                            <a href="/@chukov" class="nickname">
                                                                <span>&copy;</span>
                                                                <span>chukov</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <ul class="badges-list">
                                                            <li class="badge-item new">
                                                                <span class="text">ново</span>
                                                            </li>
                                                        </ul>
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="nickname-pad hidden-xs hidden-sm">
                                                            <a href="/@chukov" class="nickname">
                                                                <span>&copy;</span>
                                                                <span>chukov</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="nickname-pad hidden-xs hidden-sm">
                                                            <a href="/@chukov" class="nickname">
                                                                <span>&copy;</span>
                                                                <span>chukov</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="nickname-pad hidden-xs hidden-sm">
                                                            <a href="/@chukov" class="nickname">
                                                                <span>&copy;</span>
                                                                <span>chukov</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="nickname-pad hidden-xs hidden-sm">
                                                            <a href="/@chukov" class="nickname">
                                                                <span>&copy;</span>
                                                                <span>chukov</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <ul class="badges-list">
                                                            <li class="badge-item new">
                                                                <span class="text">ново</span>
                                                            </li>
                                                        </ul>
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="nickname-pad hidden-xs hidden-sm">
                                                            <a href="/@chukov" class="nickname">
                                                                <span>&copy;</span>
                                                                <span>chukov</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="nickname-pad hidden-xs hidden-sm">
                                                            <a href="/@chukov" class="nickname">
                                                                <span>&copy;</span>
                                                                <span>chukov</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="nickname-pad hidden-xs hidden-sm">
                                                            <a href="/@chukov" class="nickname">
                                                                <span>&copy;</span>
                                                                <span>chukov</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" data-toggle="modal" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <div class="nickname-pad hidden-xs hidden-sm">
                                                            <a href="/@chukov" class="nickname">
                                                                <span>&copy;</span>
                                                                <span>chukov</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-offset-3 col-xs-6 col-lg-offset-5 col-lg-2">
                                                <button class="btn btn-bordered btn-block btn-load-more">
                                                    <span class="text">Още снимки</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="editors-choice">
                                    <p>Editor's choice</p>
                                </div>
                                <div class="tab-pane fade in" id="top-100">
                                    <p>TOP 100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <% include ./includes/add_comment.ejs %>
            </div>
        </div>
    </div>
</div>
<% include ./includes/footer.ejs %>
</body>
</html>
