<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Forgotten Password</title>

    <link rel="icon" href="favicon.ico">

    <% include ./env/production.ejs %>
</head>
<body class="forgotten-password-page">
<% include includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <header class="content-header">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>Забравена парола</h1>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="content-body">
                    <div class="col-lg-offset-4 col-lg-4">
                        <p>Попълнете формата и ще получите нова парола за вход в системата на имейла, с който сте
                            регистрирани.</p>
                        <div class="form-wrap">
                            <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="forgotten-password-email">Имейл</label>
                                            <input type="email" id="forgotten-password-email"
                                                   name="forgotten-password-email" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button
                                            class="btn btn-success btn-block btn-custom btn-md btn-action btn-loading">
                                            <span class="btn-content-wrapper">
                                                <span class="icon">
                                                    <i class="fa fa-spinner fa-spin spinner"></i>
                                                </span>
                                                <span class="text">Изпрати</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
