<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Форум фест</title>

    <link rel="icon" href="./favicon.ico">

    <% include ./env/production.ejs %>
</head>
<body class="forum-fest-page">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ./includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ./includes/menu_mobile.ejs %>
    </header>
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="news-content-tools">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <ul class="share-tools">
                                    <li>facebook</li>
                                    <li>google+</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="section-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="news-item">
                                <div class="news-content">
                                    <h1 class="news-title">Конференция "Digital Biblio Technologies" - съвременни
                                        издателски технологии</h1>
                                    <div class="news-info">
                                        <div class="date">преди 1 ден</div>
                                        <div class="separator">/</div>
                                        <div class="comments">коментари: 12</div>
                                    </div>
                                    <div class="partner-banner">
                                        <img src="images/fest.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="fest-menu-wrapper">
                            <ul class="fest-menu">
                                <li class="menu-item">
                                    <a href="#fest-about" class="menu-element">За конференцията</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#fest-registration" class="menu-element">Регистрация</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#fest-program" class="menu-element">Програма</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#fest-lecturers" class="menu-element">Лектори</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#fest-partners" class="menu-element">Партньори</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#fest-contacts" class="menu-element">Контакти</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrapper" id="fest-about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content-block">
                                <p>Книгите и електронното публикуване са интересни и важни за теб.</p>
                                <p>Автор си и искаш да издадеш сам първата си електронна книга.</p>
                                <p>Интересуваш се от състоянието на пазара на електронни книги в България.</p>
                                <p>здател си и имаш нужда от допълнителна информация относно бъдещото предлагане на твои
                                    е-книги в български платформи.</p>
                                <p>Какви са съвременните формати за електронни книги. Новости при технологиите за
                                    електронно публикуване и защита.</p>
                                <p>Бъдещите тенденции в електронното издаване - добри практики и съвети за по-добро
                                    позициониране на твоите издания.</p>
                                <p>Водещи специалисти от бранша ще дадът отговорите на тези и други въпроси.</p>
                            </div>
                            <div class="content-block">
                                <h6>Цели на конференцията</h6>
                                <p>Целта на конференцията е да представи опита и вижданията на водещи специалисти по
                                    електронно публикуване и издателски технологии, блогъри, да бъде място за споделяне
                                    на идеи, добри практики, информация и виждания за развитие на пазара, публикуването
                                    и технологиите. Да спомогне за по-добрата информираност на работещите в бранша и
                                    навлизащите в него, както и да бъде форум за публичност за иновативни или доказани
                                    бизнес модели. Ще чуем от първо лице опита на специалисти с дългогодишен опит в
                                    издателския бизнес, блогъри и журналисти, интернет специалисти и онлайн
                                    предприемачи.</p>
                                <p><strong>Digital Biblio Technologies</strong> е място за установяване на контакт между
                                    издателския и технологичния сектор, място за среща на идеи между професионалисти
                                    работещи със съдържанието и тези работещи с нови технологии. Форума цели подпомагане
                                    създаването на нови партньорства и бизнес модели.</p>
                            </div>
                            <div class="content-block">
                                <h6>Част от темите, които ще бъдат представени по време на събитието:</h6>
                                <p>Новости при е-книгите, е-списанията, самопубликуването.</p>
                                <p>Онлайн търговията с книги.</p>
                                <p>Блогърството и книгите.</p>
                                <p>Книгите в социалните мрежи - как социалните медии трансформират книгите.</p>
                                <p>Книгоиздаването като иновативен бизнес.</p>
                                <p>Центровете за книгата по света и у нас.</p>
                                <p>Как да стигнем до публиката - finding and building an audience.</p>
                                <p>Ролята на SEO в сферата на книгоиздаването.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrapper fest-registration" id="fest-registration">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="head">Регистрация</h2>
                            <div class="content-block">
                                <p>За участие в конференцията е нужна предварителна регистрация.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-wrap">
                                <form role="form" action="javascript:;" method="post" id="fest-registration-form"
                                      autocomplete="off">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="fest-register-name">Вашето име *</label>
                                                <input type="text" id="fest-register-name" name="fest-register-name"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="fest-participants-count">Брой участници *</label>
                                                <input type="number" id="fest-participants-count"
                                                       name="fest-participants-count" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="fest-register-email">Имейл адрес *</label>
                                                <input type="email" id="fest-register-email" name="fest-register-email"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="fest-register-phone-number">Телефон за връзка *</label>
                                                <input type="text" id="fest-register-phone-number"
                                                       name="fest-register-phone-number" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group checkbox custom-checkbox has-error">
                                                <div class="checkbox-field-wrapper">
                                                    <span class="character-checkbox"></span>
                                                    <span class="label">Съгласен съм името, фирмата и email адреса ми да бъдат споделяни с другите участници с цел нетуъркинг след събитието.</span>
                                                </div>
                                                <div class="error-message">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Съобщение за грешка</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button class="btn btn-success btn-md btn-block btn-custom">Изпрати
                                                заявката
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="content-block">
                                <p>Такса за 1 участник <b>55лв.</b> без ДДС.</p>
                                <p>Такса за студенти <b>15лв.</b> Студентите трябва да могат да покажат валидна
                                    студентска книжка за вход.</p>
                            </div>
                            <div class="content-block">
                                <h6>Метод на плащане</h6>
                                <p>Регистрационната такса се заплаща преди датата на събитието в офиса на Библио.бг или
                                    чрез банков превод в полза на:</p>
                            </div>
                            <div class="content-block">
                                <h6>За фактура с ДДС - 66 лв с ДДС на:</h6>
                                <p>Фото медия ЕООД</p>
                                <p>Адрес: София, ул. Пет могили 1</p>
                                <p>BIC: FINVBGSF</p>
                                <p>IBAN: BG25FINV915010BGN0C6DW</p>
                            </div>
                            <div class="content-block">
                                <h6>За опростена фактура - 55 лв на:</h6>
                                <p>Симетро.ком ЕООД</p>
                                <p>Адрес: София, ул. Пет могили 1</p>
                                <p>BIC: FINVBGSF</p>
                                <p>IBAN: BG07FINV91501015981201</p>
                            </div>
                            <div class="content-block">
                                <p>Забележки</p>
                                <p>Ако сте платили таксата за участие и нямате възможност да присъствате, можем да ви
                                    възстановим 50% от сумата само при писмен отказ от ваша страна, получен не по-късно
                                    от 3 дни преди събитието. След този срок няма да бъдат възстановявани такси за
                                    участие.</p>
                                <p>Всички, които са дали съгласие данните им да бъдат използвани за нетуъркинг след
                                    събитието, ще получат контактите и на останалите участници в конференцията, които са
                                    дали изрично съгласие за това.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrapper fest-program" id="fest-program">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="head">Програма</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p><b>9:00 – 9:30 Регистрация и кафе</b></p>
                            <p><b>9:30 - 9:40 Откриване</b><br/>
                                Александър Петров, част от екипа на Библио.бг ще направи кратко представяне на целите на
                                Конференцията и предстоящите лекции.</p>
                            <p><b>9:40 - 10:10 Актуално състояние на пазара на електронни книги в България - тенденции
                                    от 2014-2015 г., потребители, статистика.</b><br/>
                                Мая Манчева ще синтезира опита и наблюденията над потребителите за изминалата година. Ще
                                ви запознае с актуално състояние на пазара на електронни книги в България - тенденции,
                                потребители, навици.</p>
                            <p><b>10:10 - 10:20 Време за въпроси</b></p>
                            <p><b>10:20 - 11:00 Книгоиздаването като иновативен бизнес</b><br/>
                                Жаклин Вагенщайн ще говори за последните новости в бранша в световен мащаб и какво се
                                случва в България от гледна точка на технологични, бизнес иновации и цялостен напредък.
                                Книгоиздаването е модерно, печелившо и неизменна част от технологичната и дигиталната
                                революция на 21 ви век.</p>
                            <p><b>11:00 - 11:05 Проучване на PocketBook за електронното четене в България</b><br>
                                Галин Бородинов ще анонсира старта на изследването, което ще се проведе в две форми – с
                                лични интервюта сред гостите на форума и онлайн на Biblio.bg от 14 май до 11 юни 2015г.
                            </p>
                            <p><b>11:05 – 11:20 Кафе пауза</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrapper fest-lecturers" id="fest-lecturers">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="head">Лектори</h2>
                        </div>
                    </div>
                    <div class="fest-lecturer">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="photo-lecturer">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo"
                                               style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                <span class="text">Петър Митев</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="lecturer-details">
                                    <h4 class="lecturer-name">Николай Алексиев</h4>
                                    <h5 class="lecturer-role">Организатор и създател на Библио.бг</h5>
                                    <div class="lecturer-bio">
                                        <p>Александър Петров е един от водещите специалисти в областта на електронното
                                            издаване на книги в България. Лектор по теми за електронни книги и
                                            предприемачество пред студенти и на специализирани форуми в страната.</p>
                                        <p>Завършил Магистър от ТУ-София по компютърни системи. Занимава се с WEB от
                                            1999 г. и участва в създаването на някои от първите БГ сайтове. Част е от
                                            екипа и консултант на няколко успешни уеб проекта. С опит в управление на
                                            технически инфраструктурни проекти от международни корпорации.</p>
                                        <p>Притежава дългогодишен опит с издателския бизнес и познава отблизо бранша и
                                            участниците в него. През 2011 г. е от създателите на първият български
                                            специализиран сайт за електронни книги и списания – Biblio.bg. Работи
                                            активно за по-бързото навлизане на новите технологиите в издателския бизнес
                                            и образованието. От 2012 г. създава първата българска платформа за
                                            електронно самопубликуване на електронни книги и текстове Libro.bg. Поддържа
                                            активна връзка с водещи световни фирми от книгиразпространителския бранш и
                                            участва в дискусионни групи.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fest-lecturer">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="photo-lecturer">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo"
                                               style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                <span class="text">Петър Митев</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="lecturer-details">
                                    <h4 class="lecturer-name">Петър Попов</h4>
                                    <h5 class="lecturer-role">Организатор</h5>
                                    <div class="lecturer-bio">
                                        <p>Попов е един от водещите специалисти в областта на електронното издаване на
                                            книги в България. Лектор по теми за електронни книги и предприемачество пред
                                            студенти и на специализирани форуми в страната.</p>
                                        <p>Притежава дългогодишен опит с издателския бизнес и познава отблизо бранша и
                                            участниците в него. През 2011 г. е от създателите на първият български
                                            специализиран сайт за електронни книги и списания – Biblio.bg. Работи
                                            активно за по-бързото навлизане на новите технологиите в издателския бизнес
                                            и образованието. От 2012 г. създава първата българска платформа за
                                            електронно самопубликуване на електронни книги и текстове Libro.bg. Поддържа
                                            активна връзка с водещи световни фирми от книгиразпространителския бранш и
                                            участва в дискусионни групи.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrapper fest-partners" id="fest-partners">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="head">Медийни партньори</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img src="images/fest_partners.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrapper fest-contacts" id="fest-contacts">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="head">Връзка с нас</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="content-block">
                                <p>Конференция Digital Biblio Technologies 2014</p>
                                <p>Библио.бг</p>
                                <p>ул. 13-ти март №12</p>
                                <p>София, 1142</p>
                                <p>тел. 0888 253223</p>
                                <p>office@biblio.bg</p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="fest-map">
                                <img src="images/fest_map.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./includes/footer.ejs %>
</body>
</html>
