<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Profile</title>

    <link rel="icon" href="favicon.ico">

    <% include ./env/production.ejs %>
</head>
<body class="gallery-page">
<header class="top-header">
    <div class="container-fluid">
        <div class="row">
            <% include includes/desktop_top_header_logged.ejs %>
        </div>
    </div>
    <% include includes/menu_mobile.ejs %>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="gallery-wrapper">
                <div class="panel with-nav-tabs panel-default">
                    <div class="container-wrapper">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#rating-a" data-toggle="tab">Рейтинг А</a></li>
                                <li><a href="#rating-b" data-toggle="tab">Рейтинг Б</a></li>
                                <li><a href="#authors" data-toggle="tab">Автори</a></li>
                                <li><a href="#authors-top-100" data-toggle="tab">Автори ТОП 100</a></li>
                                <li><a href="#useful-comments" data-toggle="tab">Полезни коментари</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="rating-a">
                                    <div class="photos">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <div class="badges-list">
                                                            <ul class="won-badges">
                                                                <li class="badge-item diamond">
                                                                    <i class="icon"></i>
                                                                </li>
                                                                <li class="badge-item gold-cup">
                                                                    <i class="icon"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="photo-stats-info">
                                                            <li class="views">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span class="text">548/433</span>
                                                            </li>
                                                            <li class="comments">
                                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                                <span class="text">1,359</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <div class="badges-list">
                                                            <ul class="won-badges">
                                                                <li class="badge-item diamond">
                                                                    <i class="icon"></i>
                                                                </li>
                                                                <li class="badge-item gold-cup">
                                                                    <i class="icon"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="photo-stats-info">
                                                            <li class="views">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span class="text">548/433</span>
                                                            </li>
                                                            <li class="comments">
                                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                                <span class="text">1,359</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <div class="badges-list">
                                                            <ul class="won-badges">
                                                                <li class="badge-item diamond">
                                                                    <i class="icon"></i>
                                                                </li>
                                                                <li class="badge-item gold-cup">
                                                                    <i class="icon"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="photo-stats-info">
                                                            <li class="views">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span class="text">548/433</span>
                                                            </li>
                                                            <li class="comments">
                                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                                <span class="text">1,359</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <div class="badges-list">
                                                            <ul class="won-badges">
                                                                <li class="badge-item diamond">
                                                                    <i class="icon"></i>
                                                                </li>
                                                                <li class="badge-item gold-cup">
                                                                    <i class="icon"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="photo-stats-info">
                                                            <li class="views">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span class="text">548/433</span>
                                                            </li>
                                                            <li class="comments">
                                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                                <span class="text">1,359</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <div class="badges-list">
                                                            <ul class="won-badges">
                                                                <li class="badge-item diamond">
                                                                    <i class="icon"></i>
                                                                </li>
                                                                <li class="badge-item gold-cup">
                                                                    <i class="icon"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="photo-stats-info">
                                                            <li class="views">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span class="text">548/433</span>
                                                            </li>
                                                            <li class="comments">
                                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                                <span class="text">1,359</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <div class="badges-list">
                                                            <ul class="won-badges">
                                                                <li class="badge-item diamond">
                                                                    <i class="icon"></i>
                                                                </li>
                                                                <li class="badge-item gold-cup">
                                                                    <i class="icon"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="photo-stats-info">
                                                            <li class="views">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span class="text">548/433</span>
                                                            </li>
                                                            <li class="comments">
                                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                                <span class="text">1,359</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <div class="badges-list">
                                                            <ul class="won-badges">
                                                                <li class="badge-item diamond">
                                                                    <i class="icon"></i>
                                                                </li>
                                                                <li class="badge-item gold-cup">
                                                                    <i class="icon"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="photo-stats-info">
                                                            <li class="views">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span class="text">548/433</span>
                                                            </li>
                                                            <li class="comments">
                                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                                <span class="text">1,359</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <div class="badges-list">
                                                            <ul class="won-badges">
                                                                <li class="badge-item diamond">
                                                                    <i class="icon"></i>
                                                                </li>
                                                                <li class="badge-item gold-cup">
                                                                    <i class="icon"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="photo-stats-info">
                                                            <li class="views">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span class="text">548/433</span>
                                                            </li>
                                                            <li class="comments">
                                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                                <span class="text">1,359</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <div class="badges-list">
                                                            <ul class="won-badges">
                                                                <li class="badge-item diamond">
                                                                    <i class="icon"></i>
                                                                </li>
                                                                <li class="badge-item gold-cup">
                                                                    <i class="icon"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="photo-stats-info">
                                                            <li class="views">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span class="text">548/433</span>
                                                            </li>
                                                            <li class="comments">
                                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                                <span class="text">1,359</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <div class="badges-list">
                                                            <ul class="won-badges">
                                                                <li class="badge-item diamond">
                                                                    <i class="icon"></i>
                                                                </li>
                                                                <li class="badge-item gold-cup">
                                                                    <i class="icon"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="photo-stats-info">
                                                            <li class="views">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span class="text">548/433</span>
                                                            </li>
                                                            <li class="comments">
                                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                                <span class="text">1,359</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <div class="badges-list">
                                                            <ul class="won-badges">
                                                                <li class="badge-item diamond">
                                                                    <i class="icon"></i>
                                                                </li>
                                                                <li class="badge-item gold-cup">
                                                                    <i class="icon"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="photo-stats-info">
                                                            <li class="views">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span class="text">548/433</span>
                                                            </li>
                                                            <li class="comments">
                                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                                <span class="text">1,359</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <div class="badges-list">
                                                            <ul class="won-badges">
                                                                <li class="badge-item diamond">
                                                                    <i class="icon"></i>
                                                                </li>
                                                                <li class="badge-item gold-cup">
                                                                    <i class="icon"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" data-toggle="modal" data-target="#photoPreview"
                                                           class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                Ivan ivanov
                                                            </div>
                                                        </a>
                                                        <ul class="photo-stats-info">
                                                            <li class="views">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span class="text">548/433</span>
                                                            </li>
                                                            <li class="comments">
                                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                                <span class="text">1,359</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% include includes/pagination.ejs %>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="full-with-advertise">
                                                <span>Реклама<br/>1140x135 px</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="rating-b">2</div>
                                <div class="tab-pane fade" id="authors">3</div>
                                <div class="tab-pane fade" id="authors-top-100">4</div>
                                <div class="tab-pane fade" id="useful-comments">5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
