<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>

    <link rel="icon" href="favicon.ico">

    <% include ./env/production.ejs %>
</head>
<body class="home-page">
<% include includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include includes/menu_mobile.ejs %>
    </header>
    <div class="main-header" style="background-image: url('images/backgrounds/home_header_background.jpg')">
        <footer class="bottom-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="photo-author">
                            <span class="copyright-sign">&copy;</span>
                            <span class="name">Атанас Чулев</span>
                            <span class="separator">/</span>
                            <span class="nickname">chulev</span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="arrow-down-wrapper">
                            <!--<i class="fa fa-long-arrow-down" aria-hidden="true"></i>-->
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 20.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <style type="text/css">.st0 {
                                    fill: #c9c9c9;
                                }</style>
                                <path class="st0" d="M387.7,267.6c5.4-5.4,5.4-14,0-19.5c-5.3-5.4-14-5.4-19.3,0l-98.8,98.6V20.9c0-7.6-6-13.8-13.6-13.8
                c-7.6,0-13.8,6.2-13.8,13.8v325.8l-98.6-98.6c-5.4-5.4-14.2-5.4-19.5,0c-5.4,5.4-5.4,14,0,19.5l122.2,122.2c5.3,5.3,14,5.3,19.5,0
                L387.7,267.6z"/>
            </svg>

                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <span class="more-photos-of-the-day">Още снимки на деня</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="container">
        <div class="editor-photos-choice section-wrapper">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="head">Избор на редактора</h2>
                    <div class="editor-of-the-month main-details">
                        <div class="photo-wrapper editor-profile-photo">
                            <a href="#" class="photo"
                               style="background-image: url('../images/photos/editor_of_the_month.png')">
                                <span class="text">Христофор Герасимов Господинов</span>
                            </a>
                        </div>
                        <span class="text">Редактор за <span class="editor-for">октомври</span></span>
                        <a href="#" class="editor-name">Виктор Стоянов</a>
                    </div>
                </div>
            </div>
            <div class="photos-list">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="full-with-advertise">
                        <span>Реклама<br/>1140x135 px</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="rating-b-24h section-wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="head">Рейтинг Б за 24 часа</h2>
                </div>
            </div>
            <div class="photos-list">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary btn-md btn-photo-all">
                        <span class="text">Всичко от Рейтинг Б</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="upcoming-event section-wrapper">
            <div class="row">
                <div class="col-lg-5">
                    <a href="#/" class="event-photo">
                        <img src="../images/photos/event.jpg" alt="" class="event-photo">
                    </a>
                </div>
                <div class="col-lg-7">
                    <div class="event-content">
                        <h2 class="event-title">
                            <a href="#/">Юбилеен 10-ти Фото Форум Фест '2017</a>
                        </h2>
                        <div class="event-text">
                            <p>Каним всички вас на юбилейния 10-ти Фото Форум Фест '2017</p>
                            <p>Той ще се проведе през периода 2-5 ноември 2017 г. в Етнографски комплекс Златоград
                                http://eac-zlatograd.com</p>
                            <p>Традиционно Фото Форум Фест има предимно образователен характер. Работим по програмата и
                                следващите дни постоянно ще я допълваме и
                                обновяваме...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="full-with-advertise">
                        <span>Реклама<br/>1140x135 px</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="seminars-and-courses">
                        <h2 class="head">Семинари и Курсове</h2>
                        <ul>
                            <li>
                                <a href="#/">Каним всички вас на юбилейния 10-ти Фото Форум Фест '2017</a>
                                <span class="date">21 окт 17</span>
                            </li>
                            <li>
                                <a href="#/">Фотогалерия: Зелените модели на софийския автосалон</a>
                                <span class="date">21 окт 17</span>
                            </li>
                            <li>
                                <a href="#/">Фотогалерия: Кризата с френското масло</a>
                                <span class="date">21 окт 17</span>
                            </li>
                            <li>
                                <a href="#/">Уъркшоп "Фотография с помощта на компактни фото светкавици" безплатен уъркшоп
                                    от Canon</a>
                                <span class="date">21 окт 17</span>
                            </li>
                            <li>
                                <a href="#/">Фотогалерия: Кризата с френското масло</a>
                                <span class="date">21 окт 17</span>
                            </li>
                            <li>
                                <a href="#/">Уъркшоп "Фотография с помощта на компактни фото светкавици" безплатен уъркшоп
                                    от Canon
                                </a>
                                <span class="date">21 окт 17</span>
                            </li>
                        </ul>
                        <button class="btn btn-bordered">Повече</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="theme-of-the-month">
                        <h2 class="head">Тема на месеца</h2>
                        <h3 class="theme-title">"Зимна приказка в планината”</h3>
                        <img src="../images/photos/theme-of-the-month.jpg" alt="">
                        <button class="btn btn-bordered">Повече</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-authors section-wrapper">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="head">Нашите автори</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="photo-author">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="main-details">
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo"
                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                            <span class="text">Христофор Герасимов Господинов</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <a href="#/">
                                    <span class="author-name">Весела Ангелова</span>
                                    <span class="author-nickname">wessi</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="photo-author">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="main-details">
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo"
                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                            <span class="text">Христофор Герасимов Господинов</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <a href="#/">
                                    <span class="author-name">Весела Ангелова</span>
                                    <span class="author-nickname">wessi</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="photo-author">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="main-details">
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo"
                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                            <span class="text">Христофор Герасимов Господинов</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <a href="#/">
                                    <span class="author-name">Весела Ангелова</span>
                                    <span class="author-nickname">wessi</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="photo-author">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="main-details">
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo"
                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                            <span class="text">Христофор Герасимов Господинов</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <a href="#/">
                                    <span class="author-name">Весела Ангелова</span>
                                    <span class="author-nickname">wessi</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="photo-author">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="main-details">
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo"
                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                            <span class="text">Христофор Герасимов Господинов</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <a href="#/">
                                    <span class="author-name">Весела Ангелова</span>
                                    <span class="author-nickname">wessi</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="photo-author">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="main-details">
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo"
                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                            <span class="text">Христофор Герасимов Господинов</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <a href="#/">
                                    <span class="author-name">Весела Ангелова</span>
                                    <span class="author-nickname">wessi</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="photo-author">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="main-details">
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo"
                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                            <span class="text">Христофор Герасимов Господинов</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <a href="#/">
                                    <span class="author-name">Весела Ангелова</span>
                                    <span class="author-nickname">wessi</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="photo-author">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="main-details">
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo"
                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                            <span class="text">Христофор Герасимов Господинов</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <a href="#/">
                                    <span class="author-name">Весела Ангелова</span>
                                    <span class="author-nickname">wessi</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-primary btn-md">
                        <span class="text">Всички автори</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="news section-wrapper">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="head">Новини</h2>
                </div>
            </div>
            <div class="news-list">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="news-item">
                            <div class="row">
                                <div class="col-lg-4">
                                    <a href="#/" class="news-photo">
                                        <img src="../images/photos/news.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-8">
                                    <div class="news-content">
                                        <h3 class="news-title">
                                            <a href="#/">Конкурсът на Canon за лятна снимка с история е с награда
                                                пътешествие</a>
                                        </h3>
                                        <span class="date">9 окт 17</span>
                                        <p class="content">На 5 септември в градинката пред Народния театър Иван Вазов
                                            официално открихме изложбата по </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="row">
                                <div class="col-lg-4">
                                    <a href="#/" class="news-photo">
                                        <img src="../images/photos/news.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-8">
                                    <div class="news-content">
                                        <h3 class="news-title">
                                            <a href="#/">Конкурсът на Canon за лятна снимка с история е с награда
                                                пътешествие</a>
                                        </h3>
                                        <span class="date">9 окт 17</span>
                                        <p class="content">На 5 септември в градинката пред Народния театър Иван Вазов
                                            официално открихме изложбата по </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="news-item">
                            <div class="row">
                                <div class="col-lg-4">
                                    <a href="#/" class="news-photo">
                                        <img src="../images/photos/news.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-8">
                                    <div class="news-content">
                                        <h3 class="news-title">
                                            <a href="#/">Конкурсът на Canon за лятна снимка с история е с награда
                                                пътешествие</a>
                                        </h3>
                                        <span class="date">9 окт 17</span>
                                        <p class="content">На 5 септември в градинката пред Народния театър Иван Вазов
                                            официално открихме изложбата по </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-item">
                            <div class="row">
                                <div class="col-lg-4">
                                    <a href="#/" class="news-photo">
                                        <img src="../images/photos/news.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-lg-8">
                                    <div class="news-content">
                                        <h3 class="news-title">
                                            <a href="#/">Конкурсът на Canon за лятна снимка с история е с награда
                                                пътешествие</a>
                                        </h3>
                                        <span class="date">9 окт 17</span>
                                        <p class="content">На 5 септември в градинката пред Народния театър Иван Вазов
                                            официално открихме изложбата по </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-primary btn-md">
                            <span class="text">Всички новини</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="event-calendar section-wrapper">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="head">Календар на събития</h2>
                </div>
            </div>
            <div class="event-calendar-wrapper">
                <div class="event-photo" style="background-image: url('../images/photos/event-photo.jpg')"></div>
                <ul class="event-calendar-events-list">
                    <li class="event-calendar-event">
                        <!--DTB-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="top-50-for-the-month section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="head">топ 50 за октомври</h2>
                </div>
            </div>
            <div class="photos-list">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row-thumb-photos">
                            <div class="photo-wrapper">
                                <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                    <div class="thumb-photo"
                                         style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan ivanov
                                    </div>
                                </a>
                                <div class="nickname-pad">
                                    <a href="/@chukov" class="nickname">
                                        <span>&copy;</span>
                                        <span>chukov</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-primary btn-md">
                        <span class="text">Всичко от ТОП 50</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <footer class="top-footer section-wrapper">
        <div class="site-statistics">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Статистика</h3>
                        <div class="stats">
                            <h4>От сайта:</h4>
                            <ul>
                                <li>автори: <span>36297</span></li>
                                <li><span class="separator">|</span></li>
                                <li>регистрирани: <span>123847</span></li>
                                <li><span class="separator">|</span></li>
                                <li>снимки: <span>1132826</span> (вчера: <span>207</span>)</li>
                                <li><span class="separator">|</span></li>
                                <li>коментари: <span>13057495</span> (вчера: <span>913</span>)</li>
                            </ul>
                        </div>
                        <div class="stats">
                            <h4>От форума:</h4>
                            <ul>
                                <li>теми: <span>170787</span> (вчера: <span>8</span>)</li>
                                <li><span class="separator">|</span></li>
                                <li>мнения: <span>2521606</span> (вчера: <span>155</span>)</li>
                            </ul>
                        </div>
                        <div class="stats">
                            <h4>От базара:</h4>
                            <ul>
                                <li>Активни обяви: <span>4473</span> (вчера нови: <span>42</span>)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<% include includes/footer.ejs %>
</body>
</html>
