<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Last comments</title>

    <link rel="icon" href="favicon.ico">

    <% include ./env/production.ejs %>
</head>
<body class="last-comments-page">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <% include includes/breadcrumbs.ejs %>
                </div>
            </div>
            <div class="comments-list">
                <div class="single-comment">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="single-comment-content-wrapper">
                                <span class="single-comment-date">преди 3 дни</span>
                                <p class="single-comment-content">Добре пипнато, но много ми идват камъните, това не е
                                    каменна река. Нямаше да е лошо да изчакаш ...</p>
                                <div class="single-comment-info">
                                    <div class="photo-name-wrapper">
                                        <div class="text">Снимка:</div>
                                        <div class="photo-name">Доброто момиче от градината</div>
                                    </div>
                                    <div class="photo-commenter-wrapper">
                                        <span class="text">Коментирал:</span>
                                        <a href="#">
                                            <img src="images/photos/image4.jpg" class="commenter-photo">
                                            <span class="commenter-name">Николай Алексиев -</span>
                                            <span class="nickname">nalexiev</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-comment">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="single-comment-content-wrapper">
                                <span class="single-comment-date">преди 3 дни</span>
                                <p class="single-comment-content">Добре пипнато, но много ми идват камъните, това не е
                                    каменна река. Нямаше да е лошо да изчакаш ...</p>
                                <div class="single-comment-info">
                                    <div class="photo-name-wrapper">
                                        <div class="text">Снимка:</div>
                                        <div class="photo-name">Доброто момиче от градината</div>
                                    </div>
                                    <div class="photo-commenter-wrapper">
                                        <span class="text">Коментирал:</span>
                                        <a href="#">
                                            <img src="images/photos/image4.jpg" class="commenter-photo">
                                            <span class="commenter-name">Николай Алексиев -</span>
                                            <span class="nickname">nalexiev</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-comment">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="single-comment-content-wrapper">
                                <span class="single-comment-date">преди 3 дни</span>
                                <p class="single-comment-content">Добре пипнато, но много ми идват камъните, това не е
                                    каменна река. Нямаше да е лошо да изчакаш ...</p>
                                <div class="single-comment-info">
                                    <div class="photo-name-wrapper">
                                        <div class="text">Снимка:</div>
                                        <div class="photo-name">Доброто момиче от градината</div>
                                    </div>
                                    <div class="photo-commenter-wrapper">
                                        <span class="text">Коментирал:</span>
                                        <a href="#">
                                            <img src="images/photos/image4.jpg" class="commenter-photo">
                                            <span class="commenter-name">Николай Алексиев -</span>
                                            <span class="nickname">nalexiev</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-comment">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="single-comment-content-wrapper">
                                <span class="single-comment-date">преди 3 дни</span>
                                <p class="single-comment-content">Добре пипнато, но много ми идват камъните, това не е
                                    каменна река. Нямаше да е лошо да изчакаш ...</p>
                                <div class="single-comment-info">
                                    <div class="photo-name-wrapper">
                                        <div class="text">Снимка:</div>
                                        <div class="photo-name">Доброто момиче от градината</div>
                                    </div>
                                    <div class="photo-commenter-wrapper">
                                        <span class="text">Коментирал:</span>
                                        <a href="#">
                                            <img src="images/photos/image4.jpg" class="commenter-photo">
                                            <span class="commenter-name">Николай Алексиев -</span>
                                            <span class="nickname">nalexiev</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-comment">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="single-comment-content-wrapper">
                                <span class="single-comment-date">преди 3 дни</span>
                                <p class="single-comment-content">Добре пипнато, но много ми идват камъните, това не е
                                    каменна река. Нямаше да е лошо да изчакаш ...</p>
                                <div class="single-comment-info">
                                    <div class="photo-name-wrapper">
                                        <div class="text">Снимка:</div>
                                        <div class="photo-name">Доброто момиче от градината</div>
                                    </div>
                                    <div class="photo-commenter-wrapper">
                                        <span class="text">Коментирал:</span>
                                        <a href="#">
                                            <img src="images/photos/image4.jpg" class="commenter-photo">
                                            <span class="commenter-name">Николай Алексиев -</span>
                                            <span class="nickname">nalexiev</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-comment">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="single-comment-content-wrapper">
                                <span class="single-comment-date">преди 3 дни</span>
                                <p class="single-comment-content">Добре пипнато, но много ми идват камъните, това не е
                                    каменна река. Нямаше да е лошо да изчакаш ...</p>
                                <div class="single-comment-info">
                                    <div class="photo-name-wrapper">
                                        <div class="text">Снимка:</div>
                                        <div class="photo-name">Доброто момиче от градината</div>
                                    </div>
                                    <div class="photo-commenter-wrapper">
                                        <span class="text">Коментирал:</span>
                                        <a href="#">
                                            <img src="images/photos/image4.jpg" class="commenter-photo">
                                            <span class="commenter-name">Николай Алексиев -</span>
                                            <span class="nickname">nalexiev</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-md btn-primary btn-load-more btn-action btn-loading">
                            <span class="btn-content-wrapper">
                                <span class="icon">
                                    <i class="fa fa-spinner fa-spin spinner"></i>
                                </span>
                                <span class="text">Зареди още</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
