<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Registration</title>

    <link rel="icon" href="favicon.ico">

    <% include ./env/production.ejs %>
</head>
<body class="notifications-page">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Известия</h1>
                    </div>
                </div>
            </header>
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#all-notifications" data-toggle="tab">Всички известия</a>
                                </li>
                                <li>
                                    <a href="#deleted-notifications" data-toggle="tab">Изтрити</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="all-notifications">
                                    <div class="notifications-controls">
                                        <div class="row">
                                            <div class="col-xs-5 col-lg-6">
                                                <span class="new-notifications-counter">Имате 1 ново известие</span>
                                            </div>
                                            <div class="col-xs-7 col-lg-6 text-right">
                                                <button class="btn btn-sm btn-bordered btn-mark-as-read">маркирай като
                                                    прочетени
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notifications-list">
                                        <div class="notification unread">
                                            <div class="row">
                                                <div class="col-xs-3 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="main-details">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo"
                                                                       style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <a href="#/" class="profile-full-name">
                                                                <span class="profile-name">Николай Алексиев</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-lg-4">
                                                    <span class="notification-action">Гласува за твоя снимка</span>
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    <ul class="notification-since">
                                                        <li class="action">
                                                            <span class="text">преди</span>
                                                            <span class="text">6</span>
                                                            <span class="text">дни</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 col-lg-2 text-right">
                                                    <div class="row-thumb-photos voted-photo">
                                                        <div class="photo-wrapper">
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('../images/photos/theme4.jpg')"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification unread">
                                            <div class="row">
                                                <div class="col-xs-3 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="main-details">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo"
                                                                       style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <a href="#/" class="profile-full-name">
                                                                <span class="profile-name">Николай Алексиев</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-lg-4">
                                                    <span class="notification-action">Гласува за твоя снимка</span>
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    <ul class="notification-since">
                                                        <li class="action">
                                                            <span class="text">преди</span>
                                                            <span class="text">6</span>
                                                            <span class="text">дни</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 col-lg-2 text-right">
                                                    <div class="row-thumb-photos voted-photo">
                                                        <div class="photo-wrapper">
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('../images/photos/theme4.jpg')"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification unread">
                                            <div class="row">
                                                <div class="col-xs-3 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="main-details">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo"
                                                                       style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <a href="#/" class="profile-full-name">
                                                                <span class="profile-name">Николай Алексиев</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-lg-4">
                                                    <span class="notification-action">Гласува за твоя снимка</span>
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    <ul class="notification-since">
                                                        <li class="action">
                                                            <span class="text">преди</span>
                                                            <span class="text">6</span>
                                                            <span class="text">дни</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 col-lg-2 text-right">
                                                    <div class="row-thumb-photos voted-photo">
                                                        <div class="photo-wrapper">
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('../images/photos/theme4.jpg')"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row hidden-md hidden-lg">
                                            <div class="col-xs-12">
                                                <div class="full-with-advertise small-screen">
                                                    <span>Реклама<br/>1140x135 px</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification unread">
                                            <div class="row">
                                                <div class="col-xs-3 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="main-details">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo"
                                                                       style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <a href="#/" class="profile-full-name">
                                                                <span class="profile-name">Николай Алексиев</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-lg-4">
                                                    <span class="notification-action">Гласува за твоя снимка</span>
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    <ul class="notification-since">
                                                        <li class="action">
                                                            <span class="text">преди</span>
                                                            <span class="text">6</span>
                                                            <span class="text">дни</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 col-lg-2 text-right">
                                                    <div class="row-thumb-photos voted-photo">
                                                        <div class="photo-wrapper">
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('../images/photos/theme4.jpg')"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification unread">
                                            <div class="row">
                                                <div class="col-xs-3 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="main-details">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo"
                                                                       style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <a href="#/" class="profile-full-name">
                                                                <span class="profile-name">Николай Алексиев</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-lg-4">
                                                    <span class="notification-action">Гласува за твоя снимка</span>
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    <ul class="notification-since">
                                                        <li class="action">
                                                            <span class="text">преди</span>
                                                            <span class="text">6</span>
                                                            <span class="text">дни</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 col-lg-2 text-right">
                                                    <div class="row-thumb-photos voted-photo">
                                                        <div class="photo-wrapper">
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('../images/photos/theme4.jpg')"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification unread">
                                            <div class="row">
                                                <div class="col-xs-3 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="main-details">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo"
                                                                       style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <a href="#/" class="profile-full-name">
                                                                <span class="profile-name">Николай Алексиев</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-lg-4">
                                                    <span class="notification-action">Гласува за твоя снимка</span>
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    <ul class="notification-since">
                                                        <li class="action">
                                                            <span class="text">преди</span>
                                                            <span class="text">6</span>
                                                            <span class="text">дни</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 col-lg-2 text-right">
                                                    <div class="row-thumb-photos voted-photo">
                                                        <div class="photo-wrapper">
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('../images/photos/theme4.jpg')"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row hidden-md hidden-lg">
                                            <div class="col-xs-12">
                                                <div class="full-with-advertise small-screen">
                                                    <span>Реклама<br/>1140x135 px</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification unread">
                                            <div class="row">
                                                <div class="col-xs-3 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="main-details">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo"
                                                                       style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <a href="#/" class="profile-full-name">
                                                                <span class="profile-name">Николай Алексиев</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-lg-4">
                                                    <span class="notification-action">Гласува за твоя снимка</span>
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    <ul class="notification-since">
                                                        <li class="action">
                                                            <span class="text">преди</span>
                                                            <span class="text">6</span>
                                                            <span class="text">дни</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 col-lg-2 text-right">
                                                    <div class="row-thumb-photos voted-photo">
                                                        <div class="photo-wrapper">
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('../images/photos/theme4.jpg')"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification unread">
                                            <div class="row">
                                                <div class="col-xs-3 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="main-details">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo"
                                                                       style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <a href="#/" class="profile-full-name">
                                                                <span class="profile-name">Николай Алексиев</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-lg-4">
                                                    <span class="notification-action">Гласува за твоя снимка</span>
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    <ul class="notification-since">
                                                        <li class="action">
                                                            <span class="text">преди</span>
                                                            <span class="text">6</span>
                                                            <span class="text">дни</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 col-lg-2 text-right">
                                                    <div class="row-thumb-photos voted-photo">
                                                        <div class="photo-wrapper">
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('../images/photos/theme4.jpg')"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="notification unread">
                                            <div class="row">
                                                <div class="col-xs-3 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="main-details">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo"
                                                                       style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <a href="#/" class="profile-full-name">
                                                                <span class="profile-name">Николай Алексиев</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-lg-4">
                                                    <span class="notification-action">Гласува за твоя снимка</span>
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    <ul class="notification-since">
                                                        <li class="action">
                                                            <span class="text">преди</span>
                                                            <span class="text">6</span>
                                                            <span class="text">дни</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 col-lg-2 text-right">
                                                    <div class="row-thumb-photos voted-photo">
                                                        <div class="photo-wrapper">
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('../images/photos/theme4.jpg')"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row hidden-md hidden-lg">
                                            <div class="col-xs-12">
                                                <div class="full-with-advertise small-screen">
                                                    <span>Реклама<br/>1140x135 px</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% include includes/pagination.ejs %>
                                </div>
                                <div class="tab-pane fade" id="deleted-notifications">
                                    <div class="content">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-lg-4">5</div>
                                                <div class="col-lg-2">6</div>
                                                <div class="col-lg-4">7</div>
                                                <div class="col-lg-2">8</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                            <div class="right-column">
                                <div class="full-with-advertise">
                                    <span>Реклама<br/>1140x135 px</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 hidden-xs hidden-sm">
                            <div class="full-with-advertise">
                                <span>Реклама<br/>1140x135 px</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
