<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Полезни коментари</title>

    <link rel="icon" href="favicon.ico">

    <% include ./env/production.ejs %>
</head>
<body class="page">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading text-center">
                    <ul class="nav nav-tabs">
                        <li><a href="#rating-a">Рейтинг А</a></li>
                        <li><a href="#rating-b">Рейтинг Б</a></li>
                        <li><a href="#authors">Автори</a></li>
                        <li><a href="#authors-top-100">Автори ТОП 100</a></li>
                        <li class="active"><a href="#useful-comments">Полезни коментари</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="useful-comments">
                            <div class="comments-list">
                                <div class="single-comment">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="single-comment-content-wrapper">
                                                <span class="single-comment-date">преди 3 дни</span>
                                                <p class="single-comment-content">Добре пипнато, но много ми идват
                                                    камъните, това не е каменна река. Нямаше да е лошо да изчакаш
                                                    ...</p>
                                                <div class="single-comment-info">
                                                    <div class="photo-name-wrapper">
                                                        <div class="text">Снимка:</div>
                                                        <div class="photo-name">Доброто момиче от градината</div>
                                                    </div>
                                                    <div class="photo-commenter-wrapper">
                                                        <span class="text">Коментирал:</span>

                                                        <div class="main-details">
                                                            <div class="photo-wrapper">
                                                                <a href="#" class="photo" style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                    <span class="text">Виктор Стоянов</span>
                                                                </a>
                                                            </div>
                                                            <a href="#" class="commenter-name-wrapper">
                                                                <span class="commenter-name">Николай Алексиев</span>
                                                                <span class="nickname">nalexiev</span>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-comment">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="single-comment-content-wrapper">
                                                <span class="single-comment-date">преди 3 дни</span>
                                                <p class="single-comment-content">Добре пипнато, но много ми идват
                                                    камъните, това не е каменна река. Нямаше да е лошо да изчакаш
                                                    ...</p>
                                                <div class="single-comment-info">
                                                    <div class="photo-name-wrapper">
                                                        <div class="text">Снимка:</div>
                                                        <div class="photo-name">Доброто момиче от градината</div>
                                                    </div>
                                                    <div class="photo-commenter-wrapper">
                                                        <span class="text">Коментирал:</span>

                                                        <div class="main-details">
                                                            <div class="photo-wrapper">
                                                                <a href="#" class="photo" style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                    <span class="text">Виктор Стоянов</span>
                                                                </a>
                                                            </div>
                                                            <a href="#" class="commenter-name-wrapper">
                                                                <span class="commenter-name">Николай Алексиев</span>
                                                                <span class="nickname">nalexiev</span>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-comment">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="single-comment-content-wrapper">
                                                <span class="single-comment-date">преди 3 дни</span>
                                                <p class="single-comment-content">Добре пипнато, но много ми идват
                                                    камъните, това не е каменна река. Нямаше да е лошо да изчакаш
                                                    ...</p>
                                                <div class="single-comment-info">
                                                    <div class="photo-name-wrapper">
                                                        <div class="text">Снимка:</div>
                                                        <div class="photo-name">Доброто момиче от градината</div>
                                                    </div>
                                                    <div class="photo-commenter-wrapper">
                                                        <span class="text">Коментирал:</span>

                                                        <div class="main-details">
                                                            <div class="photo-wrapper">
                                                                <a href="#" class="photo" style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                    <span class="text">Виктор Стоянов</span>
                                                                </a>
                                                            </div>
                                                            <a href="#" class="commenter-name-wrapper">
                                                                <span class="commenter-name">Николай Алексиев</span>
                                                                <span class="nickname">nalexiev</span>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-comment">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="single-comment-content-wrapper">
                                                <span class="single-comment-date">преди 3 дни</span>
                                                <p class="single-comment-content">Добре пипнато, но много ми идват
                                                    камъните, това не е каменна река. Нямаше да е лошо да изчакаш
                                                    ...</p>
                                                <div class="single-comment-info">
                                                    <div class="photo-name-wrapper">
                                                        <div class="text">Снимка:</div>
                                                        <div class="photo-name">Доброто момиче от градината</div>
                                                    </div>
                                                    <div class="photo-commenter-wrapper">
                                                        <span class="text">Коментирал:</span>

                                                        <div class="main-details">
                                                            <div class="photo-wrapper">
                                                                <a href="#" class="photo" style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                    <span class="text">Виктор Стоянов</span>
                                                                </a>
                                                            </div>
                                                            <a href="#" class="commenter-name-wrapper">
                                                                <span class="commenter-name">Николай Алексиев</span>
                                                                <span class="nickname">nalexiev</span>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-comment">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="single-comment-content-wrapper">
                                                <span class="single-comment-date">преди 3 дни</span>
                                                <p class="single-comment-content">Добре пипнато, но много ми идват
                                                    камъните, това не е каменна река. Нямаше да е лошо да изчакаш
                                                    ...</p>
                                                <div class="single-comment-info">
                                                    <div class="photo-name-wrapper">
                                                        <div class="text">Снимка:</div>
                                                        <div class="photo-name">Доброто момиче от градината</div>
                                                    </div>
                                                    <div class="photo-commenter-wrapper">
                                                        <span class="text">Коментирал:</span>

                                                        <div class="main-details">
                                                            <div class="photo-wrapper">
                                                                <a href="#" class="photo" style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                    <span class="text">Виктор Стоянов</span>
                                                                </a>
                                                            </div>
                                                            <a href="#" class="commenter-name-wrapper">
                                                                <span class="commenter-name">Николай Алексиев</span>
                                                                <span class="nickname">nalexiev</span>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-comment">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="single-comment-content-wrapper">
                                                <span class="single-comment-date">преди 3 дни</span>
                                                <p class="single-comment-content">Добре пипнато, но много ми идват
                                                    камъните, това не е каменна река. Нямаше да е лошо да изчакаш
                                                    ...</p>
                                                <div class="single-comment-info">
                                                    <div class="photo-name-wrapper">
                                                        <div class="text">Снимка:</div>
                                                        <div class="photo-name">Доброто момиче от градината</div>
                                                    </div>
                                                    <div class="photo-commenter-wrapper">
                                                        <span class="text">Коментирал:</span>

                                                        <div class="main-details">
                                                            <div class="photo-wrapper">
                                                                <a href="#" class="photo" style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                    <span class="text">Виктор Стоянов</span>
                                                                </a>
                                                            </div>
                                                            <a href="#" class="commenter-name-wrapper">
                                                                <span class="commenter-name">Николай Алексиев</span>
                                                                <span class="nickname">nalexiev</span>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-md btn-primary btn-load-more btn-action btn-loading">
                                            <span class="btn-content-wrapper">
                                                <span class="icon">
                                                    <i class="fa fa-spinner fa-spin spinner"></i>
                                                </span>
                                                <span class="text">Зареди още</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
