<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Registration</title>

    <link rel="icon" href="favicon.ico">

    <% include ./env/production.ejs %>
</head>
<body class="rating-page">
<% include includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <header class="content-header">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>Класация</h1>
                            </div>
                        </div>
                    </header>
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#top-useful-comments" data-toggle="tab">Топ по полезни
                                                коментари</a>
                                        </li>
                                        <li>
                                            <a href="#top-added-favorites-photos" data-toggle="tab">Топ по добавени
                                                снимки в любими</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="top-useful-comments">
                                            <div class="content">
                                                <div class="useful-commentator">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-lg-4">
                                                            <div class="row">
                                                                <div class="col-xs-3 col-lg-3">
                                                                    <div class="main-details">
                                                                        <div class="photo-wrapper">
                                                                            <a href="#" class="photo"
                                                                               style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                                <span class="text">Петър Митев</span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-9 col-lg-9">
                                                                    <a href="#/" class="commentator-profile">
                                                                        <span class="order-number">1.</span>
                                                                        <span
                                                                            class="profile-name">Николай Алексиев</span>
                                                                        <span class="separator">/</span>
                                                                        <span class="profile-nickname">nalexiev</span>
                                                                    </a>
                                                                    <ul class="commentator-rating-badges">
                                                                        <li class="rating-badge lecturer">
                                                                            <i class="lecturer">Lecturer</i>
                                                                            <div class="rating-badge-label">Лектор</div>
                                                                        </li>
                                                                        <li class="rating-badge exhibit">
                                                                            <i class="exhibit">Exhibit</i>
                                                                            <div class="rating-badge-label">Участник в
                                                                                изложби
                                                                            </div>
                                                                        </li>
                                                                        <li class="rating-badge participant-pro">
                                                                            <i class="participant-pro">Participant
                                                                                Pro</i>
                                                                            <div class="rating-badge-label">Участник в
                                                                                Про секцията
                                                                            </div>
                                                                        </li>
                                                                        <li class="rating-badge gallery">
                                                                            <i class="gallery">Gallery</i>
                                                                            <div class="rating-badge-label">Участник в
                                                                                месечните галерии
                                                                            </div>
                                                                        </li>
                                                                        <li class="rating-badge beta-tester">
                                                                            <i class="beta-tester">beta-tester</i>
                                                                            <div class="rating-badge-label">Бета
                                                                                тестер
                                                                            </div>
                                                                        </li>
                                                                        <li class="rating-badge volunteer">
                                                                            <i class="volunteer">Volunteer</i>
                                                                            <div class="rating-badge-label">Доброволец
                                                                                за поддържане на някоя секция
                                                                            </div>
                                                                        </li>
                                                                        <li class="rating-badge month-editor">
                                                                            <i class="month-editor">Volunteer</i>
                                                                            <div class="rating-badge-label">Редактор на
                                                                                месеца
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-2">
                                                            <ul class="commentator-actions">
                                                                <li class="action">
                                                                    <span class="text">Снимки в любими:
                                                                        <a href="#" class="value">447</a>
                                                                    </span>
                                                                </li>
                                                                <li class="action">
                                                                    <span class="text">Полезни коментари:
                                                                        <a href="#" class="value">22</a>
                                                                    </span>
                                                                </li>
                                                                <li class="action">
                                                                    <span class="text">Снимки:
                                                                        <span class="value">1089</span>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-4">
                                                            <ul class="commentator-actions">
                                                                <li class="action">
                                                                    <span class="text">Член от:
                                                                        <span class="value">24 Януари 2007</span>
                                                                    </span>
                                                                </li>
                                                                <li class="action">
                                                                    <span class="text">Последователи:
                                                                        <span class="value">398</span>
                                                                    </span>
                                                                </li>
                                                                <li class="action">
                                                                    <span class="text">Гласувания за снимки на други автори:
                                                                        <span class="value">3889</span>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-xs-12 col-lg-2">
                                                            <ul class="profile-tools-wrapper">
                                                                <li class="profile-tool follow">
                                                                    <!--add class is-followed when click to follow-->
                                                                    <button
                                                                            class="btn btn-primary btn-follow is-followed btn-action btn-loading">
                                                                        <span class="btn-content-wrapper">
                                                                            <span class="icon">
                                                                                <i class="fa fa-spinner fa-spin spinner"></i>
                                                                            </span>
                                                                            <span class="text follow">следвай</span>
                                                                            <span class="text followed">следван</span>
                                                                            <span class="text no-follow">не следвай</span>
                                                                        </span>
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% include includes/pagination.ejs %>
                                        </div>
                                        <div class="tab-pane fade" id="top-added-favorites-photos">
                                            <div class="content">
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-lg-4">5</div>
                                                        <div class="col-lg-2">6</div>
                                                        <div class="col-lg-4">7</div>
                                                        <div class="col-lg-2">8</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
