<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Search Results</title>

    <link rel="icon" href="./favicon.ico">

    <% include ./env/production.ejs %>
</head>
<body class="search-results-page">
<% include ./includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ./includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ./includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-9">
                                    <label for="search-item">Търсене на снимка</label>
                                    <input type="text" id="search-item" name="search-item" class="form-control">
                                </div>
                                <div class="col-lg-3">
                                    <button
                                        class="btn btn-sm btn-block btn-primary btn-search-photo btn-action btn-loading">
                                    <span class="btn-content-wrapper">
                                        <span class="icon">
                                            <i class="fa fa-spinner fa-spin spinner"></i>
                                        </span>
                                        <span class="text">Търси</span>
                                    </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label">лиценз</label>
                            <div class="filter-option">
                                <select data-live-search="true" multiple title="Всички">
                                    <option data-tokens="Attribution License">Attribution License</option>
                                    <option data-tokens="Attribution-NoDerivs License">Attribution-NoDerivs License
                                    </option>
                                    <option data-tokens="Attribution-ShareAlike License">Attribution-ShareAlike
                                        License
                                    </option>
                                    <option data-tokens="Attribution-NonCommercial-NoDerivs License">
                                        Attribution-NonCommercial-NoDerivs License
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Сортиране по</label>
                            <div class="filter-option">
                                <select data-live-search="true" multiple title="Дата на качване">
                                    <option data-tokens="Дата на качване">България</option>
                                    <option data-tokens="Дата на публикуване">Испания</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content-body">
                <div class="photos-list">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                    <div class="nickname-pad">
                                        <a href="/@chukov" class="nickname">
                                            <span>&copy;</span>
                                            <span>chukov</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                    <div class="nickname-pad">
                                        <a href="/@chukov" class="nickname">
                                            <span>&copy;</span>
                                            <span>chukov</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                    <div class="nickname-pad">
                                        <a href="/@chukov" class="nickname">
                                            <span>&copy;</span>
                                            <span>chukov</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                    <div class="nickname-pad">
                                        <a href="/@chukov" class="nickname">
                                            <span>&copy;</span>
                                            <span>chukov</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                    <div class="nickname-pad">
                                        <a href="/@chukov" class="nickname">
                                            <span>&copy;</span>
                                            <span>chukov</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                    <div class="nickname-pad">
                                        <a href="/@chukov" class="nickname">
                                            <span>&copy;</span>
                                            <span>chukov</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                    <div class="nickname-pad">
                                        <a href="/@chukov" class="nickname">
                                            <span>&copy;</span>
                                            <span>chukov</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                    <div class="nickname-pad">
                                        <a href="/@chukov" class="nickname">
                                            <span>&copy;</span>
                                            <span>chukov</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                    <div class="nickname-pad">
                                        <a href="/@chukov" class="nickname">
                                            <span>&copy;</span>
                                            <span>chukov</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                    <div class="nickname-pad">
                                        <a href="/@chukov" class="nickname">
                                            <span>&copy;</span>
                                            <span>chukov</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                    <div class="nickname-pad">
                                        <a href="/@chukov" class="nickname">
                                            <span>&copy;</span>
                                            <span>chukov</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" data-toggle="modal" data-target="#photoPreview" class="photo">
                                        <div class="thumb-photo"
                                             style="background-image: url('../images/photos/editor-choice1.jpg')">Ivan
                                            ivanov
                                        </div>
                                    </a>
                                    <div class="nickname-pad">
                                        <a href="/@chukov" class="nickname">
                                            <span>&copy;</span>
                                            <span>chukov</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-4 col-lg-4">
                            <div class="row">
                                <div class="col-lg-offset-2 col-lg-8">
                                    <button
                                        class="btn btn-md btn-block btn-bordered btn-load-more-photos btn-action btn-loading text-uppercase">
                                    <span class="btn-content-wrapper">
                                        <span class="icon">
                                            <i class="fa fa-spinner fa-spin spinner"></i>
                                        </span>
                                        <span class="text">Зареди още</span>
                                    </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./includes/footer.ejs %>
</body>
</html>
