<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Photographers</title>

    <link rel="icon" href="favicon.ico">

    <% include ./env/production.ejs %>
</head>
<body class="user-messages-page messages">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <header class="content-header">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>Съобщения</h1>
                            </div>
                        </div>
                    </header>
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading text-center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#all-messages" data-toggle="tab">Всички
                                                съобщения</a></li>
                                        <li><a href="#deleted" data-toggle="tab">Изтрити</a></li>
                                        <li><a href="#blocked" data-toggle="tab">Блокирани</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="all-messages">
                                            <div class="row">
                                                <div class="col-xs-5 col-lg-6">
                                                    <div class="msg-controls">
                                                        <button class="btn btn-sm btn-new-message">ново съобщение
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-xs-7 col-lg-6">
                                                    <div class="msg-controls text-right">
                                                        <button class="btn btn-sm btn-bordered">Изтрий всички
                                                            съобщения
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="no-messages text-muted text-center hidden">
                                                        <p>Все още нямате комуникация с други потребители.</p>
                                                        <p>За нова дискусия използвайте бутона "Свържи се с фотографа"
                                                            през профила на всеки фотограф.</p>
                                                    </div>
                                                    <div class="active">
                                                        <ul class="message-list">
                                                            <li class="message-item unread">
                                                                <button class="btn delete-message bordered-button">
                                                                    <i class="fa fa-trash hidden-md hidden-lg"
                                                                       aria-hidden="true"></i>
                                                                    <span class="text hidden-xs hidden-sm">изтрий</span>
                                                                </button>
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <a href="user-message" class="open-message">
                                                            <span class="msg-content">
                                                                <h3 class="msg-from-name">Валентин Русев (<span
                                                                        class="new-message-count">3</span>)</h3>
                                                                <span class="received-date hidden-md hidden-lg">преди 6 дни</span>
                                                                <p class="msg-from-content">Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти. Ще се ... </p>
                                                            </span>
                                                                    <span class="received-date hidden-xs hidden-sm">преди 6 дни</span>
                                                                </a>
                                                            </li>
                                                            <li class="message-item unread">
                                                                <button class="btn delete-message bordered-button">
                                                                    <i class="fa fa-trash hidden-md hidden-lg"
                                                                       aria-hidden="true"></i>
                                                                    <span class="text hidden-xs hidden-sm">изтрий</span>
                                                                </button>
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <a href="user-message" class="open-message">
                                                            <span class="msg-content">
                                                                <h3 class="msg-from-name">Валентин Русев (<span
                                                                        class="new-message-count">3</span>)</h3>
                                                                <span class="received-date hidden-md hidden-lg">преди 6 дни</span>
                                                                <p class="msg-from-content">Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти. Ще се ... </p>
                                                            </span>
                                                                    <span class="received-date hidden-xs hidden-sm">преди 6 дни</span>
                                                                </a>
                                                            </li>
                                                            <li class="message-item">
                                                                <button class="btn delete-message bordered-button">
                                                                    <i class="fa fa-trash hidden-md hidden-lg"
                                                                       aria-hidden="true"></i>
                                                                    <span class="text hidden-xs hidden-sm">изтрий</span>
                                                                </button>
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <a href="user-message" class="open-message">
                                                            <span class="msg-content">
                                                                <h3 class="msg-from-name">Валентин Русев (<span
                                                                        class="new-message-count">3</span>)</h3>
                                                                <span class="received-date hidden-md hidden-lg">преди 6 дни</span>
                                                                <p class="msg-from-content">Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти. Ще се ... </p>
                                                            </span>
                                                                    <span class="received-date hidden-xs hidden-sm">преди 6 дни</span>
                                                                </a>
                                                            </li>
                                                            <li class="message-item">
                                                                <button class="btn delete-message bordered-button">
                                                                    <i class="fa fa-trash hidden-md hidden-lg"
                                                                       aria-hidden="true"></i>
                                                                    <span class="text hidden-xs hidden-sm">изтрий</span>
                                                                </button>
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <a href="user-message" class="open-message">
                                                            <span class="msg-content">
                                                                <h3 class="msg-from-name">Валентин Русев (<span
                                                                        class="new-message-count">3</span>)</h3>
                                                                <span class="received-date hidden-md hidden-lg">преди 6 дни</span>
                                                                <p class="msg-from-content">Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти. Ще се ... </p>
                                                            </span>
                                                                    <span class="received-date hidden-xs hidden-sm">преди 6 дни</span>
                                                                </a>
                                                            </li>
                                                            <li class="message-item">
                                                                <button class="btn delete-message bordered-button">
                                                                    <i class="fa fa-trash hidden-md hidden-lg"
                                                                       aria-hidden="true"></i>
                                                                    <span class="text hidden-xs hidden-sm">изтрий</span>
                                                                </button>
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <a href="user-message" class="open-message">
                                                            <span class="msg-content">
                                                                <h3 class="msg-from-name">Валентин Русев (<span
                                                                        class="new-message-count">3</span>)</h3>
                                                                <span class="received-date hidden-md hidden-lg">преди 6 дни</span>
                                                                <p class="msg-from-content">Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти. Ще се ... </p>
                                                            </span>
                                                                    <span class="received-date hidden-xs hidden-sm">преди 6 дни</span>
                                                                </a>
                                                            </li>
                                                            <li class="message-item">
                                                                <button class="btn delete-message bordered-button">
                                                                    <i class="fa fa-trash hidden-md hidden-lg"
                                                                       aria-hidden="true"></i>
                                                                    <span class="text hidden-xs hidden-sm">изтрий</span>
                                                                </button>
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <a href="user-message" class="open-message">
                                                            <span class="msg-content">
                                                                <h3 class="msg-from-name">Валентин Русев (<span
                                                                        class="new-message-count">3</span>)</h3>
                                                                <span class="received-date hidden-md hidden-lg">преди 6 дни</span>
                                                                <p class="msg-from-content">Благодаря ви за запитването. На посочените от вас дати нямам поети ангажименти. Ще се ... </p>
                                                            </span>
                                                                    <span class="received-date hidden-xs hidden-sm">преди 6 дни</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <% include includes/pagination.ejs %>
                                        </div>
                                        <div class="tab-pane fade" id="deleted">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    deleted
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="blocked">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="msg-controls text-right">
                                                        <button class="btn btn-sm btn-bordered">Отблокирай всички
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="message-list">
                                                        <li class="message-item">
                                                            <button class="btn delete-message btn-bordered">
                                                                <i class="fa fa-trash hidden-md hidden-lg"
                                                                   aria-hidden="true"></i>
                                                                <span class="text hidden-xs hidden-sm">отблокирай</span>
                                                            </button>
                                                            <div class="user-message">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="msg-content">
                                                                    <a href="#" class="msg-from-name">Валентин Русев</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="message-item">
                                                            <button class="btn delete-message btn-bordered">
                                                                <i class="fa fa-trash hidden-md hidden-lg"
                                                                   aria-hidden="true"></i>
                                                                <span class="text hidden-xs hidden-sm">отблокирай</span>
                                                            </button>
                                                            <div class="user-message">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="msg-content">
                                                                    <a href="#" class="msg-from-name">Валентин Русев</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="message-item">
                                                            <button class="btn delete-message btn-bordered">
                                                                <i class="fa fa-trash hidden-md hidden-lg"
                                                                   aria-hidden="true"></i>
                                                                <span class="text hidden-xs hidden-sm">отблокирай</span>
                                                            </button>
                                                            <div class="user-message">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="msg-content">
                                                                    <a href="#" class="msg-from-name">Валентин Русев</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="message-item">
                                                            <button class="btn delete-message btn-bordered">
                                                                <i class="fa fa-trash hidden-md hidden-lg"
                                                                   aria-hidden="true"></i>
                                                                <span class="text hidden-xs hidden-sm">отблокирай</span>
                                                            </button>
                                                            <div class="user-message">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="msg-content">
                                                                    <a href="#" class="msg-from-name">Валентин Русев</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="message-item">
                                                            <button class="btn delete-message btn-bordered">
                                                                <i class="fa fa-trash hidden-md hidden-lg"
                                                                   aria-hidden="true"></i>
                                                                <span class="text hidden-xs hidden-sm">отблокирай</span>
                                                            </button>
                                                            <div class="user-message">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="msg-content">
                                                                    <a href="#" class="msg-from-name">Валентин Русев</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="message-item">
                                                            <button class="btn delete-message btn-bordered">
                                                                <i class="fa fa-trash hidden-md hidden-lg"
                                                                   aria-hidden="true"></i>
                                                                <span class="text hidden-xs hidden-sm">отблокирай</span>
                                                            </button>
                                                            <div class="user-message">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="msg-content">
                                                                    <a href="#" class="msg-from-name">Валентин Русев</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="message-item">
                                                            <button class="btn delete-message btn-bordered">
                                                                <i class="fa fa-trash hidden-md hidden-lg"
                                                                   aria-hidden="true"></i>
                                                                <span class="text hidden-xs hidden-sm">отблокирай</span>
                                                            </button>
                                                            <div class="user-message">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="msg-content">
                                                                    <a href="#" class="msg-from-name">Валентин Русев</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="message-item">
                                                            <button class="btn delete-message btn-bordered">
                                                                <i class="fa fa-trash hidden-md hidden-lg"
                                                                   aria-hidden="true"></i>
                                                                <span class="text hidden-xs hidden-sm">отблокирай</span>
                                                            </button>
                                                            <div class="user-message">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="msg-content">
                                                                    <a href="#" class="msg-from-name">Валентин Русев</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="message-item">
                                                            <button class="btn delete-message btn-bordered">
                                                                <i class="fa fa-trash hidden-md hidden-lg"
                                                                   aria-hidden="true"></i>
                                                                <span class="text hidden-xs hidden-sm">отблокирай</span>
                                                            </button>
                                                            <div class="user-message">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="msg-content">
                                                                    <a href="#" class="msg-from-name">Валентин Русев</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="message-item">
                                                            <button class="btn delete-message btn-bordered">
                                                                <i class="fa fa-trash hidden-md hidden-lg"
                                                                   aria-hidden="true"></i>
                                                                <span class="text hidden-xs hidden-sm">отблокирай</span>
                                                            </button>
                                                            <div class="user-message">
                                                                <div class="main-details">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo"
                                                                           style="background-image: url('https://www.hdwallpapers.in/walls/neytiri_avatar_1080p-HD.jpg')">
                                                                            <span class="text">Петър Митев</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="msg-content">
                                                                    <a href="#" class="msg-from-name">Валентин Русев</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <% include includes/pagination.ejs %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                    <div class="right-column">
                                        <div class="full-with-advertise">
                                            <span>Реклама<br/>1140x135 px</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="full-with-advertise">
                                        <span>Реклама<br/>1140x135 px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
