<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Editors View</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="editors editor-view-page">
<!--modal upload editor BC-->
<% include modal_editor_bc.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="content-wrapper">
        <header class="content-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="bazar">Редакторски галери</a></li>
                            <li class="active">Ноември 2017</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>Редакторска Галерия - ноември 2017</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                        <div class="main-details">
                            <div class="row">

                                <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo"
                                           style="background-image: url('../images/backgrounds/profile_header_background.jpg')">
                                                                    <span
                                                                        class="text">Христофор Герасимов Господинов</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                                    <div class="user-details">
                                        <h3 class="profile-name">Христофор Господинов</h3>
                                        <h6 class="nickname">gmarinov</h6>
                                    </div>
                                    <button class="btn btn-sm btn-bordered btn-bc-editor" data-keyboard="true"
                                            data-toggle="modal" data-target="#modalEditorBC">
                                        <span class="text">Визитка на редактора</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="container">
                <div class="editor-gallery-photos">
                    <div class="photos">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <ul class="badges-list">
                                            <li class="badge-item new">
                                                <span class="text">ново</span>
                                            </li>
                                        </ul>
                                        <a href="#" data-toggle="modal" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/photos/photo_05.jpeg')">Ivan
                                                ivanov
                                            </div>
                                        </a>
                                        <div class="nickname-pad hidden-xs hidden-sm">
                                            <a href="/@chukov" class="nickname">
                                                <span>&copy;</span>
                                                <span>chukov</span>
                                            </a>
                                        </div>
                                        <ul class="photo-stats-info">
                                            <li class="views">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="text">1,359</span>
                                            </li>
                                            <li class="comments">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <span class="text">548</span>
                                            </li>
                                            <li class="username">
                                                <a href="/@chukov" class="nickname">
                                                    <span class="text">&copy; chukov</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <a href="#" data-toggle="modal" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/photos/photo_05.jpeg')">Ivan
                                                ivanov
                                            </div>
                                        </a>
                                        <div class="nickname-pad hidden-xs hidden-sm">
                                            <a href="/@chukov" class="nickname">
                                                <span>&copy;</span>
                                                <span>chukov</span>
                                            </a>
                                        </div>
                                        <ul class="photo-stats-info">
                                            <li class="views">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="text">1,359</span>
                                            </li>
                                            <li class="comments">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <span class="text">548</span>
                                            </li>
                                            <li class="username">
                                                <a href="/@chukov" class="nickname">
                                                    <span class="text">&copy; chukov</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <a href="#" data-toggle="modal" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/photos/photo_05.jpeg')">Ivan
                                                ivanov
                                            </div>
                                        </a>
                                        <div class="nickname-pad hidden-xs hidden-sm">
                                            <a href="/@chukov" class="nickname">
                                                <span>&copy;</span>
                                                <span>chukov</span>
                                            </a>
                                        </div>
                                        <ul class="photo-stats-info">
                                            <li class="views">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="text">1,359</span>
                                            </li>
                                            <li class="comments">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <span class="text">548</span>
                                            </li>
                                            <li class="username">
                                                <a href="/@chukov" class="nickname">
                                                    <span class="text">&copy; chukov</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <a href="#" data-toggle="modal" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/photos/photo_05.jpeg')">Ivan
                                                ivanov
                                            </div>
                                        </a>
                                        <div class="nickname-pad hidden-xs hidden-sm">
                                            <a href="/@chukov" class="nickname">
                                                <span>&copy;</span>
                                                <span>chukov</span>
                                            </a>
                                        </div>
                                        <ul class="photo-stats-info">
                                            <li class="views">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="text">1,359</span>
                                            </li>
                                            <li class="comments">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <span class="text">548</span>
                                            </li>
                                            <li class="username">
                                                <a href="/@chukov" class="nickname">
                                                    <span class="text">&copy; chukov</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <ul class="badges-list">
                                            <li class="badge-item new">
                                                <span class="text">ново</span>
                                            </li>
                                        </ul>
                                        <a href="#" data-toggle="modal" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/photos/photo_05.jpeg')">Ivan
                                                ivanov
                                            </div>
                                        </a>
                                        <div class="nickname-pad hidden-xs hidden-sm">
                                            <a href="/@chukov" class="nickname">
                                                <span>&copy;</span>
                                                <span>chukov</span>
                                            </a>
                                        </div>
                                        <ul class="photo-stats-info">
                                            <li class="views">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="text">1,359</span>
                                            </li>
                                            <li class="comments">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <span class="text">548</span>
                                            </li>
                                            <li class="username">
                                                <a href="/@chukov" class="nickname">
                                                    <span class="text">&copy; chukov</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <ul class="badges-list">
                                            <li class="badge-item new">
                                                <span class="text">ново</span>
                                            </li>
                                        </ul>
                                        <a href="#" data-toggle="modal" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/photos/photo_05.jpeg')">Ivan
                                                ivanov
                                            </div>
                                        </a>
                                        <div class="nickname-pad hidden-xs hidden-sm">
                                            <a href="/@chukov" class="nickname">
                                                <span>&copy;</span>
                                                <span>chukov</span>
                                            </a>
                                        </div>
                                        <ul class="photo-stats-info">
                                            <li class="views">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="text">1,359</span>
                                            </li>
                                            <li class="comments">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <span class="text">548</span>
                                            </li>
                                            <li class="username">
                                                <a href="/@chukov" class="nickname">
                                                    <span class="text">&copy; chukov</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <ul class="badges-list">
                                            <li class="badge-item new">
                                                <span class="text">ново</span>
                                            </li>
                                        </ul>
                                        <a href="#" data-toggle="modal" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/photos/photo_05.jpeg')">Ivan
                                                ivanov
                                            </div>
                                        </a>
                                        <div class="nickname-pad hidden-xs hidden-sm">
                                            <a href="/@chukov" class="nickname">
                                                <span>&copy;</span>
                                                <span>chukov</span>
                                            </a>
                                        </div>
                                        <ul class="photo-stats-info">
                                            <li class="views">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="text">1,359</span>
                                            </li>
                                            <li class="comments">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <span class="text">548</span>
                                            </li>
                                            <li class="username">
                                                <a href="/@chukov" class="nickname">
                                                    <span class="text">&copy; chukov</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <ul class="badges-list">
                                            <li class="badge-item new">
                                                <span class="text">ново</span>
                                            </li>
                                        </ul>
                                        <a href="#" data-toggle="modal" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/photos/photo_05.jpeg')">Ivan
                                                ivanov
                                            </div>
                                        </a>
                                        <div class="nickname-pad hidden-xs hidden-sm">
                                            <a href="/@chukov" class="nickname">
                                                <span>&copy;</span>
                                                <span>chukov</span>
                                            </a>
                                        </div>
                                        <ul class="photo-stats-info">
                                            <li class="views">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="text">1,359</span>
                                            </li>
                                            <li class="comments">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <span class="text">548</span>
                                            </li>
                                            <li class="username">
                                                <a href="/@chukov" class="nickname">
                                                    <span class="text">&copy; chukov</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <ul class="badges-list">
                                            <li class="badge-item new">
                                                <span class="text">ново</span>
                                            </li>
                                        </ul>
                                        <a href="#" data-toggle="modal" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/photos/photo_05.jpeg')">Ivan
                                                ivanov
                                            </div>
                                        </a>
                                        <div class="nickname-pad hidden-xs hidden-sm">
                                            <a href="/@chukov" class="nickname">
                                                <span>&copy;</span>
                                                <span>chukov</span>
                                            </a>
                                        </div>
                                        <ul class="photo-stats-info">
                                            <li class="views">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="text">1,359</span>
                                            </li>
                                            <li class="comments">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <span class="text">548</span>
                                            </li>
                                            <li class="username">
                                                <a href="/@chukov" class="nickname">
                                                    <span class="text">&copy; chukov</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <ul class="badges-list">
                                            <li class="badge-item new">
                                                <span class="text">ново</span>
                                            </li>
                                        </ul>
                                        <a href="#" data-toggle="modal" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/photos/photo_05.jpeg')">Ivan
                                                ivanov
                                            </div>
                                        </a>
                                        <div class="nickname-pad hidden-xs hidden-sm">
                                            <a href="/@chukov" class="nickname">
                                                <span>&copy;</span>
                                                <span>chukov</span>
                                            </a>
                                        </div>
                                        <ul class="photo-stats-info">
                                            <li class="views">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="text">1,359</span>
                                            </li>
                                            <li class="comments">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <span class="text">548</span>
                                            </li>
                                            <li class="username">
                                                <a href="/@chukov" class="nickname">
                                                    <span class="text">&copy; chukov</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <ul class="badges-list">
                                            <li class="badge-item new">
                                                <span class="text">ново</span>
                                            </li>
                                        </ul>
                                        <a href="#" data-toggle="modal" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/photos/photo_05.jpeg')">Ivan
                                                ivanov
                                            </div>
                                        </a>
                                        <div class="nickname-pad hidden-xs hidden-sm">
                                            <a href="/@chukov" class="nickname">
                                                <span>&copy;</span>
                                                <span>chukov</span>
                                            </a>
                                        </div>
                                        <ul class="photo-stats-info">
                                            <li class="views">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="text">1,359</span>
                                            </li>
                                            <li class="comments">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <span class="text">548</span>
                                            </li>
                                            <li class="username">
                                                <a href="/@chukov" class="nickname">
                                                    <span class="text">&copy; chukov</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <ul class="badges-list">
                                            <li class="badge-item new">
                                                <span class="text">ново</span>
                                            </li>
                                        </ul>
                                        <a href="#" data-toggle="modal" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('../images/photos/photo_05.jpeg')">Ivan
                                                ivanov
                                            </div>
                                        </a>
                                        <div class="nickname-pad hidden-xs hidden-sm">
                                            <a href="/@chukov" class="nickname">
                                                <span>&copy;</span>
                                                <span>chukov</span>
                                            </a>
                                        </div>
                                        <ul class="photo-stats-info">
                                            <li class="views">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span class="text">1,359</span>
                                            </li>
                                            <li class="comments">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <span class="text">548</span>
                                            </li>
                                            <li class="username">
                                                <a href="/@chukov" class="nickname">
                                                    <span class="text">&copy; chukov</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <button class="btn btn-md btn-primary btn-load-more btn-action btn-loading">
                                    <span class="btn-content-wrapper">
                                        <span class="icon">
                                            <i class="fa fa-spinner fa-spin spinner"></i>
                                        </span>
                                        <span class="text">Зареди още</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
