<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Editors</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="editors editors-page">
<% include ../includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <% include ../includes/breadcrumbs.ejs %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>Редакторски галерии на Фото Форум</h1>
                    </div>
                </div>
            </header>
            <div class="content">
                <div class="editors-wrapper">
                    <div class="editor">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                <div class="main-details">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo"
                                                   style="background-image: url('../images/backgrounds/profile_header_background.jpg')">
                                                                    <span
                                                                        class="text">Христофор Герасимов Господинов</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                                            <div class="user-details">
                                                <h6 class="editor-of-the-month">Редактор на галерията за
                                                    <a href="#">ноември</a> 2017</h6>
                                                <h3 class="profile-name">Христофор Господинов</h3>
                                                <h6 class="nickname">gmarinov</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <a href="editor-view"
                                   class="btn btn-sm btn-block btn-bordered btn-editor-gallery">
                                    <span class="text">Виж галерията</span>
                                </a>
                            </div>
                        </div>
                        <div class="editor-photos">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <ul class="badges-list">
                                                <li class="badge-item new">
                                                    <span class="text">ново</span>
                                                </li>
                                            </ul>
                                            <a href="#" data-toggle="modal" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                            <!--<div class="nickname-pad hidden-xs hidden-sm">-->
                                            <!--<a href="/@chukov" class="nickname">-->
                                            <!--<span>&copy;</span>-->
                                            <!--<span>chukov</span>-->
                                            <!--</a>-->
                                            <!--</div>-->
                                            <ul class="photo-stats-info">
                                                <li class="views">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span class="text">1,359</span>
                                                </li>
                                                <li class="comments">
                                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                                    <span class="text">548</span>
                                                </li>
                                                <li class="username">
                                                    <a href="/@chukov" class="nickname">
                                                        <span class="text">&copy; chukov</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" data-toggle="modal" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                            <div class="nickname-pad hidden-xs hidden-sm">
                                                <a href="/@chukov" class="nickname">
                                                    <span>&copy;</span>
                                                    <span>chukov</span>
                                                </a>
                                            </div>
                                            <ul class="photo-stats-info">
                                                <li class="views">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span class="text">1,359</span>
                                                </li>
                                                <li class="comments">
                                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                                    <span class="text">548</span>
                                                </li>
                                                <li class="username">
                                                    <a href="/@chukov" class="nickname">
                                                        <span class="text">&copy; chukov</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" data-toggle="modal" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                            <div class="nickname-pad hidden-xs hidden-sm">
                                                <a href="/@chukov" class="nickname">
                                                    <span>&copy;</span>
                                                    <span>chukov</span>
                                                </a>
                                            </div>
                                            <ul class="photo-stats-info">
                                                <li class="views">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span class="text">1,359</span>
                                                </li>
                                                <li class="comments">
                                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                                    <span class="text">548</span>
                                                </li>
                                                <li class="username">
                                                    <a href="/@chukov" class="nickname">
                                                        <span class="text">&copy; chukov</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" data-toggle="modal" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                            <div class="nickname-pad hidden-xs hidden-sm">
                                                <a href="/@chukov" class="nickname">
                                                    <span>&copy;</span>
                                                    <span>chukov</span>
                                                </a>
                                            </div>
                                            <ul class="photo-stats-info">
                                                <li class="views">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span class="text">1,359</span>
                                                </li>
                                                <li class="comments">
                                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                                    <span class="text">548</span>
                                                </li>
                                                <li class="username">
                                                    <a href="/@chukov" class="nickname">
                                                        <span class="text">&copy; chukov</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="editor">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                <div class="main-details">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo"
                                                   style="background-image: url('../images/backgrounds/profile_header_background.jpg')">
                                                                    <span
                                                                        class="text">Христофор Герасимов Господинов</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                                            <div class="user-details">
                                                <h6 class="editor-of-the-month">Редактор на галерията за
                                                    <a href="#">ноември</a> 2017</h6>
                                                <h3 class="profile-name">Христофор Господинов</h3>
                                                <h6 class="nickname">gmarinov</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <a href="editor-view"
                                   class="btn btn-sm btn-block btn-bordered btn-editor-gallery">
                                    <span class="text">Виж галерията</span>
                                </a>
                            </div>
                        </div>
                        <div class="editor-photos">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <ul class="badges-list">
                                                <li class="badge-item new">
                                                    <span class="text">ново</span>
                                                </li>
                                            </ul>
                                            <a href="#" data-toggle="modal" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                            <!--<div class="nickname-pad hidden-xs hidden-sm">-->
                                            <!--<a href="/@chukov" class="nickname">-->
                                            <!--<span>&copy;</span>-->
                                            <!--<span>chukov</span>-->
                                            <!--</a>-->
                                            <!--</div>-->
                                            <ul class="photo-stats-info">
                                                <li class="views">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span class="text">1,359</span>
                                                </li>
                                                <li class="comments">
                                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                                    <span class="text">548</span>
                                                </li>
                                                <li class="username">
                                                    <a href="/@chukov" class="nickname">
                                                        <span class="text">&copy; chukov</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" data-toggle="modal" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                            <div class="nickname-pad hidden-xs hidden-sm">
                                                <a href="/@chukov" class="nickname">
                                                    <span>&copy;</span>
                                                    <span>chukov</span>
                                                </a>
                                            </div>
                                            <ul class="photo-stats-info">
                                                <li class="views">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span class="text">1,359</span>
                                                </li>
                                                <li class="comments">
                                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                                    <span class="text">548</span>
                                                </li>
                                                <li class="username">
                                                    <a href="/@chukov" class="nickname">
                                                        <span class="text">&copy; chukov</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" data-toggle="modal" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                            <div class="nickname-pad hidden-xs hidden-sm">
                                                <a href="/@chukov" class="nickname">
                                                    <span>&copy;</span>
                                                    <span>chukov</span>
                                                </a>
                                            </div>
                                            <ul class="photo-stats-info">
                                                <li class="views">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span class="text">1,359</span>
                                                </li>
                                                <li class="comments">
                                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                                    <span class="text">548</span>
                                                </li>
                                                <li class="username">
                                                    <a href="/@chukov" class="nickname">
                                                        <span class="text">&copy; chukov</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" data-toggle="modal" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                            <div class="nickname-pad hidden-xs hidden-sm">
                                                <a href="/@chukov" class="nickname">
                                                    <span>&copy;</span>
                                                    <span>chukov</span>
                                                </a>
                                            </div>
                                            <ul class="photo-stats-info">
                                                <li class="views">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span class="text">1,359</span>
                                                </li>
                                                <li class="comments">
                                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                                    <span class="text">548</span>
                                                </li>
                                                <li class="username">
                                                    <a href="/@chukov" class="nickname">
                                                        <span class="text">&copy; chukov</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="editor">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                <div class="main-details">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo"
                                                   style="background-image: url('../images/backgrounds/profile_header_background.jpg')">
                                                                    <span
                                                                        class="text">Христофор Герасимов Господинов</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                                            <div class="user-details">
                                                <h6 class="editor-of-the-month">Редактор на галерията за
                                                    <a href="#">ноември</a> 2017</h6>
                                                <h3 class="profile-name">Христофор Господинов</h3>
                                                <h6 class="nickname">gmarinov</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <a href="editor-view"
                                   class="btn btn-sm btn-block btn-bordered btn-editor-gallery">
                                    <span class="text">Виж галерията</span>
                                </a>
                            </div>
                        </div>
                        <div class="editor-photos">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <ul class="badges-list">
                                                <li class="badge-item new">
                                                    <span class="text">ново</span>
                                                </li>
                                            </ul>
                                            <a href="#" data-toggle="modal" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                            <!--<div class="nickname-pad hidden-xs hidden-sm">-->
                                            <!--<a href="/@chukov" class="nickname">-->
                                            <!--<span>&copy;</span>-->
                                            <!--<span>chukov</span>-->
                                            <!--</a>-->
                                            <!--</div>-->
                                            <ul class="photo-stats-info">
                                                <li class="views">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span class="text">1,359</span>
                                                </li>
                                                <li class="comments">
                                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                                    <span class="text">548</span>
                                                </li>
                                                <li class="username">
                                                    <a href="/@chukov" class="nickname">
                                                        <span class="text">&copy; chukov</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" data-toggle="modal" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                            <div class="nickname-pad hidden-xs hidden-sm">
                                                <a href="/@chukov" class="nickname">
                                                    <span>&copy;</span>
                                                    <span>chukov</span>
                                                </a>
                                            </div>
                                            <ul class="photo-stats-info">
                                                <li class="views">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span class="text">1,359</span>
                                                </li>
                                                <li class="comments">
                                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                                    <span class="text">548</span>
                                                </li>
                                                <li class="username">
                                                    <a href="/@chukov" class="nickname">
                                                        <span class="text">&copy; chukov</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" data-toggle="modal" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                            <div class="nickname-pad hidden-xs hidden-sm">
                                                <a href="/@chukov" class="nickname">
                                                    <span>&copy;</span>
                                                    <span>chukov</span>
                                                </a>
                                            </div>
                                            <ul class="photo-stats-info">
                                                <li class="views">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span class="text">1,359</span>
                                                </li>
                                                <li class="comments">
                                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                                    <span class="text">548</span>
                                                </li>
                                                <li class="username">
                                                    <a href="/@chukov" class="nickname">
                                                        <span class="text">&copy; chukov</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" data-toggle="modal" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                            <div class="nickname-pad hidden-xs hidden-sm">
                                                <a href="/@chukov" class="nickname">
                                                    <span>&copy;</span>
                                                    <span>chukov</span>
                                                </a>
                                            </div>
                                            <ul class="photo-stats-info">
                                                <li class="views">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span class="text">1,359</span>
                                                </li>
                                                <li class="comments">
                                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                                    <span class="text">548</span>
                                                </li>
                                                <li class="username">
                                                    <a href="/@chukov" class="nickname">
                                                        <span class="text">&copy; chukov</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-md btn-primary btn-load-more btn-action btn-loading">
                                            <span class="btn-content-wrapper">
                                                <span class="icon">
                                                    <i class="fa fa-spinner fa-spin spinner"></i>
                                                </span>
                                                <span class="text">Зареди още</span>
                                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
