<div class="modal fade" id="modalEditorBC" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <h2 class="head">Визитка на редактора</h2>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right">
                            <button type="button" class="close-modal" data-dismiss="modal">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;width: 25px;fill:#aaaaaa;" xml:space="preserve">
<g>
    <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
		c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
		C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
		s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
</g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
</svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="main-details-wrapper">
                                <div class="main-details">
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo"
                                           style="background-image: url('../images/backgrounds/profile_header_background.jpg')">
                                            <span class="text">Христофор Герасимов Господинов</span>
                                        </a>
                                    </div>
                                    <div class="user-details">
                                        <h3 class="profile-name">Христофор Герасимов Господинов</h3>
                                        <h6 class="nickname">gmarinov</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="editor-bio">
                                <p>Повече от 15 години работи в областта на модата, рекламата и комерсиалната
                                    фотография. Снима за популярни български списнаия и клиенти.</p>
                                <p>Преподава фотография в Нов Български Университет. Обича да пътува. Чувства се
                                    най-уверен на снимачната площадка.</p>
                                <p>
                                    <b>Разкажете ни накратко за себе си, какви са вашите работа и хобита?</b><br/>
                                    Снимам основно комерсиална рекламна фотография и преподавам в НБУ. Хобито ми
                                    аудио-видео техниката.
                                </p>
                                <p>
                                    <b>Какво е първото нещо, което ви привлече във фотографията?</b><br/>
                                    Възможността да показвам на другите хора нещата така както аз ги виждам.
                                </p>
                                <p><b>Влияе ли по някакъв начин и житейският ви опит на фотографиите, които
                                        заснемате?</b><br>
                                    Повече от 15 години работи в областта на модата, рекламата и комерсиалната
                                    фотография. Снима за популярни български списнаия и клиенти.</p>
                                <p>Преподава фотография в Нов Български Университет. Обича да пътува. Чувства се
                                    най-уверен на снимачната площадка.</p>
                                <p>
                                    <b>Разкажете ни накратко за себе си, какви са вашите работа и хобита?</b><br/>
                                    Снимам основно комерсиална рекламна фотография и преподавам в НБУ. Хобито ми
                                    аудио-видео техниката.
                                </p>
                                <p>
                                    <b>Какво е първото нещо, което ви привлече във фотографията?</b><br/>
                                    Възможността да показвам на другите хора нещата така както аз ги виждам.
                                </p>
                                <p><b>Влияе ли по някакъв начин и житейският ви опит на фотографиите, които
                                        заснемате?</b><br>
                                    Повече от 15 години работи в областта на модата, рекламата и комерсиалната
                                    фотография. Снима за популярни български списнаия и клиенти.</p>
                                <p>Преподава фотография в Нов Български Университет. Обича да пътува. Чувства се
                                    най-уверен на снимачната площадка.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
