<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/toastr/toastr.min.js"></script>
<script src="bower_components/Croppie/croppie.min.js"></script>
<script src="bootstrap-slider.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="bootstrap-sprockets.js"></script>
<script src="bootstrap-select.js"></script>
<script src="bootstrap-toggle.js"></script>
<script src="bootstrap-tagsinput.js"></script>
<script src="jquery-flexslider.js"></script>
<script src="croppie.js"></script>
<script src="main.js"></script>
<link rel="stylesheet" href="dist/screen.css">
