.store-item-page {
    .container-wrapper {
        .bazar-products {
            background-color: $color_2;

            .content-wrapper {
                .item-wrapper {
                    .item {
                        .breadcrumb {
                            background-color: $color_2;
                        }

                        .item-image {
                            .main-photo-viewer {
                                .category-photo-carousel {
                                    .flex-direction-nav {
                                        .flex-nav-prev,
                                        .flex-nav-next {
                                            background-color: $color_2;
                                        }
                                    }
                                }
                            }
                        }

                        .item-caption {
                            .caption {
                                .caption-header {
                                    .heading {
                                        font-weight: 300;

                                        a {
                                            color: $color_4;
                                        }
                                    }
                                }

                                .caption-body {
                                    display: block;
                                    @include clearfix();
                                    padding-bottom: 20px;
                                    border-bottom: 1px solid $color_13;
                                    margin-bottom: 30px;

                                    .item-price {
                                        float: left;
                                        margin-right: 30px;
                                        font-weight: 300;
                                        @media (max-width: 767px) {
                                            margin-right: 0;
                                            margin-bottom: 10px;
                                        }
                                    }

                                    .ad-buttons {
                                        float: left;
                                        @include clearfix();

                                        .form-group {
                                            float: left;
                                            margin-right: 15px;
                                            margin-bottom: 0;

                                            &:first-child {
                                                width: 160px;
                                            }

                                            &:last-of-type {
                                                width: 120px;
                                            }

                                            .item-table-size {
                                                font-size: 12px;
                                                @media (max-width: 767px) {
                                                    display: block;
                                                    margin-top: 15px;
                                                }
                                            }
                                        }

                                        .btn-add-to-basket {
                                            padding-top: 7px;
                                            padding-bottom: 7px;

                                            .fa {
                                                font-size: 18px;
                                                margin-right: 15px;
                                            }

                                            @media (max-width: 767px) {
                                                width: 100%;
                                                margin-top: 15px;
                                            }
                                        }
                                    }
                                }

                                .caption-footer {
                                    .item-description {
                                        p {
                                            margin-bottom: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#shopItemMsg {
    .modal-dialog {
        .modal-content {
            .modal-header {
                @media (max-width: 767px) {
                    padding: 25px 0 15px;
                }

                .head {
                    @media (max-width: 767px) {
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }

            .modal-body {
                .order-items-container {
                    .order-items-body {
                        .order-item {
                            border-top: 1px solid $color_13;
                            padding-top: 15px;
                            padding-bottom: 15px;

                            &:last-of-type {
                                border-bottom: 1px solid $color_13;
                            }

                        }
                    }
                }

                @media (max-width: 767px) {
                    padding: 0;
                }
            }

            .modal-footer {
                .btn {
                    @media (max-width: 767px) {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

#shopItemSizes {
    .modal-dialog {
        .modal-content {
            .modal-header {
                @media (max-width: 767px) {
                    padding: 25px 0 15px;
                }

                .head {
                    @media (max-width: 767px) {
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }

            .modal-body {
                @media (max-width: 767px) {
                    padding: 0;
                }

                .table.table-striped {
                    thead {
                        tr {
                            background-color: $color_2;

                            th {
                                padding: 0 15px 15px 0;
                                border-bottom: 1px solid $color_13;
                            }
                        }
                    }

                    tbody {
                        tr {
                            background-color: $color_2;

                            td {
                                padding: 10px 10px 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
