.shopping-cart {
    &.step-3 {
        .container-wrapper {
            .bazar-products {
                .content-wrapper {
                    .content-body {
                        .section-wrapper {
                            padding: 40px 30px 60px;
                            background-color: $color_36;

                            .head {
                                text-align: left;
                            }

                            .block-content {
                                p {
                                    margin-bottom: 15px;

                                    &:last-of-type {
                                        margin-bottom: 0;
                                    }
                                }

                                .block-content-body {
                                    margin-bottom: 15px;

                                    p {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
