.store-page {

    .container-wrapper {

        .content-wrapper {
            padding-top: 0;

            .content-header {
                text-align: left;
                margin-top: 35px;
                margin-bottom: 40px;

                .breadcrumb {
                    margin: 10px 0 0;
                    @media (max-width: 767px) {
                        margin-bottom: 30px;
                    }
                }

                .shopping-cart-basket {
                    color: $color_54;
                    display: block;
                    text-align: right;

                    .icon {
                        margin-right: 10px;
                        @include inline-block();

                        .fa {
                            font-size: 42px;
                        }
                    }

                    .basket-items {
                        @include inline-block();
                    }
                }
            }

            .content-body {
                .filter-categories {
                    margin-bottom: 30px;

                    .category {
                        &:first-child {
                            a {
                                @include border-radius(3px 3px 0 0);
                            }
                        }

                        &:last-child {
                            a {
                                @include border-radius(0 0 3px 3px);
                            }
                        }

                        a {
                            color: $color_4;
                            display: block;
                            padding: 15px;
                            background-color: $color_67;

                            &:hover {
                                color: $color_2;
                                background-color: $color_6;
                            }
                        }

                        &.selected, &.active {
                            a {
                                color: $color_2;
                                background-color: $color_6;
                            }
                        }
                    }
                }

                .order-items-container {
                    padding-bottom: 40px;
                    border-bottom: 1px solid $color_41;
                    margin-bottom: 40px;

                    .order-items-header {
                        span {
                            display: block;
                            padding-bottom: 15px;
                            @include roboto-font($bold-font, $bold-font-weight);
                        }
                    }

                    .order-items-body {
                        .order-item {
                            border-top: 1px solid $color_13;
                            padding-top: 15px;
                            padding-bottom: 15px;

                            &:last-of-type {
                                border-bottom: 1px solid $color_13;
                            }

                            .row-thumb-photos {
                                .photo-wrapper {
                                    @media (max-width: 767px) {
                                        width: 70px;
                                    }

                                    .photo {
                                        height: 70px;
                                    }
                                }
                            }

                            .item-qty {
                                .form-group {
                                    margin-bottom: 0;

                                    .form-control {
                                        width: 50%;
                                    }
                                }
                            }
                        }
                    }

                    .order-items-footer {
                        padding-top: 40px;

                        .order-items-notice-container {
                            margin: 0;
                            padding: 15px 0;

                            .order-items-notice {
                                &:before {
                                    margin-right: 5px;
                                    content: "\f054";
                                    font-family: FontAwesome;
                                    font-style: normal;
                                    font-weight: normal;
                                    text-decoration: inherit;
                                }

                                margin-bottom: 25px;
                            }
                        }

                        .order-items-price {
                            margin-bottom: 30px;
                        }

                        .order-items-discount-code {
                            margin-bottom: 30px;

                            .input-group {
                                .input-group-btn {
                                    .btn-add-discount {
                                        width: 130px;
                                        padding: 6px 10px;
                                    }
                                }
                            }
                        }

                        .order-items-discount-price {
                            margin-bottom: 30px;
                        }
                    }
                }

                .order-items-payment-methods {
                    .title {
                        font-size: 24px;
                        color: $color_4;
                        margin-bottom: 60px;
                    }

                    .payment-method {
                        padding-right: 30px;
                        border-right: 1px solid $color_41;
                        min-height: 545px;
                        @media (max-width: 767px) {
                            border: none;
                            min-height: unset;
                            padding-right: 0;
                            border-bottom: 1px solid $color_41;
                            padding-bottom: 30px;
                            margin-bottom: 30px;
                        }

                        &.option-1 {
                            .payment-methods-label {
                                margin-bottom: 30px;
                            }
                        }

                        &.option-3 {
                            border-right: none;
                            @media (max-width: 767px) {
                                border-bottom: none;
                            }
                        }

                        .payment-methods-label {
                            color: $color_4;
                            text-transform: uppercase;
                            background-color: $color_41;
                            line-height: 1.4em;
                            padding: 0 12px;
                            margin-bottom: 55px;
                            @include inline-block();
                            @include border-radius(3px);
                            @include roboto-font($bold-font, $bold-font-weight);
                        }

                        .btn-continue-shopping {
                            text-transform: uppercase;
                            margin-bottom: 25px;
                        }

                        .links {
                            display: block;
                            margin-bottom: 30px;
                            @include clearfix();

                            li {
                                float: left;
                                margin-right: 10px;
                                @include inline-block;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }

                        .social-networks-auth {
                            .social-networks-auth-label {
                                padding-bottom: 10px;
                                margin-bottom: 15px;
                                border-bottom: 1px solid $color_41;
                            }

                            .form-group {
                                margin-bottom: 0;

                                .btn {
                                    margin-bottom: 15px;

                                }
                            }
                        }
                    }
                }

                .content {
                    .bazar-products {
                        .item-wrapper {
                            .item {
                                .item-image {
                                    @media (max-width: 767px) {
                                        text-align: center;
                                    }
                                }

                                .item-caption {
                                    .caption {
                                        .caption-header {
                                            .heading {
                                                font-size: 14px;
                                            }
                                        }

                                        .caption-footer {
                                            .item-caption-price {
                                                .item-price {
                                                    font-size: 14px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
