.comments-wrapper {
    text-align: left;

    .comments-header {
        border-top: 1px solid $color_13;
        border-bottom: 1px solid $color_13;
        padding: 10px 0;
        margin-bottom: 15px;
        @include clearfix();

        .head {
            float: left;
            color: $color_4;
            font-size: 16px;
            margin-top: 7px;
            margin-bottom: 0;
        }

        .follow-comments {
            float: right;
            @media (max-width: 767px) {
                text-align: right;
            }

            &.switch {
                .text-right {
                    margin-right: 15px;
                    margin-left: 0;
                    @media (max-width: 767px) {
                        margin-right: 0;
                        float: none;
                        width: 100%;
                    }
                }

                .switch-option {
                    @media (max-width: 767px) {
                        float: right;
                    }
                }
            }
        }
    }

    .main-details {
        text-align: right;
        @media (max-width: 767px) {
            text-align: left;
        }

        .photo-wrapper {
            width: 60px;
            height: 60px;
            @include inline-block();

            @media (max-width: 767px) {
                margin-right: 0;
            }

            .photo {
                text-align: left;
            }
        }
    }

    .please-sign-in {
        display: none;
        text-align: center;
        padding: 0 30px;
        margin-bottom: 25px;

        .fa {
            margin-right: 15px;
        }

        p {
            margin-bottom: 0;

            &:first-child {
                margin-bottom: 15px;
            }
        }

        &.guest-user {
            display: block;
        }
    }

    .write-comment {
        margin-bottom: 25px;
        @include clearfix();

        &.gust-user {
            display: none;
        }

        .comment-block {
            .form-group {
                textarea {
                    width: 100%;
                }
            }

            button.btn {
                margin: 0;
                @media (max-width: 480px) {
                    width: 100%;
                }
            }

            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }

    .comments {
        .comment {
            padding-top: 25px;
            padding-bottom: 25px;
            border-top: 1px solid $color_13;
            position: relative;
            @include clearfix();

            &.highlight {
                background-color: $color_72;
            }

            &.restricted {
                .main-details,
                .comment-header,
                .comment-content {
                    @include opacity(0.38);
                }
            }

            .comment-options {
                position: absolute;
                top: 0;
                right: 30px;
                @include clearfix();
                @media (max-width: 767px) {
                    position: static;
                    margin-bottom: 15px;
                }

                .comment-option {
                    float: left;
                    margin-right: 20px;
                    @include clearfix();

                    .btn {
                        &.btn-action {
                            padding: 0;
                            background: none;
                            float: left;
                            @include box-shadow(none);

                            .icon {
                                .fa {
                                    margin-right: 0;
                                    font-size: 18px;
                                    color: $color_73;
                                }
                            }

                            &:hover {
                                .icon {
                                    .fa {
                                        color: $color_6;
                                    }
                                }
                            }

                            &.active {
                                .icon {
                                    .fa {
                                        color: $color_6;
                                    }
                                }

                                &:hover {
                                    .icon {
                                        .fa {
                                            color: $color_73;
                                        }
                                    }
                                }
                            }

                            &.btn-loading {
                                .icon {
                                    .fa {
                                        &.spinner {
                                            margin-top: -3px;
                                            color: $color_6;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .option-counter {
                        float: left;
                        margin-left: 5px;
                        @include inline-block();
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &.more-options {
                        .btn-group {
                            .btn {
                                color: $color_73;

                                &:focus {
                                    color: $color_73;
                                }

                                &.dropdown-toggle {
                                    padding: 0;
                                    border: none;
                                    background: none;
                                    @include box-shadow(none);
                                }
                            }

                            .dropdown-menu {
                                margin-top: 10px;
                                right: 0;
                                left: unset;
                            }
                        }
                    }
                }
            }

            .comment-header {
                margin-bottom: 15px;

                .separator {
                    margin: 0 10px;
                }

                .separator, .comment-date {
                    color: $color_9;
                }

                .comment-author {
                    color: $color_28;
                    @include roboto-font($bold-font, $bold-font-weight);

                    &:hover {
                        color: $color_6;
                    }
                }
            }

            .comment-content {
                p {
                    margin-bottom: 10px;

                    &:last-of-type {
                        margin-bottom: 0;

                    }
                }
            }
        }
    }
}
