.full-with-advertise {
    margin-top: 60px;
    width: 100%;
    height: 135px;
    background-color: $color_75;
    display: table;
    text-align: center;
    @media (max-width: 767px) {
        margin-top: 30px;
    }

    span {
        display: table-cell;
        vertical-align: middle;
        color: $color_12;
    }
}
