.all-photopis {
    .item-wrapper {
        .item {
            margin-bottom: 30px;
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 30px;

            .item-image {
                @media (max-width: 767px) {
                    text-align: center;
                }

                .row-thumb-photos {
                    .photo-wrapper {
                        .photo {
                            height: 245px;
                        }
                    }
                }
            }

            .item-caption {
                .caption {
                    @media (max-width: 767px) {
                        margin-top: 15px;
                    }

                    .caption-header {
                        .heading {
                            margin-top: 0;
                            margin-bottom: 20px;
                        }

                        .item-author {
                            @include clearfix();

                            .main-details {
                                .photo-wrapper,
                                .profile-name,
                                span {
                                    float: left;
                                    color: $color_66;
                                }

                                .profile-name {
                                    @media (max-width: 767px) {
                                        margin-top: 2px;
                                        line-height: 1.2em;
                                    }
                                }

                                span {
                                    @media (max-width: 767px) {
                                        margin-top: 5px;
                                    }

                                    &:before {
                                        content: '\\';
                                        padding: 0 5px;
                                    }

                                    &.since-date {
                                        @media (max-width: 767px) {
                                            clear: left;
                                        }

                                        &:before {
                                            @media (max-width: 767px) {
                                                display: none;
                                            }
                                        }
                                    }
                                }

                                .photo-wrapper {
                                    width: 25px;
                                    height: 25px;
                                    margin-top: -3px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }

                    .caption-body {
                        margin-top: 15px;

                        .item-description {
                            @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 6);

                            &:before {
                                top: 50px;
                                @media (max-width: 767px) {
                                    top: 80px;
                                }
                            }

                            @media (max-width: 767px) {
                                text-align: left;
                            }
                        }
                    }

                    .caption-footer {
                        margin-top: 30px;

                        .item-caption-buttons {
                            .ad-buttons {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}
