.badge-status {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1em;
    text-align: center;
    padding: 7px 10px 5px;
    width: 90px;
    @include inline-block();
    @include border-radius(3px);

    &.sold-out,
    &.deactivated {
        background-color: lighten($color_27, 50%);
        border: 1px solid $color_27;
        color: $color_27;
    }

    &.pro {
        background-color: lighten($brand-warning, 33%);
        border: 1px solid $brand-warning;
        color: $brand-warning;
        width: auto;
    }

    &.contributor {
        background-color: lighten($brand-primary, 55%);
        border: 1px solid $brand-primary;
        color: $brand-primary;
    }

    &.active {
        background-color: lighten($brand-success, 55%);
        border: 1px solid $brand-success;
        color: $brand-success;
    }
}
