.badges-list {
    position: absolute;
    top: 0;
    right: 0;
    @include transition(.3s);
    @include opacity(.6);
    @include clearfix();

    .won-badges {
        left: 0;
        height: 40px;
        margin-bottom: 0;
        float: right;
        @include clearfix;

        .badge-item {
            float: left;
            text-align: center;
            padding: 0;
            margin-right: 10px;
            width: 30px;
            height: 40px;
            position: relative;
            @include inline-block();
            @include border-radius(0 0 3px 3px);

            &:hover {
                .tool-description-tooltip {
                    display: block;
                }
            }

            .tool-description-tooltip {
                position: absolute;
                background-color: $color_38;
                padding: 10px;
                right: 0;
                bottom: -40px;
                z-index: 1;
                display: none;
                @include border-radius(3px);

                .fa {
                    top: -10px;
                    right: 10px;
                    position: absolute;
                    color: $color_38;
                    font-size: 26px;
                }

                .text {
                    font-size: 12px;
                    color: $color_2;
                    line-height: 1em;
                    text-transform: capitalize;
                }
            }

            &.diamond {
                background-color: #1b93c5;

                .icon {
                    @include sprites('badge_golden_diamond');
                }
            }

            &.gold-cup {
                background-color: #c5ab1b;

                .icon {
                    @include sprites('badge_golden_cup');
                }
            }

            .icon {
                margin-top: 12px;
            }
        }
    }
}
