.select-new-photo {
    .btn-upload-photo {
        overflow: hidden;
        position: relative;

        .upload-new-photo {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            cursor: pointer;
            @include opacity(0);
        }

        .btn-content {
            text-transform: uppercase;
            @include inline-block();
            @include clearfix();

            i.fa, .text {
                float: left;
                display: block;
            }

            i.fa {
                font-size: 26px;
                margin-right: 15px;
                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }

            .text {
                margin-top: 3px;
                @media (max-width: 767px) {
                    margin-top: 1px;
                    font-size: 12px;
                }
            }
        }
    }
}
