.btn {
    outline: none;
    @include transition(.3s);

    &:focus {
        outline: none;
        color: $color_2;
        outline-offset: unset;

        &:active {
            outline: none;
            color: $color_2;
        }
    }

    &.close {
        @include opacity(1);
    }

    &.btn-close {
        outline: none;
        border: none;
        padding: 0;
        background: unset;
        line-height: 1em;

        i.fa {
            font-size: 28px;
        }
    }

    &.btn-sm {
        line-height: 1.4em;
    }

    &.btn-default {
        &:focus {
            background-color: $color_2;
        }
    }

    &.btn-bordered {
        padding-right: 20px;
        padding-left: 20px;
        color: $color_6;
        border: 1px solid $color_6;
        background-color: $color_2;
        @include transition(.3s);

        &:focus,
        &:hover {
            color: $color_2;
            background-color: $color_6;
        }
        &.btn-action {

            .btn-content-wrapper {
                .icon {
                    .fa {
                        color: $color_6;
                    }
                }
            }
        }
    }

    &.btn-custom {
        color: $color_2;
        font-size: 14px;
        margin-bottom: 25px;
        background-color: $color_6;
        padding-left: 30px;
        padding-right: 30px;
        text-transform: uppercase;
        border: none;
        @include clearfix;

        &:hover,
        &:focus {
            color: $color_2;
            border: none;
        }

        &:hover {
            background-color: lighten($color_6, 3%);
        }

        .text, .spinner {
            display: block;
            float: left;
        }

        .spinner {
            display: none;
        }

        &.loading {
            background-color: $color_9;
            color: lighten($color_9, 30%);

            .spinner {
                display: block;
                margin-left: 30px;
                @include animation(fa-spin 1.5s infinite linear);
            }
        }
    }

    &.btn-photo-all {
        margin-bottom: 0;
    }

    &.btn-facebook,
    &.btn-google {
        margin: 0 0 25px 0;
        color: $color_2;
        font-size: 14px;
        text-transform: uppercase;
        @include roboto-font($light-font, $light-font-weight);

        &:focus {
            color: $color_2;
        }

        i.fa {
            margin-right: 5px;
        }

    }

    &.btn-facebook {
        border: 1px solid $color_25;
        background-color: $color_25;

        &:hover {
            background-color: darken($color_25, 8%);
            color: $color_2;
        }
    }

    &.btn-google {
        border: 1px solid $color_42;
        background-color: $color_42;

        &:hover {
            color: $color_2;
            background-color: darken($color_42, 8%);
        }
    }

    &.btn-follow {
        width: 100px;
        border: none;
        margin-top: 25px;
        text-transform: uppercase;
        @include roboto-font($light-font, $light-font-weight);

        span {
            &.follow {
                display: block;
            }

            &.followed {
                display: none;
            }

            &.no-follow {
                display: none;
            }
        }

        &.is-followed {
            background-color: $color_43;

            &:hover {
                background-color: $color_27;

                span {
                    &.follow {
                        display: none;
                    }

                    &.followed {
                        display: none;
                    }

                    &.no-follow {
                        display: block;
                    }
                }
            }

            span {
                &.follow {
                    display: none;
                }

                &.followed {
                    display: block;
                }

                &.no-follow {
                    display: none;
                }
            }
        }
    }

    &.btn-more-actions {
        color: $color_2;
        background-color: $color_46;
        border-color: darken($color_46, 5%);
    }

    &.btn-price-info {
        padding: 0;
        line-height: 1em;
        background: transparent;
    }

    &.btn-copyright-license {
        line-height: .7em;
        font-size: 13px;
        text-transform: uppercase;
        padding: 12px 14px;
    }

    &.btn-action {
        text-align: center;

        .btn-content-wrapper {
            @include inline-block();
            @include clearfix();

            .icon, .text {
                float: left;
                font-size: 14px;
                @media (max-width: 767px) {
                    font-size: 12px;
                }
            }

            .icon {
                .fa {
                    margin-right: 15px;
                    color: $color_2;
                    font-size: 18px;
                    margin-top: 1px;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                    &.spinner {
                        display: none;
                    }
                }
            }
        }

        &.btn-loading {
            .btn-content-wrapper {
                .icon {
                    .fa {
                        display: none;

                        &.spinner {
                            display: block;
                        }
                    }
                }
            }
        }

        &.active {
            .btn-content-wrapper {
                .icon {
                    .fa {
                        color: $color_6;

                        &.spinner {
                            color: $color_2;
                        }
                    }
                }
            }

            &:hover {
                .btn-content-wrapper {
                    .icon {
                        .fa {
                            color: $color_2;
                        }
                    }
                }

            }

        }

        &:hover {
            .btn-content-wrapper {
                .icon {
                    .fa {
                        color: $color_2;
                    }
                }
            }
        }
    }

}
