.commentator-rating-badges {
    margin-bottom: 0;
    @include clearfix();

    .rating-badge {
        float: left;
        margin-right: 10px;
        position: relative;

        &:hover {
            .rating-badge-label {
                display: block;
            }
        }

        svg {
            width: 30px;
        }

        .rating-badge-label {
            display: none;
            position: absolute;
            right: 0;
            bottom: -40px;
            background-color: $color_38;
            text-align: center;
            color: $color_2;
            padding-top: 5px;
            padding-bottom: 5px;
            z-index: 123;
            @include border-radius(5px);

            &:before {
                color: $color_38;
                content: '\f0de';
                font-family: FontAwesome, sans-serif;
                position: absolute;
                top: -5px;
                right: 0;
                left: 0;
                margin: 0 auto;
                line-height: 1em;
            }
        }

        &.lecturer {
            .rating-badge-label {
                left: -45px;
                width: 120px;
            }
        }

        &.exhibit {
            .rating-badge-label {
                left: -95px;
                width: 220px;
            }
        }

        &.participant-pro {
            .rating-badge-label {
                left: -95px;
                width: 220px;
            }
        }

        &.gallery {
            .rating-badge-label {
                left: -125px;
                width: 280px;
            }
        }

        &.beta-tester {
            .rating-badge-label {
                left: -45px;
                width: 120px;
            }
        }

        &.volunteer {
            .rating-badge-label {
                left: -180px;
                width: 390px;
            }
        }

        &.month-editor {
            .rating-badge-label {
                left: -80px;
                width: 190px;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
