.news-content-tools {
    border-top: 1px solid $color_31;
    padding-top: 15px;
    margin-bottom: 15px;

    .share-tools,
    .content-font-tool {
        margin-bottom: 0;
        @include inline-block();
        @include clearfix();

        li {
            float: left;
            @include inline-block();

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .share-tools {
        li {
            margin-right: 15px;
        }
    }

    .content-font-tool {
        li {
            margin-right: 5px;

            .btn-font-size {
                padding: 3px 9px;
                color: $color_3;
                border-color: $color_3;
            }
        }
    }
}
