.filter-wrapper {
    padding: 40px 0;

    .filter-option {
        @media (max-width: 979px) {
            margin-bottom: 15px;
        }

        .btn-group {
            &.bootstrap-select {
                .filter-option {
                    @media (max-width: 979px) {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &.search {
            @include clearfix;

            input,
            button {
                display: block;
            }

            input {
                width: 110px;
                padding: 10px 5px 10px 10px;
                @media (min-width: 768px) and (max-width: 979px) {
                    width: 400px;
                }
                @media (max-width: 480px) {
                    width: 195px;
                }
            }

            .form-group {
                float: left;
                margin-bottom: 0;
            }

            .btn.btn-custom {
                float: right;
                font-size: 12px;
                padding: 15px 20px;
                line-height: 1em;
                margin-bottom: 0;
            }

            .btn-group.bootstrap-select {
                input {
                    width: 100%;
                }
            }
        }
    }
}
