.icon {
    outline: none;
    @include inline-block;

    &.close {
        @include sprites('close');

        &.close-grey {
            @include sprites('close_grey');
        }
    }

    &.close-menu {
        @include sprites('close_menu');
    }

    &.arrow-right {
        @include sprites('arrow_right_green');
    }

    &.arrow-down {
        @include sprites('arrow_down');
    }

    &.slide-horizontal-hand {
        @include sprites('slide_horizontal_hand');
    }

    &.theme-label {
        @include sprites('theme_label');
    }

    &.google-search {
        @include sprites('google_search_icon');
    }

    &.info {
        @include sprites('info_circle');
    }
}
