.main-search-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: -100;
    @include opacity(0);
    @include transition(.3s);
    background-color: rgba($color_11, .5);
    &.active {
        z-index: 999999;
        @include opacity(1);
    }
    .main-search {
        width: 60vw;
        top: 42vh;
        right: 0;
        left: 0;
        margin: 0 auto;
        position: absolute;
        @include inline-block();
        @include transform(scale(0));
        @include transition(.3s);
        @media (max-width: 767px) {
            width: 80vw;
        }
        &.active {
            @include transform(scale(1));
        }
        .input-group {
            .form-control {
                height: auto;
                padding: 24px 20px;
                font-size: 18px;
                color: $color_46;
                border: none;
                @include box-shadow(none);
            }
            .input-group-btn {
                .btn-main-search {
                    .btn-content-wrapper {
                        .icon {
                            .fa {
                                font-size: 50px;
                                margin-right: 0;
                                color: $color_46;
                            }
                        }
                    }
                }
            }
        }
    }
}
