.messages {
    .panel {
        .panel-body {
            .tab-content {
                .tab-pane {
                    .msg-controls {
                        .bordered-button {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
