#modalAuthorVotes {
    .modal-dialog {
        margin-top: 80px;
        @media (max-width: 767px) {
            margin-top: 80px;
        }

        .modal-content {
            .modal-header {
                .close-modal {
                    background: unset;
                    border: none;
                    padding: 0;

                    i.fa {
                        color: $color_39;
                        font-size: 28px;
                        line-height: 1em;
                    }
                }
            }

            .modal-body {
                @media (max-width: 767px) {
                    padding-bottom: 10px;
                }

                .voting-notice {
                    text-align: center;
                }

                .author-votes {
                    max-height: 55vh;
                    overflow-y: scroll;
                    text-align: center;
                    margin-bottom: 15px;
                    @media (max-width: 767px) {
                        margin-bottom: 0;
                        max-height: 60vh;
                    }

                    .row {
                        &:last-child {
                            .row-thumb-photos {
                                margin-bottom: 0;
                                @media (max-width: 767px) {
                                    margin-bottom: 30px;
                                }
                            }
                        }
                    }

                    .row-thumb-photos {
                        width: 245px;
                        margin-bottom: 30px;
                        @include inline-block();
                        @media (max-width: 767px) {
                            width: 220px;
                        }

                        .photo-wrapper {
                            @media (max-width: 767px) {
                                width: 220px;
                                height: 220px;
                            }

                            .photo {
                                width: 245px;
                                height: 245px;
                                @media (max-width: 767px) {
                                    width: 220px;
                                    height: 220px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
