.modal-add-to-calendar {
    .modal-content {
        .modal-body {
            text-align: center;

            .calendars-list {
                margin-bottom: 0;
                @include inline-block();
                @include clearfix();

                .calendar {
                    float: left;
                    margin-right: 10px;
                    padding: 25px;
                    border: 2px solid $color_2;
                    @include transition(.3s);
                    @include border-radius(3px);
                    @media (max-width: 767px) {
                        float: none;
                        margin-right: 0;
                        margin-bottom: 10px;
                        @include inline-block();
                    }

                    &:active,
                    &:hover {
                        cursor: pointer;
                        border: 2px solid $color_6;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    span {
                        display: block;
                        text-align: center;

                        &.calendar-icon {
                            margin-bottom: 15px;
                        }
                    }

                    &.google {
                        .calendar-icon {
                            @include calendar('google_calendar');
                        }
                    }

                    &.yahoo {
                        .calendar-icon {
                            @include calendar('yahoo_calendar');
                        }
                    }

                    &.outlook {
                        .calendar-icon {
                            @include calendar('outlook_calendar');
                        }
                    }
                }
            }
        }
    }
}
