#copyrightLicense {
    .modal-dialog {
        margin-top: 150px;
        @media (max-width: 767px) {
            margin-top: 80px;
        }

        .modal-header {
            padding: 25px 15px;
            @media (max-width: 767px) {
                padding: 15px;
            }
            .head {
                font-weight: 700;
            }
        }

        .modal-content {
            .modal-body {
                padding: 0 0 25px 0;
                @media (max-width: 767px) {
                    padding: 0;
                }
                .widget {
                    &.photo-license {
                        padding: 0;
                        border: none;
                        .widget-body {
                            .widget-item {
                                .widget-content {
                                    .license {
                                        margin-bottom: 30px;
                                    }
                                    .input-group {
                                        margin-bottom: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
