.modal-suggest-event {
    .modal-content {
        .modal-footer {
            .btn-cancel {
                @media (max-width: 767px) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}
