#modalUploadPhoto {
    .modal-dialog {
        .modal-content {
            padding: 15px;
            @media (max-width: 767px) {
                padding: 0;
            }

            .modal-header {
                padding-right: 0;
                padding-left: 0;

                .head {
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }
            }

            .modal-body {
                background-color: $color_36;
                border: 3px dashed $color_62;
                padding: 0;
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 15px;
                @include transition(.3s);
                @media (max-width: 767px) {
                    margin-left: 0;
                    margin-right: 0;
                    padding-bottom: 15px;
                    border: none;
                }

                &.step-1 {
                    &:hover {
                        border: 3px dashed darken($color_62, 18%);
                    }
                }

                &.step-3 {
                    border: none;
                    padding-right: 0;
                    padding-left: 0;
                    background-color: $color_2;
                }

                .step-1 {
                    .upload-photo-notice {
                        margin-top: 50px;
                        margin-bottom: 60px;

                        span {
                            line-height: 1.2em;
                            margin-bottom: 10px;
                            @include inline-block();
                        }

                        ul {
                            margin-bottom: 20px;
                            @include roboto-font($condensed-font, $condensed-font-weight);
                        }
                    }

                    .links {
                        margin-bottom: 60px;

                        li {
                            .text {

                            }
                        }
                    }
                }

                .step-2 {
                    .uploaded-photo-wrapper {
                        margin-top: 50px;

                        &.completed {
                            .delete-photo {
                                display: block;
                                @media (max-width: 767px) {
                                    width: 25px;
                                    height: 25px;
                                    font-size: 15px;
                                    right: -10px;
                                    top: -12px;
                                }

                                svg {
                                    width: 14px;
                                    fill: $color_2;
                                    @include inline-block();
                                    @media (max-width: 767px) {
                                        width: 12px;
                                    }
                                }
                            }

                            .uploaded-photo {
                                .row-thumb-photos {
                                    .photo-wrapper {
                                        .photo {
                                            .thumb-photo {
                                                @media (max-width: 767px) {
                                                    width: 270px;
                                                    height: 246px !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .uploaded-photo-overlay {
                                left: 100%;
                            }
                        }

                        .uploaded-photo {
                            .row-thumb-photos {
                                .photo-wrapper {
                                    .photo {
                                        .thumb-photo {
                                            @media (max-width: 767px) {
                                                width: 270px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .btn-photo-uploaded {
                        display: none;
                        margin-top: 20px;
                        margin-bottom: 60px;
                        text-transform: uppercase;
                        @include roboto-font($regular-font, $regular-font-weight);

                        &.completed {
                            display: block;
                        }
                    }

                    .upload-photo-notice {
                        margin-top: 20px;
                        margin-bottom: 60px;
                        color: #8d8d8d;

                        &.completed {
                            display: none;
                        }

                        span {
                            display: block;
                        }
                    }
                }

                .step-3 {

                }
            }
        }
    }
}
