#modalAddEditAlbum {
    .modal-dialog {
        .modal-header {
            @media (max-width: 767px) {
                padding-right: 0;
                padding-left: 0;
            }

            .head {
                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }
        }

        .modal-body {

            @media (max-width: 767px) {
                padding: 0;
            }

            .step-2 {
                .uploaded-photo-wrapper {
                    @media (max-width: 767px) {
                        margin-bottom: 30px;
                    }

                    .delete-photo {
                        @media (max-width: 767px) {
                            width: 25px;
                            height: 25px;
                            font-size: 15px;
                            right: -10px;
                            top: -12px;
                        }
                    }

                    .uploaded-photo {
                        .row-thumb-photos {
                            .photo-wrapper {
                                @media (max-width: 767px) {
                                    width: 270px;
                                }

                                .photo {
                                    @media (max-width: 767px) {
                                        height: 270px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .modal-footer {
            @media (max-width: 767px) {
                padding-top: 0;
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}
