.photo-preview {
    .modal-content {
        background-color: $color_20;

        .modal-body {
            padding: 10px 45px 45px;
            @include clearfix;

            .modal-photo {
                display: block;
                width: 100%;
            }

            article {
                .head {
                    margin-top: 0;
                    margin-bottom: 25px;
                    color: $color_2;
                    font-size: 18px;
                    @include roboto-font($light-font, $light-font-weight);
                }

                p {
                    @include roboto-font($light-font, $light-font-weight);
                    font-size: 14px;
                    color: $color_21;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
