.pagination-wrapper {
    margin-top: 60px;
    margin-bottom: 0;
    text-align: center;
    @include roboto-font($regular-font, $regular-font-weight);

    .pagination-tools {
        @include clearfix();

        a {
            color: $color_56;
        }

        a, span {
            font-size: 13px;
            text-decoration: none;
            @include transition(.3s);
        }

        .pagination-nav {
            &.prev, &.next {
                span.page-prev,
                span.page-next {
                    color: $color_57;
                    cursor: default;
                }

                @media (max-width: 1024px) {
                    text-align: center;
                }
            }

            .previous-page {
                .page-prev {
                    margin-left: 20px;

                    i.fa {
                        margin-right: 20px;
                    }
                }
            }

            .next-page {
                .page-next {
                    margin-right: 20px;

                    i.fa {
                        margin-left: 20px;
                    }
                }
            }
        }

        .pagination-pages {
            margin-top: 0;
            margin-bottom: 0;
            @include inline-block;
            @include clearfix();
            @media (max-width: 1024px) {
                margin-top: 25px;
                margin-bottom: 25px;
            }

            li {
                float: left;
                font-size: 13px;
                margin-right: 10px;
                @include inline-block;

                &:last-child {
                    margin-right: 0;
                }

                a, span {
                    padding: 5px 10px;
                    line-height: 1.2em;
                    border: 1px solid $color_2;
                    @include border-radius(3px);
                    @include transition(.3s);
                    @media (max-width: 480px) {
                        padding: 8px;
                        font-size: 13px;
                    }

                    &:hover {
                        @include transition(.3s);
                        border: 1px solid $color_57;
                        background-color: $color_2;
                    }
                }

                span {
                    cursor: default;
                }

                &.active {
                    @include transition(.3s);

                    span {
                        background-color: $color_2;
                        border: 1px solid $color_57;
                        color: $color_57;
                    }
                }

                @media (max-width: 480px) {
                    margin-right: 5px;
                }
            }
        }
    }
}
