.photo-wrapper {
    position: relative;

    .photo {
        display: block;

        img {
            display: block;
        }
    }

    &:hover {
        @include transition(0.5s);

        .pad {
            @include opacity(1);
            @include transition(0.5s);
        }
    }

    .pad {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color_11, 0.6);
        text-align: center;
        @include opacity(0);
        @include transition(0.5s);
        @media (max-width: 767px) {
            @include opacity(1);
        }

        .uploading-photo {
            margin-top: 80px;
            color: $color_18;

            .loading {
                margin-bottom: 15px;
            }

            @media (max-width: 480px) {
                margin-top: 150px;
            }
        }

        .upload-new-photo {
            display: block;
            @include roboto-font($light-font, $light-font-weight);
            font-size: 12px;
            @include border-radius(3px);
            cursor: pointer;

            #upload-new-profile-photo {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                cursor: pointer;
                @include opacity(0);
            }

            .spinner {
                display: none;
            }
        }

        &.uploading {
            background-color: transparent;
            @include opacity(1);

            .upload-new-photo {
                .fa {
                    &.fa-camera {
                        display: none;
                    }

                    &.spinner {
                        display: block;
                    }
                }

                #upload-new-profile-photo {
                    display: none;
                }
            }

            .uploading-profile-photo-overlay {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                height: 100%;
                z-index: 0;
                width: 41%;
                background-color: rgba($color-4, 0.4);
            }
        }
    }

    &.uploading {
        .pad {
            @include opacity(1);
            background-color: rgba($color_2, 0.6);
        }
    }

    &.delete-photo {
        .upload-new-photo {
            &.bordered-button {
                margin-top: 80px;
                margin-bottom: 0;
                color: $color_2;
                border-color: $color_2;
                padding-right: 30px;
                padding-left: 30px;
                @include inline-block;

                .text {
                    font-size: 14px;
                    text-transform: capitalize;
                }

                @media (max-width: 480px) {
                    margin-top: 150px;
                }
            }
        }
    }
}
