.main-uploaded-photo {
    margin-bottom: 30px;
    text-align: center;

    .row-thumb-photos {
        .photo-wrapper {
            text-align: center;

            .photo {
                .thumb-photo {
                    @include border-radius(5px);
                }
            }
        }
    }
}

.btn.btn-upload-big-photo {
    font-size: 14px;
    margin-bottom: 25px;
}

.btn.btn-add-location {
    margin: 0;
    border: none;
    padding: 0;
    @media (max-width: 767px) {
        margin-bottom: 45px;
    }

    &:hover, &:active, &:focus {
        background: none;
        color: $color_6;
        @include box-shadow(none);
    }

    .btn-content {
        @include inline-block();
        @include clearfix();

        i.fa, .text {
            float: left;
            display: block;
        }

        i.fa {
            font-size: 21px;
            margin-right: 10px;
        }

        .text {
            margin-top: 1px;
        }
    }
}

.form-wrap {
    .form-group {
        margin-bottom: 30px;

        &.description {
            .form-control {
                resize: none;
            }
        }
    }

    .exif-info {
        padding: 0 15px 15px;
        margin-bottom: 30px;
        border: 1px solid $color_3;
        @include border-radius(3px);
        @include clearfix();

        .form-group {
            margin-bottom: 0;

            .row-info {
                margin-top: 15px;
                @include clearfix();

                .label {
                    float: left;
                    margin-right: 10px;
                    font-size: 12px;
                    color: $color_40;
                    padding: 0;
                    line-height: 1.4em;
                    @include roboto-font($condensed-font, $condensed-font-weight);
                }

                .text {
                    float: left;
                    font-size: 12px;
                }
            }
        }
    }

    .rules-confirmations {
        li {
            @media (max-width: 767px) {
                margin-bottom: 25px;
            }

            .checkbox {
                &.custom-checkbox {
                    @media (max-width: 767px) {
                        display: table-cell;
                        vertical-align: middle;
                    }

                    .character-checkbox {
                        @media (max-width: 767px) {
                            margin-right: 10px;
                        }
                    }

                    .label {
                        @media (max-width: 767px) {
                            float: none;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

.btn.btn-skip {
    @media (max-width: 767px) {
        margin-bottom: 25px;
        border: none;
        padding: 0;
    }

    &:hover {
        @media (max-width: 767px) {
            background: unset;
        }
    }

    &:active {
        @media (max-width: 767px) {
            @include box-shadow(none);
        }
    }
}
