.photo-stats-info {
    @include opacity(0);
    @include clearfix();
    @media (max-width: 767px) {
        @include opacity(1);
    }

    li {
        float: left;
        margin-top: 25px;
        margin-left: 15px;
        @include clearfix();

        .fa, .text {
            float: left;
            color: $color_46;
        }

        .fa {
            margin-right: 10px;
            font-size: 16px;
        }

        .text {
            font-size: 12px;
        }

        &.username {
            float: right;
            margin-right: 15px;

            .nickname {
                color: $color_2;
            }
        }
    }

    .photo-info {
        .btn {
            &.btn-photo-info {
                .text {
                    text-transform: uppercase;
                }
            }
        }
    }
}
