.ff-popover {
    right: 0;
    left: 0;
    position: fixed;
    background-color: $color_2;
    padding: 30px 0;
    z-index: -99999;
    @include opacity(0);
    @include transition(.3s);

    &.active {
        z-index: 99999;
        @include opacity(1);
    }

    .widget-header {
        margin-bottom: 15px;

        .widget-label {
            .fa {
                color: $color_43;
                margin-right: 20px;
            }
        }
    }

    &.bottom {
        bottom: 0;
        margin-bottom: 0;
    }
}
