.profile-tools-wrapper {
    margin-bottom: 0;
    @include clearfix();

    .profile-tool {
        float: left;
        margin-right: 10px;

        &:first-of-type {
            .btn-group {
                .dropdown-menu {
                    @media (max-width: 767px) {
                        left: 0;
                        min-width: 200px;
                    }
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }

        .btn-group {
            .dropdown-menu {
                right: 0;
                left: unset;

                li {
                    a {
                        color: $color_6;
                    }
                }
            }
        }

        .btn {
            font-size: 13px;
            color: $color_2;
            padding: 5px 10px;
            line-height: 1.45em;

            &.btn-action {
                .btn-content-wrapper {
                    .icon {
                        .fa {
                            margin-right: 0;
                        }
                    }
                }

                &.btn-like {
                    .btn-content-wrapper {
                        .icon {
                            .fa {
                                &.fa-heart-o {
                                    display: block;
                                }

                                &.fa-heart {
                                    display: none;
                                }
                            }
                        }
                    }

                    &.btn-loading {
                        .btn-content-wrapper {
                            .icon {
                                .fa {
                                    display: none;

                                    &.spinner {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        background-color: $color_27;

                    }

                    &.active {
                        background-color: $color_27;

                        .btn-content-wrapper {
                            .icon {
                                .fa {
                                    color: $color_2;

                                    &.fa-heart-o {
                                        display: none;
                                    }

                                    &.fa-heart {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.btn-user-action,
            &.btn-share,
            &.btn-send-message {
                &:active,
                &:hover {
                    color: $color_75;
                }
                &:focus {
                    color: $color_2;
                }
            }

            &.btn-default {
                border: none;
                font-size: 16px;
                background-color: $color_46;
            }

            &.btn-buy-print {
                font-size: 12px;
                text-transform: uppercase;
                padding-top: 5px;
                padding-bottom: 5px;
                line-height: 1.5em;
            }
        }

        &.follow {
            padding: 0;
            background-color: unset;

            .btn-follow {
                margin-top: 0;
                padding-top: 8px;
                padding-bottom: 7px;
                width: 100%;

                &.btn-loading {
                    .btn-content-wrapper {
                        .icon {
                            .fa {
                                &.spinner {
                                    margin-right: 15px;
                                    @media (max-width: 767px) {
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
