.main-details {
    @include clearfix();

    .photo-wrapper {
        @include border-radius(50%);
        @media (max-width: 480px) {
            width: 80px;
            height: 80px;
        }

        .photo {
            display: block;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: cover;
            text-indent: -10000px;
            @include inline-block();
            @include border-radius(50%);
        }

        .pad {
            @include border-radius(50%);

            .upload-new-photo {
                margin-top: 55px;
                line-height: 1.2em;

                i.fa {
                    color: $color_2;
                    font-size: 21px;
                }
            }
        }

        @media (max-width: 480px) {
            margin-right: 15px;
        }
    }

    .profile-name {
        &:hover {
            text-decoration: none;

            .name, .nickname {
                color: $color_6;
            }
        }

        .name {
            @include roboto-font($light-font, $light-font-weight);
            font-size: 18px;
            color: $color_4;
            line-height: 1.2em;
        }

        .nickname {
            display: block;
            font-size: 12px;
            color: $color_8;
        }
    }

    .add-to-favorites {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .uploaded-photo-wrapper {
        width: 135px;
        height: 135px;
        overflow: hidden;
        @include border-radius(50%);
        @include inline-block();

        .uploaded-photo {
            border-radius: unset;
            border-bottom: none;

            .photo-wrapper {
                .photo {
                    height: 100%;
                    text-indent: unset;
                }
            }
        }

        .uploaded-photo-overlay {
            z-index: -3;
            border-bottom: none;
        }

        &.uploading {
            .uploaded-photo-overlay {
                z-index: 4;
            }
        }
    }
}

