.profile-menu {
    min-width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    z-index: 999999;
    display: none;
    background-color: $color_28;
    @include box-shadow(0px 0px 12px 0 rgba($color_11, 0.8));
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        text-align: left;
    }
    @media (max-width: 767px) {
        min-width: 230px;
    }

    .top-menu {
        display: block;
        @include clearfix();

        .menu-item {
            &:first-child {
                margin-right: 0;
            }

            .menu-element {
                margin-left: 30px;
                margin-right: 15px;

                &:hover {
                    color: $color_53;
                }

                .main-details {
                    .photo-wrapper {
                        float: left;
                        width: 40px;
                        height: 40px;
                        margin-top: 5px;
                        margin-right: 15px;
                        @media (max-width: 979px) {
                            margin-right: 15px !important;
                        }
                        @media (max-width: 767px) {
                            margin-top: 6px !important;
                            margin-bottom: 6px !important;
                            width: 40px !important;
                            height: 40px !important;
                        }
                    }

                    .text {
                        float: left;
                        text-transform: capitalize;
                    }
                }

                .text {
                    display: inline-block;
                    overflow: hidden;
                    white-space: nowrap;
                    @media (max-width: 767px) {
                        display: none !important;
                    }

                    &:last-child {
                        margin-left: 7px;

                    }
                }
            }

            &:last-child {
                margin-top: 15px;
                margin-right: 15px;
                float: right;
            }
        }
    }

    .menu-list {
        margin-bottom: 0;
        border-top: 1px solid $color_55;
        padding-top: 12px;
        padding-bottom: 12px;

        .menu-item {
            .menu-element {
                color: $color_26;
                padding: 12px 30px 12px;
                display: block;

                &:first-letter {
                    text-transform: uppercase;
                }

                &:hover {
                    color: $color_53;
                }
            }
        }

        &.body-list {
            max-height: 75vh;
            overflow-y: scroll;
        }

        &.bottom-list {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $color_28;
            z-index: 999221;
        }
    }
}
