.row-thumb-photos {
    position: relative;
    margin-bottom: 16px;
    @include clearfix();
    @media (max-width: 767px) {
        @include inline-block();
    }
    @media (max-width: 480px) {
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .photo-wrapper {
        width: 100%;
        margin-right: 16px;
        position: relative;
        @media (max-width: 767px) {
            width: 260px;
        }

        &:hover {
            .badges-list {
                @include opacity(1);
            }

            .photo-stats-info {
                @include opacity(1);
            }

            .edit-tools {
                @include opacity(1);
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &.photo-album {
            border: 1px solid $color_63;
            @include border-radius(3px);

            &:hover {
                border-color: $color_6;

                .photo-album-name {
                    background-color: $color_6;

                    h3 {
                        a {
                            color: $color_2;
                        }
                    }

                    .photos-counter {
                        color: $color_65;
                    }
                }
            }

            .photo-album-name {
                height: 60px;
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $color_64;
                text-align: center;
                @include transition(.3s);

                h3 {
                    margin-top: 10px;
                    margin-bottom: 5px;
                    font-size: 16px;

                    a {
                        @include transition(.3s);
                    }
                }

                .photos-counter {
                    color: $color_63;
                    @include transition(.3s);
                }
            }
        }

        .badges-list {
            right: 0;
            margin-bottom: 0;
            @include clearfix();
            @media (max-width: 767px) {
                @include opacity(1);
            }

            .won-badges {
                .badge-item {
                    padding: 0;
                }
            }

            .badge-item {
                float: left;
                margin-left: 5px;
                padding: 7px 15px;
                @include border-radius(0 0 3px 3px);

                .text {
                    display: block;
                    color: $color_2;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 1em;
                }

                &.new {
                    background-color: $color_42;
                }
            }
        }

        .photo {
            cursor: pointer;
            display: block;
            height: 260px;

            .thumb-photo {
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: cover;
                text-indent: -10000px;
                @include inline-block();
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                    width: 210px;
                    height: 210px;
                }
                @media (max-width: 480px) {
                    margin-right: 0;
                }
            }
        }


        .no-photo {
            display: table;
            color: $color_66;
            text-align: center;
            width: 100%;
            height: 260px;

            .thumb-photo {
                display: table-cell;
                vertical-align: middle;
                background-color: $color_36;
                width: 100%;
                height: 100%;
                @media (max-width: 767px) {
                    margin-top: 0;
                }

                .no-content-image {
                    width: 140px;
                    @include inline-block();

                    svg {
                        fill: $color_82;
                    }
                }

                .fa, .text {
                    display: block;
                }

                .fa {
                    font-size: 36px;
                    margin-bottom: 20px;
                }

                .text {
                    font-size: 18px;
                }
            }
        }

        .adult-photo {
            display: table;
            text-align: center;
            width: 100%;
            height: 260px;

            .thumb-photo {
                display: table-cell;
                vertical-align: middle;
                background-color: $color_13;
                width: 100%;
                height: 100%;
                @media (max-width: 767px) {
                    margin-top: 0;
                }

                .adult-content-image {
                    width: 30px;
                    line-height: 1em;
                    @include inline-block();

                    svg {
                        path,
                        polygon {
                            fill: $color_86;
                        }
                    }
                }

                .text {
                    font-size: 14px;
                    margin-top: 20px;
                    display: block;
                }
            }
        }

        .nickname-pad {
            position: absolute;
            height: 50px;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to top, $color_11 30%, rgba($color_11, 0));
            @include transition(.3s);

            .nickname {
                text-align: left;
                display: block;
                color: $color_29;
                font-size: 12px;
                line-height: 1.2em;
                margin-top: 25px;
                margin-left: 15px;
            }
        }

        .edit-tools {
            position: absolute;
            top: 7px;
            left: 0;
            @include opacity(0);
            @include transition(.3s);
            @media (max-width: 1024px) {
                @include opacity(1);
            }

            .photo-edit-tools {
                margin-bottom: 0;
                @include clearfix();

                li {
                    float: left;
                    margin-left: 10px;
                    display: block;
                    background-color: rgba($color_11, 0.7);
                    padding: 7px;
                    @include border-radius(3px);
                    font-size: 18px;
                    line-height: 1em;
                    position: relative;

                    &:hover {
                        .tool-description-tooltip {
                            display: block;
                            @media (max-width: 767px) {
                                display: none;
                            }
                        }
                    }

                    &.upload-tool {
                        .tool-description-tooltip {
                            width: 245px;
                        }
                    }

                    &.common-tool {
                        svg {
                            width: 18px;
                            height: 15px;
                            fill: $color_2;
                        }
                    }

                    a {
                        color: $color_2;

                        .text {
                            font-size: 12px;
                        }
                    }

                    .tool-description-tooltip {
                        position: absolute;
                        background-color: $color_38;
                        padding: 10px;
                        left: 0;
                        bottom: -40px;
                        z-index: 1;
                        display: none;
                        @include border-radius(3px);


                        i.fa {
                            top: -10px;
                            position: absolute;
                            color: $color_38;
                            font-size: 26px;
                        }

                        .text {
                            font-size: 11px;
                            color: $color_2;
                            line-height: 1em;
                        }
                    }
                }
            }
        }

        .photo-stats-info {
            position: absolute;
            height: 50px;
            right: 0;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
            color: $color_2;
            @include transition(.3s);
            @include clearfix();
            background-image: linear-gradient(to top, $color_11 30%, rgba($color_11, 0));
        }
    }
}
