.series-of-photos {
    margin-bottom: 45px;

    .photo-series-wrapper {
        margin-bottom: 0;
        @include inline-block();
        @include clearfix();

        .uploaded-photo-wrapper {
            float: left;
            margin-right: 25px;
            position: relative;

            &:nth-of-type(3) {
                @media (max-width: 767px) {
                    margin-right: 15px;
                }
            }

            @media (max-width: 767px) {
                margin-right: 15px;
                margin-bottom: 15px;
            }

            &:last-child {
                margin-right: 0;
                @media (max-width: 767px) {
                    margin-bottom: 0;
                }
            }

            &.select-new-photo {
                border: 1px dashed $color_18;
                @include border-radius(5px);

                .uploaded-photo {
                    width: 80px;
                    height: 80px;
                    cursor: pointer;
                    text-align: center;
                    background-color: $color_12;
                    display: table;
                    border-bottom: none;
                }

                .add-new {
                    overflow: hidden;
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;

                    i.fa {
                        width: 22px;
                        height: 21px;
                        color: $color_2;
                        font-size: 12px;
                        padding-top: 5px;
                        background-color: $color_6;
                        line-height: 1em;
                        @include border-radius(50%);
                    }

                    .upload-photo-input {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 2;
                        width: 80px;
                        height: 80px;
                        cursor: pointer;
                        @include opacity(0);
                    }
                }
            }

            &.completed {
                .delete-photo {
                    display: block;

                    svg {
                        fill: $color_2;
                        @include inline-block();
                    }
                }

                .uploaded-photo {
                    border-bottom: none;

                    .row-thumb-photos {
                        .photo-wrapper {
                            .photo {
                                width: 80px;
                                height: 80px;
                            }
                        }
                    }
                }

                .uploaded-photo-overlay {
                    left: 100%;
                }
            }

            .delete-photo {
                position: absolute;
                top: -12px;
                right: -12px;
                width: 22px;
                height: 21px;
                background-color: $color_27;
                color: $color_2;
                display: none;
                border: none;
                font-size: 11px;
                z-index: 2;
                @include border-radius(50%);
                @include transition(.3s);

                .fa {
                    margin-top: 2px;
                }

                &:hover {
                    background-color: darken($color_27, 6%);
                }
            }

            .uploaded-photo {
                border-bottom: 6px solid $color_6;

                .row-thumb-photos {
                    .photo-wrapper {
                        @media (max-width: 767px) {
                            width: 74px;
                            height: 74px;
                        }

                        .photo {
                            width: 75px;
                            height: 75px;
                            @media (max-width: 767px) {
                                width: 74px;
                                height: 74px;
                            }
                        }
                    }
                }
            }

            .uploaded-photo-overlay {
                border-bottom: 6px solid #bcbcbc;
            }
        }
    }
}
