.share-buttons {
    float: left;
    @include clearfix;

    .social-network {
        float: left;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        .icon {
            color: $color_46;
            font-size: 26px;
            line-height: 1em;
            @include transition(.3s);

            &:hover {
                @include opacity(.8);
            }

            &.share-link {
                color: $color_2;
                padding: 3px 4px 1px;
                margin-top: 2px;

                line-height: .4em;
                background-color: $color_46;
                @include border-radius(4px);

                .fa {
                    font-size: 18px;
                    line-height: 1em;
                }
            }
        }

        @media (max-width: 480px) {
            margin-right: 7px;
        }
    }
}
