.table {
    &.table-striped {
        thead {
            tr {
                background-color: $color_13;
            }
        }

        tbody {
            tr {
                background-color: $color_17;

                &:nth-of-type(odd) {
                    background-color: $color_2;
                }

                td {
                    vertical-align: middle;

                    &.options {
                        a {
                            &.delete {
                                &:hover {
                                    color: $color-red-error;
                                }
                            }

                            &.edit {
                                &:hover {
                                    color: $color_16;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
