.forum-theme-label {
    @include inline-block();
    @include clearfix();

    i.icon,
    .text {
        float: left;
        @include inline-block();
    }

    .text {
        padding: 3px 21px;
        line-height: 1em;
        color: $color_6;
        font-size: 12px;
        background-color: $color_61;
        text-transform: uppercase;
    }
}
