.top-menu {
    font-size: 14px;
    margin-bottom: 0;
    @include inline-block();
    @include roboto-font($regular-font, $regular-font-weight);

    .menu-item {
        position: relative;
        display: block;
        float: left;
        margin-right: 35px;
        padding: 0;

        &:last-child {
            margin-right: 0;
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            margin-right: 25px;
        }

        &.current {
            .menu-element {
                color: $color_53;
            }
        }

        &:hover {
            cursor: pointer;

            .menu-element {
                color: $color_53;
            }

            &.has-submenu {
                .submenu {
                    display: block;
                }
            }
        }

        &.has-submenu {
            .submenu {
                display: none;
                position: absolute;
                z-index: 999999;
                width: 210px;
                top: 51px;
                background-color: $color_28;

                .menu-item {
                    text-align: left;
                    border-top: 1px solid $color_26;
                    margin-right: 0;
                    float: none;
                    display: block;

                    &:hover {
                        cursor: pointer;

                        .menu-element {
                            color: $color_53;
                        }
                    }

                    &.label-success {
                        &:hover {
                            .menu-element {
                                color: $color_2;
                            }
                        }
                    }

                    .menu-element {
                        color: $color_26;
                        padding: 15px 20px;

                        span {
                            &.text {
                                padding-top: 0;
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .menu-element {
            display: block;
            color: $color_26;
            @include clearfix;
            text-transform: uppercase;
            padding-top: 15px;
            padding-bottom: 16px;
            @include clearfix;

            span {
                float: left;
            }
        }
    }
}
