.user-settings {
    h3 {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .notice {
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 12px;
        color: $color_40;
        @include roboto-font($light-font, $light-font-weight);
    }

    .form-group {
        @media (min-width: 1200px) {
            margin-bottom: 0;
        }
    }

    &.equipment {
        .btn-add-to-equipment {
            margin-top: 20px;
            margin-bottom: 20px;
            @media (max-width: 767px) {
                margin-top: 0;
            }
        }
    }
}
