.widget {
    padding: 15px 0;
    border: 1px solid $color_41;
    margin-bottom: 30px;
    @include border-radius(3px);

    &:last-child {
        margin-bottom: 0;
    }

    .widget-header {
        .widget-label {
            margin: 0;
            font-size: 16px;
        }
    }

    .widget-body {
        .widget-item {
            padding-top: 15px;
            border-bottom: 1px solid $color_41;
            padding-bottom: 15px;
            position: relative;

            &:hover {
                .btn-delete-widget-item {
                    @include opacity(1);
                }
            }

            .btn-delete-widget-item {
                top: 0;
                right: 0;
                position: absolute;
                color: $color_6;
                @include opacity(0);

                &:active {
                    @include box-shadow(none);
                }

                &:focus {
                    color: $color_6;
                }

                .btn-content-wrapper {
                    .icon {
                        .fa {
                            color: $color_6;
                        }
                    }
                }
            }

            .row-thumb-photos {
                .photo-wrapper {
                    .photo {
                        height: 115px;

                        .thumb-photo {
                            @media (max-width: 767px) {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .widget-content {
                .editor-name {
                    font-size: 12px;
                }

                .editor-suggestion {
                    font-size: 13px;
                    color: $color_5;
                    margin-bottom: 0;
                }
            }
        }
    }

    .widget-footer {
        text-align: center;
        margin-top: 15px;

        .btn-edit-photo {
            @include inline-block;
            @include clearfix();

            .icon, .text {
                float: left;
            }

            .icon {
                margin-right: 15px;

                .fa {
                    font-size: 21px;
                }
            }
        }
    }

    &.author-photos,
    &.more-rating-photos {
        padding-bottom: 0;

        .widget-body {
            .widget-item {
                border-bottom: none;
                padding-bottom: 5px;

                .row-thumb-photos {
                    @include clearfix();

                    .photo-wrapper {
                        float: left;
                        width: 100px;
                        margin-right: 14px;
                        margin-bottom: 10px;
                        @media (max-width: 767px) {
                            width: 90px;
                        }

                        &:nth-child(3n) {
                            margin-right: 0;
                        }

                        .photo {
                            height: 100px;
                            @media (max-width: 767px) {
                                height: 90px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.keywords {
        .widget-body {
            .widget-item {
                border-bottom: 0;
                padding-bottom: 0;

                .widget-content {
                    @include clearfix();

                    .btn-keyword {
                        padding: 3px 7px;
                        float: left;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        background-color: $color_74;
                        border-color: $color_74;
                        color: $color_2;
                        @include inline-block();
                        @include roboto-font($condensed-font, $condensed-font-weight);

                        &:hover {
                            border-color: $color_71;
                            background-color: $color_71;
                        }
                    }
                }
            }
        }
    }

    &.photo-license {
        .widget-body {
            .widget-item {
                border-bottom: 0;
                padding-bottom: 0;

                .widget-content {

                    .license {
                        margin-bottom: 10px;
                        @include clearfix;

                        .license-icons {
                            float: left;
                            margin-right: 10px;
                            @include clearfix();

                            .photo-license {
                                float: left;
                                margin-right: 5px;

                                svg {
                                    width: 25px;
                                    height: 25px;
                                    @include inline-block();
                                }

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }

                        .license-name {
                            float: left;
                            display: block;
                        }
                    }


                }
            }
        }
    }

    &.latest-news {
        padding: 0;

        .section-title {
            color: $color_30;
            margin: 25px 0 20px 20px;
            @include roboto-font($light-font, $light-font-weight);
        }

        ul {
            padding: 0 20px;
            border-top: 1px solid $color_31;
            margin-bottom: 0px;

            li {
                &:last-child {
                    a {
                        border-bottom: none;
                    }
                }

                a {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid $color_31;
                    display: block;
                    line-height: 1.2em;
                }
            }
        }
    }
}
