<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Forum - all topics</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="forum new-topic">
<% include ../includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <header class="content-header">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>Форум</h1>
                            </div>
                        </div>
                    </header>
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <ul class="nav nav-tabs">
                                        <li>
                                            <a href="#all-topics" data-toggle="tab">
                                                <i class="fa fa-table" aria-hidden="true"></i>
                                                <span>Всички</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#common-theme" data-toggle="tab">
                                                <i class="fa fa-users" aria-hidden="true"></i>
                                                <span class="text">Обща тема</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#photography" data-toggle="tab">
                                                <i class="fa fa-camera" aria-hidden="true"></i>
                                                <span>Фотография</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#technology" data-toggle="tab">
                                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                                <span>Техника</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#lamers" data-toggle="tab">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                <span>Начинаещи</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#contests" data-toggle="tab">
                                                <i class="fa fa-trophy" aria-hidden="true"></i>
                                                <span>Конкурси</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#art" data-toggle="tab">
                                                <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                                <span>Изкуства</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#greetings" data-toggle="tab">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                <span>поздрави</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-lg-10">
                                    <% include ./includes/editor_of_the_month.ejs %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-lg-10">
                                    <% include ./includes/theme_header.ejs %>
                                    <div class="theme-category">
                                        <div class="row">
                                            <div class="hidden-xs hiddne-sm col-lg-1 text-right">
                                                <a href="#" class="theme-category-icon">
                                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-lg-7">
                                                <span class="theme-label">Теми - forum: Фотография</span>
                                            </div>
                                            <div class="col-xs-4 col-lg-4 text-right">
                                                <div class="switch">
                                                    <span class="text-right">следи темата</span>
                                                    <div class="switch-option">
                                                        <input class="custom-switch-checkbox" checked type="checkbox">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="separator-line">
                                    <div class="hidden-md hidden-lg">
                                        <div class="row">
                                            <div class="forum-side-photos small-screen">
                                                <div class="col-xs-12">
                                                    <div class="row-thumb-photos">
                                                        <div class="photo-wrapper">
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                    Ivan ivanov
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="row-thumb-photos">
                                                        <div class="photo-wrapper">
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                    Ivan ivanov
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="row-thumb-photos">
                                                        <div class="photo-wrapper">
                                                            <a href="#" class="photo">
                                                                <div class="thumb-photo"
                                                                     style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                    Ivan ivanov
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-push-1 col-lg-10">
                                            <div class="post-new-theme">
                                                <h4 class="head">Нова тема</h4>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="theme-name">
                                                            <div class="form-group">
                                                                <label for="theme-name">тема:</label>
                                                                <input type="text" id="theme-name" class="form-control"
                                                                       placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="choose-theme-category">
                                                            <div class="form-group">
                                                                <select data-live-search="true" title="Изберете тема">
                                                                    <option data-tokens="Обще тема">Обще тема</option>
                                                                    <option data-tokens="Фотография">Фотография</option>
                                                                    <option data-tokens="Техника">Техника</option>
                                                                    <option data-tokens="Начинаещи">Начинаещи</option>
                                                                    <option data-tokens="Конкурси">Конкурси</option>
                                                                    <option data-tokens="Изкуства">Изкуства</option>
                                                                    <option data-tokens="Поздрави">Поздрави</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <textarea class="message-content form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 text-right">


                                                        <button class="btn btn-md btn-primary btn-action btn-loading">
                                                            <span class="btn-content-wrapper">
                                                                <span class="icon">
                                                                    <i class="fa fa-spinner fa-spin spinner"></i>
                                                                </span>
                                                                <span class="text text-uppercase">публикувай</span>
                                                            </span>
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden-xs hidden-sm col-lg-2">
                                    <div class="forum-side-photos">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/new_photos/1527807920__OLI0992.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/new_photos/1528009422__DIM9264-Edits.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/photos/photo_05.jpeg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/photos/photo_03.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/photos/photo_04.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/new_photos/1528361430_85_27.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/new_photos/1528202211_forum.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/new_photos/1526986425_Found_17230509_23827996-Edit.JPG')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/new_photos/1528109026_1327.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/new_photos/1526534674_Sevi7619.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
