<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Forum - all topics</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="forum all-topics">
<% include ../includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <header class="content-header">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>Форум</h1>
                            </div>
                        </div>
                    </header>
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#all-topics" data-toggle="tab">
                                                <i class="fa fa-table" aria-hidden="true"></i>
                                                <span>Всички</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#common-theme" data-toggle="tab">
                                                <i class="fa fa-users" aria-hidden="true"></i>
                                                <span class="text">Обща тема</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#photography" data-toggle="tab">
                                                <i class="fa fa-camera" aria-hidden="true"></i>
                                                <span>Фотография</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#technology" data-toggle="tab">
                                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                                <span>Техника</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#lamers" data-toggle="tab">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                <span>Начинаещи</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#contests" data-toggle="tab">
                                                <i class="fa fa-trophy" aria-hidden="true"></i>
                                                <span>Конкурси</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#art" data-toggle="tab">
                                                <i class="fa fa-paint-brush" aria-hidden="true"></i>
                                                <span>Изкуства</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#greetings" data-toggle="tab">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                <span>поздрави</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-lg-10">
                                    <% include ./includes/editor_of_the_month.ejs %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-lg-10">
                                    <% include ./includes/theme_header.ejs %>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="all-topics">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-xs-12 col-lg-12">
                                                        <div class="forum-themes-wrapper">
                                                            <header>
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-xs-6 col-lg-8">
                                                                            <span class="theme-label">Теми - forum: Фотография</span>
                                                                        </div>
                                                                        <div class="col-xs-3 col-lg-2 text-right">
                                                                            <span>мнения</span>
                                                                        </div>
                                                                        <div class="col-xs-3 col-lg-2">
                                                                            <span>последно</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </header>
                                                            <div class="content">
                                                                <div class="theme">
                                                                    <div class="row">
                                                                        <div class="hidden-xs col-lg-1 text-right">
                                                                            <a href="#" class="theme-category">
                                                                                <i class="fa fa-cogs"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-xs-7 col-lg-8">
                                                                            <div class="theme-title">
                                                                                <a href="#">Съвет за ежедневен обектив
                                                                                    за Никон</a>
                                                                                <span
                                                                                    class="notice">цяла тема / край</span>
                                                                                <span class="new">ново</span>
                                                                            </div>
                                                                            <div class="theme-info">
                                                                                <div class="main-details">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo"
                                                                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                        <a href="#"
                                                                                           class="author-nickname">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <a href="#"
                                                                                       class="forum-theme-label">
                                                                                        <i class="icon theme-label"></i>
                                                                                        <span class="text">sony</span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-2 col-lg-1">
                                                                            <span class="posts-counter">15</span>
                                                                        </div>
                                                                        <div class="col-xs-3 col-lg-2">
                                                                            <div class="post-date">
                                                                                <i class="hidden-xs fa fa-clock-o"
                                                                                   aria-hidden="true"></i>
                                                                                <span class="date">03-12-17 03:22</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="theme">
                                                                    <div class="row">
                                                                        <div class="hidden-xs col-lg-1 text-right">
                                                                            <a href="#" class="theme-category">
                                                                                <i class="fa fa-cogs"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-xs-7 col-lg-8">
                                                                            <div class="theme-title">
                                                                                <a href="#">Съвет за ежедневен обектив
                                                                                    за Никон</a>
                                                                                <span
                                                                                    class="notice">цяла тема / край</span>
                                                                                <span class="new">ново</span>
                                                                            </div>
                                                                            <div class="theme-info">
                                                                                <div class="main-details">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo"
                                                                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                        <a href="#"
                                                                                           class="author-nickname">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <a href="#"
                                                                                       class="forum-theme-label">
                                                                                        <i class="icon theme-label"></i>
                                                                                        <span class="text">sony</span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-2 col-lg-1">
                                                                            <span class="posts-counter">15</span>
                                                                        </div>
                                                                        <div class="col-xs-3 col-lg-2">
                                                                            <div class="post-date">
                                                                                <i class="hidden-xs fa fa-clock-o"
                                                                                   aria-hidden="true"></i>
                                                                                <span class="date">03-12-17 03:22</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="theme">
                                                                    <div class="row">
                                                                        <div class="hidden-xs col-lg-1 text-right">
                                                                            <a href="#" class="theme-category">
                                                                                <i class="fa fa-cogs"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-xs-7 col-lg-8">
                                                                            <div class="theme-title">
                                                                                <a href="#">Съвет за ежедневен обектив
                                                                                    за Никон</a>
                                                                                <span
                                                                                    class="notice">цяла тема / край</span>
                                                                                <span class="new">ново</span>
                                                                            </div>
                                                                            <div class="theme-info">
                                                                                <div class="main-details">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo"
                                                                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                        <a href="#"
                                                                                           class="author-nickname">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <a href="#"
                                                                                       class="forum-theme-label">
                                                                                        <i class="icon theme-label"></i>
                                                                                        <span class="text">sony</span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-2 col-lg-1">
                                                                            <span class="posts-counter">15</span>
                                                                        </div>
                                                                        <div class="col-xs-3 col-lg-2">
                                                                            <div class="post-date">
                                                                                <i class="hidden-xs fa fa-clock-o"
                                                                                   aria-hidden="true"></i>
                                                                                <span class="date">03-12-17 03:22</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="hidden-md hidden-lg">
                                                                    <div class="row">
                                                                        <div class="forum-side-photos small-screen">
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                                <div class="row-thumb-photos">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo">
                                                                                            <div class="thumb-photo"
                                                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                                                Ivan ivanov
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                                <div class="row-thumb-photos">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo">
                                                                                            <div class="thumb-photo"
                                                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                                                Ivan ivanov
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                                <div class="row-thumb-photos">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo">
                                                                                            <div class="thumb-photo"
                                                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                                                Ivan ivanov
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="theme">
                                                                    <div class="row">
                                                                        <div class="hidden-xs col-lg-1 text-right">
                                                                            <a href="#" class="theme-category">
                                                                                <i class="fa fa-cogs"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-xs-7 col-lg-8">
                                                                            <div class="theme-title">
                                                                                <a href="#">Съвет за ежедневен обектив
                                                                                    за Никон</a>
                                                                                <span
                                                                                    class="notice">цяла тема / край</span>
                                                                                <span class="new">ново</span>
                                                                            </div>
                                                                            <div class="theme-info">
                                                                                <div class="main-details">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo"
                                                                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                        <a href="#"
                                                                                           class="author-nickname">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <a href="#"
                                                                                       class="forum-theme-label">
                                                                                        <i class="icon theme-label"></i>
                                                                                        <span class="text">sony</span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-2 col-lg-1">
                                                                            <span class="posts-counter">15</span>
                                                                        </div>
                                                                        <div class="col-xs-3 col-lg-2">
                                                                            <div class="post-date">
                                                                                <i class="hidden-xs fa fa-clock-o"
                                                                                   aria-hidden="true"></i>
                                                                                <span class="date">03-12-17 03:22</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="theme">
                                                                    <div class="row">
                                                                        <div class="hidden-xs col-lg-1 text-right">
                                                                            <a href="#" class="theme-category">
                                                                                <i class="fa fa-cogs"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-xs-7 col-lg-8">
                                                                            <div class="theme-title">
                                                                                <a href="#">Съвет за ежедневен обектив
                                                                                    за Никон</a>
                                                                                <span
                                                                                    class="notice">цяла тема / край</span>
                                                                                <span class="new">ново</span>
                                                                            </div>
                                                                            <div class="theme-info">
                                                                                <div class="main-details">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo"
                                                                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                        <a href="#"
                                                                                           class="author-nickname">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <a href="#"
                                                                                       class="forum-theme-label">
                                                                                        <i class="icon theme-label"></i>
                                                                                        <span class="text">sony</span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-2 col-lg-1">
                                                                            <span class="posts-counter">15</span>
                                                                        </div>
                                                                        <div class="col-xs-3 col-lg-2">
                                                                            <div class="post-date">
                                                                                <i class="hidden-xs fa fa-clock-o"
                                                                                   aria-hidden="true"></i>
                                                                                <span class="date">03-12-17 03:22</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="theme">
                                                                    <div class="row">
                                                                        <div class="hidden-xs col-lg-1 text-right">
                                                                            <a href="#" class="theme-category">
                                                                                <i class="fa fa-cogs"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-xs-7 col-lg-8">
                                                                            <div class="theme-title">
                                                                                <a href="#">Съвет за ежедневен обектив
                                                                                    за Никон</a>
                                                                                <span
                                                                                    class="notice">цяла тема / край</span>
                                                                                <span class="new">ново</span>
                                                                            </div>
                                                                            <div class="theme-info">
                                                                                <div class="main-details">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo"
                                                                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                        <a href="#"
                                                                                           class="author-nickname">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <a href="#"
                                                                                       class="forum-theme-label">
                                                                                        <i class="icon theme-label"></i>
                                                                                        <span class="text">sony</span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-2 col-lg-1">
                                                                            <span class="posts-counter">15</span>
                                                                        </div>
                                                                        <div class="col-xs-3 col-lg-2">
                                                                            <div class="post-date">
                                                                                <i class="hidden-xs fa fa-clock-o"
                                                                                   aria-hidden="true"></i>
                                                                                <span class="date">03-12-17 03:22</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="hidden-md hidden-lg">
                                                                    <div class="row">
                                                                        <div class="forum-side-photos small-screen">
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                                <div class="row-thumb-photos">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo">
                                                                                            <div class="thumb-photo"
                                                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                                                Ivan ivanov
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                                <div class="row-thumb-photos">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo">
                                                                                            <div class="thumb-photo"
                                                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                                                Ivan ivanov
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                                <div class="row-thumb-photos">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo">
                                                                                            <div class="thumb-photo"
                                                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                                                Ivan ivanov
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="theme">
                                                                    <div class="row">
                                                                        <div class="hidden-xs col-lg-1 text-right">
                                                                            <a href="#" class="theme-category">
                                                                                <i class="fa fa-cogs"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-xs-7 col-lg-8">
                                                                            <div class="theme-title">
                                                                                <a href="#">Съвет за ежедневен обектив
                                                                                    за Никон</a>
                                                                                <span
                                                                                    class="notice">цяла тема / край</span>
                                                                                <span class="new">ново</span>
                                                                            </div>
                                                                            <div class="theme-info">
                                                                                <div class="main-details">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo"
                                                                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                        <a href="#"
                                                                                           class="author-nickname">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <a href="#"
                                                                                       class="forum-theme-label">
                                                                                        <i class="icon theme-label"></i>
                                                                                        <span class="text">sony</span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-2 col-lg-1">
                                                                            <span class="posts-counter">15</span>
                                                                        </div>
                                                                        <div class="col-xs-3 col-lg-2">
                                                                            <div class="post-date">
                                                                                <i class="hidden-xs fa fa-clock-o"
                                                                                   aria-hidden="true"></i>
                                                                                <span class="date">03-12-17 03:22</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="theme">
                                                                    <div class="row">
                                                                        <div class="hidden-xs col-lg-1 text-right">
                                                                            <a href="#" class="theme-category">
                                                                                <i class="fa fa-cogs"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-xs-7 col-lg-8">
                                                                            <div class="theme-title">
                                                                                <a href="#">Съвет за ежедневен обектив
                                                                                    за Никон</a>
                                                                                <span
                                                                                    class="notice">цяла тема / край</span>
                                                                                <span class="new">ново</span>
                                                                            </div>
                                                                            <div class="theme-info">
                                                                                <div class="main-details">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo"
                                                                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                        <a href="#"
                                                                                           class="author-nickname">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <a href="#"
                                                                                       class="forum-theme-label">
                                                                                        <i class="icon theme-label"></i>
                                                                                        <span class="text">sony</span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-2 col-lg-1">
                                                                            <span class="posts-counter">15</span>
                                                                        </div>
                                                                        <div class="col-xs-3 col-lg-2">
                                                                            <div class="post-date">
                                                                                <i class="hidden-xs fa fa-clock-o"
                                                                                   aria-hidden="true"></i>
                                                                                <span class="date">03-12-17 03:22</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="theme">
                                                                    <div class="row">
                                                                        <div class="hidden-xs col-lg-1 text-right">
                                                                            <a href="#" class="theme-category">
                                                                                <i class="fa fa-cogs"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-xs-7 col-lg-8">
                                                                            <div class="theme-title">
                                                                                <a href="#">Съвет за ежедневен обектив
                                                                                    за Никон</a>
                                                                                <span
                                                                                    class="notice">цяла тема / край</span>
                                                                                <span class="new">ново</span>
                                                                            </div>
                                                                            <div class="theme-info">
                                                                                <div class="main-details">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo"
                                                                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                        <a href="#"
                                                                                           class="author-nickname">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <a href="#"
                                                                                       class="forum-theme-label">
                                                                                        <i class="icon theme-label"></i>
                                                                                        <span class="text">sony</span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-2 col-lg-1">
                                                                            <span class="posts-counter">15</span>
                                                                        </div>
                                                                        <div class="col-xs-3 col-lg-2">
                                                                            <div class="post-date">
                                                                                <i class="hidden-xs fa fa-clock-o"
                                                                                   aria-hidden="true"></i>
                                                                                <span class="date">03-12-17 03:22</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="hidden-md hidden-lg">
                                                                    <div class="row">
                                                                        <div class="forum-side-photos small-screen">
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                                <div class="row-thumb-photos">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo">
                                                                                            <div class="thumb-photo"
                                                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                                                Ivan ivanov
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                                <div class="row-thumb-photos">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo">
                                                                                            <div class="thumb-photo"
                                                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                                                Ivan ivanov
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                                                <div class="row-thumb-photos">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo">
                                                                                            <div class="thumb-photo"
                                                                                                 style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                                                                Ivan ivanov
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="theme">
                                                                    <div class="row">
                                                                        <div class="hidden-xs col-lg-1 text-right">
                                                                            <a href="#" class="theme-category">
                                                                                <i class="fa fa-cogs"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-xs-7 col-lg-8">
                                                                            <div class="theme-title">
                                                                                <a href="#">Съвет за ежедневен обектив
                                                                                    за Никон</a>
                                                                                <span
                                                                                    class="notice">цяла тема / край</span>
                                                                                <span class="new">ново</span>
                                                                            </div>
                                                                            <div class="theme-info">
                                                                                <div class="main-details">
                                                                                    <div class="photo-wrapper">
                                                                                        <a href="#" class="photo"
                                                                                           style="background-image: url('../images/photos/editor_of_the_month.png')">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                        <a href="#"
                                                                                           class="author-nickname">
                                                                                            <span class="text">Христофор Герасимов Господинов</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <a href="#"
                                                                                       class="forum-theme-label">
                                                                                        <i class="icon theme-label"></i>
                                                                                        <span class="text">sony</span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-2 col-lg-1">
                                                                            <span class="posts-counter">15</span>
                                                                        </div>
                                                                        <div class="col-xs-3 col-lg-2">
                                                                            <div class="post-date">
                                                                                <i class="hidden-xs fa fa-clock-o"
                                                                                   aria-hidden="true"></i>
                                                                                <span class="date">03-12-17 03:22</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% include ../includes/pagination.ejs %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="common-theme">
                                            <div class="content">
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-lg-4">2</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="photography">
                                            <div class="content">
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-lg-4">3</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="technology">
                                            <div class="content">
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-lg-4">4</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="lamers">
                                            <div class="content">
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-lg-4">5</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="contests">
                                            <div class="content">
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-lg-4">6</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="art">
                                            <div class="content">
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-lg-4">7</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="greetings">
                                            <div class="content">
                                                <div class="content">
                                                    <div class="row">
                                                        <div class="col-lg-4">8</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden-xs hidden-sm col-lg-2">
                                    <div class="forum-side-photos">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/photos/editor-choice1.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
