<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bazar - add ad</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="bazar-add-ad-page">
<!--modal login-->
<% include ../includes/modal_login.ejs %>
<% include ../registration/modal_register.ejs %>

<!--modal upload attached items-->
<% include modal_upload_attached_items.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="bazar">Базар</a></li>
                    <li><a href="bazar">Резултати от търсенето</a></li>
                    <li class="active">Резултат</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <h1 class="main-heading">Добави обява</h1>
                <div class="ad-fields">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="control-label">Вид *</label>
                                <ul class="filters">
                                    <li class="filter-option">
                                        <div class="radio radio-primary">
                                            <input type="radio" name="radio1" id="radio1" value="option1">
                                            <label for="radio1">купува</label>
                                        </div>
                                    </li>
                                    <li class="filter-option">
                                        <div class="radio radio-primary">
                                            <input type="radio" name="radio1" id="radio2" value="option2">
                                            <label for="radio2">продава</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="ad-title" class="control-label">Заглавие *</label>
                                <input type="text" id="ad-title" name="ad-title" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="ad-section" class="control-label">Секция</label>
                                <div class="filter-option">
                                    <select data-live-search="true" title="-- Избери --">
                                        <option data-tokens="България">България</option>
                                        <option data-tokens="Испания">Испания</option>
                                        <option data-tokens="Италия">Италия</option>
                                        <option data-tokens="Холандия">Холандия</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="ad-description" class="control-label">Описание *</label>
                                <textarea id="ad-description" name="ad-description" class="form-control"
                                          required></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="ad-contact-details" class="control-label">Данни за връзка * (Лични
                                    съобщения, телефон, имейл)</label>
                                <textarea id="ad-contact-details" name="ad-contact-details" class="form-control"
                                          required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="ad-more-description" class="control-label">Допълнение към обявата *</label>
                                <textarea id="ad-more-description" name="ad-more-description" class="form-control"
                                          required></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="ad-section" class="control-label">Артикулите се намират в *</label>
                                <div class="filter-option">
                                    <select data-live-search="true" title="-- Избери --">
                                        <option data-tokens="България">България</option>
                                        <option data-tokens="Испания">Испания</option>
                                        <option data-tokens="Италия">Италия</option>
                                        <option data-tokens="Холандия">Холандия</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ad-price" class="control-label">цена (лв) *</label>
                                <input type="text" id="ad-price" name="ad-price" value="100.50" class="form-control"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="bazar-ad series-of-photos">
                                <div class="form-group">
                                    <label for="photo-title">добави серия от Снимки *</label>
                                </div>
                                <div class="photo-series-wrapper">
                                    <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                    <div class="uploaded-photo-wrapper">
                                        <button type="button" class="delete-photo">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                        <div class="uploaded-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uploaded-photo-overlay" style="left: 30%;">
                                            <div class="photo-overlay"></div>
                                        </div>
                                    </div>

                                    <!--remove class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                    <div class="uploaded-photo-wrapper completed">
                                        <button type="button" class="delete-photo">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                        <div class="uploaded-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uploaded-photo-overlay" style="left: 100%;">
                                            <div class="photo-overlay"></div>
                                        </div>
                                    </div>

                                    <!--remove class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                    <div class="uploaded-photo-wrapper completed">
                                        <button type="button" class="delete-photo">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                        <div class="uploaded-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uploaded-photo-overlay" style="left: 100%;">
                                            <div class="photo-overlay"></div>
                                        </div>
                                    </div>

                                    <!--remove class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                    <div class="uploaded-photo-wrapper completed">
                                        <button type="button" class="delete-photo">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                        <div class="uploaded-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uploaded-photo-overlay" style="left: 100%;">
                                            <div class="photo-overlay"></div>
                                        </div>
                                    </div>

                                    <div class="uploaded-photo-wrapper select-new-photo">
                                        <div class="uploaded-photo">
                                            <div class="add-new">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                <input type="file" id="upload-photo" name="upload" class="upload-photo-input"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="attached-items">
                    <div class="attached-items-header">
                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <h4 class="heading">Артикули към обява</h4>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <button class="btn btn-md btn-block btn-bordered btn-upload-big-photo"
                                        data-keyboard="true" data-toggle="modal"
                                        data-target="#modalUploadAttachedItems">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span class="text hidden-xs hidden-sm">Добави артикул</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="attached-items-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <table class="table table-striped attached-items">
                                    <thead>
                                    <tr>
                                        <td>Описание</td>
                                        <td>Статус</td>
                                        <td>Състояние</td>
                                        <td colspan="2">Цена (лв)</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Фотоапарат : Benq DC C1030 Eco</td>
                                        <td class="text-success">Активен</td>
                                        <td>Добро</td>
                                        <td>200,00</td>
                                        <td class="text-right">
                                            <a href="#">изтрий</a>
                                            <span class="separator">|</span>
                                            <a href="#">редактирай</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Фотоапарат : Benq DC C1030 Eco</td>
                                        <td class="text-success">Активен</td>
                                        <td>Добро</td>
                                        <td>200,00</td>
                                        <td class="text-right">
                                            <a href="#">изтрий</a>
                                            <span class="separator">|</span>
                                            <a href="#">редактирай</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Фотоапарат : Benq DC C1030 Eco</td>
                                        <td class="text-danger">Продадено</td>
                                        <td>Добро</td>
                                        <td>200,00</td>
                                        <td class="text-right">
                                            <a href="#">изтрий</a>
                                            <span class="separator">|</span>
                                            <a href="#">редактирай</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="attached-items-footer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group checkbox custom-checkbox">
                                    <div class="checkbox-field-wrapper">
                                        <span class="character-checkbox"></span>
                                        <span class="label">Продават се само комплект (ще се вижда само цената на обявата)</span>
                                    </div>
                                </div>
                                <div class="form-group checkbox custom-checkbox">
                                    <div class="checkbox-field-wrapper">
                                        <span class="character-checkbox"></span>
                                        <span class="label">Разрешавам коментари под моята обява.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                                <button class="btn btn-md btn-primary btn-block btn-publish-ad btn-action btn-loading">
                                    <span class="btn-content-wrapper">
                                        <span class="icon">
                                            <i class="fa fa-spinner fa-spin spinner"></i>
                                        </span>
                                        <span class="text text-uppercase">Публикувай обява</span>
                                    </span>
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="make-you-ad-paid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group checkbox custom-checkbox checked">
                                    <div class="checkbox-field-wrapper">
                                        <span class="character-checkbox"></span>
                                        <span class="label">Платена обява</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group label">
                                    <label class="control-label">Активна до</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <div class="filter-option">
                                        <select data-live-search="true" title="01">
                                            <option data-tokens="01">01</option>
                                            <option data-tokens="02">02</option>
                                            <option data-tokens="03">03</option>
                                            <option data-tokens="04">04</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="filter-option">
                                        <select data-live-search="true" title="Януари">
                                            <option data-tokens="Януари">Януари</option>
                                            <option data-tokens="Февруари">Февруари</option>
                                            <option data-tokens="Март">Март</option>
                                            <option data-tokens="Април">Април</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="filter-option">
                                        <select data-live-search="true" title="2019">
                                            <option data-tokens="2019">2019</option>
                                            <option data-tokens="2020">2020</option>
                                            <option data-tokens="2021">2021</option>
                                            <option data-tokens="2022">2022</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                                <button
                                    class="btn btn-md btn-primary btn-block btn-publish-paid btn-action btn-loading">
                                    <span class="btn-content-wrapper">
                                        <span class="icon">
                                            <i class="fa fa-spinner fa-spin spinner"></i>
                                        </span>
                                        <span class="text text-uppercase">Запис</span>
                                    </span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
