<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bazar - view ad</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="bazar-view-ad-page">
<% include ../includes/modal_login.ejs %>
<div class="bazar-vertical-side-ad hidden-xs hidden-sm">
    <span>270x600</span>
</div>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="bazar-products">
        <div class="container">
            <div class="content-wrapper">
                <div class="item-wrapper list-view-item">
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="bazar">Базар</a></li>
                                    <li><a href="bazar">Резултати от търсенето</a></li>
                                    <li class="active">Резултат</li>
                                </ol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item-image col-xs-12 col-sm-12 col-md-4 col-lg-4 list-view-image">
                                <div class="main-photo-viewer">
                                    <div class="category-photo-slider flexslider">
                                        <ul class="slides">
                                            <li class="slide-item">
                                                <div class="slide-photo">
                                                    <img src="../images/photos/photo_05.jpeg"/>
                                                </div>
                                            </li>
                                            <li class="slide-item">
                                                <div class="slide-photo">
                                                    <img src="../images/new_photos/1528009422__DIM9264-Edits.jpg"/>
                                                </div>
                                            </li>
                                            <li class="slide-item">
                                                <div class="slide-photo">
                                                    <img src="../images/new_photos/1527807920__OLI0992.jpg"/>
                                                </div>
                                            </li>
                                            <li class="slide-item">
                                                <div class="slide-photo">
                                                    <img src="../images/new_photos/1524648267_16_13.jpg"/>
                                                </div>
                                            </li>
                                            <li class="slide-item">
                                                <div class="slide-photo">
                                                    <img src="../images/photos/photo_03.jpg"/>
                                                </div>
                                            </li>
                                            <li class="slide-item">
                                                <div class="slide-photo">
                                                    <img src="../images/new_photos/1528361430_85_27.jpg"/>
                                                </div>
                                            </li>
                                            <li class="slide-item">
                                                <div class="slide-photo">
                                                    <img
                                                        src="../images/new_photos/1526986425_Found_17230509_23827996-Edit.JPG"/>
                                                </div>
                                            </li>
                                            <li class="slide-item">
                                                <div class="slide-photo">
                                                    <img src="../images/new_photos/1526534674_Sevi7619.jpg"/>
                                                </div>
                                            </li>
                                            <li class="slide-item">
                                                <div class="slide-photo">
                                                    <img src="../images/photos/photo_04.jpg"/>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="category-photo-carousel flexslider">
                                        <ul class="slides">
                                            <li>
                                                <div class="slide-photo-carousel"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')"></div>
                                            </li>
                                            <li>
                                                <div class="slide-photo-carousel"
                                                     style="background-image: url('../images/new_photos/1528009422__DIM9264-Edits.jpg')"></div>
                                            </li>
                                            <li>
                                                <div class="slide-photo-carousel"
                                                     style="background-image: url('../images/new_photos/1527807920__OLI0992.jpg')"></div>
                                            </li>
                                            <li>
                                                <div class="slide-photo-carousel"
                                                     style="background-image: url('../images/new_photos/1524648267_16_13.jpg')"></div>
                                            </li>
                                            <li>
                                                <div class="slide-photo-carousel"
                                                     style="background-image: url('../images/photos/photo_03.jpg')"></div>
                                            </li>
                                            <li>
                                                <div class="slide-photo-carousel"
                                                     style="background-image: url('../images/new_photos/1528361430_85_27.jpg')"></div>
                                            </li>
                                            <li>
                                                <div class="slide-photo-carousel"
                                                     style="background-image: url('../images/new_photos/1526986425_Found_17230509_23827996-Edit.JPG')"></div>
                                            </li>
                                            <li>
                                                <div class="slide-photo-carousel"
                                                     style="background-image: url('../images/new_photos/1526534674_Sevi7619.jpg')"></div>
                                            </li>
                                            <li>
                                                <div class="slide-photo-carousel"
                                                     style="background-image: url('../images/photos/photo_04.jpg')"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption col-xs-12 col-sm-12 col-md-5 col-lg-5 list-view-caption">
                                <div class="caption">
                                    <div class="caption-header">
                                        <div class="badge-status deactivated">изтекла</div>
                                        <h4 class="heading">
                                            <span class="item-type">Продава:</span>
                                            <a href="#">Tokina AF 11-16mm f/2.8 PRO DX II за Nikon</a>
                                        </h4>
                                        <div class="item-author">
                                            <div class="main-details">
                                                <span class="since-date">преди 23 дни</span>
                                                <span class="city">Стара Загора</span>
                                                <span class="seen">Видянa: 69</span>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo"
                                                       style="background-image: url('../images/photos/photo_05.jpeg')">
                                                        <span class="text">Виктор Стоянов</span>
                                                    </a>
                                                </div>
                                                <a href="#" class="profile-name">Виктор Стоянов - vstoyanov</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption-body">
                                        <div class="item-description">Състояние - нов. Купуван от чужбина - няма валидна
                                            в страната гаранция. Пълна окомплектовка - оригинални капачки и сенник.
                                            Състояние -
                                            нов. Купуван от чужбина - няма валидна в страната гаранция. Пълна
                                            окомплектовка - оригинални капачки и сенник.
                                        </div>
                                    </div>
                                    <div class="caption-footer">
                                        <div class="item-price">
                                            <span>148.00 лв</span>
                                            <div class="btn-group price-info">
                                                <button type="button" class="btn btn-md btn-price-info"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="icon info"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="container-fluid">
                                                        <div class="dropdown-menu-header">
                                                            <h6 class="heading">История на цена:</h6>
                                                            <div class="row">
                                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                    <span>Дата</span>
                                                                </div>
                                                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                    <span>Цена (лв.)</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="dropdown-menu-body">
                                                            <div class="price-change">
                                                                <div class="row">
                                                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                        2017-11-12 12:04:41
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                        1100.00
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="price-change">
                                                                <div class="row">
                                                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                        2017-11-12 12:04:41
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                        1100.00
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ad-buttons">
                                            <button class="btn btn-md btn-primary btn-send-message">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                <span class="text">Прати съобщение</span>
                                            </button>
                                            <a href="tel:+359888333455" class="btn btn-md btn-primary btn-edit-ad">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                <span class="text">Обади се</span>
                                            </a>
                                            <div class="btn-group">
                                                <button type="button"
                                                        class="btn btn-md btn-more-actions dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ul class="ad-actions">
                                            <li class="action">
                                                <a href="#">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <span class="text">Наблюдавай</span>
                                                </a>
                                            </li>
                                            <li class="action">
                                                <a href="#">
                                                    <span class="text">Докладвай обявата</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="content-block ad-description">
                    <p>Решихме да пуснем в продажба семейната колекция на 3-ма запалени любители на фото техниката.
                        Принципът е следният: За два дни имате възможност да предлагате цени за обявените
                        артикули(следете кои от тях са
                        активни). Ако предлаганата цена не е адекватна на пазарната, не удовлетворява продавача или е
                        предложена друга по-висока до края на търга техниката ще бъде получена от друг или ще остане за
                        търгуване след две
                        седмици и така до края на годината или до разпродаване на артикулите.</p>
                    <p>Описание и подробности в детайлите на всеки продукт.</p>
                </div>
                <div class="content-block ad-contact-info">
                    <h4 class="heading">Контакт информация</h4>
                    <p>Лични съобщения.<br>Може да ме намерите на <a href="tel:+359888123456">+359888123456</a></p>
                </div>
                <div class="content-block ad-additions">
                    <h4 class="heading">Допълнение</h4>
                    <div class="well well-md">
                        <div class="caption">
                            <span class="date-comment">24 Юли 2018123123</span>
                            <p>Обективът е продаден. <br>Оставанаха само тялото и филтрите.</p>
                        </div>
                    </div>
                    <div class="well well-md">
                        <div class="caption">
                            <span class="date-comment">24 Юли 2018123123</span>
                            <p>Обективът е продаден. <br>Оставанаха само тялото и филтрите.</p>
                        </div>
                    </div>
                    <div class="well well-md">
                        <div class="caption">
                            <span class="date-comment">24 Юли 2018123123</span>
                            <p>Обективът е продаден. <br>Оставанаха само тялото и филтрите.</p>
                        </div>
                    </div>
                </div>
                <div class="content-block ad-attached-items">
                    <h4 class="heading">Артикули към обява</h4>
                    <div class="bazar-products">
                        <div class="well well-md">
                            <div class="item-wrapper">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                            <div class="item-image">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo"
                                                       style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                                        <span class="text">Виктор Стоянов</span>
                                                    </a>
                                                </div>
                                                <div class="image-label">5 снимки</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                            <div class="item-caption">
                                                <div class="caption">
                                                    <div class="caption-header">
                                                        <h4 class="heading">Фотоапарат Canon 5D</h4>
                                                    </div>
                                                    <div class="caption-body">
                                                        <div class="item-tags">
                                                            <span class="label">Състояние:</span>
                                                            <ul>
                                                                <li>Отлично</li>
                                                            </ul>
                                                        </div>
                                                        <div class="item-price">
                                                            <span>1,099.99 лв</span>
                                                            <div class="btn-group price-info">
                                                                <button type="button" class="btn btn-md btn-price-info"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">
                                                                    <i class="icon info"></i>
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                                    <div class="container-fluid">
                                                                        <div class="dropdown-menu-header">
                                                                            <h6 class="heading">История на цена:</h6>
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                    <span>Дата</span>
                                                                                </div>
                                                                                <div
                                                                                    class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                    <span>Цена (лв.)</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="dropdown-menu-body">
                                                                            <div class="price-change">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                        2017-11-12 12:04:41
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                        1100.00
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="price-change">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                        2017-11-12 12:04:41
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                        1100.00
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-description">Купуван от чужбина - няма валидна
                                                            в страната гаранция. Пълна окомплектовка - оригинални
                                                            капачки и сенник.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well well-md">
                            <div class="item-wrapper">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                            <div class="item-image">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="no-photo">
                                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                        <span class="text">Без снимка</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                            <div class="item-caption">
                                                <div class="caption">
                                                    <div class="caption-header">
                                                        <h4 class="heading">Фотоапарат Canon 5D</h4>
                                                    </div>
                                                    <div class="caption-body">
                                                        <div class="item-tags">
                                                            <span class="label">Състояние:</span>
                                                            <ul>
                                                                <li>Отлично</li>
                                                            </ul>
                                                        </div>
                                                        <div class="item-price">
                                                            <span>4,699.90 лв</span>
                                                            <div class="btn-group price-info">
                                                                <button type="button" class="btn btn-md btn-price-info"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">
                                                                    <i class="icon info"></i>
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                                    <div class="container-fluid">
                                                                        <div class="dropdown-menu-header">
                                                                            <h6 class="heading">История на цена:</h6>
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                    <span>Дата</span>
                                                                                </div>
                                                                                <div
                                                                                    class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                    <span>Цена (лв.)</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="dropdown-menu-body">
                                                                            <div class="price-change">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                        2017-11-12 12:04:41
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                        1100.00
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="price-change">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                        2017-11-12 12:04:41
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                        1100.00
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-description">Купуван от чужбина - няма валидна
                                                            в страната гаранция. Пълна окомплектовка - оригинални
                                                            капачки и сенник.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well well-md">
                            <div class="item-wrapper">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                            <div class="item-image">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo"
                                                       style="background-image: url('https://media.the-digital-picture.com/Images/Other/Tokina-11-16mm-f-2.8-AT-X-Pro-DX-II-Lens/Tokina-11-16mm-f-2.8-AT-X-Pro-DX-II-Lens-Angle-View.jpg')">
                                                        <span class="text">Виктор Стоянов</span>
                                                    </a>
                                                </div>
                                                <div class="image-label">Служебна снимка</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                            <div class="item-caption">
                                                <div class="caption">
                                                    <div class="caption-header">
                                                        <div class="badge-status deactivated">продадено</div>
                                                        <h4 class="heading">Фотоапарат Canon 5D</h4>
                                                    </div>
                                                    <div class="caption-body">
                                                        <div class="item-tags">
                                                            <span class="label">Състояние:</span>
                                                            <ul>
                                                                <li>Отлично</li>
                                                            </ul>
                                                        </div>
                                                        <div class="item-price">
                                                            <span>100,148.00 лв</span>
                                                            <div class="btn-group price-info">
                                                                <button type="button" class="btn btn-md btn-price-info"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">
                                                                    <i class="icon info"></i>
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                                    <div class="container-fluid">
                                                                        <div class="dropdown-menu-header">
                                                                            <h6 class="heading">История на цена:</h6>
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                    <span>Дата</span>
                                                                                </div>
                                                                                <div
                                                                                    class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                    <span>Цена (лв.)</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="dropdown-menu-body">
                                                                            <div class="price-change">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                        2017-11-12 12:04:41
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                        1100.00
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="price-change">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                        2017-11-12 12:04:41
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                        1100.00
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-description">Купуван от чужбина - няма валидна
                                                            в страната гаранция. Пълна окомплектовка - оригинални
                                                            капачки и сенник.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well well-md">
                            <div class="item-wrapper">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                            <div class="item-image">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo"
                                                       style="background-image: url('https://media.the-digital-picture.com/Images/Other/Tokina-11-16mm-f-2.8-AT-X-Pro-DX-II-Lens/Tokina-11-16mm-f-2.8-AT-X-Pro-DX-II-Lens-Angle-View.jpg')">
                                                        <span class="text">Виктор Стоянов</span>
                                                    </a>
                                                </div>
                                                <div class="image-label">Служебна снимка</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                            <div class="item-caption">
                                                <div class="caption">
                                                    <div class="caption-header">
                                                        <div class="badge-status deactivated">продадено</div>
                                                        <h4 class="heading">Фотоапарат Canon 5D</h4>
                                                    </div>
                                                    <div class="caption-body">
                                                        <div class="item-tags">
                                                            <span class="label">Състояние:</span>
                                                            <ul>
                                                                <li>Отлично</li>
                                                            </ul>
                                                        </div>
                                                        <div class="item-price">
                                                            <span>100,148.00 лв</span>
                                                            <div class="btn-group price-info">
                                                                <button type="button" class="btn btn-md btn-price-info"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">
                                                                    <i class="icon info"></i>
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                                    <div class="container-fluid">
                                                                        <div class="dropdown-menu-header">
                                                                            <h6 class="heading">История на цена:</h6>
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                    <span>Дата</span>
                                                                                </div>
                                                                                <div
                                                                                    class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                    <span>Цена (лв.)</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="dropdown-menu-body">
                                                                            <div class="price-change">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                        2017-11-12 12:04:41
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                        1100.00
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="price-change">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                        2017-11-12 12:04:41
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                        1100.00
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-description">Купуван от чужбина - няма валидна
                                                            в страната гаранция. Пълна окомплектовка - оригинални
                                                            капачки и сенник.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well well-md">
                            <div class="item-wrapper">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                            <div class="item-image">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="no-photo">
                                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                        <span class="text">Без снимка</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                            <div class="item-caption">
                                                <div class="caption">
                                                    <div class="caption-header">
                                                        <h4 class="heading">Фотоапарат Canon 5D</h4>
                                                    </div>
                                                    <div class="caption-body">
                                                        <div class="item-tags">
                                                            <span class="label">Състояние:</span>
                                                            <ul>
                                                                <li>Отлично</li>
                                                            </ul>
                                                        </div>
                                                        <div class="item-price">
                                                            <span>4,699.90 лв</span>
                                                            <div class="btn-group price-info">
                                                                <button type="button" class="btn btn-md btn-price-info"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">
                                                                    <i class="icon info"></i>
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                                    <div class="container-fluid">
                                                                        <div class="dropdown-menu-header">
                                                                            <h6 class="heading">История на цена:</h6>
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                    <span>Дата</span>
                                                                                </div>
                                                                                <div
                                                                                    class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                    <span>Цена (лв.)</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="dropdown-menu-body">
                                                                            <div class="price-change">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                        2017-11-12 12:04:41
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                        1100.00
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="price-change">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                        2017-11-12 12:04:41
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                        1100.00
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-description">Купуван от чужбина - няма валидна
                                                            в страната гаранция. Пълна окомплектовка - оригинални
                                                            капачки и сенник.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well well-md">
                            <div class="item-wrapper">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                            <div class="item-image">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo"
                                                       style="background-image: url('https://media.the-digital-picture.com/Images/Other/Tokina-11-16mm-f-2.8-AT-X-Pro-DX-II-Lens/Tokina-11-16mm-f-2.8-AT-X-Pro-DX-II-Lens-Angle-View.jpg')">
                                                        <span class="text">Виктор Стоянов</span>
                                                    </a>
                                                </div>
                                                <div class="image-label">Служебна снимка</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                            <div class="item-caption">
                                                <div class="caption">
                                                    <div class="caption-header">
                                                        <div class="badge-status deactivated">продадено</div>
                                                        <h4 class="heading">Фотоапарат Canon 5D</h4>
                                                    </div>
                                                    <div class="caption-body">
                                                        <div class="item-tags">
                                                            <span class="label">Състояние:</span>
                                                            <ul>
                                                                <li>Отлично</li>
                                                            </ul>
                                                        </div>
                                                        <div class="item-price">
                                                            <span>100,148.00 лв</span>
                                                            <div class="btn-group price-info">
                                                                <button type="button" class="btn btn-md btn-price-info"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">
                                                                    <i class="icon info"></i>
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                                    <div class="container-fluid">
                                                                        <div class="dropdown-menu-header">
                                                                            <h6 class="heading">История на цена:</h6>
                                                                            <div class="row">
                                                                                <div
                                                                                    class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                    <span>Дата</span>
                                                                                </div>
                                                                                <div
                                                                                    class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                    <span>Цена (лв.)</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="dropdown-menu-body">
                                                                            <div class="price-change">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                        2017-11-12 12:04:41
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                        1100.00
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="price-change">
                                                                                <div class="row">
                                                                                    <div
                                                                                        class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                                                        2017-11-12 12:04:41
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                                        1100.00
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-description">Купуван от чужбина - няма валидна
                                                            в страната гаранция. Пълна окомплектовка - оригинални
                                                            капачки и сенник.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include ../includes/add_comment.ejs %>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
