<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bazar - all ads</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="bazar-all-ads-page">
<% include ../includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <header class="content-header">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-7">
                        <h1>Базар</h1>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
                        <div class="row">
                            <div class="col-md-offset-7 col-lg-offset-7 col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                <a href="bazar-add-ad" class="btn btn-md btn-primary btn-block btn-publish-ad">
                                    <span class="text">добави обява</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#all-ads" data-toggle="tab">
                                        <span>Всички обяви</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#watching" data-toggle="tab">
                                        <span>Наблюдавани</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#my-published-ads" data-toggle="tab">
                                        <span>Моите обяви</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#rules" data-toggle="tab">
                                        <span>Правила</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="all-ads">
                                <% include tab_all_ads.ejs %>
                            </div>
                            <div class="tab-pane fade" id="watching">
                                <% include tab_watching.ejs %>
                            </div>
                            <div class="tab-pane fade" id="my-published-ads">
                                <% include tab_my_ads.ejs %>
                            </div>
                            <div class="tab-pane fade" id="rules">
                                <% include tab_rules.ejs %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
