<div class="modal fade" id="modalUploadAttachedItems" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <h2 class="head">Добави артикул</h2>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                            <button type="button" class="close-modal" data-dismiss="modal">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;width: 25px;fill:#aaaaaa;" xml:space="preserve">
<g>
    <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
		c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
		C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
		s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
</g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
</svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Вид</label>
                                <div class="filter-option">
                                    <select data-live-search="true" title="-- Избери --">
                                        <option data-tokens="България">България</option>
                                        <option data-tokens="Испания">Испания</option>
                                        <option data-tokens="Италия">Италия</option>
                                        <option data-tokens="Холандия">Холандия</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Състояние *</label>
                                <div class="filter-option">
                                    <select data-live-search="true" title="-- Избери --">
                                        <option data-tokens="България">България</option>
                                        <option data-tokens="Испания">Испания</option>
                                        <option data-tokens="Италия">Италия</option>
                                        <option data-tokens="Холандия">Холандия</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group model">
                                <div class="form-group-header">
                                    <label class="control-label">Модел</label>
                                    <a href="#">Предложи нов модел</a>
                                </div>
                                <div class="form-group-body">
                                    <div class="filter-option suggest input">
                                        <select data-live-search="true" title="-- Избери --">
                                            <option data-tokens="България">България</option>
                                            <option data-tokens="Испания">Испания</option>
                                            <option data-tokens="Италия">Италия</option>
                                            <option data-tokens="Холандия">Холандия</option>
                                        </select>
                                        <input type="text" name="suggest-new-brand-camera-model-name"
                                               class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="attached-items-price" class="control-label">Цена</label>
                                <input type="text" id="attached-items-price" name="attached-items-price"
                                       class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label class="control-label">Година на производство</label>
                                <div class="filter-option">
                                    <select data-live-search="true" title="-- Избери --">
                                        <option data-tokens="България">България</option>
                                        <option data-tokens="Испания">Испания</option>
                                        <option data-tokens="Италия">Италия</option>
                                        <option data-tokens="Холандия">Холандия</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="form-group-header">
                                    <label class="control-label">Марка</label>
                                    <a href="#">Предложи нова марка</a>
                                </div>
                                <div class="form-group-body">
                                    <div class="filter-option suggest input">
                                        <select data-live-search="true" title="-- Избери --">
                                            <option data-tokens="България">България</option>
                                            <option data-tokens="Испания">Испания</option>
                                            <option data-tokens="Италия">Италия</option>
                                            <option data-tokens="Холандия">Холандия</option>
                                        </select>
                                        <input type="text" name="suggest-new-brand-camera-name" class="form-control"
                                               required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="attached-items-sn" class="control-label">Сериен номер</label>
                                <input type="text" id="attached-items-sn" name="attached-items-sn" class="form-control"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="attached-items-description" class="control-label">Описание *</label>
                                <textarea id="attached-items-description" name="attached-items-description"
                                          class="form-control" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="modal-bazar-ad series-of-photos">
                                <div class="form-group">
                                    <label for="photo-title">добави серия от Снимки *</label>
                                </div>
                                <div class="photo-series-wrapper">
                                    <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                    <div class="uploaded-photo-wrapper">
                                        <button type="button" class="delete-photo">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                        <div class="uploaded-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uploaded-photo-overlay" style="left: 30%;">
                                            <div class="photo-overlay"></div>
                                        </div>
                                    </div>

                                    <!--remove class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                    <div class="uploaded-photo-wrapper completed">
                                        <button type="button" class="delete-photo">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                        <div class="uploaded-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uploaded-photo-overlay" style="left: 100%;">
                                            <div class="photo-overlay"></div>
                                        </div>
                                    </div>

                                    <!--remove class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                    <div class="uploaded-photo-wrapper completed">
                                        <button type="button" class="delete-photo">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                        <div class="uploaded-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uploaded-photo-overlay" style="left: 100%;">
                                            <div class="photo-overlay"></div>
                                        </div>
                                    </div>

                                    <!--remove class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                    <div class="uploaded-photo-wrapper completed">
                                        <button type="button" class="delete-photo">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                        <div class="uploaded-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uploaded-photo-overlay" style="left: 100%;">
                                            <div class="photo-overlay"></div>
                                        </div>
                                    </div>

                                    <div class="uploaded-photo-wrapper select-new-photo">
                                        <div class="uploaded-photo">
                                            <div class="add-new">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                <input type="file" id="upload-photo" name="upload" class="upload-photo-input"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <button class="btn btn-md btn-primary btn-block btn-publish-attached-items">
                                <span class="text">Добави</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
