<div class="panel with-nav-tabs panel-default">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="panel-heading">
            <ul class="nav nav-tabs filter-categories">
                <li class="category active">
                    <a href="#ad-rules" data-toggle="tab">
                        <span>Правила</span>
                    </a>
                </li>
                <li class="category">
                    <a href="#ad-management" data-toggle="tab">
                        <span>Управление на обява</span>
                    </a>
                </li>
                <li class="category">
                    <a href="#ad-paid" data-toggle="tab">
                        <span>Платена обява</span>
                    </a>
                </li>
                <li class="category">
                    <a href="#ad-filters" data-toggle="tab">
                        <span>Филтри</span>
                    </a>
                </li>
                <li class="category">
                    <a href="#ad-favorites" data-toggle="tab">
                        <span>Любими</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="ad-rules">
                    <div class="content">
                        <h2>Управление на обява</h2>
                        <ol>
                            <li>Секция "Базар" е част от Фото Форум. За нея важат всички правила на Фото Форум.</li>
                            <li>Секция "Базар" служи за продажба на лична употребявана техника. Потребителите, продаващи
                                личната си техника в базар не дължат комисионна на сайта. Администраторите на сайта
                                следят количеството и качеството на
                                обявите, които публикувате и при нарушение на правилата, ще ги премахват по своя
                                преценка и без да дължат обяснение или обезщетение за пропуснати ползи.
                            </li>
                            <li>В секция "Базар" не могат да бъдат публикувани обяви от търговци и вносители, продаващи
                                нова техника. Подобни обяви ще бъдат изтривани, а авторите им деактивирани. Нова
                                техника, както и търговия със
                                значителни обеми употребявана техника може да се осъществява само след заплащане на
                                съответните цени, според рекламната тарифа на Фото Форум.
                            </li>
                            <li>Всяка обява в сайта трябва да съдържа ясен текст с описание на продавания продукт и
                                координати за връзка със собственика. Обяви, които не съдържат описание на продукта,
                                коректно избрани, класифицирани и
                                описани артикули и координати за връзка ще бъдат изтривани от администратора, без
                                предварително предупреждение. Публикуването на координати за връзка в текста на обявата
                                се счита за нарушаване на
                                консистентността на информацията и нарушаване на правилата и подобни обяви ще бъдат
                                отстранявани от секция Базар.
                            </li>
                            <li>В секция "Базар" съществуват 7 основни модула - "Цифрова техника" , "Аналогова техника",
                                "Аксесоари", "Литература", "GSM-и" , "Видео техника" и "Компютри и лаптопи".
                                <ol>
                                    <li>В "Цифрова техника" могат да бъдат публикувани само обяви за цифрови фотоапарати
                                        и обективи специално разработени или оптимизирани за цифрови фотоапарати.
                                        Обективи разработени за байонети, които не
                                        съответстват на актуалните дигитални камери не могат да присъстват в тази секция
                                        дори ако към тях има съответен преходник. Ако се продават няколко артикула в
                                        комплект е допустимо да има артикул
                                        неотговарящ на условието за секция "Цифрова техника", но той трябва да е описан
                                        само в текстовата част на обявата, но не и като отделен артикул от каталога.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                При публикуване в секция "Цифрова техника" имате възможност ако не намерите в каталога
                                модела и марката на своя артикул да предложите добавянето му от администратора.
                                Предлагане на вече съществуващи артикули
                                и марки за ново добавяне се счита за лоша практика и поради това, че зартуднява работата
                                на Базар, обяви съдържащи подобни предложения ще бъдат премахвани или спирани за
                                повторна редакция от автора.
                                <ol>
                                    <li>В "Аналогова техника" трябва да бъдат публикувани всички обяви за филмови
                                        фотоапарати, обективи разработени за филмови фотоапарати, както и
                                        фотоувеличители, вани, корекс дози, диапроектори, филми и
                                        т.н.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="tab-pane fade" id="ad-management">
                    <div class="content">
                        <p>management</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="ad-paid">
                    <div class="content">
                        <p>paid</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="ad-filters">
                    <div class="content">
                        <p>filters</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="ad-favorites">
                    <div class="content">
                        <p>favorites</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
