<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <div class="content">
        <div class="row bazar-products list-view">
            <div class="item-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12 list-view-item">
                <div class="item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="item-image col-xs-4 col-sm-4 col-md-4 col-lg-4 list-view-image">
                                <div class="row-thumb-photos">
                                    <div class="photo-wrapper">
                                        <a href="#" class="photo">
                                            <div class="thumb-photo"
                                                 style="background-image: url('https://media.the-digital-picture.com/Images/Other/Tokina-11-16mm-f-2.8-AT-X-Pro-DX-II-Lens/Tokina-11-16mm-f-2.8-AT-X-Pro-DX-II-Lens-Angle-View.jpg')">
                                                Ivan ivanov
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption col-xs-8 col-sm-8 col-md-8 col-lg-8 list-view-caption">
                                <div class="caption">
                                    <div class="caption-header">
                                        <div class="badge-status deactivated">изтекла</div>
                                        <h4 class="heading">
                                            <span class="item-type">Продава:</span>
                                            <a href="#">Tokina AF 11-16mm f/2.8 PRO DX II за Nikon</a>
                                        </h4>
                                        <div class="item-author">
                                            <div class="main-details">
                                                <span class="since-date">преди 23 дни</span>
                                                <span class="city">Стара Загора</span>
                                                <span class="seen">Видянa: 69</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption-body">
                                        <div class="item-description">Състояние - нов. Купуван от чужбина - няма валидна
                                            в страната гаранция. Пълна окомплектовка - оригинални капачки и сенник.
                                            Състояние -
                                            нов. Купуван от чужбина - няма валидна в страната гаранция. Пълна
                                            окомплектовка - оригинални капачки и сенник.
                                        </div>
                                    </div>
                                    <div class="caption-footer">
                                        <div class="row">
                                            <div
                                                class="item-caption-price col-xs-12 col-sm-12 col-md-5 col-lg-5 list-view-price">
                                                <div class="item-price">3,123.00 лв.</div>
                                            </div>
                                            <div
                                                class="item-caption-buttons col-xs-12 col-sm-12 col-md-7 col-lg-7 list-view-buttons">
                                                <div class="ad-buttons">
                                                    <button class="btn btn-md btn-bordered btn-upload-ad">
                                                        <span class="text">Повдигни обява</span>
                                                    </button>
                                                    <button class="btn btn-md btn-bordered btn-edit-ad">
                                                        <span class="text">Редактирай</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <div class="full-with-advertise">
        <img src="http://via.placeholder.com/260x260/000000/ffffff/" alt="">
    </div>
</div>
