<div class="editor-of-the-month">
    <div class="main-details">
        <div class="photo-wrapper">
            <a href="#" class="photo" style="background-image: url('../images/photos/editor_of_the_month.png')">
                <span class="text">Христофор Герасимов Господинов</span>
            </a>
        </div>
        <div class="content">
            <h3 class="editor">Редактор за м. декември е <a href="#">Евгени Димитров</a></h3>
            <div class="editor-bio">
                <p>Евгени Димитров е основател и шеф на агенция Булфото,
                    която от 17 години е сред водещите на българския пазар за фотожурналистика.
                    Занимава се с фотография от дете, но никога не се е интересувал да получи
                    някаква диплома от специализирано училище. Завършил е пресжурналистика в
                    Софийски университет „Свети Климент Охридски“ в края на миналия век.
                    Евгени, заедно с Любомир Бенковски, е сред съучередителине на школата за
                    фоторепортери на агенция Булфото, която е дала някои от много
                    успешните колеги в бранша.</p>
                <p>През миналата година се включва и в основаването на Асоциацията на
                    професионалните фотографи в България, организация, създадена с амбицията да
                    подобри професионалните стандарти в гилдията. Снимки на Евгени Димитров се
                    публикуват ежедневно в българските и чуждестранни медии, а извън
                    професионалната работа той се занимава с популяризирането на малко известни
                    исторически обекти с проекта Експедиция „Преоткрий България“. Известен е сред
                    музикантските среди като един от най-запалените почитатели на джаза и не пропуска
                    да снима на повечето значими музикални събития.
                    Очаквайте и интервю с него!</p>
                <div class="read-more-shadow"></div>
            </div>
        </div>
        <a href="#" class="read-more">повече</a>
    </div>
</div>
