<div class="advanced-search-wrapper">
    <div class="advanced-search">
        <button type="button" class="btn-close close-search" data-dismiss="modal">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="head">Търсене</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group search-field">
                        <form>
                            <label for="theme-name">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </label>
                            <input type="text" id="theme-name-here" class="form-control theme-name" value=""
                                   placeholder="">
                            <button type="reset" class="reset-search-field btn-close">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-block btn-primary text-uppercase btn-submit-search main-search-button">
                        търсене
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <select data-live-search="true" title="Търси в този форум">
                            <option data-tokens="Обще тема">Обще тема</option>
                            <option data-tokens="Фотография">Фотография</option>
                            <option data-tokens="Техника">Техника</option>
                            <option data-tokens="Начинаещи">Начинаещи</option>
                            <option data-tokens="Конкурси">Конкурси</option>
                            <option data-tokens="Изкуства">Изкуства</option>
                            <option data-tokens="Поздрави">Поздрави</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <select data-live-search="true" title="Всички думи">
                            <option data-tokens="Обще тема">Обще тема</option>
                            <option data-tokens="Фотография">Фотография</option>
                            <option data-tokens="Техника">Техника</option>
                            <option data-tokens="Начинаещи">Начинаещи</option>
                            <option data-tokens="Конкурси">Конкурси</option>
                            <option data-tokens="Изкуства">Изкуства</option>
                            <option data-tokens="Поздрави">Поздрави</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <select data-live-search="true" title="Всички думи">
                            <option data-tokens="Обще тема">Обще тема</option>
                            <option data-tokens="Фотография">Фотография</option>
                            <option data-tokens="Техника">Техника</option>
                            <option data-tokens="Начинаещи">Начинаещи</option>
                            <option data-tokens="Конкурси">Конкурси</option>
                            <option data-tokens="Изкуства">Изкуства</option>
                            <option data-tokens="Поздрави">Поздрави</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="search-criteria-author-theme">
                        <div class="checkbox custom-checkbox author">
                            <span class="character-checkbox"></span>
                            <span class="label">автор</span>
                        </div>
                        <div class="checkbox custom-checkbox theme">
                            <span class="character-checkbox"></span>
                            <span class="label">тема</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="search-notice">Ако махнете маркирането на Автор или Тема, то търсенето ще е в целия текст на форума. </span>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <div class="search-advice-notice">
                        <h4 class="head">Съвети при търсене</h4>
                        <p>И (AND) е по подразбиране. Това означава, че ако търсите за <strong>куче</strong> и (and)
                            <strong>котка</strong>, то ще получите като резултат всички съобщения, които съдържат тези
                            думи някъде в тях.</p>
                        <p>КАВИЧКИ (") позволява търсене по цели фрази. Това означава, че ако търсите за "<strong>куче
                                котка</strong>", то ще получите като резултат всички съобщения, които съдържат точно
                            тази фраза, включително и
                            интервалите в нея.</p>
                        <p>МИНУС (-) елиминира думи. Това означава, че ако търсите за <strong>куче</strong> и <strong>-котка</strong>,
                            то ще получите като резултат всички съобщения, които съдържат <strong>куче</strong>, но не и
                            <strong>котка</strong>.
                            Можете дори да правите това с фрази в кавички, като <strong>куче -</strong> "<strong>сиамска
                                котка</strong>".
                        <p>За търсещата машина няма значение факта, дали буквите са малки или големи, и търси в
                            заглавието, тялото и автора на съобщението.</p>
                    </div>
                </div>
            </div>
            <div class="google-search">
                <div class="row">
                    <form>
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="google-search">Опитайте и търсене с Google във Фото Форум: </label>
                                <div class="search-field">
                                    <i class="icon google-search"></i>
                                    <input type="text" id="google-search" class="form-control" placeholder="">
                                    <button type="reset" class="reset-search-field btn-close">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <button
                                class="btn btn-block btn-primary text-uppercase btn-submit-search btn-google-search">
                                търси
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="notice-correct-search-example">
                        <p>Пример за търсене само във форума: "<strong>продавам nikkor 18-105 VR
                                site:http://photo-forum.net/forum/</strong>"</p>
                        <p>Пример за търсене на дума и изключване на друга дума: "<strong>продавам 70-200
                                -sigma</strong>"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="forum-controls">
    <a href="forum-new-topic" class="btn btn-primary new-theme">нова тема</a>
    <button class="btn btn-bordered open-main-search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <span class="text">търсене</span>
    </button>
</div>
