.photo-not-found-page {
    .content-wrapper {
        .content {
            @media (max-width: 767px) {
                margin-bottom: 30px;
            }
            .page-title {
                color: $color_27;
                margin-bottom: 30px;
            }
            svg {
                @media (max-width: 767px) {
                    width: 50vw;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
