.photo-edit-page {
    .container-wrapper {
        .content-wrapper {
            .content {
                @media (max-width: 767px) {
                    margin-bottom: 60px;
                }
                .page-title {
                    margin-bottom: 30px;
                }
            }

            .full-with-advertise {
                margin-top: 0;
            }
        }
    }
}
