.camera-item-view-page {
    .product-item {
        background-color: $color_64;

        .item-wrapper {
            padding-right: 30px;
            border-right: 1px solid $color_41;
            @media (max-width: 767px) {
                padding-right: 0;
                border-right: none;
            }

            .item {
                .item-image {
                    .main-photo-viewer {
                        .item-photo-slider {
                            .slides {
                                .slide-item {
                                    .slide-photo {
                                        text-align: center;
                                        background-color: $color_2;
                                        padding-top: 30px;
                                        padding-bottom: 30px;

                                        .row-thumb-photos {
                                            @include inline-block();

                                            .photo-wrapper {
                                                width: 200px;

                                                .photo {
                                                    height: 185px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .flex-direction-nav {
                                .flex-nav-prev {
                                    .flex-prev {
                                        left: 15px;
                                    }
                                }

                                .flex-nav-next {
                                    .flex-next {
                                        right: 15px;
                                    }
                                }
                            }
                        }
                    }
                }

                .item-caption {
                    @media (max-width: 767px) {
                        margin-top: 15px;
                        margin-bottom: 30px;
                    }

                    .caption {
                        .caption-header {
                            .heading {
                                margin-top: 0;
                                margin-bottom: 25px;
                                font-size: 18px;

                                a {
                                    color: $color_4;
                                }
                            }

                            .item-details {
                                .item-detail {
                                    margin-bottom: 5px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }

                                    span {
                                        color: $color_4;
                                        font-size: 14px;
                                    }

                                    a {
                                        color: $color_4;
                                        font-size: 14px;
                                        @include roboto-font($condensed-font, $condensed-font-weight);
                                    }
                                }
                            }
                        }

                        .caption-footer {
                            .ad-buttons {
                                .btn-item-price {
                                    margin-top: 30px;
                                    padding-right: 0;
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .bazar-related-products {
            .block-title {
                margin-top: 0;
                margin-bottom: 25px;
                font-size: 14px;
            }

            .related-products {
                margin-bottom: 0;

                .bazar-products {
                    margin-top: 0;

                    &:last-child {
                        .product-description {
                            margin-bottom: 0;
                        }
                    }

                    .product-description {
                        font-size: 12px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    .related-products-wrapper {
        .related-product {
            text-align: center;
            border: 1px solid $color_41;
            @include border-radius(3px);
            @include transition(.3s);
            @media (max-width: 767px) {
                margin-bottom: 30px;
            }

            &:hover {
                border: 1px solid $color_6;

                .related-product-name {
                    color: $color_6;
                }
            }

            .row-thumb-photos {
                margin-top: 30px;
                margin-bottom: 30px;
                text-align: center;

                .photo-wrapper {
                    width: 150px;
                    @include inline-block();

                    .photo {
                        height: 150px;
                    }
                }
            }

            .related-product-name {
                color: $color_30;
                font-size: 16px;
                margin-bottom: 30px;
                display: block;
                @include transition(.3s);
            }
        }
    }

    .authors-shooting-with-this {
        background-color: $color_64;
        @media (max-width: 767px) {
            padding-bottom: 30px;
        }

        .author-with-this {
            text-align: center;
            border: 1px solid $color_41;
            @include border-radius(3px);
            @include transition(.3s);
            @media (max-width: 767px) {
                margin-bottom: 30px;
            }

            &:hover {
                border: 1px solid $color_6;

                .profile-details {
                    .main-details {
                        .user-details {
                            .profile-name-and-status {
                                .profile-name {
                                    color: $color_6;
                                }

                                .nickname {
                                    color: $color_6;
                                }
                            }
                        }
                    }
                }
            }

            .row-thumb-photos {
                margin-bottom: 0;

                .photo-wrapper {
                    @media (max-width: 767px) {
                        width: 91vw;
                    }

                    .photo {
                        height: 170px;

                        .thumb-photo {
                            @media (max-width: 767px) {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .profile-details {
                padding-bottom: 15px;
                background-color: $color_2;

                .main-details {
                    margin-top: -35px;

                    .photo-wrapper {
                        width: 70px;
                        height: 70px;
                        @include inline-block();
                        border: 2px solid $color_2;
                        @media (max-width: 767px) {
                            margin-right: 0;
                        }
                    }

                    .user-details {
                        margin-top: 10px;

                        a {
                            display: block;
                        }

                        .profile-name-and-status {
                            .profile-name {
                                font-size: 16px;
                                color: $color_30;
                                @include transition(.3s);
                            }

                            .nickname {
                                font-weight: 300;
                                color: $color_35;
                                @include transition(.3s);
                            }
                        }

                        .more-from {
                            margin-top: 15px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    .photos-shooting-with-this {
        border-bottom: 1px solid $color_31;
        margin-bottom: 60px;

        .panel {
            margin-bottom: 0;

            .panel-body {
                .tab-content {
                    .tab-pane {
                        padding-top: 30px;

                        .photos {
                            @media (max-width: 767px) {
                                text-align: center;
                            }

                            .row-thumb-photos {
                                margin-bottom: 30px;
                                @media (max-width: 767px) {
                                    text-align: center;
                                }

                                .photo-wrapper {
                                    @media (max-width: 767px) {
                                        @include inline-block();
                                    }
                                }
                            }

                            .btn-load-more {
                                margin-top: 0;
                                padding-right: 0;
                                padding-left: 0;

                                span.text {
                                    float: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
