.container-wrapper {
    .content-wrapper {
        padding-top: 60px;
        padding-bottom: 60px;

        .content-header {
            text-align: center;
            margin-bottom: 50px;

            h1 {
                margin-top: 0;
                margin-bottom: 0;
            }

            h2 {
                margin: 0;
            }
        }

        .content {
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .comments-list {
            margin-top: 30px;

            .single-comment {
                margin-bottom: 30px;
                border: 1px solid $color_13;
                padding: 35px;
                @include border-radius(3px);
                @include transition(.3s);
                @include clearfix();

                &:hover {
                    border: 1px solid $color_6;
                    background-color: $color_36;
                }

                .single-comment-content-wrapper {
                    .single-comment-date {
                        font-size: 12px;
                        color: $color_32;
                        margin-bottom: 30px;
                        display: block;
                    }

                    .single-comment-content {
                        position: relative;
                        display: block;
                        margin-bottom: 0;
                        padding: 0 30px;
                        font-style: italic;
                        @include inline-block();

                        &:before {
                            position: absolute;
                            top: -20px;
                            left: 0;
                            content: '';
                            @include sprites('quote_after');
                        }

                        color: $color_4;
                        font-size: 16px;

                        &:after {
                            position: absolute;
                            right: 0;
                            bottom: -20px;
                            content: '';
                            @include sprites('quote_before');
                        }
                    }

                    .single-comment-info {
                        margin-top: 40px;
                        border-top: 1px solid $color_13;
                        padding-top: 15px;

                        .photo-name-wrapper {
                            margin-bottom: 25px;
                            @include clearfix();

                            .text, .photo-name {
                                float: left;
                                font-size: 16px;
                            }

                            .text {
                                color: $color_32;
                                margin-right: 5px;
                            }

                            .photo-name {
                                color: $color_11;
                            }
                        }

                        .photo-commenter-wrapper {
                            @include clearfix();

                            .text {
                                float: left;
                                margin-right: 15px;
                                color: $color_32;
                                @include inline-block();
                                @media (max-width: 767px) {
                                    display: block;
                                }
                            }

                            .main-details {
                                float: left;
                                @include inline-block();
                                @include clearfix();

                                .photo-wrapper {
                                    width: 20px;
                                    height: 20px;
                                    float: left;
                                    margin-right: 15px;
                                }

                                .commenter-name-wrapper {
                                    float: left;
                                    color: $color_30;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
