.forum-fest-page {
    .container-wrapper {
        .content-wrapper {
            padding-bottom: 0;

            .news-content-tools {
                border: none;
                padding-top: 0;
                margin-bottom: 0;
            }

            .content {
                .fest-menu-wrapper {
                    text-align: center;
                    @media (max-width: 767px) {
                        text-align: left;
                    }

                    .fest-menu {
                        margin-bottom: 0;
                        @include clearfix();
                        @include inline-block();
                        @media (max-width: 767px) {
                            display: block;
                        }

                        .menu-item {
                            float: left;
                            margin-right: 30px;
                            @media (max-width: 767px) {
                                float: none;
                                margin-right: 0;
                                margin-bottom: 15px;
                            }

                            &:last-child {
                                margin-right: 0;
                                @media (max-width: 767px) {
                                    margin-bottom: 0;
                                }

                                .menu-element {
                                    &:after {
                                        display: none;
                                    }
                                }
                            }

                            .menu-element {
                                display: block;
                                color: $color_4;
                                font-size: 18px;

                                &:hover {
                                    color: $color_6;
                                }

                                &:after {
                                    $nbsp: "\00a0";
                                    color: $color_32;
                                    content: "#{$breadcrumb-separator}#{$nbsp}";
                                    margin-left: 30px;
                                    @media (max-width: 767px) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .section-wrapper {
                    border: none;

                    .news-item {
                        .news-content {
                            .news-title {
                                margin-bottom: 30px;
                                @media (max-width: 767px) {
                                    margin-bottom: 15px;
                                }
                            }

                            .news-info {
                                line-height: 1em;
                                margin-bottom: 25px;
                                @include clearfix();
                                @media (max-width: 767px) {
                                    margin-bottom: 30px;
                                }

                                .date, .separator, .comments {
                                    float: left;
                                    color: $color_66;
                                }

                                .separator {
                                    margin: 0 10px;
                                }
                            }

                            .partner-banner {
                                img {
                                    width: 100%;
                                    display: block;
                                }
                            }
                        }
                    }

                    &.fest-registration {
                        border-top: 1px solid $color_31;
                        border-bottom: 1px solid $color_31;
                        background-color: $color_36;

                        .form-wrap {
                            @media (max-width: 767px) {
                                margin-top: 30px;
                            }

                            .checkbox {
                                &.custom-checkbox {
                                    .label {
                                        font-size: 12px;
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                    }

                    &.fest-lecturers {
                        border-top: 1px solid $color_31;
                        border-bottom: 1px solid $color_31;
                        background-color: $color_36;

                        .fest-lecturer {
                            margin-bottom: 50px;
                            padding-bottom: 50px;
                            border-bottom: 1px solid $color_31;

                            &:last-child {
                                margin-bottom: 0;
                                padding-bottom: 0;
                                border-bottom: none;
                            }

                            .photo-lecturer {
                                @media (max-width: 767px) {
                                    text-align: center;
                                }

                                .main-details {
                                    @media (max-width: 767px) {
                                        margin-bottom: 30px;
                                        @include inline-block();
                                    }

                                    .photo-wrapper {
                                        width: 200px;
                                        height: 200px;
                                        @media (max-width: 767px) {
                                            margin-right: 0;
                                        }
                                    }
                                }
                            }

                            .lecturer-details {
                                .lecturer-name {
                                    margin-top: 0;
                                    font-size: 18px;
                                    @media (max-width: 767px) {
                                        text-align: center;
                                    }
                                }

                                .lecturer-role {
                                    margin: 0;
                                    font-size: 16px;
                                    color: $color_63;
                                    font-weight: 400;
                                    @media (max-width: 767px) {
                                        text-align: center;
                                    }
                                }

                                .lecturer-bio {
                                    margin-top: 30px;
                                }
                            }
                        }
                    }

                    &.fest-partners {
                        img {
                            width: auto;
                            @media (max-width: 767px) {
                                width: 100%;
                            }
                        }
                    }

                    &.fest-contacts {
                        border-top: 1px solid $color_31;
                        background-color: $color_36;

                        .content-block {
                            p {
                                text-align: right;
                                @media (max-width: 767px) {
                                    text-align: center;
                                }
                            }
                        }

                        .fest-map {
                            text-align: center;
                            @media (max-width: 767px) {
                                margin-top: 15px;
                            }

                            img {
                                width: auto;
                                display: block;
                                @media (max-width: 767px) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
