.gallery-page {
    .gallery-wrapper {
        margin-top: 55px;

        .panel {
            margin-bottom: 135px;

            .panel-heading {
                text-align: center;
            }

            .panel-body {
                padding: 35px 0 0 0;

                .tab-content {
                    .tab-pane {
                        .photos {
                            @media (max-width: 767px) {
                                text-align: center;
                            }

                            .row {
                                &:last-child {
                                    .row-thumb-photos {
                                        .photo-wrapper {
                                            .photo {
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }

                            .photo-wrapper {
                                .photo {
                                    margin-bottom: 30px;

                                    img {
                                        width: 100%;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
