.home-page {
    .main-header {
        position: relative;
        height: 100vh;
        overflow: hidden;
        background: no-repeat center center / cover;
        @include box-shadow(inset 0 0 100px 25px rgba($color_11, .2));

        .bottom-header {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;

            span {
                display: block;
                color: $color_29;
                font-size: 12px;
            }

            .more-photos-of-the-day,
            .photo-author {
                margin-top: 20px;
                @media (max-width: 767px) {
                    margin-top: 0;
                }
            }

            .photo-author {
                @include clearfix();

                span {
                    float: left;
                    margin-right: 5px;
                    @media (max-width: 767px) {
                        margin-right: 3px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &.separator {
                        @media (max-width: 767px) {
                            display: none;
                        }
                    }
                }
            }

            .arrow-down-wrapper {
                text-align: center;
                margin: 0 auto;
                width: 50px;
                height: 50px;
                cursor: pointer;
            }

            .more-photos-of-the-day {
                text-align: right;
            }
        }
    }

    .photos-list {
        text-align: center;
        @include clearfix();

        .row {
            &:last-child {
                .row-thumb-photos {
                    margin-bottom: 0;
                    @media (max-width: 1024px) {
                        margin-bottom: 30px;
                    }
                }
            }

            .row-thumb-photos {
                margin-bottom: 30px;
            }
        }
    }

    .editor-photos-choice {
        .head {
            margin-bottom: 40px;
        }

        .editor-of-the-month {
            margin: 0;
            font-size: 16px;
            color: $color_30;
            @include roboto-font($light-font, $light-font-weight);
            @include inline-block();
            @include clearfix();

            &.main-details {
                @include inline-block();

                .editor-profile-photo {
                    width: 50px;
                    height: 50px;
                    margin-right: 20px;
                    float: left;
                    @include inline-block();
                    @include border-radius(50%);
                }

                .text {
                    margin-top: 15px;
                    margin-right: 5px;
                    float: left;
                    @include inline-block();
                    @media (max-width: 767px) {
                        margin-top: 0;
                    }
                }

                .editor-name {
                    float: left;
                    margin-top: 15px;
                    @include inline-block();
                    @media (max-width: 767px) {
                        margin-top: 5px;
                    }
                }
            }
        }

        .photos-list {
            margin-top: 60px;
        }
    }

    .rating-b-24h {
        .photos-list {
            margin-top: 0;
        }

        .btn-photo-all {
            margin-top: 60px;
            @media (max-width: 1024px) {
                margin-top: 30px;
            }
        }
    }

    .upcoming-event {
        .event-photo {
            width: 100%;
            display: block;

            img {
                display: block;
            }
        }

        .event-content {
            @media (max-width: 1024px) {
                margin-top: 30px;
            }

            .event-title {
                margin-top: 0;
                margin-bottom: 40px;
                font-size: 24px;
                @include roboto-font($regular-font, $regular-font-weight);
            }

            .event-text {
                p {
                    margin-bottom: 20px;
                    font-size: 16px;
                    line-height: 1.2em;
                    @include roboto-font($light-font, $light-font-weight);
                }
            }
        }
    }

    .seminars-and-courses {
        border-right: 1px solid $color_31;
        @include clearfix();

        .head {
            text-align: left;
        }

        ul {
            margin-bottom: 0;

            li {
                margin-bottom: 30px;

                a {
                    font-size: 16px;
                    display: block;
                    line-height: 1.27em;
                    @include roboto-font($regular-font, $regular-font-weight);
                }

                span {
                    color: $color_32;
                    @include inline-block();
                    //@include roboto-font($light-font, $light-font-weight);
                }
            }
        }
    }

    .theme-of-the-month {
        @media (max-width: 1024px) {
            margin-top: 60px;
        }

        .head {
            text-align: left;
        }

        .theme-title {
            margin-top: 0;
            margin-bottom: 40px;
        }

        img {
            width: 100%;
            display: block;
            margin-bottom: 30px;
        }
    }

    .our-authors {
        .photo-author {
            margin-bottom: 40px;
            @include clearfix();
            @media (max-width: 1024px) {
                text-align: center;
            }

            .main-details {
                text-align: center;
                @media (max-width: 1024px) {
                    @include inline-block();
                }

                .photo-wrapper {
                    width: 60px;
                    height: 60px;
                    @include inline-block();
                    @media (max-width: 1024px) {
                        margin-right: 0;
                    }
                }
            }

            a {
                display: block;
                @media (max-width: 1024px) {
                    @include inline-block();
                }

                span {
                    display: block;
                    line-height: 1.2em;

                    &.author-name {
                        margin-top: 12px;
                        color: $color_34;
                        font-size: 18px;
                        @include roboto-font($regular-font, $regular-font-weight);
                    }

                    &.author-nickname {
                        color: $color_35;
                        font-size: 14px;
                        @include roboto-font($condensed-font, $condensed-font-weight);
                    }
                }
            }
        }

        .btn {
            margin-top: 20px;
        }
    }

    .news {
        .news-list {
            .news-item {
                margin-bottom: 50px;

                &:last-child {
                    margin-bottom: 0;
                    @media (max-width: 1024px) {
                        margin-bottom: 50px;
                    }
                }

                .news-photo {
                    display: block;

                    img {
                        width: 100%;
                        display: block;
                    }
                }

                .news-content {
                    @media (max-width: 1024px) {
                        margin-top: 5px;
                    }

                    .news-title {
                        margin: 0;
                        font-size: 16px;
                    }

                    .date {
                        color: $color_32;
                        font-size: 14px;
                        @include roboto-font($condensed-font, $condensed-font-weight);
                    }

                    .content {
                        margin-top: 15px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .event-calendar {
        .event-calendar-wrapper {
            .event-photo {
                width: 370px;
                height: 245px;
                background: no-repeat center center;
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }

    .top-50-for-the-month {
        background-color: $color_36;
    }

    footer.top-footer {
        background-color: $color_36;
        border-top: 1px solid $color_37;

        .site-statistics {
            h3, h4 {
                margin: 0;
                color: $color_38;
            }

            h3 {
                margin-bottom: 25px;
                font-size: 16px;
                @include roboto-font($light-font, $light-font-weight);
            }

            h4 {
                font-size: 14px;
            }

            .stats {
                margin-bottom: 15px;
                @include clearfix();

                h4, ul {
                    float: left;
                    color: $color_38;
                    @include roboto-font($condensed-font, $condensed-font-weight);
                }

                h4 {
                    margin-right: 15px;
                }

                ul {
                    margin-bottom: 10px;
                    @include clearfix();

                    &:last-child {
                        margin-bottom: 0;
                    }

                    @media (max-width: 1024px) {
                        margin-bottom: 15px;
                    }

                    li {
                        float: left;
                        margin-right: 15px;
                        line-height: 1.1em;

                        &:last-child {
                            margin-right: 0;
                        }

                        @media (max-width: 1024px) {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}
