.licenses-page {
    .content-wrapper {
        .widget.cc-license {
            .widget-header {
                text-align: center;
                border-bottom: 1px solid $color_41;
                padding-bottom: 15px;
            }

            .widget-body {
                padding: 0 15px;

                .widget-item {
                    h3 {
                        margin-top: 0;
                        font-size: 18px;
                    }

                    p {
                        margin-bottom: 0;
                    }

                    &:last-child {
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                }
            }
        }

        .content {
            .section-wrapper {
                padding-top: 0;
                border-top: none;

                .section-header {
                    .title {
                        margin-bottom: 40px;
                    }
                }

                .section-body {
                    .widget {
                        margin-top: 30px;
                        margin-bottom: 15px;
                        padding-top: 30px;
                        padding-bottom: 0;
                        border-right: none;
                        border-bottom: none;
                        border-left: none;
                        @include border-radius(0);

                        .widget-header {
                            .widget-label {
                                font-size: 18px;
                                font-weight: 700;
                            }
                        }

                        .widget-body {
                            .widget-item {
                                .widget-content {
                                    .license {
                                        margin-bottom: 0;
                                        padding: 15px;
                                        background-color: $color_64;
                                        @include border-radius(3px);

                                        .license-icons {
                                            float: none;
                                            margin-right: 0;
                                            margin-bottom: 20px;

                                            .icon.photo-license {
                                                svg {
                                                    width: 40px;
                                                    height: 40px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .license-examples {
                        @media (max-width: 767px) {
                            text-align: center;
                        }

                        .example-head {
                            font-size: 18px;
                            font-weight: 300;
                            margin-top: 0;
                            margin-bottom: 20px;
                        }

                        .row-thumb-photos {
                            @media (max-width: 767px) {
                                text-align: center;
                                margin-bottom: 30px;
                            }

                            .photo-wrapper {
                                @media (max-width: 767px) {
                                    @include inline-block();
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
