.news-page {
    &.story {
        .content-wrapper {
            .content {
                .section-wrapper {
                    .news-item {
                        .news-content {
                            .content {
                                @include multiLineEllipsis();

                                &:before {
                                    top: 15px;
                                }
                            }
                        }
                    }

                    .head-news {
                        border-right: 1px solid $color_41;
                        padding-right: 30px;
                        min-height: 570px;
                        @media (max-width: 767px) {
                            border-right: none;
                            padding-right: 0;
                            min-height: auto;
                            margin-bottom: 30px;
                        }

                        .news-item {
                            padding-top: 0;
                            padding-bottom: 0;

                            .photo {
                                .news-photo {
                                    height: 340px;
                                }
                            }

                            .news-content {
                                .news-title {
                                    font-size: 18px;
                                    margin-top: 25px;
                                    margin-bottom: 15px;
                                }

                                .news-info {
                                    margin-bottom: 15px;
                                }

                                .content {
                                    @include multiLineEllipsis($lineHeight: 1.6em, $lineCount: 3);

                                    &:before {
                                        top: 45px;
                                    }
                                }
                            }
                        }
                    }

                    .news-list-wrapper {
                        position: relative;

                        .news-list {
                            height: 570px;
                            overflow-y: scroll;
                            overflow-x: hidden;

                            .news-item {
                                border-bottom: 1px solid $color_41;

                                &:first-child {
                                    padding-top: 0;
                                }

                                &:last-child {
                                    padding-bottom: 0;
                                    border-bottom: none;
                                }
                            }
                        }

                        .bottom-box-shadow {
                            position: absolute;
                            height: 50px;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background-image: linear-gradient(to top, $color_2 30%, rgba($color_2, 0));
                        }
                    }
                }
            }
        }
    }

    &.read {
        .content-wrapper {
            .content {
                .section-wrapper {
                    padding-top: 40px;
                    padding-bottom: 0;

                    .news-item {
                        padding: 0;

                        .news-content {
                            .news-title {
                                font-size: 30px;
                                margin-bottom: 30px;
                                @include roboto-font($light-font, $light-font-weight);
                            }

                            .news-info {
                                margin-bottom: 40px;
                            }

                            .content {
                                img {
                                    @media (max-width: 767px) {
                                        margin-bottom: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.event {
        .content-wrapper {
            .breadcrumb {
                li {
                    &.active {
                        @media (max-width: 767px) {
                            margin-top: 15px;
                        }

                        &:before {
                            @media (max-width: 767px) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .event-date {
                @include roboto-font($condensed-font, $condensed-font-weight);

                .day {
                    color: $color_6;
                    font-size: 60px;
                }

                .month-year {
                    .month {
                        color: $color_38;
                    }

                    .year {
                        color: $color_62;
                    }
                }
            }

            .content {
                .news-content-tools {
                    .btn-add-to-calendar {
                        margin-right: 15px;
                        @media (max-width: 767px) {
                            margin-right: 0;
                            margin-bottom: 15px;
                        }
                    }

                    .btn-suggest-event {
                        margin-right: 15px;
                        @media (max-width: 767px) {
                            margin-right: 0;
                            margin-bottom: 15px;
                        }
                    }
                }

                .section-wrapper {
                    padding-top: 35px;

                    .news-item {
                        padding-top: 0;

                        .news-content {
                            .event-date {
                                margin-top: 5px;
                                border-right: 1px dotted $color_31;
                                @include clearfix();
                                @media (max-width: 767px) {
                                    margin-top: 0;
                                    margin-bottom: 15px;
                                }

                                .day,
                                .month-year {
                                    float: left;
                                    @include inline-block();
                                }

                                .day {
                                    line-height: 1em;
                                    margin-right: 15px;
                                }

                                .month-year {
                                    line-height: 1.7em;

                                    .month {
                                        font-size: 20px;
                                        margin-bottom: 10px;
                                    }

                                    .year {
                                        font-size: 16px;
                                    }
                                }
                            }

                            .news-title {
                                font-size: 30px;
                                margin-bottom: 0;
                                @include roboto-font($light-font, $light-font-weight);
                            }

                            .content {
                                margin-top: 40px;

                                img {
                                    float: left;
                                    margin-right: 30px;
                                    max-width: 400px;
                                }
                            }
                        }
                    }
                }
            }

            .latest-news {
                ul {
                    padding: 0;
                    margin-bottom: 0;

                    li {
                        a {
                            &:hover {
                                background-color: #e8f4f9;
                            }

                            .event-date {
                                text-align: center;

                                .day {
                                    line-height: 1em;
                                }

                                .month-year {
                                    .month {
                                        margin-bottom: 5px;
                                    }
                                }
                            }

                            h6 {
                                margin-top: 0;
                                margin-bottom: 0;
                                font-size: 14px;
                                line-height: 1.2em;
                                color: $color_30;
                                @include roboto-font($light-font, $light-font-weight);
                            }
                        }
                    }
                }
            }
        }
    }

    .content-wrapper {
        padding-top: 0;

        .breadcrumb {
            margin-top: 50px;
            margin-bottom: 40px;
            line-height: 1.2em;
        }

        .content {
            .section-wrapper {
                @media (max-width: 767px) {
                    padding-top: 30px;
                }

                &:first-child {
                    border-top: none;
                }

                .news-item {
                    padding-top: 15px;
                    padding-bottom: 15px;

                    .photo {
                        .news-photo {
                            width: 100%;
                            height: 115px;
                            background-position: center center;
                            background-size: cover;
                            text-indent: -10000px;
                        }
                    }

                    .news-content {
                        .news-title {
                            margin-top: 0;
                            margin-bottom: 10px;
                            font-size: 16px;

                            a {
                                color: $color_56;

                                &:hover {
                                    color: $color_6;
                                }
                            }
                        }

                        img.photo {
                            width: 100%;
                            display: block;
                        }

                        .news-info {
                            line-height: 1em;
                            margin-bottom: 25px;
                            @include clearfix();
                            @media (max-width: 767px) {
                                margin-bottom: 10px;
                            }

                            .date, .separator, .comments {
                                float: left;
                                color: $color_66;
                            }

                            .separator {
                                margin: 0 10px;
                            }
                        }

                        .content {
                            .full-with-advertise,
                            iframe {
                                margin-top: 0;
                                margin-bottom: 40px;
                            }
                        }
                    }
                }

            }
        }

        .full-with-advertise {
            &.square {
                margin-top: 0;
                margin-bottom: 30px;
                height: 260px;
                @media (max-width: 767px) {
                    margin-top: 30px;
                }
            }
        }
    }
}
