.notifications-page {
    .content-wrapper {
        .panel {
            margin-bottom: 0;

            .panel-heading {
                background-color: $color_2;
            }

            .panel-body {
                padding: 30px 0 0;

                .notifications-controls {
                    margin-bottom: 25px;
                    @include clearfix();

                    .new-notifications-counter {
                        color: $color_45;
                        @include roboto-font($condensed-font, $condensed-font-weight);
                        @media (max-width: 767px) {
                            display: block;
                            font-size: 12px;
                            line-height: 1.2em;
                        }
                    }

                    .btn-mark-as-read {
                        &:first-letter {
                            text-transform: uppercase;
                        }

                        @media (max-width: 767px) {
                            padding: 5px;
                        }
                    }
                }

                .tab-content {
                    .tab-pane {
                        .notifications-list {
                            @include clearfix();

                            .notification {
                                border-top: 1px solid $color_13;
                                padding-top: 12px;
                                padding-bottom: 12px;
                                @include clearfix();
                                @media (max-width: 767px) {
                                    padding-bottom: 0;
                                    margin-bottom: 30px;
                                }

                                &:hover {
                                    background-color: $color_17;
                                }

                                &.unread {
                                    .profile-full-name,
                                    .notification-action {
                                        @include roboto-font($regular-font, $regular-font-weight);
                                    }
                                }

                                .main-details {
                                    margin-top: 5px;
                                    text-align: center;

                                    .photo-wrapper {
                                        width: 55px;
                                        height: 55px;
                                        margin-right: 0;
                                        @include inline-block();
                                    }
                                }

                                .profile-full-name,
                                .notification-action,
                                .notification-since {
                                    display: block;
                                    margin-top: 20px;
                                    margin-bottom: 0;
                                    @media (max-width: 767px) {
                                        font-size: 12px;
                                    }
                                }

                                .profile-full-name {
                                    @media (max-width: 767px) {
                                        display: none;
                                    }
                                }

                                .notification-action,
                                .notification-since {
                                    @media (max-width: 767px) {
                                        margin-top: 10px;
                                    }
                                }

                                .notification-since {
                                    @media (max-width: 767px) {
                                        text-align: right;
                                    }

                                    .text {
                                        @media (max-width: 767px) {
                                            @include inline-block();
                                        }
                                    }
                                }

                                .row-thumb-photos {
                                    &.voted-photo {
                                        @media (max-width: 767px) {
                                            width: 100%;
                                            margin-top: 30px;
                                            text-align: center;
                                        }

                                        .photo-wrapper {
                                            width: 115px;
                                            @media (max-width: 767px) {
                                                width: 260px;
                                                @include inline-block();
                                            }

                                            .photo {
                                                height: 115px;
                                                @media (max-width: 767px) {
                                                    height: 260px;
                                                }

                                                .thumb-photo {
                                                    @media (max-width: 767px) {
                                                        margin-bottom: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &:last-child {
                                    border-bottom: 1px solid $color_13;
                                }
                            }

                            .full-with-advertise {
                                &.small-screen {
                                    margin-top: 0;
                                    margin-bottom: 30px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                .right-column {
                    .full-with-advertise {
                        margin-top: 0;
                        height: 250px;
                    }
                }
            }
        }
    }
}


