.photo-album-page {
    .photo-album-header-image-wrapper {
        height: 43.6vh;
        background: no-repeat center center;
        background-size: cover;
        position: relative;
        margin-bottom: 30px;
        padding: 0 15px;

        .photo-album-header {
            text-align: center;
            margin-bottom: 18.6vh;


            .photo-album-title {
                margin-top: 6vh;
                font-size: 48px;
                color: $color_2;
                margin-bottom: 15px;
            }

            .photo-album-info {
                font-size: 18px;
                margin-bottom: 0;
                color: $color_2;
                @include inline-block();
                @include clearfix();

                .album-info {
                    float: left;
                    margin-right: 15px;
                    @include inline-block();

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .photo-album-footer {
            text-align: center;

            .photo-album-author {
                .album-author {
                    font-size: 18px;
                    margin-bottom: 0;
                    color: $color_2;
                    @include roboto-font($regular-font, $regular-font-weight);
                }
            }
        }
    }

    .photo-album {
        @media (max-width: 767px) {
            text-align: center;
        }

        .photo-album-photos {
            margin-bottom: 30px;
            @media (max-width: 767px) {
                @include inline-block();
                margin-bottom: 0;
            }

            .row-thumb-photos {
                @media (max-width: 767px) {
                    margin-bottom: 60px;
                }
            }
        }
    }

    .btn-load-more-photos {
        margin-top: 30px;
        @media (max-width: 767px) {
            margin-top: 0;
        }
    }
}
