.profile-page {
    .container-wrapper {
        .profile-header-image-wrapper {
            height: 43.6vh;
            background: no-repeat center center;
            background-size: cover;
            position: relative;
        }

        .content-wrapper {
            padding-top: 0;

            .row-thumb-photos {
                .photo-wrapper {
                    &.upload-new-album,
                    &.upload-new-photo {
                        border: 1px solid $color_63;
                        cursor: pointer;
                        text-align: center;
                        display: table;
                        background-color: $color_64;
                        @include border-radius(5px);

                        &:hover {
                            border: 1px solid $color_6;
                        }

                        .thumb-photo {
                            overflow: hidden;
                            position: relative;
                            display: table-cell;
                            vertical-align: middle;
                            height: 260px;
                            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                                height: 210px;
                            }

                            .icon {
                                i.fa {
                                    width: 30px;
                                    height: 30px;
                                    color: $color_6;
                                    font-size: 21px;
                                    border: 1px solid $color_6;
                                    display: table-cell;
                                    vertical-align: middle;
                                    @include border-radius(3px);
                                }
                            }

                            .text {
                                display: block;
                                color: $color_6;
                                margin-top: 20px;
                            }

                            #upload-new-album,
                            #upload-new-photo {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                z-index: 2;
                                cursor: pointer;
                                @include opacity(0);
                            }
                        }
                    }
                }
            }

            .profile-details {
                margin-bottom: 70px;
                text-align: center;
                @include clearfix;

                .main-details {
                    margin-top: -60px;
                    @include inline-block();

                    .photo-wrapper {
                        text-align: center;
                        width: 135px;
                        height: 135px;
                        border: 3px solid $color_2;
                        margin-right: 0;
                        z-index: 4;
                        @include inline-block();
                    }

                    .user-details {
                        .profile-name-and-status {
                            margin-top: 15px;
                            margin-bottom: 10px;
                            @include clearfix();

                            .profile-name {
                                margin: 0;
                                color: $color_4;
                                font-weight: 400;
                            }

                            .badge-status {
                                margin-top: 10px;
                            }
                        }

                        .nickname-and-country {
                            margin-bottom: 15px;
                            @include clearfix();

                            span {
                                color: $color_8;
                                font-size: 12px;
                            }
                        }

                        .commentator-rating-badges-wrapper {
                            margin-bottom: 15px;

                            .commentator-rating-badges {
                                @include inline-block();
                            }
                        }

                        .share-buttons {
                            float: none;
                            margin-bottom: 0;
                            @include inline-block();
                        }
                    }
                }

                .profile-tools-wrapper {
                    margin-top: 25px;

                    float: right;
                    @include inline-block();
                    @include clearfix();
                    @media (max-width: 1024px) {
                        float: none;
                    }
                }
            }

            .profile-actions-wrapper {
                @include clearfix();

                .profile-action {
                    float: left;
                    padding-right: 15px;
                    border-right: 1px solid $color_47;
                    margin-right: 12px;
                    @include clearfix();
                    @media (max-width: 1024px) {
                        margin-right: 0;
                        border-right: none;
                        padding-right: 0;
                        float: none;
                        padding-bottom: 20px;
                        border-bottom: 1px solid $color_47;
                        margin-bottom: 20px;
                        @include clearfix();
                    }

                    &:first-of-type,
                    &:nth-of-type(2) {
                        .text {
                            width: 75px;
                        }
                    }

                    &:last-child {
                        padding-right: 0;
                        border-right: none;
                        margin-right: 0;
                        @media (max-width: 1024px) {
                            margin-bottom: 0;
                        }

                        .text {
                            width: 135px;
                            margin-right: 0;
                        }
                    }

                    .text {
                        float: left;
                        width: 120px;
                        line-height: 1.2em;
                    }

                    .counter {
                        width: 100px;
                        float: right;
                        color: $color_83;
                        font-size: 36px;
                        line-height: 1em;
                        display: block;
                        text-align: right;
                        font-weight: 300;
                        @include inline-block();
                        @include transition(.3s);
                        @media (max-width: 1024px) {
                            width: auto;
                        }

                        &.active {
                            color: $color_6;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .author-choice {
                margin-top: 60px;
                @media (max-width: 767px) {
                    text-align: center;
                }

                .block-content-header {
                    margin-bottom: 50px;

                    .head {
                        text-align: center;
                        text-transform: uppercase;
                    }
                }

                .block-content-body {
                    .row-thumb-photos {
                        @media (max-width: 767px) {
                            margin-bottom: 60px;
                        }

                    }
                }
            }

            .panel {
                margin-top: 60px;
                margin-bottom: 45px;

                .panel-heading {
                    background-color: $color_2;
                }

                .panel-body {
                    padding: 30px 0 0;

                    .tab-content {
                        .tab-pane {
                            .empty-tab-no-content {
                                .no-content-image {
                                    svg {
                                        fill: $color_82;
                                    }
                                }

                                .no-content-notice {
                                    .head {
                                        margin-top: 0;
                                        font-size: 16px;
                                    }

                                    p {
                                        margin-bottom: 15px;
                                    }
                                }
                            }

                            .profile-gallery-photos {
                                .photos {
                                    @media (max-width: 767px) {
                                        text-align: center;
                                    }

                                    .photos-notice {
                                        text-align: right;
                                        @media (max-width: 767px) {
                                            margin-bottom: 30px;
                                        }

                                        p {
                                            font-size: 12px;
                                            margin-bottom: 0;

                                            &:last-of-type {
                                                margin-bottom: 0;
                                            }

                                            .label {
                                                padding: 0;
                                                font-size: 12px;
                                                color: $color_84;
                                            }

                                            .notice {
                                                color: $color_85;
                                            }
                                        }
                                    }

                                    .row {
                                        &:last-child {
                                            .row-thumb-photos {
                                                margin-bottom: 0;
                                                @media (max-width: 1024px) {
                                                    margin-bottom: 30px;
                                                }
                                            }
                                        }

                                        .row-thumb-photos {
                                            margin-bottom: 30px;
                                            @media (max-width: 767px) {
                                                @include inline-block();
                                            }
                                        }
                                    }
                                }

                                .btn-load-more-photos {
                                    margin-top: 60px;
                                    @media (max-width: 767px) {
                                        margin-top: 0;
                                    }
                                }
                            }

                            .tab-content {
                                .content-block {
                                    margin-bottom: 30px;

                                    &:last-of-type {
                                        margin-bottom: 0;
                                    }

                                    .content-head {
                                        font-size: 14px;
                                        font-weight: 500;
                                        margin-bottom: 10px;
                                    }

                                    .content {

                                        label {
                                            font-size: 12px;
                                            font-weight: 700;
                                            margin-bottom: 5px;
                                        }

                                        ul {
                                            li {
                                                margin-bottom: 5px;

                                                &:last-child {
                                                    margin-bottom: 0;
                                                }

                                                &:before {
                                                    margin-right: 5px;
                                                    content: "\f054";
                                                    font-family: FontAwesome;
                                                    font-style: normal;
                                                    font-weight: normal;
                                                    text-decoration: inherit;
                                                }
                                            }
                                        }

                                        .show-all {
                                            font-weight: 700;
                                            margin-left: 19px;
                                            @media (max-width: 767px) {
                                                margin-left: 0px;
                                            }
                                        }

                                        .photo-equipment {
                                            margin-bottom: 30px;

                                            &:last-child {
                                                margin-bottom: 0;
                                            }

                                            .camera-body,
                                            .camera-lens {
                                                span {
                                                    display: block;
                                                    margin-bottom: 10px;

                                                    &:last-child {
                                                        margin-bottom: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .all-photopis {
                                .item-wrapper {
                                    .item {
                                        .item-image {
                                            .row-thumb-photos {
                                                @media (max-width: 767px) {
                                                    text-align: center;
                                                }

                                                .photo-wrapper {
                                                    @media (max-width: 767px) {
                                                        width: 260px;
                                                        @include inline-block();
                                                    }

                                                    .photo {
                                                        @media (max-width: 767px) {
                                                            height: 260px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .profile-notice {
                margin-top: 60px;

                .notice-info-row {
                    color: $color_45;
                    margin-bottom: 14px;

                    &:first-child {
                        color: $color_28;

                        .notice-info {
                            span {
                                @include roboto-font($regular-font, $regular-font-weight);
                            }
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                        font-size: 12px;

                        .notice-info {
                            .notice-label {
                                font-weight: 400;
                            }
                        }
                    }

                    .notice-info, .notice-info-separator {
                        @include inline-block();
                    }

                    .notice-info {
                        @media (max-width: 1024px) {
                            display: block;
                            margin-bottom: 15px;
                        }

                        &:last-child {
                            @media (max-width: 1024px) {
                                margin-bottom: 0;
                            }
                        }

                        span {
                            @include roboto-font($condensed-font, $condensed-font-weight);

                            &.notice-label {
                                font-weight: 500;
                            }
                        }
                    }

                    .notice-info-separator {
                        margin: 0 15px;
                        @media (max-width: 1024px) {
                            display: none;
                        }
                    }
                }
            }

            .admin-menu-wrapper {
                margin-top: 120px;
                border: 1px solid $color_48;
                @include border-radius(3px);
                @media (max-width: 1024px) {
                    margin-top: 60px;
                }

                .head-title {
                    text-transform: uppercase;
                    background-color: $color_49;
                    color: $color_50;
                    padding: 15px 20px;
                    line-height: 1.2em;
                    @include roboto-font($regular-font, $regular-font-weight);
                }

                .admin-menu-content {
                    padding: 15px 25px 0;

                    .left-column {
                        padding-right: 30px;
                        border-right: 1px solid $color_48;
                        @include clearfix();
                        @media (max-width: 1024px) {
                            padding-right: 0;
                            border-right: none;
                        }

                        .notice-head {
                            color: $color_51;
                            margin-top: 0;
                            margin-bottom: 25px;
                            font-size: 16px;
                            @include roboto-font($light-font, $light-font-weight);
                        }

                        .form-group {
                            margin-bottom: 0;
                        }
                    }

                    .right-column {
                        @include clearfix();

                        .admin-menu {
                            margin-bottom: 0;
                            @media (max-width: 1024px) {
                                margin-top: 45px;
                            }

                            .menu-item {
                                a {
                                    display: block;
                                    padding: 15px 0;
                                }
                            }
                        }
                    }

                }

                .admin-menu-profile-net-info {
                    margin-top: 45px;
                    padding: 0 25px 15px;

                    p {
                        color: $color_15;

                        &.ip-address {
                            @include roboto-font($regular-font, $regular-font-weight);
                        }
                    }
                }
            }
        }
    }

    &.edit-mode {
        .container-wrapper {
            .content-wrapper {
                .content-header {
                    padding-top: 70px;
                    padding-bottom: 70px;
                    background-color: $slider-gray-2;

                    h1 {
                        margin-bottom: 30px;
                    }

                    h2 {
                        font-size: 18px;
                        @include roboto-font($light-font, $light-font-weight);
                    }
                }

                .content {
                    .left-column {
                        padding-right: 30px;
                        border-right: 1px solid $color_41;
                        @include clearfix();
                        @media (max-width: 767px) {
                            padding-right: 0;
                            margin-bottom: 30px;
                            border-right: none;
                            border-bottom: 1px solid $color_41;
                        }

                        .form-group {
                            &.custom-checkbox {
                                .label {
                                    @media (max-width: 767px) {
                                        width: 85%;
                                    }
                                }

                                &:last-child {
                                    .label {
                                        @media (max-width: 767px) {
                                            margin-top: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .form-wrap {
                        .form-bottom {
                            margin-top: 30px;

                            .left-column {
                                border-right: none;
                                @media (max-width: 767px) {
                                    margin-bottom: 0;
                                }
                            }

                            .right-column {
                                padding-right: 30px;
                                @media (max-width: 767px) {
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.logged-user {
        .profile-header-image-wrapper {
            position: relative;

            &.completed {
                .profile-header-container {
                    &:hover {
                        cursor: url('data:image/vnd.microsoft.icon;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAA//AAAd/wAAGf+AAAH9gAADbYAAA2yAAAZsAAAGbAAAAGAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//4AB//8AAf//AAD//5AA///gAP//4AD//8AF///AB///5A////5///8='), all-scroll;
                        cursor: -moz-grab;
                        cursor: -o-grab;
                        cursor: -ms-grab;
                        cursor: grab;
                    }

                    .reposition-photo-wrapper {
                        display: block;
                    }

                    .buttons-change-cover-photo {

                        .action-buttons {
                            @include clearfix();

                            .btn-save,
                            .btn-cancel {
                                float: left;
                                border: none;
                            }

                            .btn-save {
                                margin-right: 15px;
                            }

                            .btn-cancel {
                                color: $color_2;
                                background-color: #9f9f9f;
                                @include inline-block();
                            }
                        }
                    }
                }
            }

            .uploading-new-cover-photo-overlay {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: rgba($color_4, 0.4);
                z-index: 3;
                @include transition(.3s);

                &.completed {
                    z-index: -1;
                    @include opacity(0);
                }
            }

            .profile-header-container {
                position: relative;
                width: 100%;
                height: 43.6vh;
                //z-index: 999;

                .reposition-photo-wrapper {
                    display: none;
                    text-align: center;

                    .reposition-photo {
                        margin-top: 13.6vh;
                        line-height: 1.2em;
                        color: $color_2;
                        padding: 15px 30px;
                        background-color: rgba($color_4, 0.7);
                        @include inline-block();
                        @include border-radius(3px);
                        @include transition(.3s);
                    }
                }

                .buttons-change-cover-photo {
                    position: absolute;
                    left: 0;
                    bottom: 25px;

                    @media (max-width: 767px) {
                        top: 25px;
                        right: 0;
                        left: unset;
                        bottom: unset;
                    }

                    .btn-group {
                        .btn-change-cover-photo {
                            &.btn-action {
                                .btn-content-wrapper {
                                    @include clearfix();

                                    .icon {
                                        float: left;
                                        margin-top: 10px;
                                    }

                                    .btn-text {
                                        float: left;

                                        span {
                                            float: none;
                                            display: block;
                                            text-align: left;

                                            &.sub-text {
                                                font-weight: 300;
                                                font-size: 12px;
                                                line-height: 1em;
                                            }
                                        }
                                    }
                                }

                                &.btn-loading {
                                    .btn-content-wrapper {
                                        .icon {
                                            margin-top: 0;
                                        }

                                        .btn-text {
                                            .sub-text {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .dropdown-menu {
                            li {
                                display: block;
                                overflow: hidden;

                                &:first-child {
                                    a {
                                        display: block;
                                        position: relative;

                                        #upload-cover-photo {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            bottom: 0;
                                            left: 0;
                                            z-index: 2;
                                            cursor: pointer;
                                            @include opacity(0);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .btn-cancel {
                        display: none;
                    }
                }
            }
        }

        .profile-details {
            .main-details {
                .photo-wrapper {
                    position: relative;
                    overflow: hidden;

                    .pad {
                        top: 60%;
                        @include border-radius(0);

                        .upload-new-photo {
                            margin-top: 6px;

                            .fa {
                                font-size: 14px;
                                display: block;
                            }

                            .text {
                                color: $color_2;
                                font-size: 11px;
                                line-height: 1.4em;
                                display: block;
                                margin-top: 3px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

            .profile-tools-wrapper {
                .profile-tool {
                    &.edit-profile {
                        padding: 0;
                        background-color: unset;

                        .btn-edit-profile {
                            padding-top: 8px;
                            padding-bottom: 6px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

    }
}
