.rating-page {
    .container-wrapper {
        .panel {
            margin-bottom: 0;

            .panel-heading {
                background-color: $color_2;
            }

            .panel-body {
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;

                .tab-content {
                    .tab-pane {
                        .content {
                            .useful-commentator {
                                padding-top: 25px;
                                padding-bottom: 25px;
                                border-bottom: 1px solid $color_13;

                                .main-details {
                                    text-align: center;

                                    .photo-wrapper {
                                        width: 60px;
                                        height: 60px;
                                        margin-right: 0;
                                        @include inline-block();
                                    }
                                }

                                .commentator-profile {
                                    display: block;
                                    margin-bottom: 12px;
                                    line-height: 1.2em;

                                    &:hover {
                                        .profile-name,
                                        .profile-nickname {
                                            color: $color_6;
                                        }
                                    }

                                    .order-number,
                                    .profile-name {
                                        font-size: 16px;
                                        color: $color_4;
                                        @include roboto-font($regular-font, $regular-font-weight);
                                    }

                                    .separator,
                                    .profile-nickname {
                                        font-size: 16px;
                                        color: $color_40;
                                    }
                                }

                                .commentator-actions {
                                    @media (max-width: 1024px) {
                                        margin-top: 15px;
                                        margin-bottom: 0;
                                    }

                                    .action {
                                        margin-bottom: 10px;

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        .text {
                                            color: $color_32;
                                            @media (max-width: 1024px) {
                                                font-size: 12px;
                                            }

                                            .value {
                                                color: $color_4;
                                                margin-left: 5px;
                                                @include inline-block();

                                            }

                                            a.value {
                                                color: $color_6;
                                            }
                                        }
                                    }
                                }

                                .profile-tools-wrapper {
                                    text-align: right;
                                    @media (max-width: 767px) {
                                        margin-top: 15px;

                                    }

                                    li {
                                        float: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
