.registration-page {
    .container-wrapper {
        .content-wrapper {
            padding-bottom: 0;

            .content-body {
                margin-bottom: 100px;
                @include clearfix();

                .left-column {
                    padding-right: 30px;
                    border-right: 1px solid $color_41;
                    @media (max-width: 1024px) {
                        padding-right: 0;
                        border-right: none;
                    }

                    .checkbox {
                        &.custom-checkbox {
                            .label {
                                font-size: 12px;
                                margin-top: 3px;
                                float: none;
                            }

                            &.gdpr {
                                .character-checkbox {
                                    margin-right: .6em;
                                    @media (max-width: 767px) {
                                        margin-right: 15px;
                                    }
                                }

                                .label {
                                    display: contents;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.finish-step {
        .container-wrapper {
            .content-wrapper {
                .content-header {
                    h1 {
                        @media (max-width: 767px) {
                            font-size: 32px;
                        }
                    }
                }

                .content-body {
                    .main-details {
                        margin-bottom: 50px;

                        .uploaded-photo-wrapper {
                            width: 135px;
                            height: 135px;
                            overflow: hidden;
                            @include border-radius(50%);
                            @include inline-block();

                            .uploaded-photo {
                                border-radius: unset;
                                border-bottom: none;

                                .photo-wrapper {
                                    width: 135px;
                                    height: 135px;
                                    overflow: hidden;
                                    @include border-radius(50%);
                                    @include inline-block();

                                    .photo {
                                        height: 100%;
                                        text-indent: unset;
                                    }
                                }
                            }

                            .uploaded-photo-overlay {
                                z-index: -3;
                                border-bottom: none;
                            }

                            &.uploading {
                                .uploaded-photo-overlay {
                                    z-index: 3;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
