.search-results-page {
    .container-wrapper {
        .content-wrapper {
            .content-header {
                margin-bottom: 30px;
                .form-group {
                    .btn-search-photo {
                        margin-top: 25px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        text-transform: uppercase;
                    }
                }
            }
            .content-body {
                .photos-list {
                    text-align: center;
                    @include clearfix();

                    .row {
                        &:last-child {
                            .row-thumb-photos {
                                margin-bottom: 0;
                                @media (max-width: 1024px) {
                                    margin-bottom: 30px;
                                }
                            }
                        }

                        .row-thumb-photos {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}
