.user-messages-page {
    .content-wrapper {
        .panel {
            margin-bottom: 0;

            .panel-heading {
                background-color: $color_2;
            }

            .panel-body {
                padding: 30px 0 0;

                .tab-content {
                    .tab-pane {
                        .msg-controls {
                            .btn-new-message {
                                color: $color_2;
                                text-transform: uppercase;
                                background-color: $color_6;
                                @media (max-width: 767px) {
                                    font-size: 11px;
                                }
                            }

                            .btn.btn-bordered {
                                @media (max-width: 767px) {
                                    font-size: 11px;
                                }
                            }
                        }

                        .message-list {
                            margin-top: 15px;
                            @media (max-width: 767px) {
                                margin-bottom: 15px;
                            }

                            .message-item {
                                border-top: 1px solid $color_13;
                                position: relative;
                                padding: 15px;
                                @include transition(.6s);
                                @include clearfix();
                                @media (max-width: 767px) {
                                    padding-right: 0;
                                    padding-left: 0;
                                }

                                &:hover {
                                    background-color: $color_17;

                                    a {
                                        .received-date {
                                            display: none;
                                            @media (max-width: 979px) {
                                                @include inline-block();
                                            }
                                        }
                                    }

                                    .delete-message {
                                        display: block;
                                        color: $color_2;
                                        border: 1px solid $color_27;
                                        background-color: $color_27;
                                        @include transition(.3s);

                                        &:hover {
                                            color: $color_2;
                                            border: 1px solid darken($color_27, 10%);
                                            background-color: darken($color_27, 10%);
                                        }
                                    }
                                }

                                .main-details {
                                    float: left;
                                    margin-right: 15px;

                                    .photo-wrapper {
                                        width: 45px;
                                        height: 45px;
                                        margin-right: 0;
                                    }
                                }

                                .open-message {
                                    color: $color_44;
                                    display: block;
                                    float: left;
                                    @include clearfix();
                                    @media (max-width: 1024px) {
                                        width: 80%;
                                    }

                                    .msg-content {
                                        @media (max-width: 979px) {
                                            width: 80%;
                                        }

                                        .msg-from-name {
                                            font-size: 18px;
                                            margin-top: 0;
                                            margin-bottom: 0;
                                            color: $color_15;
                                            @include roboto-font($condensed-font, $condensed-font-weight);
                                            @media (min-width: 768px) and (max-width: 979px) {
                                                @include inline-block();
                                            }
                                        }

                                        .msg-from-content {
                                            font-size: 14px;
                                            margin-bottom: 0;
                                            @include roboto-font($condensed-font, $condensed-font-weight);
                                        }
                                    }

                                    .received-date {
                                        color: $color_9;
                                        position: absolute;
                                        top: 5px;
                                        right: 10px;
                                        @media (min-width: 768px) and (max-width: 979px) {
                                            position: static;
                                        }
                                        @media (max-width: 767px) {
                                            font-size: 12px;
                                            top: unset;
                                            bottom: 5px;
                                        }
                                    }
                                }

                                .delete-message {
                                    display: none;
                                    position: absolute;
                                    top: 5px;
                                    right: 10px;
                                    font-size: 12px;
                                    margin: 0;
                                    padding-top: 7px;
                                    padding-bottom: 7px;
                                    @media (max-width: 979px) {
                                        display: block;
                                    }
                                }

                                &.unread {
                                    .open-message {
                                        .msg-content {
                                            .msg-from-name,
                                            .msg-from-content {
                                                @include roboto-font($regular-font, $regular-font-weight);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &#blocked {
                            .message-list {
                                .message-item {
                                    @include clearfix();

                                    .delete-message {
                                        display: block;
                                        position: static;
                                        float: right;
                                        margin-top: 5px;
                                    }

                                    .user-message {
                                        float: left;
                                        @include clearfix();

                                        .main-details {
                                            float: left;

                                            .photo-wrapper {

                                            }
                                        }

                                        .msg-content {
                                            float: left;
                                            margin-top: 10px;

                                            .msg-from-name {
                                                margin-top: 0;
                                                margin-bottom: 0;
                                                font-size: 18px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .right-column {
                    .full-with-advertise {
                        margin-top: 0;
                        height: 250px;
                    }
                }
            }
        }
    }
}
