.user-message-page {
    .content-wrapper {
        .panel {
            margin-bottom: 0;

            .panel-heading {
                background-color: $color_2;
            }

            .panel-body {
                padding: 30px 0 0;

                .tab-content {
                    .tab-pane {
                        .message-header {
                            .send-msg-to {
                                margin: 0;
                                color: $color_4;
                                font-size: 18px;
                                @include roboto-font($light-font, $light-font-weight);
                                @include clearfix();

                                .text, .main-details, .msg-to-name {
                                    float: left;
                                }

                                .main-details {
                                    .photo-wrapper {
                                        width: 30px;
                                        height: 30px;
                                        margin-right: 10px;
                                        margin-left: 10px;
                                    }
                                }
                            }

                            .msg-controls {
                                @media (min-width: 768px) and (max-width: 979px) {
                                    margin-top: 5px;
                                }
                                @media (max-width: 480px) {
                                    margin-top: 10px;
                                }

                                .block-user-message {

                                }
                            }
                        }

                        .message-content {
                            display: block;
                            width: 100%;
                            height: 180px;
                            margin-top: 30px;
                        }

                        .message-bottom-controls {
                            margin-bottom: 60px;
                            @include clearfix;

                            button.btn {
                                float: left;
                                @media (max-width: 480px) {
                                    float: left;
                                    width: 100%;
                                }
                            }

                            .switch {
                                float: right;
                            }
                        }

                        .previous-message {
                            padding: 15px;
                            margin-bottom: 20px;
                            border: 1px solid $color_18;
                            position: relative;
                            @include border-radius(3px);
                            @include transition(.3s);

                            &:hover {
                                background-color: $color_17;
                                @include transition(.3s);

                                .btn.btn-bordered {
                                    display: block;
                                    background-color: $color_17;

                                    &:hover {
                                        background-color: $color_6;
                                    }
                                }
                            }

                            &.last-message {
                                margin-bottom: 0;
                                @media (max-width: 1024px) {
                                    margin-bottom: 20px;
                                }
                            }

                            .btn.btn-bordered {
                                position: absolute;
                                right: 10px;
                                top: 10px;
                                margin: 0;
                                display: none;
                                @media (max-width: 979px) {
                                    display: block;

                                }
                            }

                            .msg-head {
                                margin-bottom: 40px;
                                color: $color_9;
                                @include clearfix();

                                &.main-details {
                                    .photo-wrapper {
                                        margin-right: 15px;
                                        width: 30px;
                                        height: 30px;
                                        float: left;
                                    }

                                    .msg-from-name {
                                        color: $color_9;
                                        display: block;
                                    }
                                }
                            }

                            p {
                                margin-bottom: 10px;
                                @include roboto-font($regular-font, $regular-font-weight);

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .full-with-advertise {
                            &.small-screen {
                                margin-top: 0;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }

                .right-column {
                    .full-with-advertise {
                        height: 250px;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
