//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb {
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    margin-top: $breadcrumb-margin-top;
    margin-bottom: $breadcrumb-margin-bottom;
    list-style: none;
    background-color: $breadcrumb-bg;
    @media (max-width: 767px) {
        font-size: 12px;
    }

    > li {
        margin-bottom: 0;
        @include inline-block();

        + li:before {
            // [converter] Workaround for https://github.com/sass/libsass/issues/1115
            $nbsp: "\00a0";
            content: "#{$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 10px;
            color: $breadcrumb-active-color;
        }
    }

    > .active {
        color: $breadcrumb-active-color;
    }
}
