<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Photo Edit</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="photo-edit-page">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-title">Редактиране съдържанието на снимка</h1>
                            </div>
                        </div>
                        <div class="step-3">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="main-uploaded-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-sm btn-block btn-bordered btn-upload-big-photo">
                                        <span class="text">Качи голяма снимка</span>
                                    </button>
                                    <button class="btn btn-block btn-bordered btn-add-location">
                                <span class="btn-content">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span class="text">Добави местоположение</span>
                                </span>
                                    </button>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-wrap">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="series-of-photos">
                                                    <div class="form-group">
                                                        <label for="photo-title">добави серия от Снимки *</label>
                                                    </div>
                                                    <div class="photo-series-wrapper">
                                                        <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                                        <div class="uploaded-photo-wrapper completed">
                                                            <button type="button" class="delete-photo">
                                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                            </button>
                                                            <div class="uploaded-photo">
                                                                <div class="row-thumb-photos">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo">
                                                                            <div class="thumb-photo"
                                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                                Ivan ivanov
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="uploaded-photo-overlay" style="left: 100%;">
                                                                <div class="photo-overlay"></div>
                                                            </div>
                                                        </div>
                                                        <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                                        <div class="uploaded-photo-wrapper completed">
                                                            <button type="button" class="delete-photo">
                                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                            </button>
                                                            <div class="uploaded-photo">
                                                                <div class="row-thumb-photos">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo">
                                                                            <div class="thumb-photo"
                                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                                Ivan ivanov
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="uploaded-photo-overlay" style="left: 100%;">
                                                                <div class="photo-overlay"></div>
                                                            </div>
                                                        </div>
                                                        <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                                        <div class="uploaded-photo-wrapper completed">
                                                            <button type="button" class="delete-photo">
                                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                            </button>
                                                            <div class="uploaded-photo">
                                                                <div class="row-thumb-photos">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo">
                                                                            <div class="thumb-photo"
                                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                                Ivan ivanov
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="uploaded-photo-overlay" style="left: 100%;">
                                                                <div class="photo-overlay"></div>
                                                            </div>
                                                        </div>
                                                        <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                                        <div class="uploaded-photo-wrapper">
                                                            <button type="button" class="delete-photo">
                                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                            </button>
                                                            <div class="uploaded-photo">
                                                                <div class="row-thumb-photos">
                                                                    <div class="photo-wrapper">
                                                                        <a href="#" class="photo">
                                                                            <div class="thumb-photo"
                                                                                 style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                                Ivan ivanov
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="uploaded-photo-overlay" style="left: 65%;">
                                                                <div class="photo-overlay"></div>
                                                            </div>
                                                        </div>
                                                        <div class="uploaded-photo-wrapper select-new-photo">
                                                            <div class="uploaded-photo">
                                                                <div class="add-new">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                                    <input type="file" id="upload-photo" name="upload" class="upload-photo-input"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group has-error">
                                                    <label for="photo-edit-title" class="control-label">Заглавие</label>
                                                    <input type="text" id="photo-edit-title" name="photo-title"
                                                           class="form-control">
                                                    <div class="notice error">
                                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                                <div class="form-group description has-error">
                                                    <label class="control-label" for="description">описание</label>
                                                    <textarea name="" id="" cols="30" rows="10"
                                                              class="form-control"></textarea>
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group has-error">
                                                    <label class="control-label">избери Категория</label>
                                                    <select data-live-search="true" title="-- Избери категория --">
                                                        <option data-tokens="Сватбена фотография">Сватбена фотография
                                                        </option>
                                                        <option data-tokens="Семейни сесии">Семейни сесии</option>
                                                        <option data-tokens="Интериор">Интериор</option>
                                                    </select>
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group has-error">
                                                    <label class="control-label">добави в албум</label>
                                                    <select data-live-search="true" title="-- Избери албум --">
                                                        <option data-tokens="Сватбена фотография">Сватбена фотография
                                                        </option>
                                                        <option data-tokens="Семейни сесии">Семейни сесии</option>
                                                        <option data-tokens="Интериор">Интериор</option>
                                                    </select>
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group has-error">
                                                    <label class="control-label">избери лиценз</label>
                                                    <select data-live-search="true" title="-- Избери лиценз --">
                                                        <option data-tokens="Сватбена фотография">Сватбена фотография
                                                        </option>
                                                        <option data-tokens="Семейни сесии">Семейни сесии</option>
                                                        <option data-tokens="Интериор">Интериор</option>
                                                    </select>
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group has-error">
                                                    <label class="control-label">кой може да коментира снимката?</label>
                                                    <select data-live-search="true" title="-- Избери --">
                                                        <option data-tokens="Сватбена фотография">Сватбена фотография
                                                        </option>
                                                        <option data-tokens="Семейни сесии">Семейни сесии</option>
                                                        <option data-tokens="Интериор">Интериор</option>
                                                    </select>
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group has-error">
                                                    <label class="control-label">ключови думи</label>
                                                    <input type="text" class="form-control" data-role="tagsinput">
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group input-field brand has-error">
                                                    <div class="form-group-header">
                                                        <label class="control-label">Марка</label>
                                                        <a href="#">Избери марка</a>
                                                    </div>
                                                    <div class="form-group-body">
                                                        <div class="filter-option">
                                                            <select data-live-search="true" title="-- Избери марка --">
                                                                <option data-tokens="България">България</option>
                                                                <option data-tokens="Испания">Испания</option>
                                                                <option data-tokens="Италия">Италия</option>
                                                                <option data-tokens="Холандия">Холандия</option>
                                                            </select>
                                                            <input type="text" name="suggest-new-brand-camera-name"
                                                                   class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group select-field model has-error">
                                                    <div class="form-group-header">
                                                        <label class="control-label">Модел</label>
                                                        <a href="#">Предложи модел</a>
                                                    </div>
                                                    <div class="form-group-body">
                                                        <div class="filter-option">
                                                            <select data-live-search="true" title="-- Избери модел --">
                                                                <option data-tokens="България">България</option>
                                                                <option data-tokens="Испания">Испания</option>
                                                                <option data-tokens="Италия">Италия</option>
                                                                <option data-tokens="Холандия">Холандия</option>
                                                            </select>
                                                            <input type="text" name="suggest-new-brand-camera-model-name"
                                                                   class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label>EXIF информация</label>
                                            </div>
                                        </div>
                                        <div class="exif-info">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="row-info">
                                                            <span class="label">Производител:</span>
                                                            <span class="text">NIKON CORPORATION</span>
                                                        </div>
                                                        <div class="row-info">
                                                            <span class="label">Модел:</span>
                                                            <span class="text">NIKON D750</span>
                                                        </div>
                                                        <div class="row-info">
                                                            <span class="label">Бленда:</span>
                                                            <span class="text">11</span>
                                                        </div>
                                                        <div class="row-info">
                                                            <span class="label">Скорост:</span>
                                                            <span class="text">1/80 sec.</span>
                                                        </div>
                                                        <div class="row-info">
                                                            <span class="label">Фокусно разст.:</span>
                                                            <span class="text">200 mm</span>
                                                        </div>
                                                        <div class="row-info">
                                                            <span class="label">Светкавица:</span>
                                                            <span
                                                                class="text">Flash did not fire, compulsory flash mode</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="row-info">
                                                            <span class="label">ISO:</span>
                                                            <span class="text">100</span>
                                                        </div>
                                                        <div class="row-info">
                                                            <span class="label">Дата:</span>
                                                            <span class="text">2017-05-26 06:41:19</span>
                                                        </div>
                                                        <div class="row-info">
                                                            <span class="label">Режим:</span>
                                                            <span class="text">Aperture priority</span>
                                                        </div>
                                                        <div class="row-info">
                                                            <span class="label">Метод измерване:</span>
                                                            <span class="text">Pattern</span>
                                                        </div>
                                                        <div class="row-info">
                                                            <span class="label">Дата на качване:</span>
                                                            <span class="text">преди 1 ден</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="rules-confirmations">
                                                    <li>
                                                        <div class="form-group checkbox custom-checkbox has-error">
                                                            <div class="checkbox-field-wrapper">
                                                                <span class="character-checkbox"></span>
                                                                <span class="label">Съгласен съм снимката ми да участва в <a
                                                                        href="#">печатен Албум 2017г</a></span>
                                                            </div>
                                                            <div class="error-message">
                                                                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                                <div class="text">Съобщение за грешка</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group checkbox custom-checkbox has-error">
                                                            <div class="checkbox-field-wrapper">
                                                                <span class="character-checkbox"></span>
                                                                <span class="label">Съгласен съм снимката ми да участва в <a
                                                                        href="#">принт секцията</a></span>
                                                            </div>
                                                            <div class="error-message">
                                                                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                                <div class="text">Съобщение за грешка</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group checkbox custom-checkbox has-error">
                                                            <div class="checkbox-field-wrapper">
                                                                <span class="character-checkbox"></span>
                                                                <span class="label">В снимката има голо съдържание <a
                                                                        href="#">18+</a></span>
                                                            </div>
                                                            <div class="error-message">
                                                                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                                <div class="text">Съобщение за грешка</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group checkbox custom-checkbox has-error">
                                                            <div class="checkbox-field-wrapper">
                                                                <span class="character-checkbox"></span>
                                                                <span
                                                                    class="label">Премести към албум нови предложения</span>
                                                            </div>
                                                            <div class="error-message">
                                                                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                                <div class="text">Съобщение за грешка</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <button class="btn btn-bordered btn-skip">
                                        <span class="text">Пропусни тази стъпка</span>
                                    </button>
                                </div>
                                <div class="col-lg-3">
                                    <button
                                        class="btn btn-md btn-primary btn-block btn-upload-photo btn-action btn-loading">
                                        <span class="btn-content-wrapper">
                                            <span class="icon">
                                                <i class="fa fa-spinner fa-spin spinner"></i>
                                            </span>
                                            <span class="text text-uppercase">качи</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="full-with-advertise">
                        <span>Реклама<br/>1140x135 px</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
