<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Photo</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="photo-page">
<% include ../includes/modal_copyright_license.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="photo-header-wrapper">
        <div class="photo-header-top" style="background-color: #535353">
            <div class="container">
                <div class="row">
                    <!--on click on Info button add col-lg-8 to col-lg-push-1 col-lg-10-->
                    <div class="no-padding-small-screens col-xs-12 col-sm-12 col-lg-push-1 col-lg-10">
                        <div class="main-photo-viewer">
                            <div class="hidden-xs hidden-sm main-photo-top">
                                <div class="full-screen">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="main-photo row-thumb-photos">
                                <div class="photo-wrapper">
                                    <a href="#" class="photo">
                                        <img
                                            src="https://photo-forum.net/static/site_pics/2019-01/1547133616__X7A2779-w3.jpg"
                                            alt="" class="thumb-photo">
                                    </a>
                                </div>
                            </div>
                            <div class="main-photo-bottom">
                                <div class="photo-info">
                                    <h4 class="photo-title">Родопски гледки</h4>
                                    <h5 class="photo-category"><a href="#">Пейзаж</a></h5>
                                </div>
                                <ul class="hidden-xs hidden-sm other-photos-wrapper">
                                    <li class="other-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <!--add current-photo on current photo-->
                                                <a href="#" class="photo current-photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="other-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="other-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="other-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="other-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('https://cdn-b.verkkokauppa.com/images/96/2_179780-3000x2795.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-photo-nav-wrapper">
                                <a href="#" class="main-photo-nav prev-photo">Previous</a>
                                <a href="#" class="main-photo-nav next-photo">Next</a>
                            </div>
                        </div>
                    </div>
                    <!--remove display:none, add display: block-->
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="display: none">
                        <div class="photo-exif-info-wrapper">
                            <div class="container-fluid">
                                <div class="photo-exif-info-top">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <h2 class="head">Exif info</h2>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                                            <button type="button" class="close-exif-info">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="photo-exif-info">
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">производител</span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">OLYMPUS IMAGING CORP.</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">модел</span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">E-M1</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">бленда</span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">2.8</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">скорост</span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">1/800 sec.</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">фокусно разст.</span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">16 mm</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">светкавица</span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">No Flash</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">ISO</span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">400</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">дата</span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">2014-08-18 18:54:40</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">режим</span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">Manual</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">метод измерване</span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">CenterWeightedAverage</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">дата на качване</span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">преди 21 ч.</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">качена в Албум</span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">преди 21 ч.</span>
                                        </div>
                                    </div>
                                    <div class="hidden-md hidden-lg row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">2,548</span>
                                        </div>
                                    </div>
                                    <div class="hidden-md hidden-lg row">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                                            <span class="exif-info-label">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <span class="exif-info-data">2,548</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-xs hidden-sm color-palette">
                <a class="color" href="#" style="background-color: #000000">color</a>
                <a class="color" href="#" style="background-color: #111111">color</a>
                <a class="color" href="#" style="background-color: #353535">color</a>
                <a class="color selected" href="#" style="background-color: #535353">color</a>
                <a class="color" href="#" style="background-color: #727272">color</a>
                <a class="color" href="#" style="background-color: #919191">color</a>
                <a class="color" href="#" style="background-color: #a7a7a7">color</a>
                <a class="color" href="#" style="background-color: #c4c4c4">color</a>
                <a class="color" href="#" style="background-color: #e2e2e2">color</a>
            </div>
        </div>
        <div class="photo-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="hidden-xs hidden-sm col-lg-4">
                        <div class="photo-shooter">
                            <div class="main-details">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo"
                                               style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJTvOnn4RP2FdK3-EFTSgW8BBzSNtXcFD-YQjpvV1mTu8qtubyZg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-xs-5 col-sm-5 col-md-9 col-lg-9">
                                        <div class="shooter-info">
                                            <a href="#" class="shooter-name">Атанас Чулев</a>
                                            <span class="nickname">chulev</span>
                                            <ul class="profile-tools-wrapper">
                                                <li class="profile-tool follow">
                                                    <!--add class is-followed when click to follow-->
                                                    <button
                                                        class="btn btn-primary btn-follow is-followed btn-action btn-loading">
                                                        <span class="btn-content-wrapper">
                                                            <span class="icon">
                                                                <i class="fa fa-spinner fa-spin spinner"></i>
                                                            </span>
                                                            <span class="text follow">следвай</span>
                                                            <span class="text followed">следван</span>
                                                            <span class="text no-follow">не следвай</span>
                                                        </span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <div class="photo-info-wrapper gust-user">
                            <ul class="photo-info-rating">
                                <li class="rating">
                                    <span class="text-label">рейтинг:</span>
                                    <ul>
                                        <li class="rating-type">
                                            <span class="type">A:</span>
                                            <span class="counter">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                <span class="text">216</span>
                                            </span>
                                        </li>
                                        <li class="rating-type">
                                            <span class="type">Б:</span>
                                            <span class="counter">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                <span class="text">36</span>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="votes">
                                    <span class="text">Гласували:</span>
                                    <span class="counter">252</span>
                                </li>
                            </ul>
                            <ul class="photo-stats-info hidden-md hidden-lg">
                                <li class="photo-info">
                                    <button class="btn btn-photo-info">
                                        <span class="text">info</span>
                                    </button>
                                </li>
                            </ul>
                            <div class="photo-awards-wrapper guest-user">
                                <div class="photo-awards">
                                    <!--add class is-followed when click to follow-->
                                    <button class="btn btn-medal btn-gold-medal btn-action active">
                                        <span class="btn-content-wrapper">
                                            <span class="icon">
                                                <i class="fa fa-spinner fa-spin spinner"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </span>
                                            <span class="text">злато</span>
                                        </span>
                                    </button>

                                    <button class="btn btn-medal btn-silver-medal btn-action">
                                        <span class="btn-content-wrapper">
                                            <span class="icon">
                                                <i class="fa fa-spinner fa-spin spinner"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </span>
                                            <span class="text">сребро</span>
                                        </span>
                                    </button>
                                </div>
                                <p>Гласуването е активно само за снимки в Албум 'Избрано'.</p>
                            </div>
                            <div class="hidden-xs hidden-sm photo-info-description">
                                <p>Родопските гледки винаги са ме привличали със своята топлина и спокойствие!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 hidden-md hidden-lg">
                        <div class="photo-shooter">
                            <div class="main-details">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo"
                                               style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJTvOnn4RP2FdK3-EFTSgW8BBzSNtXcFD-YQjpvV1mTu8qtubyZg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-sm-8">
                                        <div class="shooter-info">
                                            <a href="#" class="shooter-name">Атанас Чулев</a>
                                            <span class="nickname">chulev</span>
                                            <ul class="profile-tools-wrapper">
                                                <li class="profile-tool follow">
                                                    <!--add class is-followed when click to follow-->
                                                    <button
                                                        class="btn btn-primary btn-follow is-followed btn-action btn-loading">
                                                        <span class="btn-content-wrapper">
                                                            <span class="icon">
                                                                <i class="fa fa-spinner fa-spin spinner"></i>
                                                            </span>
                                                            <span class="text follow">следвай</span>
                                                            <span class="text followed">следван</span>
                                                            <span class="text no-follow">не следвай</span>
                                                        </span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="photo-tools-wrapper">
                            <div class="hidden-xs hidden-sm row">
                                <div class="col-lg-12">
                                    <ul class="photo-stats-info">
                                        <li class="views">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span class="text">2,548</span>
                                        </li>
                                        <li class="comments">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <span class="text">1,359</span>
                                        </li>
                                        <li class="photo-info">
                                            <button class="btn btn-photo-info">
                                                <span class="text">info</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="profile-tools-wrapper">
                                        <li class="profile-tool">

                                            <!--add class is-followed when click to follow-->
                                            <button class="btn btn-default btn-like btn-action active">
                                                <span class="btn-content-wrapper">
                                                    <span class="icon">
                                                        <i class="fa fa-spinner fa-spin spinner"></i>
                                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                                    </span>
                                                </span>
                                            </button>
                                        </li>
                                        <li class="profile-tool">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-share dropdown-toggle"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="profile-tool">
                                            <button class="btn btn-default btn-download" data-toggle="modal"
                                                    data-target="#copyrightLicense">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                            </button>
                                        </li>
                                        <li class="profile-tool">
                                            <button class="btn btn-success btn-buy-print">
                                                <span class="text">купи принт</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                        <div class="photo-info-description">
                            <p>Родопските гледки винаги са ме привличали със своята топлина и спокойствие!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="admin-photo-options">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="section-head">Админ</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="admin-option">
                        <div class="switch">
                            <span class="text-right">Блокирай потребителя</span>
                            <div class="switch-option">
                                <input class="custom-switch-checkbox" checked type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="admin-option">
                        <div class="switch">
                            <span class="text-right">Маркирай с 18+</span>
                            <div class="switch-option">
                                <input class="custom-switch-checkbox" type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="admin-option">
                        <a href="#">Изпрати съобщение</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="admin-option">
                        <button class="btn btn-sm btn-danger btn-delete-photo btn-action">
                            <span class="btn-content-wrapper">
                                <span class="icon">
                                    <i class="fa fa-trash-o"></i>
                                    <i class="fa fa-spinner fa-spin spinner"></i>
                                </span>
                                <span class="text">Изтрий</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <% include ../includes/add_comment.ejs %>
                </div>
                <div class="col-lg-4">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3 class="widget-label">Предложени редакции</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="widget-content">
                                                <h4 class="editor-name">Румен Русев</h4>
                                                <p class="editor-suggestion">Бих засилил контраста на снимката , за да
                                                    се придаде по-вече драматизъм.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-delete-widget-item btn-action">
                                    <span class="btn-content-wrapper">
                                        <span class="icon">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            <i class="fa fa-spinner fa-spin spinner"></i>
                                        </span>
                                    </span>
                                </button>

                            </div>
                            <div class="widget-item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="widget-content">
                                                <h4 class="editor-name">Румен Русев</h4>
                                                <p class="editor-suggestion">Бих засилил контраста на снимката , за да
                                                    се придаде по-вече драматизъм.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-delete-widget-item btn-action">
                                    <span class="btn-content-wrapper">
                                        <span class="icon">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            <i class="fa fa-spinner fa-spin spinner"></i>
                                        </span>
                                    </span>
                                </button>
                            </div>
                            <div class="widget-item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="widget-content">
                                                <h4 class="editor-name">Румен Русев</h4>
                                                <p class="editor-suggestion">Бих засилил контраста на снимката , за да
                                                    се придаде по-вече драматизъм.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-delete-widget-item btn-action btn-loading">
                                    <span class="btn-content-wrapper">
                                        <span class="icon">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            <i class="fa fa-spinner fa-spin spinner"></i>
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="widget-footer">
                            <button class="btn btn-md btn-bordered btn-edit-photo">
                                <span class="icon">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                </span>
                                <span class="text">Добави редакция на снимката</span>
                            </button>
                        </div>
                    </div>
                    <div class="widget author-photos">
                        <div class="widget-header">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3 class="widget-label">Снимки на автора</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget keywords">
                        <div class="widget-header">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3 class="widget-label">Ключови думи</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="widget-content">
                                                <a href="#" class="btn btn-sm btn-default btn-keyword">Еротика</a>
                                                <a href="#" class="btn btn-sm btn-default btn-keyword">Голо тяло</a>
                                                <a href="#" class="btn btn-sm btn-default btn-keyword">Пейзаж</a>
                                                <a href="#" class="btn btn-sm btn-default btn-keyword">Всичко
                                                    останало</a>
                                                <a href="#" class="btn btn-sm btn-default btn-keyword">Диви животни</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget more-rating-photos">
                        <div class="widget-header">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3 class="widget-label">Още снимки от рейтинга</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('https://photo-forum.net/static/site_pics/2018-12/1545115767_63_78.jpg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget photo-license">
                        <div class="widget-header">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3 class="widget-label">Лиценз</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="widget-content">
                                                <div class="license">
                                                    <div class="license-icons">
                                                        <div class="icon photo-license creative-commons-license">
                                                            <?xml version="1.0" encoding="utf-8"?>
                                                            <!-- Generator: Adobe Illustrator 13.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 14948)  -->
                                                            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.0//EN"
                                                            "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
                                                            <svg version="1.0" id="Layer_1"
                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                                                 y="0px"
                                                                 width="64px" height="64px" viewBox="5.5 -3.5 64 64"
                                                                 enable-background="new 5.5 -3.5 64 64"
                                                                 xml:space="preserve">
                                                                <g>
                                                                    <circle fill="#FFFFFF" cx="37.785" cy="28.501"
                                                                            r="28.836"/>
                                                                    <path d="M37.441-3.5c8.951,0,16.572,3.125,22.857,9.372c3.008,3.009,5.295,6.448,6.857,10.314
		c1.561,3.867,2.344,7.971,2.344,12.314c0,4.381-0.773,8.486-2.314,12.313c-1.543,3.828-3.82,7.21-6.828,10.143
		c-3.123,3.085-6.666,5.448-10.629,7.086c-3.961,1.638-8.057,2.457-12.285,2.457s-8.276-0.808-12.143-2.429
		c-3.866-1.618-7.333-3.961-10.4-7.027c-3.067-3.066-5.4-6.524-7-10.372S5.5,32.767,5.5,28.5c0-4.229,0.809-8.295,2.428-12.2
		c1.619-3.905,3.972-7.4,7.057-10.486C21.08-0.394,28.565-3.5,37.441-3.5z M37.557,2.272c-7.314,0-13.467,2.553-18.458,7.657
		c-2.515,2.553-4.448,5.419-5.8,8.6c-1.354,3.181-2.029,6.505-2.029,9.972c0,3.429,0.675,6.734,2.029,9.913
		c1.353,3.183,3.285,6.021,5.8,8.516c2.514,2.496,5.351,4.399,8.515,5.715c3.161,1.314,6.476,1.971,9.943,1.971
		c3.428,0,6.75-0.665,9.973-1.999c3.219-1.335,6.121-3.257,8.713-5.771c4.99-4.876,7.484-10.99,7.484-18.344
		c0-3.543-0.648-6.895-1.943-10.057c-1.293-3.162-3.18-5.98-5.654-8.458C50.984,4.844,44.795,2.272,37.557,2.272z M37.156,23.187
		l-4.287,2.229c-0.458-0.951-1.019-1.619-1.685-2c-0.667-0.38-1.286-0.571-1.858-0.571c-2.856,0-4.286,1.885-4.286,5.657
		c0,1.714,0.362,3.084,1.085,4.113c0.724,1.029,1.791,1.544,3.201,1.544c1.867,0,3.181-0.915,3.944-2.743l3.942,2
		c-0.838,1.563-2,2.791-3.486,3.686c-1.484,0.896-3.123,1.343-4.914,1.343c-2.857,0-5.163-0.875-6.915-2.629
		c-1.752-1.752-2.628-4.19-2.628-7.313c0-3.048,0.886-5.466,2.657-7.257c1.771-1.79,4.009-2.686,6.715-2.686
		C32.604,18.558,35.441,20.101,37.156,23.187z M55.613,23.187l-4.229,2.229c-0.457-0.951-1.02-1.619-1.686-2
		c-0.668-0.38-1.307-0.571-1.914-0.571c-2.857,0-4.287,1.885-4.287,5.657c0,1.714,0.363,3.084,1.086,4.113
		c0.723,1.029,1.789,1.544,3.201,1.544c1.865,0,3.18-0.915,3.941-2.743l4,2c-0.875,1.563-2.057,2.791-3.541,3.686
		c-1.486,0.896-3.105,1.343-4.857,1.343c-2.896,0-5.209-0.875-6.941-2.629c-1.736-1.752-2.602-4.19-2.602-7.313
		c0-3.048,0.885-5.466,2.658-7.257c1.77-1.79,4.008-2.686,6.713-2.686C51.117,18.558,53.938,20.101,55.613,23.187z"/>
                                                                </g>
                                                            </svg>
                                                        </div>
                                                        <div class="icon photo-license attribution-license">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="24"
                                                                 height="24" viewBox="0 0 24 24">
                                                                <metadata><?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
                                                                    <x:xmpmeta xmlns:x="adobe:ns:meta/"
                                                                               x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ">
                                                                        <rdf:RDF
                                                                            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                                                                            <rdf:Description rdf:about=""/>
                                                                        </rdf:RDF>
                                                                    </x:xmpmeta>
                                                                    <?xpacket end="w"?></metadata>
                                                                <image id="Cc-by_new_white" width="24" height="24"
                                                                       xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAQIAFwouO08/AAABYUlEQVQ4y5WUPW7CQBCFP/kCQJmUIDlO5bukoKBAoiGpuEMcReQWXCEiB0CCQBVS0YNkgS0ZCUpHAr0U5meXn8iZrXbfex7PzpsFO+4J+GSFECsGBHhcjTve0YXVvSx65AchN3xLRppqqqHaiRsiRErzlP6CUCX63uokxttyhBCBSX9CqBFvdqSZHvSg2W63USNG6JjFI0WN+PjVqhCqGnkaMSLd1/KBKtHGgGtCqGacbFSOEN3sIoW+rH+fq6665ie1IIQHz8gNTaglf7dalsQNs9L76DUxgdKhAyVL0E4QA1ihkQUUDoKCdT4UYuVQhBvyxC1A0cnFNcJhDYtc1AXA2mEC/aUJrPEB8Flbgv4SmDj0oJPmydBJgR54CI2txvlCyL/SOOiismWNc4FpjQvmOxfY5oOmbe+qfPkHt57bGyBAqByNcw5QliXNRrSdDHOMaFZL9z+PwF4UMPjrmfkFZn4E1WkjYcoAAAAASUVORK5CYII="/>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="license-name">Attribution 4.0 International (CC
                                                        BY 4.0)</a>
                                                </div>
                                                <div class="input-group">
                                                    <input type="text" class="form-control"
                                                           placeholder="http://creativecommons.org/​licenses/​by/​3.0/​">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary btn-md btn-copyright-license"
                                                                type="button">Копирай</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget photo-license-alert">
                        <div class="widget-body">
                            <div class="widget-item">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="widget-content">
                                                <button class="btn btn-md btn-bordered btn-license-alert">
                                                    <span class="icon">
                                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="text">Подай сигнал</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="side-advertise">
                        <span>Реклама<br/>1140x135 px</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/popover.ejs %>
<% include ../includes/footer.ejs %>
</body>
</html>
