<div class="modal fade" id="registerPopup" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <h2 class="head">Регистрация</h2>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                            <button type="button" class="close-modal" data-dismiss="modal">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 47.971 47.971"
                                     style="enable-background:new 0 0 47.971 47.971;width: 25px;fill:#aaaaaa;"
                                     xml:space="preserve">
<g>
    <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
		c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
		C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
		s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
</g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
</svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <div class="left-column">
                                <div class="form-wrap">
                                    <form role="form" action="javascript:;" method="post" id="registration-form"
                                          autocomplete="off">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="register-email">имейл</label>
                                                    <input type="email" id="register-email" name="email"
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="register-password">парола</label>
                                                    <input type="password" id="register-password" name="password"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="register-password-repeat">повтори парола</label>
                                                    <input type="password" id="register-password-repeat"
                                                           name="repeat-password" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="checkbox custom-checkbox terms-of-use has-error">
                                                    <div class="checkbox-field-wrapper">
                                                        <span class="character-checkbox"></span>
                                                        <span class="label">Съгласен съм с
                                                            <a href="#/">условията на сайта</a>
                                                        </span>
                                                    </div>
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                                <div class="checkbox custom-checkbox gdpr has-error">
                                                    <div class="checkbox-field-wrapper">
                                                        <span class="character-checkbox"></span>
                                                        <span class="label">Съгласен съм с използването на личните ми данни</span>
                                                    </div>
                                                    <div class="error-message">
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                        <div class="text">Съобщение за грешка</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <button
                                                    class="btn btn-md btn-primary btn-block btn-custom btn-action btn-loading">
                                                        <span class="btn-content-wrapper">
                                                            <span class="icon">
                                                                <i class="fa fa-spinner fa-spin spinner"></i>
                                                            </span>
                                                            <span class="text">Регистрация</span>
                                                        </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <ul class="links">
                                    <li>
                                        <a href="#" class="menu-element" data-keyboard="true" data-toggle="modal"
                                           data-target="#loginPopup">
                                            <span class="text">Вход във photo-forum.net</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <div class="right-column">
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="login-facebook">регистрирай се със социлния си профил</label>
                                        <button class="btn btn-block btn-facebook">
                                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                            <span class="text">Влез с facebook</span>
                                        </button>
                                    </div>
                                    <div class="form-group google has-error">
                                        <button class="btn btn-block btn-google">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            <span class="text">Влез с Google +</span>
                                        </button>
                                    </div>
                                </div>
                                <i class="notice">* Никога не публикуваме без ваше разрешение</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
