<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Registration</title>

    <link rel="icon" href="../favicon.ico"/>

    <% include ../env/production.ejs %>
</head>
<body class="registration-page finish-step">
<% include ../includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <header class="content-header">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>Добре дошли във Фото-Форум</h1>
                                <h4>Моля, попълнете Вашите данни</h4>
                                <div class="buttons">
                                    <button
                                        class="btn btn-sm btn-success"
                                    >
                                        Запази
                                    </button>
                                    <button class="btn btn-sm btn-info">
                                        Инфо
                                    </button>
                                    <button
                                        class="btn btn-sm btn-warning"
                                    >
                                        Внимание
                                    </button>
                                    <button
                                        class="btn btn-sm btn-danger"
                                    >
                                        Изтрий
                                    </button>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="content-body">
                    <div class="col-lg-offset-4 col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="main-details">
                                    <!--add class uploading when upload, remove class completed and vice versa-->
                                    <div class="uploaded-photo-wrapper completed">
                                        <div class="uploaded-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <div href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                            Ivan ivanov
                                                        </div>
                                                    </div>
                                                    <!--add class uploading when upload, remove class completed and vice versa-->
                                                    <div href="#" class="pad completed">
                                                <span class="upload-new-photo">
                                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                                    <input type="file" id="upload-new-profile-photo" name="upload"/>
                                                </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uploaded-photo-overlay" style="left: 70%;">
                                            <div class="photo-overlay"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group has-error">
                                            <label class="control-label" for="register-email">Потребителско име
                                                *</label>
                                            <input
                                                type="text"
                                                id="register-email"
                                                name="name"
                                                class="form-control"
                                                required
                                            />
                                            <div class="notice error">
                                                <i
                                                    class="fa fa-times-circle"
                                                    aria-hidden="true"
                                                ></i>
                                            </div>
                                            <div class="error-message">
                                                <i
                                                    class="fa fa-sort-asc"
                                                    aria-hidden="true"
                                                ></i>
                                                <div class="text">
                                                    Не сте въвели
                                                    потребителско име
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="form-group has-success"
                                        >
                                            <label
                                                class="control-label"
                                                for="register-email"
                                            >Потребителско име
                                                *</label
                                            >
                                            <input
                                                type="text"
                                                id="register-email"
                                                name="name"
                                                class="form-control"
                                                value="myusername"
                                                required
                                            />
                                            <div class="notice success">
                                                <i
                                                    class="fa fa-check-circle"
                                                    aria-hidden="true"
                                                ></i>
                                            </div>
                                        </div>
                                        <div
                                            class="form-group has-searching"
                                        >
                                            <label
                                                class="control-label"
                                                for="register-email"
                                            >Потребителско име
                                                *</label
                                            >
                                            <input
                                                type="text"
                                                id="register-email"
                                                name="name"
                                                class="form-control"
                                                value="myusername"
                                                autofocus
                                                required
                                            />
                                            <div class="notice search">
                                                <div
                                                    class="lds-css ng-scope"
                                                >
                                                    <div
                                                        class="lds-spin"
                                                        style="100%;height:100%"
                                                    >
                                                        <div>
                                                            <div></div>
                                                        </div>
                                                        <div>
                                                            <div></div>
                                                        </div>
                                                        <div>
                                                            <div></div>
                                                        </div>
                                                        <div>
                                                            <div></div>
                                                        </div>
                                                        <div>
                                                            <div></div>
                                                        </div>
                                                        <div>
                                                            <div></div>
                                                        </div>
                                                        <div>
                                                            <div></div>
                                                        </div>
                                                        <div>
                                                            <div></div>
                                                        </div>
                                                        <div>
                                                            <div></div>
                                                        </div>
                                                        <div>
                                                            <div></div>
                                                        </div>
                                                        <div>
                                                            <div></div>
                                                        </div>
                                                        <div>
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div
                                            class="form-group has-error"
                                        >
                                            <label
                                                class="control-label"
                                                for="first-name"
                                            >Име</label
                                            >
                                            <input
                                                type="text"
                                                id="first-name"
                                                name="first-name"
                                                class="form-control"
                                            />
                                            <div class="error-message">
                                                <i
                                                    class="fa fa-sort-asc"
                                                    aria-hidden="true"
                                                ></i>
                                                <div class="text">
                                                    Не сте въвели Име
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div
                                            class="form-group has-error"
                                        >
                                            <label
                                                class="control-label"
                                                for="surname"
                                            >Фамилия</label
                                            >
                                            <input
                                                type="text"
                                                id="surname"
                                                name="repeat-password"
                                                class="form-control"
                                            />
                                            <div class="error-message">
                                                <i
                                                    class="fa fa-sort-asc"
                                                    aria-hidden="true"
                                                ></i>
                                                <div class="text">
                                                    Не сте въвели
                                                    Фамилия
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div
                                            class="form-group has-error"
                                        >
                                            <label class="control-label"
                                            >Държава</label
                                            >
                                            <div class="filter-option">
                                                <select
                                                    data-live-search="true"
                                                    multiple
                                                    title="Държава"
                                                >
                                                    <option
                                                        data-tokens="България"
                                                    >България
                                                    </option
                                                    >
                                                    <option
                                                        data-tokens="Испания"
                                                    >Испания
                                                    </option
                                                    >
                                                    <option
                                                        data-tokens="Италия"
                                                    >Италия
                                                    </option
                                                    >
                                                    <option
                                                        data-tokens="Холандия"
                                                    >Холандия
                                                    </option
                                                    >
                                                </select>
                                            </div>
                                            <div class="error-message">
                                                <i
                                                    class="fa fa-sort-asc"
                                                    aria-hidden="true"
                                                ></i>
                                                <div class="text">
                                                    Моля изберете
                                                    държава
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="checkbox custom-checkbox form-group has-error">
                                            <div class="checkbox-field-wrapper">
                                                <span class="character-checkbox"></span>
                                                <span class="label">Съгласен съм с <a href="#/">условията насайта</a></span>
                                            </div>
                                            <div class="error-message">
                                                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                <div class="text">Отбележете, че сте съгласни с условията</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button
                                            class="btn btn-md btn-primary btn-block btn-custom btn-action btn-loading"
                                            disabled="disabled">
                                            <span class="btn-content-wrapper">
                                                <span class="icon">
                                                    <i class="fa fa-spinner fa-spin spinner"></i>
                                                </span>
                                                <span class="text">Регистрация</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
