<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Registration</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="registration-page">
<% include ../includes/modal_login.ejs %>
<% include modal_register.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <header class="content-header">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--При успешна регистрация промени на "Мейл за потвърждение беше изпратен"-->
                                <h1>Регистрация</h1>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="row">
                <!--Добави hidden при регистрация-->
                <div class="content-body">
                    <div class="col-xs-12 col-lg-6">
                        <div class="left-column">
                            <div class="row">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="form-wrap">
                                        <form role="form" action="javascript:;" method="post" id="registration-form"
                                              autocomplete="off">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label for="register-email">имейл</label>
                                                        <input type="email" id="register-email" name="email"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="register-password">парола</label>
                                                        <input type="password" id="register-password" name="password"
                                                               class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="register-password-repeat">повтори парола</label>
                                                        <input type="password" id="register-password-repeat"
                                                               name="repeat-password" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group checkbox custom-checkbox terms-of-use has-error">
                                                        <div class="checkbox-field-wrapper">
                                                            <span class="character-checkbox"></span>
                                                            <span class="label">Съгласен съм с <a href="#/">условията на сайта</a></span>
                                                        </div>
                                                        <div class="error-message">
                                                            <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                            <div class="text">Съобщение за грешка</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group checkbox custom-checkbox gdpr has-error">
                                                        <div class="checkbox-field-wrapper">
                                                            <span class="character-checkbox"></span>
                                                            <span class="label">Съгласен съм с използването на личните ми данни</span>
                                                        </div>
                                                        <div class="error-message">
                                                            <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                            <div class="text">Съобщение за грешка</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <button
                                                        class="btn btn-md btn-primary btn-block btn-custom btn-action btn-loading">
                                                        <span class="btn-content-wrapper">
                                                            <span class="icon">
                                                                <i class="fa fa-spinner fa-spin spinner"></i>
                                                            </span>
                                                            <span class="text">Регистрация</span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <ul class="links">
                                        <li>
                                            <a href="#" class="menu-element" data-keyboard="true" data-toggle="modal"
                                               data-target="#loginPopup">
                                                <span class="text">Вход във photo-forum.net</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <button class="btn btn-md btn-block btn-primary" data-keyboard="true"
                                            data-toggle="modal" data-target="#registerPopup">
                                        <span class="text">Модал Регистрация</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="right-column">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-wrap">
                                        <div class="form-group">
                                            <label for="login-facebook">регистрирай се със социлния си профил</label>
                                            <button class="btn btn-block btn-facebook">
                                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                                <span class="text">Влез с facebook</span>
                                            </button>
                                        </div>
                                        <div class="form-group google has-error">
                                            <button class="btn btn-block btn-google">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                <span class="text">Влез с Google +</span>
                                            </button>
                                        </div>
                                    </div>
                                    <i class="notice">* Никога не публикуваме без ваше разрешение</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--премахни клас hidden при успешна регистрация-->
                <div class="content-body hidden">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-push-3 col-lg-6">
                            <p>Please check for an email from Photo Forum and click on the verification link to activate
                                your account.</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <i class="fa fa-paper-plane-o" aria-hidden="true" style="font-size: 56px; color:#a9a9a9; margin-bottom: 30px"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-push-4 col-lg-4">
                            <button class="btn btn-md btn-block btn-primary btn-custom btn-action btn-loading">
                        <span class="btn-content-wrapper">
                            <span class="icon">
                                <i class="fa fa-spinner fa-spin spinner"></i>
                            </span>
                            <span class="text">Resend confirmation email</span>
                        </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
