<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>News Read</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="news-page read">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="news-story">Новини и събития</a></li>
                        <li class="active">НОЩ НАД БЪЛГАРИЯ - изложба на Красимир Матаров</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="content">
                        <div class="news-content-tools">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <ul class="share-tools">
                                        <li>facebook</li>
                                        <li>google+</li>
                                    </ul>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                                    <ul class="content-font-tool">
                                        <li>
                                            <button class="btn btn-default btn-font-size decrease">
                                                <span>-</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-default btn-font-size default">
                                                <span>A</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-default btn-font-size enlarge">
                                                <span>+</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="news section-wrapper">
                            <div class="news-item">
                                <div class="news-content">
                                    <h1 class="news-title">Конкурсът на Canon за лятна снимка с история е с награда
                                        пътешествие</h1>
                                    <div class="news-info">
                                        <div class="date">преди 1 ден</div>
                                        <div class="separator">/</div>
                                        <div class="comments">коментари: 12</div>
                                    </div>
                                    <div class="content">
                                        <p>В това издание на националния фотоконкурс "Снимка на годината – България
                                            2014", организиран от Canon Bulgaria, с подкрепата на Националната галерия –
                                            София, участваха 294 автора с 2751 единични
                                            творби.</p>
                                        <p>Жури в състав Иво Хаджимишев (председател), Максим Минчев, Георги Лозанов,
                                            Гергана Костадинова, Иван Кюранов и доц. Петър Абаджиев, подбра 66 единични
                                            снимки и 16 фото-есета, които ще бъдат
                                            подредени и изложени в залите на Националната галерия от 4 юни 2015г.</p>
                                        <p>Журито номинира за награда в раздел „Репортажна фотография” творби на
                                            Тихомира Методиева, Борислав Трошев и Ладислав Цветков;</p>
                                        <img src="../images/new_photos/1528361430_85_27.jpg" alt="" class="photo">
                                        <p>в раздел “Фото есе” – серии от снимки на Диляна Кирякова, Сергей Антонов и
                                            Неделчо Хазърбасанов;</p>
                                        <p>и в раздел “Художествена фотография” творби на Денис Бучел и Благой
                                            Кирилов.</p>
                                        <p> Наградите ще бъдат обявени на официалното откриване на изложбата на конкурса
                                            на 4 юни 2015г. от 18.30 часа в Националната галерия – София, пл. “Ал.
                                            Батенберг” № 1.</p>
                                        <div class="full-with-advertise">
                                            <span>Реклама<br/>1140x135 px</span>
                                        </div>
                                        <p>В това издание на националния фотоконкурс "Снимка на годината – България
                                            2014", организиран от Canon Bulgaria, с подкрепата на Националната галерия –
                                            София, участваха 294 автора с 2751 единични творби.</p>
                                        <p>Жури в състав Иво Хаджимишев (председател), Максим Минчев, Георги Лозанов,
                                            Гергана Костадинова, Иван Кюранов и доц. Петър Абаджиев, подбра 66 единични
                                            снимки и 16 фото-есета, които ще бъдат подредени и изложени в залите на
                                            Националната галерия от 4 юни 2015г. </p>
                                        <iframe width="100%" height="500"
                                                src="https://www.youtube.com/embed/c92A21zF6LE" frameborder="0"
                                                allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p>В това издание на националния фотоконкурс "Снимка на годината – България
                                            2014", организиран от Canon Bulgaria, с подкрепата на Националната галерия –
                                            София, участваха 294 автора с 2751 единични творби.</p>
                                        <p>Жури в състав Иво Хаджимишев (председател), Максим Минчев, Георги Лозанов,
                                            Гергана Костадинова, Иван Кюранов и доц. Петър Абаджиев, подбра 66 единични
                                            снимки и 16 фото-есета, които ще бъдат подредени и изложени в залите на
                                            Националната галерия от 4 юни 2015г. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="full-with-advertise square">
                        <span>Реклама<br/>260x260 px</span>
                    </div>
                    <div class="latest-news">
                        <h4 class="section-title">Последни новини</h4>
                        <ul>
                            <li><a href="#">Фотографска среща на Ахтопол. Снимки на морето и много забавления!</a></li>
                            <li><a href="#">Фотографска сбирка на фотографите ветерани</a></li>
                            <li><a href="#">Семинар в Ахтопол на тема “Как да снимаме нощни снимки на морето”</a></li>
                            <li><a href="#">Семинар в Ахтопол на тема “Как да снимаме нощни снимки на морето”</a></li>
                            <li><a href="#">Семинар “Бъдещето на безогледалните камери”</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
