<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>News Story</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="news-page story">
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="content-wrapper">
        <div class="content">
            <div class="news section-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="head">Новини</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="head-news">
                                <div class="news-item">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <a href="#/" class="photo">
                                                <div class="news-photo"
                                                     style="background-image: url('../images/new_photos/1526986425_Found_17230509_23827996-Edit.JPG')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="news-content">
                                                <h3 class="news-title">
                                                    <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                        награда пътешествие</a>
                                                </h3>
                                                <div class="news-info">
                                                    <div class="date">преди 1 ден</div>
                                                    <div class="separator">/</div>
                                                    <div class="comments">коментари: 12</div>
                                                </div>
                                                <p class="content">
                                                    There are many variations of passages of Lorem Ipsum available, but
                                                    the majority have suffered alteration in some form, by injected
                                                    humour, or randomised words which don't look even slightly
                                                    believable. If you are going to use a passage of Lorem Ipsum, you
                                                    need to be sure there isn't anything embarrassing hidden in the
                                                    middle of text. All the Lorem Ipsum generators on the Internet tend
                                                    to repeat predefined chunks as necessary, making this the first true
                                                    generator on the Internet. It uses a dictionary of over 200 Latin
                                                    words, combined with a handful of model sentence structures, to
                                                    generate Lorem Ipsum which looks reasonable. The generated Lorem
                                                    Ipsum is therefore always free from repetition, injected humour, or
                                                    non-characteristic words etc.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="news-list-wrapper">
                                <div class="news-list">
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1525861302_7dara.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">Жури в състав Иво Хаджимишев (председател),
                                                        Максим Минчев, Георги Лозанов, Гергана Костадинова, Иван Кюранов
                                                        и доц. Петър Абаджиев, подбра 66 единични снимки и 16
                                                        фото-есета, които ще бъдат подредени и изложени в залите на
                                                        Националната галерия от 4 юни 2015г.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1526986425_Found_17230509_23827996-Edit.JPG')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">Жури в състав Иво Хаджимишев (председател),
                                                        Максим Минчев, Георги Лозанов, Гергана Костадинова, Иван Кюранов
                                                        и доц. Петър Абаджиев, подбра 66 единични снимки и 16
                                                        фото-есета</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1526534674_Sevi7619.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1526986425_Found_17230509_23827996-Edit.JPG')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1527807920__OLI0992.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1528009422__DIM9264-Edits.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1528109026_1327.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1528202211_forum.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1528361430_85_27.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-box-shadow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-calendar section-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="head">Календар на събития</h2>
                        </div>
                    </div>
                    <div class="event-calendar-wrapper">
                        <div class="event-photo"
                             style="background-image: url('../../images/new_photos/1527807920__OLI0992.jpg')"></div>
                        <ul class="event-calendar-events-list">
                            <li class="event-calendar-event">
                                <!--DTB-->
                            </li>
                        </ul>
                    </div>
                    <!--<div class="row">-->
                    <!--<div class="col-lg-12 text-center">-->
                    <!--<button class="btn btn-success btn-md">-->
                    <!--<span class="text">Всички събития</span>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="articles section-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="head">Статии</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="head-news">
                                <div class="news-item">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <a href="#/" class="photo">
                                                <div class="news-photo"
                                                     style="background-image: url('../images/new_photos/1526986425_Found_17230509_23827996-Edit.JPG')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="news-content">
                                                <h3 class="news-title">
                                                    <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                        награда пътешествие</a>
                                                </h3>
                                                <div class="news-info">
                                                    <div class="date">преди 1 ден</div>
                                                    <div class="separator">/</div>
                                                    <div class="comments">коментари: 12</div>
                                                </div>
                                                <p class="content">
                                                    There are many variations of passages of Lorem Ipsum available, but
                                                    the majority have suffered alteration in some form, by injected
                                                    humour, or randomised words which don't look even slightly
                                                    believable. If you are going to use a passage of Lorem Ipsum, you
                                                    need to be sure there isn't anything embarrassing hidden in the
                                                    middle of text. All the Lorem Ipsum generators on the Internet tend
                                                    to repeat predefined chunks as necessary, making this the first true
                                                    generator on the Internet. It uses a dictionary of over 200 Latin
                                                    words, combined with a handful of model sentence structures, to
                                                    generate Lorem Ipsum which looks reasonable. The generated Lorem
                                                    Ipsum is therefore always free from repetition, injected humour, or
                                                    non-characteristic words etc.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="news-list-wrapper">
                                <div class="news-list">
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1525861302_7dara.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">Жури в състав Иво Хаджимишев (председател),
                                                        Максим Минчев, Георги Лозанов, Гергана Костадинова, Иван Кюранов
                                                        и доц. Петър Абаджиев, подбра 66 единични снимки и 16
                                                        фото-есета, които ще бъдат подредени и изложени в залите на
                                                        Националната галерия от 4 юни 2015г.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1526986425_Found_17230509_23827996-Edit.JPG')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">Жури в състав Иво Хаджимишев (председател),
                                                        Максим Минчев, Георги Лозанов, Гергана Костадинова, Иван Кюранов
                                                        и доц. Петър Абаджиев, подбра 66 единични снимки и 16
                                                        фото-есета</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1524648267_16_13.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1526534674_Sevi7619.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1526986425_Found_17230509_23827996-Edit.JPG')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1527807920__OLI0992.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1528009422__DIM9264-Edits.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1528109026_1327.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1528202211_forum.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="news-item">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <a href="#/" class="photo">
                                                    <div class="news-photo"
                                                         style="background-image: url('../images/new_photos/1528361430_85_27.jpg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="news-content">
                                                    <h3 class="news-title">
                                                        <a href="#/">Конкурсът на Canon за лятна снимка с история е с
                                                            награда пътешествие</a>
                                                    </h3>
                                                    <div class="news-info">
                                                        <div class="date">преди 1 ден</div>
                                                        <div class="separator">/</div>
                                                        <div class="comments">коментари: 12</div>
                                                    </div>
                                                    <p class="content">На 5 септември в градинката пред Народния театър
                                                        Иван Вазов официално открихме изложбата по </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-box-shadow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
