.bazar-add-ad-page {
    .main-heading {
        margin-bottom: 30px;
    }

    .ad-fields {
        .form-group {
            margin-bottom: 30px;

            textarea {
                &.form-control {
                    height: 130px;
                }
            }

            .filters {
                @include clearfix();

                .filter-option {
                    float: left;
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }

                    .radio {
                        margin: 0;

                        label {
                            color: $color_4;
                        }
                    }
                }
            }
        }

        .bazar-ad {
            &.series-of-photos {
                text-align: left;

                .photo-series-wrapper {
                    .uploaded-photo {
                        &:nth-of-type(3) {
                            @media (max-width: 767px) {
                                clear: left;
                                margin-right: 15px;
                            }
                        }

                        .photo-wrapper {
                            &.main-photo {
                                border: 5px solid $color_6;
                            }
                        }

                        .main-photo-label {
                            text-align: center;
                            margin-top: 5px;
                            color: $color_6;
                            text-transform: lowercase;
                        }
                    }
                }
            }
        }
    }

    .attached-items {
        .attached-items-header {
            margin-bottom: 20px;

            .heading {
                margin: 5px 0 0;
                font-size: 28px;
                @include roboto-font($thin-font, $thin-font-weight);
                @media (max-width: 767px) {
                    font-size: 21px;
                    margin-top: 10px;
                }
            }
        }

        .attached-items-body {
            padding-bottom: 40px;
            margin-bottom: 45px;
            border-bottom: 1px solid $color_41;

            .table.attached-items {
                margin-bottom: 0;
            }
        }

        .attached-items-footer {
            padding-bottom: 40px;
            margin-bottom: 45px;
            border-bottom: 1px solid $color_41;

            .checkbox {
                &.custom-checkbox {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .btn-publish-ad {
                margin-top: 40px;
            }
        }

        .make-you-ad-paid {
            padding-bottom: 55px;

            .form-group {
                margin-bottom: 30px;

                &.label {
                    margin-bottom: 0;
                    display: block;
                    padding: 0;
                }
            }
        }
    }
}
