.bazar-view-ad-page {
    .container-wrapper {
        .bazar-products {
            margin-top: 0;
            margin-bottom: 35px;
            padding-bottom: 35px;
            background-color: $color_64;

            .content-wrapper {
                padding: 0;

                .item-wrapper {
                    .item {
                        border: none;
                        @include border-radius(0);

                        .breadcrumb {
                            background-color: $color_64;
                        }

                        .item-image {
                            padding: 0 15px;

                            .main-photo-viewer {
                                .category-photo-slider {
                                    .slides {
                                        .slide-item {
                                            padding-top: 20px;
                                            padding-bottom: 20px;
                                            text-align: center;
                                            background-color: $color_2;
                                            @include border-radius(3px);

                                            .slide-photo {
                                                width: 240px;
                                                height: 240px;
                                                text-align: center;
                                                overflow: hidden;
                                                background-size: cover;
                                                background-position: center center;
                                                background-repeat: no-repeat;
                                                position: relative;
                                                @include inline-block();
                                                @media (max-width: 767px) {
                                                    height: 250px;
                                                }

                                                img {
                                                    width: auto;
                                                    height: 240px;
                                                    @include inline-block();
                                                    @media (max-width: 767px) {
                                                        height: 250px;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .flex-direction-nav {
                                        .flex-nav-prev {
                                            .flex-prev {
                                                left: 20px;
                                            }
                                        }

                                        .flex-nav-next {
                                            .flex-next {
                                                right: 20px;
                                            }
                                        }
                                    }
                                }

                                .category-photo-carousel {
                                    margin-top: 3px;
                                    margin-bottom: 0;

                                    .flex-viewport {
                                        width: 84%;

                                        .slides {
                                            li {
                                                border-bottom: 4px solid $color_69;

                                                &.flex-active-slide {
                                                    border-bottom: 4px solid $color_6;
                                                }

                                                .slide-photo-carousel {
                                                    width: 60px;
                                                    height: 60px;
                                                }
                                            }
                                        }
                                    }

                                    .flex-direction-nav {
                                        li {
                                            border: none;
                                            background-color: $color_69;

                                            &.flex-nav-prev {
                                                @include border-radius(3px 0 0 3px);
                                            }

                                            &.flex-nav-next {
                                                @include border-radius(0 3px 3px 0);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .item-caption {
                            padding: 0 15px;

                            .caption {
                                padding: 0;
                                @media (max-width: 767px) {
                                    margin-top: 15px;
                                }

                                .caption-header {
                                    margin-bottom: 25px;

                                    .badge-status {
                                        margin-bottom: 15px;
                                    }

                                    .heading {
                                        margin-bottom: 25px;
                                    }

                                    .item-author {
                                        .main-details {
                                            .since-date {
                                                &:before {
                                                    display: none;
                                                }
                                            }

                                            .photo-wrapper {
                                                clear: left;
                                                margin-top: 17px;
                                            }

                                            .profile-name {
                                                margin-top: 20px;
                                            }
                                        }
                                    }
                                }

                                .caption-body {
                                    margin-bottom: 25px;
                                    display: none;

                                    .item-description {
                                        &:before {
                                            background-color: $color_64;
                                        }
                                    }
                                }

                                .caption-footer {
                                    .item-price {
                                        float: none;
                                    }

                                    .ad-buttons {
                                        float: none;
                                        margin-top: 30px;
                                        @include clearfix();

                                        .btn {
                                            float: left;
                                            margin-right: 15px;

                                            &:last-child {
                                                margin-right: 0;
                                            }

                                            i.fa {
                                                margin-top: 1px;
                                                @media (max-width: 767px) {
                                                    margin: 0;
                                                }
                                            }

                                            .text {
                                                @media (max-width: 767px) {
                                                    display: none;
                                                }
                                            }
                                        }

                                        .btn-group {
                                            @media (max-width: 767px) {
                                                float: right;
                                            }

                                            &.open {
                                                .dropdown-menu {
                                                    @media (max-width: 767px) {
                                                        right: 0;
                                                        left: unset;
                                                    }
                                                }
                                            }

                                            .btn {
                                                margin-right: 0;
                                                padding: 10px 15px;

                                                i.fa {
                                                    margin-right: 0;
                                                }
                                            }
                                        }
                                    }

                                    .ad-actions {
                                        clear: both;
                                        margin-top: 30px;
                                        margin-bottom: 0;
                                        @include clearfix();

                                        .action {
                                            float: left;
                                            @include clearfix();

                                            a {
                                                float: left;
                                                @include clearfix();

                                                i.fa, .text {
                                                    float: left;
                                                }

                                                i.fa {
                                                    font-size: 24px;
                                                    margin-top: -3px;
                                                    margin-right: 7px;
                                                }
                                            }

                                            &:after {
                                                float: left;
                                                content: '|';
                                                padding-left: 10px;
                                                margin-right: 10px;
                                                clear: none;
                                            }

                                            &:last-child {
                                                &:after {
                                                    content: '';
                                                    padding-left: 0;
                                                    margin-right: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .content-block {
            margin-bottom: 25px;
            border-bottom: 1px solid $color_13;
            padding-bottom: 35px;

            .heading {
                margin-top: 0;
                margin-bottom: 30px;
                font-size: 18px;
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .well {
                margin-bottom: 30px;
                padding: 15px 20px;
                border: none;
                background-color: $color_64;
                @include box-shadow(none);

                .caption {
                    .date-comment {
                        display: block;
                        color: $color_66;
                    }
                }
            }

            &.ad-additions,
            &.ad-attached-items {
                padding-bottom: 0;
            }

            &.ad-attached-items {
                .bazar-products {
                    margin: 0;
                    padding: 0;
                    background-color: $color_2;

                    .well {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        @include clearfix();

                        .item-wrapper {
                            margin-bottom: 0;

                            .item {
                                border: none;
                                @include border-radius(0);

                                .item-image {
                                    .photo-wrapper {
                                        padding: 10px;
                                        width: 100%;
                                        height: 80px;
                                        background-color: #fff;
                                        @include inline-block();
                                        @include border-radius(5px);

                                        .photo {
                                            width: 100%;
                                            height: 100%;
                                            background-position: center center;
                                            background-size: cover;
                                            text-indent: -10000px;
                                            text-align: left;
                                            @include inline-block();
                                        }

                                        .no-photo {
                                            display: block;
                                            text-align: center;
                                            margin-top: 8px;

                                            .fa {
                                                display: block;
                                                font-size: 24px;
                                                margin-bottom: 5px;
                                            }

                                            .text {
                                                font-size: 12px;
                                            }
                                        }
                                    }

                                    .image-label {
                                        margin-top: 10px;
                                        text-align: center;
                                        color: $color_66;
                                        font-size: 12px;
                                    }
                                }

                                .item-caption {
                                    .caption {
                                        padding: 0;

                                        .caption-header {
                                            margin-bottom: 10px;

                                            .badge-status {
                                                margin-bottom: 10px;
                                            }

                                            .heading {
                                                font-size: 14px;
                                                margin-bottom: 0;
                                                @include roboto-font($bold-font, $bold-font-weight);
                                            }
                                        }

                                        .caption-body {
                                            margin-bottom: 0;

                                            .item-tags {
                                                margin-bottom: 10px;
                                            }

                                            .item-price {
                                                font-size: 14px;
                                                margin-bottom: 10px;
                                                @include roboto-font($bold-font, $bold-font-weight);

                                                .price-info {
                                                    .dropdown-menu {
                                                        @media (max-width: 767px) {
                                                            left: -185px;
                                                        }

                                                        i.fa {
                                                            @media (max-width: 767px) {
                                                                left: 186px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            .item-description {
                                                &:before, &:after {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
