.bazar-all-ads-page {
    .content-wrapper {
        .content-header {
            h1 {
                text-align: right;
                @media (max-width: 767px) {
                    text-align: left;
                    margin-top: 7px;
                }
            }

            .btn-publish-ad {
                text-transform: uppercase;
            }
        }
    }

    .panel {
        margin-bottom: 0;

        .panel-body {
            padding: 40px 0 0 0;

            .filter-categories {
                margin-bottom: 30px;

                .category {
                    &:first-child {
                        a {
                            @include border-radius(3px 3px 0 0);
                        }
                    }

                    &:last-child {
                        a {
                            @include border-radius(0 0 3px 3px);
                        }
                    }

                    a {
                        color: $color_4;
                        display: block;
                        padding: 15px;
                        background-color: $color_67;

                        &:hover {
                            color: $color_2;
                            background-color: $color_6;
                        }
                    }

                    &.selected, &.active {
                        a {
                            color: $color_2;
                            background-color: $color_6;
                        }
                    }
                }
            }

            .bazar-filters {
                .filter-block {
                    margin-top: 30px;

                    &:last-child {
                        @media (max-width: 767px) {
                            margin-bottom: 30px;
                        }
                    }

                    .filter-head {
                        padding: 15px;
                        background-color: $color_40;
                        @include border-radius(3px 3px 0 0);

                        .filter-label {
                            color: $color_2;
                            text-transform: uppercase;
                            font-size: 11px;
                        }
                    }

                    .filter-body {
                        padding: 15px;
                        background-color: $color_36;
                        @include border-radius(0 0 3px 3px);

                        label {
                            color: $color_4;
                            font-size: 14px;
                            text-transform: capitalize;
                            @include roboto-font($regular-font, $regular-font-weight);
                        }

                        .filters {
                            margin-bottom: 0;

                            .filter-option {
                                margin-bottom: 15px;

                                .radio,
                                .checkbox {
                                    margin-bottom: 0;

                                    label, .label {
                                        color: $color_4;
                                        font-size: 14px;
                                    }
                                }

                                .radio {
                                    label {
                                        font-size: 14px;
                                        color: $color_4;
                                        text-transform: none;
                                        @include roboto-font($light-font, $light-font-weight);
                                    }
                                }

                                .checkbox {
                                    .label {
                                        width: auto;
                                    }
                                }

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    &.price {
                        .filter-body {
                            padding: 50px 20px;

                            .filters {
                                .filter-option {
                                    .price-range {

                                    }
                                }
                            }
                        }
                    }

                    &.photo-machine {
                        label {
                            &:first-child {
                                margin-top: 0;
                            }

                            margin-top: 20px;
                            margin-bottom: 20px;
                        }

                        .filter-body {
                            .filters {
                                padding-bottom: 20px;
                                border-bottom: 1px solid $color_40;

                                &:last-child {
                                    margin-top: 50px;
                                    padding-bottom: 30px;
                                    border-bottom: none;
                                }
                            }
                        }
                    }

                    &.subscribe {
                        .filter-body {
                            .filters {
                                .filter-option {
                                    .checkbox {
                                        .label {
                                            width: 85%;
                                            margin-top: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .tab-content {
                .tab-pane {
                    @include clearfix();

                    .content {
                        .form-group {
                            &.change-grid-view {
                                float: right;

                                .btn {
                                    font-size: 16px;
                                    border-color: $color_3;

                                    &.btn-default {
                                        &:focus {
                                            color: #333;
                                            background-color: #E6E6F4;
                                            border-color: #adadad;
                                        }
                                    }
                                }
                            }
                        }

                        .pagination-wrapper {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}
