.bazar-products {
    margin-top: 10px;

    .item-wrapper {
        margin-bottom: 35px;

        .item {
            border: 1px solid $color_13;
            @include border-radius(3px);

            .item-image,
            .item-caption {
                padding: 0;
            }

            .item-image {
                .photo-wrapper {
                    .photo {
                        .thumb-photo {
                            @media (max-width: 767px) {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .default-photo-notice {
                        top: 0;
                        right: 0;
                        left: 0;
                        position: absolute;
                        text-align: center;

                        .text {
                            font-size: 12px;
                            color: $color_35;
                            background-color: $color_36;
                            padding: 0 20px;
                            line-height: 2em;
                            @include border-radius(0 0 3px 3px);
                            @include inline-block();
                            @include roboto-font($condensed-font, $condensed-font-weight);
                        }
                    }
                }
            }

            .item-caption {
                .caption {
                    padding: 15px;

                    .item-price {
                        font-size: 30px;
                        line-height: 1em;
                        @include roboto-font($light-font, $light-font-weight);
                        @include clearfix();

                        @media (max-width: 767px) {
                            font-size: 21px;
                        }

                        span, .price-info {
                            float: left;
                        }

                        .price-info {
                            margin-top: -5px;
                            margin-left: 15px;

                            .dropdown-menu {
                                padding: 0;
                                width: 300px;
                                left: -15px;
                                margin-top: 10px;
                                @media (max-width: 767px) {
                                    left: -120px;
                                }

                                i.fa {
                                    position: absolute;
                                    left: 17px;
                                    top: -9px;
                                    font-size: 21px;
                                    line-height: 1em;
                                    @media (max-width: 767px) {
                                        left: 122px;
                                    }
                                }

                                .dropdown-menu-header {
                                    padding-bottom: 5px;
                                    border-bottom: 1px solid $color_68;

                                    .heading {
                                        font-size: 12px;
                                        margin-top: 10px;
                                        margin-bottom: 0;
                                        @include roboto-font($bold-font, $bold-font-weight);
                                    }

                                    span {
                                        font-size: 12px;
                                        color: $color_66;
                                        padding: 10px 0 5px;
                                        line-height: 1em;
                                        @include roboto-font($light-font, $light-font-weight);
                                    }
                                }

                                .dropdown-menu-body {
                                    .price-change {
                                        padding: 10px 0;
                                        line-height: 1em;
                                        border-bottom: 1px solid $color_68;
                                        @include roboto-font($light-font, $light-font-weight);

                                        &:last-child {
                                            border-bottom: none;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .caption-header {
                        margin-bottom: 15px;

                        .heading {
                            margin-top: 0;
                            margin-bottom: 15px;
                            font-size: 20px;
                            @include roboto-font($light-font, $light-font-weight);
                        }

                        .item-author {
                            @include clearfix();

                            .main-details {
                                .photo-wrapper,
                                .profile-name,
                                span {
                                    float: left;
                                    color: $color_66;
                                }

                                .profile-name {
                                    @media (max-width: 767px) {
                                        margin-top: 8px;
                                        line-height: 1.2em;
                                    }
                                }

                                span {
                                    @media (max-width: 767px) {
                                        margin-top: 5px;
                                    }

                                    &:before {
                                        content: '\\';
                                        padding: 0 5px;
                                    }

                                    &.since-date {
                                        @media (max-width: 767px) {
                                            clear: left;
                                        }

                                        &:before {
                                            @media (max-width: 767px) {
                                                display: none;
                                            }
                                        }
                                    }
                                }

                                .photo-wrapper {
                                    width: 25px;
                                    height: 25px;
                                    margin-top: -3px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }

                    .caption-body {
                        margin-bottom: 35px;

                        .item-tags {
                            margin-bottom: 15px;
                            @include clearfix();

                            .label {
                                float: left;
                                margin-right: 10px;
                                color: $color_66;
                                font-size: 14px;
                                padding: 0;
                                line-height: inherit;
                                @include roboto-font($light-font, $light-font-weight);
                            }

                            ul {
                                float: left;
                                margin-bottom: 0;
                                @include clearfix();

                                li {
                                    float: left;
                                    margin-right: 10px;

                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                        }

                        .item-description {
                            @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2);
                            @media (max-width: 767px) {
                                text-align: left;
                            }
                        }
                    }

                    .caption-footer {
                        .ad-buttons {
                            @include clearfix();
                            @media (max-width: 767px) {
                                text-align: right;
                            }

                            .btn {
                                float: right;
                                @include transition(none);
                                @include clearfix();

                                &:last-child {
                                    margin-left: 15px;
                                    @media (max-width: 767px) {
                                        float: right;
                                    }
                                }

                                i.fa, .text {
                                    float: left;
                                }

                                i.fa {
                                    font-size: 18px;
                                    margin-top: -1px;
                                    margin-right: 10px;
                                }
                            }

                            .btn-group {
                                float: left;
                                @media (max-width: 767px) {
                                    float: none;
                                    @include inline-block();
                                }

                                .btn-more-actions {
                                    margin-top: 1px;
                                    padding: 5px 10px;
                                    @media (max-width: 767px) {
                                        padding: 5px;
                                        background: none;
                                        color: $color_66;
                                        border: none;
                                    }

                                    &:hover {
                                        color: $color_6;
                                        background-color: transparent;
                                    }

                                    i.fa {
                                        font-size: 18px;
                                        margin-right: 0;
                                    }
                                }

                                .dropdown-menu {
                                    left: unset;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.bazar-vertical-side-ad {
    width: 270px;
    height: 600px;
    position: fixed;
    z-index: 900;
    bottom: 80px;
    right: 100px;
    color: $color_66;
    font-size: 24px;
    background-color: $color_56;
    text-align: center;
    display: table;

    span {
        display: table-cell;
        vertical-align: middle;
    }
}

.breadcrumb {
    margin-top: 35px;
    margin-bottom: 40px;
}
