.bazar-all-ads-page {
    .panel {
        .panel-body {
            .tab-content {
                .tab-pane {
                    .content {
                        .bazar-products {
                            &.list-view {
                                .item-wrapper {
                                    .item {
                                        .item-image,
                                        .item-caption {
                                            @media (max-width: 767px) {
                                                width: 100%;
                                            }
                                        }

                                        .item-image {
                                            @media (max-width: 767px) {
                                                text-align: center;
                                            }
                                        }

                                        .item-caption {
                                            .caption {
                                                .caption-header {
                                                    .item-author {
                                                        .main-details {
                                                            .photo-wrapper {
                                                                @media (max-width: 767px) {
                                                                    margin-top: 3px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                .caption-footer {
                                                    .btn {
                                                        i.fa {
                                                            @media (max-width: 767px) {
                                                                margin-right: 0;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
