.bazar-all-ads-page {
    .panel {
        .panel-body {
            .tab-content {
                .tab-pane {
                    .content {
                        .bazar-products {
                            &.grid-view {
                                .item-wrapper {
                                    .item {
                                        .item-image {
                                            .row-thumb-photos {
                                                .photo-wrapper {
                                                    @media (max-width: 767px) {
                                                        width: 88px;
                                                    }

                                                    .photo,
                                                    .no-photo {
                                                        @media (max-width: 767px) {
                                                            height: 88px;
                                                        }
                                                        .thumb-photo {
                                                            .fa {
                                                                @media (max-width: 767px) {
                                                                    font-size: 24px;
                                                                    margin-bottom: 10px;
                                                                }
                                                            }

                                                            .text {
                                                                @media (max-width: 767px) {
                                                                    font-size: 12px;
                                                                }
                                                            }
                                                        }
                                                    }

                                                    .default-photo-notice {
                                                        .text {
                                                            @media (max-width: 767px) {
                                                                padding: 3px 0;
                                                                display: block;
                                                                line-height: 1.2em;
                                                                @include border-radius(0);
                                                            }
                                                        }
                                                    }

                                                }
                                            }
                                        }

                                        .item-caption {
                                            .caption {
                                                @media (max-width: 767px) {
                                                    padding: 10px;
                                                }

                                                .caption-header {
                                                    .heading {
                                                        font-size: 16px;
                                                        @media (max-width: 767px) {
                                                            font-size: 14px;
                                                        }

                                                        a {
                                                            line-height: 1.4em;
                                                            @media (max-width: 767px) {
                                                                line-height: 1.2em;
                                                            }
                                                        }
                                                    }

                                                    .item-author {
                                                        @media (max-width: 767px) {
                                                            text-align: center;
                                                        }

                                                        .main-details {
                                                            .photo-wrapper {
                                                                @media (max-width: 767px) {
                                                                    width: 60px;
                                                                    height: 60px;
                                                                    margin: 0;
                                                                    float: none;
                                                                    @include inline-block();
                                                                }
                                                            }

                                                            .profile-name {
                                                                @media (max-width: 767px) {
                                                                    display: none;
                                                                }
                                                            }

                                                            span {
                                                                display: none;
                                                            }
                                                        }
                                                    }
                                                }

                                                .caption-body {
                                                    display: none;
                                                }

                                                .caption-footer {
                                                    @media (max-width: 767px) {
                                                        text-align: center;
                                                    }

                                                    .item-caption-price {
                                                        margin-bottom: 10px;

                                                        .item-price {
                                                            @media (max-width: 767px) {
                                                                font-size: 14px;
                                                                margin-bottom: 15px;
                                                            }
                                                        }
                                                    }

                                                    .item-caption-buttons {
                                                        .ad-buttons {
                                                            .btn.btn-bordered {
                                                                padding: 0;
                                                                border: none;

                                                                &:active, &:focus {
                                                                    color: $color_6;
                                                                    background-color: transparent;
                                                                    @include box-shadow(none);
                                                                }

                                                                &:hover {
                                                                    color: $color_6;
                                                                    background-color: transparent;
                                                                }

                                                                i.fa {
                                                                    margin: 0;
                                                                    font-size: 30px;
                                                                }

                                                                .text {
                                                                    display: none;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
