#modalUploadAttachedItems {
    .modal-dialog {
        .modal-content {
            .modal-body {
                padding-bottom: 40px;

                .modal-bazar-ad {
                    &.series-of-photos {
                        .photo-series-wrapper {
                            .uploaded-photo {
                                &:nth-of-type(3) {
                                    @media (max-width: 767px) {
                                        clear: left;
                                        margin-right: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
