.bazar-all-ads-page {
    .panel {
        .panel-body {
            .tab-content {
                .tab-pane {
                    &#my-published-ads {
                        .bazar-products {
                            margin-top: 0;

                            .item-wrapper {
                                .item {
                                    .item-caption {
                                        .caption {
                                            .caption-header {
                                                .badge-status {
                                                    margin-bottom: 20px;
                                                }

                                                .item-author {
                                                    .main-details {
                                                        span {
                                                            @media (max-width: 767px) {
                                                                margin-top: 0;
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            .caption-footer {
                                                .item-caption-buttons {
                                                    .ad-buttons {
                                                        @media (max-width: 767px) {
                                                            margin-top: 20px;
                                                        }

                                                        .btn {
                                                            float: left;

                                                            &.btn-bordered {
                                                                .text {
                                                                    display: block;
                                                                }
                                                            }

                                                            &:last-child {
                                                                margin-left: 15px;
                                                                @media (max-width: 767px) {
                                                                    float: right;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &.grid-view {
                                .item-wrapper {
                                    .item {
                                        .item-caption {
                                            .caption {
                                                .caption-header {
                                                    .heading {
                                                        margin-bottom: 0;
                                                    }
                                                }

                                                .caption-footer {
                                                    .item-caption-price {
                                                        margin-bottom: 20px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .full-with-advertise {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}
