.bazar-all-ads-page {
    .panel {
        .panel-body {
            .tab-content {
                .tab-pane {
                    &#rules {
                        .panel {
                            @include clearfix();

                            .panel-heading {
                                .nav.nav-tabs.filter-categories {
                                    display: block;

                                    li.category {
                                        margin: 0;
                                        float: none;
                                        @media (max-width: 767px) {
                                            display: block;
                                        }

                                        &:first-child {
                                            a {
                                                @include border-radius(3px 3px 0 0);
                                            }
                                        }

                                        &:last-child {
                                            a {
                                                @include border-radius(0 0 3px 3px);
                                            }
                                        }

                                        a {
                                            margin: 0;
                                            border: none;
                                            @include border-radius(0);
                                            @include transition(none);
                                        }
                                    }
                                }
                            }

                            .panel-body {
                                margin: 0;
                                border-top: none;
                                padding-top: 0;

                                .tab-content {
                                    .content {
                                        h2 {
                                            margin-bottom: 30px;
                                        }

                                        ol {
                                            padding-left: 15px;
                                            margin-bottom: 0;

                                            li {
                                                &:last-child {
                                                    margin-bottom: 0;
                                                }

                                                ol {
                                                    margin-top: 15px;
                                                    padding-left: 15px;

                                                    li {
                                                        list-style-type: lower-roman;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
