<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>News Read</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="news-page event">
<% include modal_add_to_calendar.ejs %>
<% include modal_suggest_event.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../includes/desktop_top_header_logged.ejs %>
            </div>
        </div>
        <% include ../includes/menu_mobile.ejs %>
    </header>
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ol class="breadcrumb">
                        <li><a href="news-story">Новини и събития</a></li>
                        <li class="active">НОЩ НАД БЪЛГАРИЯ - изложба на Красимир Матаров</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="content">
                        <div class="news-content-tools">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <button class="btn btn-sm btn-bordered btn-add-to-calendar" data-keyboard="true"
                                            data-toggle="modal" data-target="#modal_addToCalendar">
                                        <span class="text">Добави в календара</span>
                                    </button>
                                    <ul class="share-tools">
                                        <li>facebook</li>
                                        <li>google+</li>
                                    </ul>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                                    <button class="btn btn-sm btn-primary btn-suggest-event" data-keyboard="true"
                                            data-toggle="modal" data-target="#modal_suggestEvent">
                                        <span class="text">Предложи събитие</span>
                                    </button>
                                    <ul class="content-font-tool">
                                        <li>
                                            <button class="btn btn-default btn-font-size decrease">
                                                <span>-</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-default btn-font-size default">
                                                <span>A</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-default btn-font-size enlarge">
                                                <span>+</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="news section-wrapper">
                            <div class="news-item">
                                <div class="news-content">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                            <div class="event-date">
                                                <div class="day">24</div>
                                                <div class="month-year">
                                                    <div class="month">ноември</div>
                                                    <div class="year">2017</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                                            <h1 class="news-title">Фотографска среща на Ахтопол. Снимки на морето и
                                                много забавления!</h1>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>Когато нощ се спуска над България и сънят ни зове, Красимир Матаров излиза на
                                            лов за кадри обсипани с безброй звезди и млечен път. И така в продължение на
                                            две години, ограничен от фазите на луната,
                                            авторът събира тази изложба. Той обикаля и заснема едни обичайни места, но
                                            ни ги показва в необикновена светлина, благодарение на магията на нощта.
                                            Това е един диалог с природата, в който тя ни
                                            открива другата си същност - това да бъде загадачно красива.</p>
                                        <img src="../images/new_photos/1528361430_85_27.jpg" alt="" class="photo">
                                        <p>Когато нощ се спуска над България и сънят ни зове, Красимир Матаров излиза на
                                            лов за кадри обсипани с безброй звезди и млечен път. И така в продължение на
                                            две години, ограничен от фазите на луната,
                                            авторът събира тази изложба. Той обикаля и заснема едни обичайни места, но
                                            ни ги показва в необикновена светлина, благодарение на магията на нощта.
                                            Това е един диалог с природата, в който тя ни
                                            открива другата си същност - това да бъде загадачно красива.
                                            Той обикаля и заснема едни обичайни места, но ни ги показва в необикновена
                                            светлина, благодарение на магията на нощта. Това е един диалог с природата,
                                            в който тя ни открива другата си същност -
                                            това да бъде загадачно красива.</p>
                                        <p>В това издание на националния фотоконкурс "Снимка на годината – България
                                            2014", организиран от Canon Bulgaria, с подкрепата на Националната галерия –
                                            София, участваха 294 автора с 2751 единични
                                            творби.</p>
                                        <p>Жури в състав Иво Хаджимишев (председател), Максим Минчев, Георги Лозанов,
                                            Гергана Костадинова, Иван Кюранов и доц. Петър Абаджиев, подбра 66 единични
                                            снимки и 16 фото-есета, които ще бъдат
                                            подредени и изложени в залите на Националната галерия от 4 юни 2015г. </p>
                                        <div class="full-with-advertise">
                                            <span>Реклама<br/>1140x135 px</span>
                                        </div>
                                        <p>В това издание на националния фотоконкурс "Снимка на годината – България
                                            2014", организиран от Canon Bulgaria, с подкрепата на Националната галерия –
                                            София, участваха 294 автора с 2751 единични
                                            творби.</p>
                                        <p>Жури в състав Иво Хаджимишев (председател), Максим Минчев, Георги Лозанов,
                                            Гергана Костадинова, Иван Кюранов и доц. Петър Абаджиев, подбра 66 единични
                                            снимки и 16 фото-есета, които ще бъдат
                                            подредени и изложени в залите на Националната галерия от 4 юни 2015г. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="full-with-advertise square">
                        <span>Реклама<br/>260x260 px</span>
                    </div>
                    <div class="latest-news">
                        <h4 class="section-title">Предстоящи събития</h4>
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"
                                                 style="border-right: 1px dotted">
                                                <div class="event-date">
                                                    <div class="day">6</div>
                                                    <div class="month-year">
                                                        <div class="month">август</div>
                                                        <div class="year">2018</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5 col-sm-7 col-md-7 col-lg-7">
                                                <h6>Фотографска сбирка на фотографите ветерани</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"
                                                 style="border-right: 1px dotted">
                                                <div class="event-date">
                                                    <div class="day">15</div>
                                                    <div class="month-year">
                                                        <div class="month">октомври</div>
                                                        <div class="year">2018</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                <h6>Фотографска среща на Ахтопол. Снимки на морето и много
                                                    забавления!</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"
                                                 style="border-right: 1px dotted">
                                                <div class="event-date">
                                                    <div class="day">12</div>
                                                    <div class="month-year">
                                                        <div class="month">ноември</div>
                                                        <div class="year">2018</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                <h6>Семинар в Ахтопол на тема “Как да снимаме нощни снимки на
                                                    морето”</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"
                                                 style="border-right: 1px dotted">
                                                <div class="event-date">
                                                    <div class="day">4</div>
                                                    <div class="month-year">
                                                        <div class="month">април</div>
                                                        <div class="year">2019</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                <h6>Семинар “Бъдещето на безогледалните камери”</h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>
</html>
