.rating-history-page {
    .content-wrapper {
        padding-top: 0;
        padding-bottom: 30px;

        .content-header {
            padding-top: 60px;
            padding-bottom: 60px;
            background-color: $color_64;

            .best-of-the-month-gallery-photos {
                margin-top: 60px;

                .row-thumb-photos {
                    .photo-wrapper {
                        margin-bottom: 30px;
                    }

                    &.best-photo-of-the-month {
                        @media (max-width: 767px) {
                            margin-bottom: 30px;
                        }

                        .photo-wrapper {
                            margin-bottom: 0;

                            .photo {
                                height: 550px;

                                .thumb-photo {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .btn-more-best-of-the-month-photos {
                    margin-top: 40px;
                    background-color: $color_64;

                    &:hover {
                        background-color: $color_6;
                    }
                }
            }
        }

        .content {
            .best-photos-through-the-years {
                .head {
                    text-align: center;
                    margin-bottom: 50px;
                }

                .panel {
                    .panel-body {
                        padding-top: 30px;

                        .tab-content {
                            .tab-pane {
                                .content {
                                    @media (max-width: 767px) {
                                        text-align: center;
                                    }

                                    .row {
                                        .row-thumb-photos {
                                            margin-bottom: 30px;

                                            .photo-wrapper {
                                                .thumb-photo {
                                                    @media (max-width: 767px) {
                                                        margin-bottom: 0;

                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .row-thumb-photos {
                                        .photo-wrapper {
                                            .photo {
                                                height: 360px;
                                                @media (max-width: 767px) {
                                                    height: 260px;
                                                }
                                            }

                                            .nickname-pad {
                                                @include clearfix();

                                                .nickname {
                                                    float: left;
                                                }

                                                .best-of-month {
                                                    float: right;
                                                    text-transform: uppercase;
                                                    margin-right: 15px;
                                                    margin-top: 25px;
                                                    line-height: 1em;
                                                    text-decoration: none;
                                                    color: $color_29;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
