.rating-history-month-page {
    .container-wrapper {
        .breadcrumb {
            li {
                &:before {
                    @media (max-width: 480px) {
                        display: none;
                    }
                }
            }
        }

        .content-wrapper {
            padding-top: 0;

            .content {
                .best-photo-through-the-month {
                    text-align: center;
                    margin-bottom: 60px;

                    &.adult-photo {
                        .photo-wrapper {
                            width: 800px;
                            @media (max-width: 767px) {
                                width: 320px;
                            }

                            .thumb-photo {
                                .adult-content-image {
                                    width: 60px;
                                }
                            }
                        }
                    }

                    .photo-wrapper {
                        border: 1px solid $color_13;
                        @include border-radius(3px);
                        @include inline-block();

                        .photo {
                            width: 800px;
                            @media (max-width: 767px) {
                                width: 100%;
                            }
                        }

                        .photo-info {
                            padding: 20px;
                            @media (max-width: 480px) {
                                padding: 10px;
                            }

                            .photo-photographer {
                                @include clearfix();

                                .main-details {
                                    float: left;

                                    .photo-wrapper {
                                        width: 60px;
                                        height: 60px;
                                        margin-right: 15px;
                                        border: none;
                                        @media (max-width: 480px) {
                                            width: 40px;
                                            height: 40px;
                                        }

                                        .photo {
                                            width: 100%;
                                        }
                                    }
                                }

                                .photo-details {
                                    float: left;

                                    .photographer-name {
                                        display: block;
                                        font-size: 16px;
                                        @media (max-width: 480px) {
                                            font-size: 14px;
                                        }
                                    }

                                    .details-info {
                                        margin-bottom: 0;

                                        li {
                                            @include clearfix();

                                            span, a {
                                                float: left;
                                                @include inline-block();
                                            }

                                            span {
                                                color: $color_32;
                                                margin-right: 5px;
                                            }

                                            a {
                                                color: $color_11;

                                                &:hover {
                                                    color: $color_6;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .photo-stats-info-wrapper {
                                text-align: right;
                                margin-top: 20px;

                                .photo-stats-info {
                                    margin-bottom: 0;
                                    @include inline-block();
                                    @include clearfix();
                                    @include opacity(1);

                                    li {
                                        float: left;
                                        margin-right: 30px;
                                        font-size: 16px;

                                        &:last-child {
                                            margin-right: 0;
                                        }

                                        .fa {
                                            margin-right: 5px;
                                            color: $color_32;
                                        }

                                        .text {
                                            color: $color_11;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
