<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Store - cart 1</title>

    <link rel="icon" href="../../favicon.ico">

    <% include ../../env/production.ejs %>
</head>
<body class="store-page shopping-cart first-step">
<% include ../../includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../../includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ../../includes/menu_mobile.ejs %>
    </header>
    <div class="bazar-products">
        <div class="container">
            <div class="content-wrapper">
                <header class="content-header">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <% include ../../includes/breadcrumbs.ejs %>
                        </div>
                        <div
                                class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-3 col-lg-offset-3 col-lg-3">
                            <a href="#" class="shopping-cart-basket">
                                <span class="icon">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span class="basket-items">
                                    <span class="item-count">(0)</span>
                                    <span class="basket-text">Количката е празна</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </header>
                <div class="content-body">
                    <div class="order-items-container">
                        <div class="row hidden-xs order-items-header">
                            <div class="col-lg-5">
                                <span>Продукт</span>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                <span>Размер</span>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                <span>Брой</span>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-1 col-lg-1">
                                <span>Цена</span>
                            </div>
                        </div>
                        <div class="order-items-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="order-item">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/theme4.jpg')"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-9 col-sm-9 col-md-4 col-lg-4">
                                                <a href="#" class="item-name">Тениска - бяла - брандирана с логото на
                                                    ФОТО-ФОРУМ </a>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                                <span class="item-size">M</span>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                                <div class="item-qty">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                                <span class="item-price"><b>35,60 лв</b></span>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-1 col-lg-1 text-right">
                                                <a href="#">изтрий</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-item">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/theme4.jpg')"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-9 col-sm-9 col-md-4 col-lg-4">
                                                <a href="#" class="item-name">Тениска - бяла - брандирана с логото на
                                                    ФОТО-ФОРУМ </a>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                                <span class="item-size">M</span>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                                <div class="item-qty">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                                <span class="item-price"><b>35,60 лв</b></span>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-1 col-lg-1 text-right">
                                                <a href="#">изтрий</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-item">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                                <div class="row-thumb-photos">
                                                    <div class="photo-wrapper">
                                                        <a href="#" class="photo">
                                                            <div class="thumb-photo"
                                                                 style="background-image: url('../images/photos/theme4.jpg')"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-9 col-sm-9 col-md-4 col-lg-4">
                                                <a href="#" class="item-name">Тениска - бяла - брандирана с логото на
                                                    ФОТО-ФОРУМ </a>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                                <span class="item-size">M</span>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                                <div class="item-qty">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                                <span class="item-price"><b>35,60 лв</b></span>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-md-1 col-lg-1 text-right">
                                                <a href="#">изтрий</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-items-footer">
                            <div class="row">
                                <div class="col-lg-push-7 col-lg-5 text-right">
                                    <div class="order-items-price">
                                        <span>Общо: <b>320.118лв.</b></span>
                                    </div>
                                    <div class="order-items-discount-code">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="код за отстъпка">
                                            <span class="input-group-btn">
                                                <button class="btn btn-md btn-block btn-bordered btn-add-discount btn-action btn-loading">
                                                    <span class="btn-content-wrapper">
                                                        <span class="icon">
                                                            <i class="fa fa-spinner fa-spin spinner"></i>
                                                        </span>
                                                        <span class="text">Добави</span>
                                                    </span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="order-items-discount-price">
                                        <span>Отстъпка: <b>160.59лв.</b></span>
                                    </div>
                                    <div class="order-items-total-price">
                                        <h3>За плащане: <b>160.59лв.</b></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-items-payment-methods">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title">За да преминете към плащане трябва да изберете един от
                                    вариантите:</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="payment-method option-1">
                                    <span class="payment-methods-label">Вариант 1</span>
                                    <div class="form-wrap">
                                        <form autocomplete="off">
                                            <div class="form-group">
                                                <label for="payment-methods-login-email">имейл или потребителско
                                                    име</label>
                                                <input type="text" id="payment-methods-login-email"
                                                       name="payment-methods-login-email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="payment-methods-login-password">парола</label>
                                                <input type="password" id="payment-methods-login-password"
                                                       class="form-control">
                                            </div>
                                            <!--add class 'has-error'-->
                                            <div class="form-group checkbox custom-checkbox">
                                                <div class="checkbox-field-wrapper">
                                                    <span class="character-checkbox"></span>
                                                    <span class="label">Запомни ме</span>
                                                </div>
                                                <!--remove class 'hidden'-->
                                                <div class="error-message hidden">
                                                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    <div class="text">Съобщение за грешка</div>
                                                </div>
                                            </div>
                                            <button class="btn btn-success btn-block btn-custom btn-md">Вход</button>
                                        </form>
                                    </div>
                                    <ul class="links">
                                        <li>
                                            <a href="forgotten-password" class="open-account-link">
                                                <span class="text">Забравена парола</span>
                                            </a>
                                        </li>
                                        <li>
                                            <span>/</span>
                                        </li>
                                        <li>
                                            <a href="registration" class="open-account-link">
                                                <span class="text">Регистрация</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="social-networks-auth">
                                        <label class="social-networks-auth-label">влез със социлния си профил</label>
                                        <div class="form-group">
                                            <button class="btn btn-block btn-facebook">
                                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                                <span class="text">Влез с facebook</span>
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-block btn-google">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                <span class="text">Влез с Google +</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="payment-method option-2">
                                    <span class="payment-methods-label">Вариант 2</span>
                                    <button class="btn btn-md btn-primary btn-block btn-custom">Поръчай като гост</button>
                                    <p class="text-center">Ако влезете с вашето потребителско име и парола или се регистрирате, ще имате всичките предимства на регистриран потребител.</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="payment-method option-3">
                                    <span class="payment-methods-label">Вариант 3</span>
                                    <button class="btn btn-md btn-primary btn-block btn-bordered btn-continue-shopping">Продължи с пазаруването</button>
                                    <p class="text-center">Искате да добавите още продукти във вашата кошница ? Няма проблем, просто продължете с пазаруването</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../includes/footer.ejs %>
</body>
</html>
