<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Store - cart 3</title>

    <link rel="icon" href="../../favicon.ico">

    <% include ../../env/production.ejs %>
</head>
<body class="store-page shopping-cart step-3">
<% include ../../includes/modal_login.ejs %>
<div class="container-wrapper">
    <header class="top-header">
        <div class="container-fluid">
            <div class="row">
                <% include ../../includes/desktop_top_header_not_logged.ejs %>
            </div>
        </div>
        <% include ../../includes/menu_mobile.ejs %>
    </header>
    <div class="bazar-products">
        <div class="container">
            <div class="content-wrapper">
                <header class="content-header">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <% include ../../includes/breadcrumbs.ejs %>
                        </div>
                        <div
                            class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-3 col-lg-offset-3 col-lg-3">
                            <a href="#" class="shopping-cart-basket">
                                <span class="icon">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                                <span class="basket-items">
                                    <span class="item-count">(0)</span>
                                    <span class="basket-text">Количката е празна</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-wrapper">
                                <h1 class="head">Успешно направихте вашата поръчка.</h1>
                                <div class="block-content">
                                    <div class="block-content-header">
                                        <p>Ще получите имейл с пълна информация за плащането.</p>
                                        <p><b>Поръчка номер:</b> 45543801</p>
                                        <p><b>Сума за плащане:</b> 106.60 лв.</p>
                                    </div>
                                    <div class="block-content-body">
                                        <p><b>Данните за плащане са:</b></p>
                                        <p>Фирма: "Фото Медия" ЕООД</p>
                                        <p>Банкова сметка: <b>BG25 FINV 9150 10BG N0C6 DW</b></p>
                                        <p>BIC код: FINVBGSF</p>
                                        <p>Банка: Първа Инвестиционна Банка</p>
                                    </div>
                                    <div class="block-content-footer">
                                        <p><b>Внимание:</b>Ако направите плащане в петък, преводът
                                            ще се отрази
                                            при нас понеделник следващата седмица!</p>
                                        <p>Проформа фактура изтеглете от тук: <a href="#">Проформа
                                                фактура</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../includes/footer.ejs %>
</body>
</html>
