.editors {
    .content-wrapper {
        padding-top: 0;

        .content-header {
            .breadcrumb {
                text-align: left;
            }
        }

        .main-details {

            .photo-wrapper {
                width: 100px;
                height: 100px;
                @media (max-width: 767px) {
                    width: 70px;
                    height: 70px;
                }
            }

            .user-details {
                margin-top: 10px;
                @media (max-width: 767px) {
                    margin-top: 0;
                }

                .profile-name {
                    font-weight: 400;
                    font-size: 24px;
                    margin: 10px 0;
                    color: $color_4;
                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                }

                .nickname {
                    margin: 0;
                    color: $color_35;
                    font-size: 16px;
                    @include roboto-font($condensed-font, $condensed-font-weight);
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                }
            }
        }

        .content {
            .row-thumb-photos {
                margin-bottom: 30px;

                .photo-wrapper {
                    &:hover {
                        .photo-stats-info {
                            @include opacity(1);
                        }

                        .nickname-pad {
                            @include opacity(0);
                        }
                    }

                    .nickname-pad {
                        display: none;
                        z-index: 999;
                        @include opacity(1);
                    }
                }
            }
        }
    }
}
