.editor-view-page {
    .content-wrapper {

        .content-header {

            .main-details {
                margin-top: 45px;
                text-align: left;

                .user-details {
                    margin-bottom: 15px;

                    .profile-name {
                        margin-top: 0;

                    }
                }

                .btn-bc-editor {

                }
            }
        }

        .content {
            .editor-gallery-photos {
                .photos {
                    @media (max-width: 767px) {
                        text-align: center;
                    }

                    .btn-load-more {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}
