.editors-page {
    .content {
        .editors-wrapper {
            .editor {
                margin-bottom: 30px;
                border-bottom: 1px solid $color_13;
                padding-bottom: 20px;

                &:last-child {
                    margin-bottom: 50px;
                }

                .main-details {
                    margin-bottom: 40px;
                    @media (max-width: 767px) {
                        margin-bottom: 0;
                    }
                    @include clearfix();

                    .user-details {

                        .editor-of-the-month {
                            margin: 0;
                            color: $color_35;
                            font-size: 16px;
                            @include roboto-font($condensed-font, $condensed-font-weight);
                            @media (max-width: 767px) {
                                font-size: 14px;
                            }

                            a {
                                color: $color_35;
                                font-weight: 500;
                            }
                        }

                        .profile-name {

                        }
                    }
                }

                .btn-editor-gallery {
                    margin-top: 40px;
                    float: right;
                    clear: both;
                    @media (max-width: 767px) {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }

                .editor-photos {
                    @media (max-width: 767px) {
                        text-align: center;
                    }
                }
            }
        }
    }
}
