#modalEditorBC {
    .modal-dialog {
        .modal-content {
            .modal-header {
                @media (max-width: 767px) {
                    padding: 25px 0;
                }

                .head {
                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                }
            }

            .modal-body {
                @media (max-width: 767px) {
                    padding: 0;
                }

                .main-details-wrapper {
                    text-align: center;
                    margin-bottom: 30px;

                    .main-details {
                        @include inline-block();

                        .photo-wrapper {
                            width: 100px;
                            height: 100px;
                            margin-right: 0;
                            margin-bottom: 15px;
                            @include inline-block();
                            @media (max-width: 767px) {
                                width: 120px;
                                height: 120px;
                            }
                        }

                        .profile-name {
                            font-weight: 400;
                            font-size: 24px;
                            margin: 0 0 10px;
                            color: $color_4;
                            @media (max-width: 767px) {
                                font-size: 18px;
                            }
                        }

                        .nickname {
                            margin: 0;
                            color: $color_35;
                            font-size: 16px;
                            @include roboto-font($condensed-font, $condensed-font-weight);
                            @media (max-width: 767px) {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .editor-bio {
                    max-height: 220px;
                    overflow-y: scroll;
                }
            }
        }
    }
}
